<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{clientListControllerBean.initView}" />
	</f:metadata>

	<ui:define name="content">
		<!-- <h:outputText id="blah" value="#{sessionBean.getCompany().getCoName()}"></h:outputText> -->
		<h:form id="frmClientList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav
						clientListStyleClass="tab-selected"
						projectListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						participantListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						reportCenterStyleClass="#{sessionBean.reportCenterDisabled?'tab-disabled':'tab'}"
						globalEmailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						emailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						superUserListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						fieldDictionaryStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						clipboardStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						disabled="#{sessionBean.company==null}" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h4>
					<h:outputText value="Client List"/>
				</h4>
				<p:separator/>
				<p:outputPanel id="pnlToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<shiro:hasPermission name="viewClientDetails">
								<p:commandButton
									id="btnEditClient"
									value="Edit Client"
									oncomplete="editClientInfo.show()"
									actionListener="#{clientListControllerBean.handleClientSetupInitForEdit}"
									update="dlgEditClientInfoPanel"
									disabled="#{clientListViewBean.editClientInfoDisabled}"
									partialSubmit="true"
									process="@this"
									icon="ui-icon-newwin"/>
							</shiro:hasPermission>
							<shiro:hasPermission name="viewPasswordPolicies">
								<p:commandButton
									id="btnEditPasswordPolicy"
									value="Password Policies"
									oncomplete="editPwPolicyDlg.show()"
									disabled="#{clientListViewBean.editPasswordPoliciesDisabled}"
									actionListener="#{clientListControllerBean.handlePasswordPolicyEdit}"
									process="@this"
									update="editPwPolicyDlg"
									partialSubmit="true"
									icon="ui-icon-newwin"/>
							</shiro:hasPermission>
							<shiro:hasPermission name="editProductEnablement">
								<p:commandButton
									id="btnEditProductEnablement"
									value="Product Activation"
									oncomplete="productEnableDlg.show()"
									disabled="#{clientListViewBean.productEnableDisabled}"
									actionListener="#{clientListControllerBean.handleProductEnablementInit}"
									process="@this"
									update="productEnableDlg"
									partialSubmit="true"
									icon="ui-icon-newwin"/>
							</shiro:hasPermission>
								<p:commandButton
									id="btnConsentText"
									value="View Consent"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); consentDlg.show()"
									disabled="#{clientListViewBean.consentDisabled}"
									actionListener="#{clientListControllerBean.handleConsentInit}"
									process="@this"
									update="consentDlgPanel"
									partialSubmit="true"
									icon="ui-icon-newwin"/>

						</p:toolbarGroup>
						<p:toolbarGroup align="right">
							<p:commandButton
								id="btnDownloadReports"
								value="Download Reports"
								disabled="#{clientListViewBean.downloadReportsButtonDisabled}"
								action="#{sessionBean.goToDownloadReports(0)}"
								></p:commandButton>
						</p:toolbarGroup>
					</p:toolbar>
				</p:outputPanel>
				<p:spacer height="10"/>
				<p:remoteCommand name="handleDoubleClick" action="#{clientListControllerBean.handleDoubleClickRow}" onstart="showPleaseWaitDialog()"/>
				<p:dataTable
					id="tblClientList"
					border="0"
					value="#{clientListViewBean.clientObjs}"
					widgetVar="clientsTable"
					var="client"
					rows="10"
					paginator="true"
					selectionMode="single"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(clientListViewBean.clientObjs)}"
					rowKey="#{client.clientId}"
					selection="#{clientListViewBean.selectedClient}"
					dblClickSelect="true">

					<p:ajax
						event="rowSelect"
						listener="#{clientListControllerBean.handleRowSelect}"
						update=":frmClientList:pnlProjectNav :frmClientList:pnlToolbar"
						process="@this"
						partialSubmit="true"/>
					<p:ajax
						event="rowUnselect"
						listener="#{clientListControllerBean.handleRowUnselect}"
						update=":frmClientList:pnlProjectNav :frmClientList:pnlToolbar"
						process="@this"
						partialSubmit="true"/>
					<p:ajax event="rowDblselect" onstart="handleDoubleClick()" />
					<f:facet name="header">
						<p:outputPanel>
							<h:outputText value="Search all fields: " />
							<p:inputText id="globalFilter" onkeyup="clientsTable.filter()"
								style="width:150px; background: none; background-color:#FFF;" />
						</p:outputPanel>
					</f:facet>
					<p:column id="colClients" sortBy="#{client.name}"
						filterBy="#{client.name}" filterMatchMode="contains"
						styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{client.name}"></h:outputText>
					</p:column>
					<p:column id="colNumProjects" sortBy="#{client.projectCount}"
						filterBy="#{client.projectCount}" filterMatchMode="exact"
						styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Projects" />
						</f:facet>
						<h:outputText value="#{client.projectCount}"></h:outputText>
					</p:column>
					<p:column id="colNumParticipants"
						sortBy="#{client.participantCount}"
						filterBy="#{client.participantCount}" filterMatchMode="exact"
						styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Users" />
						</f:facet>
						<h:outputText value="#{client.participantCount}"></h:outputText>
					</p:column>
					<p:column id="colLang" sortBy="#{client.lang}"
						filterBy="#{client.lang}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 125px">
						<f:facet name="header">
							<h:outputText value="Language" />
						</f:facet>
						<h:outputText value="#{client.lang}"></h:outputText>
					</p:column>
				</p:dataTable>
			</div>

<!-- DIALOGS -->

			<p:dialog
				header="Add Role"
				widgetVar="addInternalTeammember"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="fade"
				hideEffect="fade"
				width="600">
				<p:outputPanel id="dlgAddInternalTeammember">
					<pdinh:addTeammember useRoleAsFilter="true"/>
					<p:separator/>
					<p:commandButton
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="addInternalTeammember.hide()"
						type="button">
					</p:commandButton>
					<p:commandButton
						value="Add"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,addInternalTeammember)"
						actionListener="#{clientSetupControllerBean.handleAddInternalTeammemebers}"
						update="clientSetupComp:tbvCompanySetup:pnlInternalTeam"
						partialSubmit="true"
						process="dlgAddInternalTeammember"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog
				header="Add Role"
				widgetVar="addClientTeammember"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="fade"
				hideEffect="fade"
				width="600">
				<p:outputPanel id="dlgAddClientTeammember">
					<pdinh:addTeammember/>
					<p:separator/>
					<p:commandButton
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="addClientTeammember.hide()"
						type="button">
					</p:commandButton>
					<p:commandButton
						value="Add"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,addClientTeammember)"
						actionListener="#{clientSetupControllerBean.handleAddClientTeammemebers}"
						update="clientSetupComp:tbvCompanySetup:pnlClientTeam"
						partialSubmit="true"
						process="dlgAddClientTeammember"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog
				header="Edit Client Information"
				modal="true"
				widgetVar="editClientInfo"
				width="700"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				id="dlgEditClientInfo">
				<p:outputPanel
					id="dlgEditClientInfoPanel">
					<pdinh:clientSetupComp
						id="clientSetupComp"
						formId="frmClientList"/>
					<p:separator/>
					<p:commandButton
						id="btnCancelClientInfo"
						value="Cancel"
						styleClass="submit-dialog-button"
						oncomplete="companySetup.select(0)"
						onclick="editClientInfo.hide()"
						update="dlgEditClientInfoPanel"
						process="@this">
						<p:resetInput target="dlgEditClientInfoPanel" />
					</p:commandButton>
					<shiro:hasPermission name="editClientDetails">
						<p:commandButton
							id="btnSaveClientInfo"
							value="Save"
							styleClass="submit-dialog-button"
							oncomplete="companySetup.select(0); handleCompletionRequest(xhr,status,args,editClientInfo)"
							actionListener="#{clientListControllerBean.handleClientSetupSave}"
							update="tblClientList pnlToolbar dlgEditClientInfoPanel"
							partialSubmit="true"
							process="dlgEditClientInfoPanel"/>
						<p:defaultCommand
							target="btnSaveClientInfo"
							scope="dlgEditClientInfoPanel"/>
					</shiro:hasPermission>
					<pdinh:ajaxStatus
						styleClass="ajax-status-in-dialog"
						layout="block"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog header="Edit Password Policy"
				modal="true"
				widgetVar="editPwPolicyDlg"
				id="editPwPolicyDlg">
				<p:outputPanel id="editPwPolicyPanel">
					<pdinh:editPasswordPolicies/>
					<p:separator/>
					<p:commandButton
						id="btnCancelEditPwPolicyDlg"
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="editPwPolicyDlg.hide()"
						update="editPwPolicyDlg">
						<p:resetInput target="editPwPolicyDlg" />
					</p:commandButton>
					<shiro:hasPermission name="editPasswordPolicies">
						<p:commandButton
							id="btnResetClientPasswordPolicies"
							value="Reset Defaults"
							styleClass="submit-dialog-button"
							global="false"
							actionListener="#{editPasswordPoliciesControllerBean.resetCompanyDefaultPolicies}"
							disabled="#{editPasswordPoliciesViewBean.resetButtonDisabled}"
							update="editPwPolicyPanel"
							partialSubmit="true"
							process="editPwPolicyDlg"
							/>
					</shiro:hasPermission>
					<shiro:hasPermission name="createPasswordPolicies">
						<p:commandButton
							id="btnCustomizeClientPasswordPolicies"
							value="Customize"
							styleClass="submit-dialog-button"
							global="false"
							actionListener="#{editPasswordPoliciesControllerBean.handleCustomizePasswordPolicy}"
							disabled="#{editPasswordPoliciesViewBean.customizeButtonDisabled}"
							update="editPwPolicyPanel"
							partialSubmit="true"
							process="editPwPolicyDlg"
							/>
					</shiro:hasPermission>
					<shiro:hasPermission name="editPasswordPolicies">
						<p:commandButton
							id="btnSaveClientPasswordPolicies"
							value="Save"
							styleClass="submit-dialog-button"
							oncomplete="handleCompletionRequest(xhr,status,args,editPwPolicyDlg)"
							actionListener="#{editPasswordPoliciesControllerBean.handleSavePasswordPolicy}"
							update="pnlToolbar editPwPolicyDlg"
							disabled="#{editPasswordPoliciesViewBean.saveButtonDisabled}"
							partialSubmit="true"
							process="editPwPolicyDlg"/>
					</shiro:hasPermission>
					<shiro:hasPermission name="editPasswordPolicies">
						<p:defaultCommand target="btnSaveClientPasswordPolicies" scope="editPwPolicyDlg"/>
					</shiro:hasPermission>
					<pdinh:ajaxStatus
						styleClass="ajax-status-in-dialog"
						layout="block"/>
				</p:outputPanel>

			</p:dialog>
			<p:dialog
				id="productEnableDlg"
				widgetVar="productEnableDlg"
				width="850"
				height="465"
				header="Product Activation"
				modal="true"
				resizable="false"
				closeOnEscape="true">
				<p:outputPanel id="productEnableDlgPanel">
					<pdinh:productEnablement id="prodEnableComp"/>
					<p:separator/>
					<p:commandButton
						id="closePrdDlgButton"
						value="Close"
						styleClass="submit-dialog-button"
						oncomplete="productEnableDlg.hide()"
						global="false"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog
				widgetVar="consentDlg"
				header="Consent"
				width="900"
				modal="true"
				resizable="false"
				closable="false"
				closeOnEscape="true">
				<p:outputPanel id="consentDlgPanel">
					<kf:consent
						consent="#{clientListViewBean.consent}"
						consentLanguageChange="#{clientListControllerBean.handleConsentLanguageChange}"/>
					<p:spacer height="10px" width="100%"/>
					<p:separator/>
					<p:commandButton
						value="Close"
						type="button"
						styleClass="submit-dialog-button"
						onclick="consentDlg.hide()"
						global="false"/>
					<pdinh:ajaxStatus
						styleClass="ajax-status-in-dialog"
						layout="block"/>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>