<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
			<f:viewParam name="tid"
				value="#{emailTemplatesListCompControllerBean.templateId}" />
			<f:viewParam name="eid"
				value="#{editEmailTemplateControllerBean.emailId}" />
			<f:event type="preRenderView"
				listener="#{editEmailTemplateControllerBean.initForView}" />
		</f:metadata>		
<!--  	<f:metadata>
		<f:event type="preRenderView"
			listener="#{editEmailTemplateControllerBean.initForView}" /> 
	</f:metadata>  -->
	<ui:define name="content">
		<h:form id="frmEmailTemplatesList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Email Templates"
					url="emailTemplatesList.xhtml?faces-redirect=true" />				
			</p:breadCrumb>
			<!-- <pdinh:ajaxStatus></pdinh:ajaxStatus> -->
			<!-- 			<div class="main-nav-tab-container"> -->
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav emailTemplatesListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
			<pdinh:emailTemplatesListComp id="etComp"/>
			</div> 
		</h:form>
	</ui:define>
</ui:composition>
</html>