<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">
		<h:form id="frmEmailTemplatesList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Client Email Templates"
					url="emailTemplatesList.xhtml?faces-redirect=true" />
			</p:breadCrumb>	
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav emailTemplatesListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>	
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="Client Email Templates"></h:outputText>
				</h4>
				<p:separator/>	
				<pdinh:emailTemplatesListComp id="etComp"/>		
			</div>
			</h:form>
	</ui:define>
</ui:composition>
</html>