<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:viewParam 
			name="create" 
			value="#{emailRuleSetupViewBean.newEmailRule}"/>
		<f:viewParam 
			name="ruleId" 
			value="#{emailRuleSetupViewBean.currectRuleId}"/>
		<f:event 
			type="preRenderView" 
			listener="#{emailRuleSetupControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="frmEmailRuleSetup">
			<!-- <p:growl id="growl" sticky="false" showDetail="true"/>-->
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Projects"
					url="projectList.xhtml?faces-redirect=true" />
				<p:menuitem value="Project Email"
					url="projectEmail.xhtml?faces-redirect=true" />
				<p:menuitem value="#{(emailRuleSetupViewBean.newEmailRule) ? 'New Email Rule Setup' : 'Edit Email Rule'}"/>
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}: #{sessionBean.project.name}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="#{(emailRuleSetupViewBean.newEmailRule) ? 'New Email Rule Setup' : 'Edit Email Rule'}"></h:outputText>
				</h4>
				<p:separator/>
				<p:messages globalOnly="true"/>
				<p:spacer height="10"/>
				<p:outputPanel 
					id="pnlEmailRuleSetup" 
					style="width:800px"
					layout="block"
					rendered="#{emailRuleSetupViewBean.noCriticalError}">
					<p:messages for="ruleErrors"/>
					<p:tabView
						id="ruleSetupTabView" 
						styleClass="tab-view">
						<p:tab
							id="ruleInfo" 
							title="Rule Info">
							<p:outputPanel 
								id="pnlRuleInfo"> 
								<p:panel header="General Rule Information">
									<table
										id="generalRuleInformation"
										cellspacing="5"
										border="0">
										<tr>
											<td>
												<p:outputLabel
													value="Rule Name"
													styleClass="label min-label-width"
													for="name"/>
											</td>
											<td colspan="2">
												<p:inputText
													id="name"
													maxlength="50"
													size="50"
													value="#{emailRuleSetupViewBean.name}"/>
											</td>
										</tr>
										<tr>
											<td>
												<p:outputLabel
													value="Active"
													styleClass="label min-label-width"
													for="active"/>
											</td>
											<td colspan="2">
												<p:selectOneMenu
													id="active"
													value="#{emailRuleSetupViewBean.active}">
													<f:selectItem itemLabel="Yes" itemValue="true" />
													<f:selectItem itemLabel="No" itemValue="false" />
												</p:selectOneMenu>
											</td>
										</tr>
										<tr>
											<td>
												<p:outputLabel
													value="Email Template"
													styleClass="label min-label-width"
													for="template"/>
											</td>
											<td width="10">
												<p:selectOneMenu
													id="template"
													value="#{emailRuleSetupViewBean.templateId}">
													<f:selectItem itemValue="-1" itemLabel="--- Please Select Template ---"/>
													<f:selectItems
														var="template"
														value="#{emailRuleSetupViewBean.templates}"
														itemValue="#{template.id}"
														itemLabel="#{template.title} [#{emailRuleSetupControllerBean.getTemplateLvlInitial(template)}#{template.id}]"/>
														<p:ajax 
															listener="#{emailRuleSetupControllerBean.handleTemplateSelection}"
															update="langPref btnEditTemplate btnCloneTemplate" 
															partialSubmit="true" 
															process="@this"/>
												</p:selectOneMenu>
											</td>
											<td>	
												<p:commandButton 
													id="btnEditTemplate"
													icon="icon-rule-edit-template"
													oncomplete="editTemplate.show()"
													actionListener="#{emailRuleSetupControllerBean.initEditTemplate}"
													update=":frmEmailRuleSetup:dlgEditTemplate"
													partialSubmit="true" 
													process="@this"
													styleClass="clear-button"
													disabled="#{emailRuleSetupViewBean.disableEditTemplate}"
													title="Edit Email Template"/>
												<p:commandButton 
													id="btnCloneTemplate"
													icon="icon-rule-add-template"
													oncomplete="cloneTemplate.show()"
													actionListener="#{emailRuleSetupControllerBean.initCloneTemplate}"
													update=":frmEmailRuleSetup:dlgCloneTemplate"
													disabled="#{emailRuleSetupViewBean.disableCloneTemplate}"
													partialSubmit="true" 
													process="@this"
													styleClass="clear-button"
													title="Clone Email Template"/>
											</td>
										</tr>
										<tr>
											<td>
												<p:outputLabel 
													for="langPref"
													value="Language"
													styleClass="label min-label-width" />
											</td>
											<td colspan="2">
												<p:selectOneMenu
													id="langPref"
													style="width:183px"
													value="#{emailRuleSetupViewBean.languageCode}"
													widgetVar="wdgLangPref">
													<f:selectItem 
														itemValue="#{emailRuleSetupViewBean.defaultLanguage}" 
														itemLabel="Participant Default"/>
													<f:selectItems
														var="language"
														value="#{emailRuleSetupViewBean.languages}"
														itemValue="#{language.id}"
														itemLabel="#{language.name}"/>
												</p:selectOneMenu>
											</td>
										</tr>
									</table>
								</p:panel>
								
								<p:spacer height="10"/>	
					
								<p:panel 
									id="participantsPanel"
									header="Participants">
									
									<p:outputPanel
										layout="block"
										style="padding-left: 5px">
										
										<p:selectOneRadio 
											id="rdoList" 
											value="#{emailRuleSetupViewBean.allOrSelectedSelection}" 
											layout="custom">  
									        <f:selectItem itemLabel="All Participants" itemValue="true"  />  
									        <f:selectItem itemLabel="Included Participants" itemValue="false" />
									        <p:ajax 
									        	listener="#{emailRuleSetupControllerBean.handleAllOrSelectedParticipants}" 
									        	update=":frmEmailRuleSetup:pnlEmailRuleSetup"
									        	partialSubmit="true"
									        	process="pnlRuleInfo"/>
									    </p:selectOneRadio>					
										
										<table border="0" >
											<tr>
												<td width="20">
													<p:radioButton id="rdoAllPtts" for="rdoList" itemIndex="0"/>  
												</td>
												<td colspan="3">
													<h:outputLabel for="rdoAllPtts" value="All Participants" />  
												</td>												
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td width="25">
													<p:selectBooleanCheckbox 
														id="chkExcludeParticipants"
														value="#{emailRuleSetupViewBean.excludedSelection}"
														label="Excluded Participants"
														disabled="#{emailRuleSetupViewBean.disableExcludedSelection}">
												        <p:ajax 
												        	listener="#{emailRuleSetupControllerBean.handleExcludedSelection}" 
												        	update=":frmEmailRuleSetup:pnlEmailRuleSetup"
												        	partialSubmit="true"
												        	process="pnlRuleInfo"/> 
													</p:selectBooleanCheckbox>	
												</td>
												<td>
													<h:outputLabel for="chkExcludeParticipants" value="Excluded Participants" />  
												</td>
												<td rowspan="2" width="400">
													<p:outputPanel 
														layout="block"
														styleClass="email-rule-ppts-instructions"
														style="padding: 0px 20px">
														<h:outputText
															value="Note: If you selected Included or Excluded Participants you would need to create a list in the Participants tab."/>
													</p:outputPanel>	
												</td>
											</tr>
											<tr>
												<td width="25">
													<p:radioButton id="rdoSelectedPtts" for="rdoList" itemIndex="1"/>  
												</td>
												<td colspan="3">
													<h:outputLabel for="rdoSelectedPtts" value="Included Participants" />  
												</td>
											</tr>
										</table>
									</p:outputPanel>
								</p:panel>
					
								<p:spacer height="10"/>
								
								<p:panel header="Criteria (optional)" id="criteriaPanel">
								
									<p:outputPanel 
										layout="block" 
										rendered="#{not empty emailRuleSetupViewBean.criteriaItems}"
										style="padding-left: 5px">
										<table class="citeria-table" border="0" >
											<ui:repeat 
												var="criteria" 
												value="#{emailRuleSetupViewBean.criteriaItems}" 
												varStatus="status">
													<tr>
														<td width="20" >
															<h:outputText value="#{status.index + 1}" styleClass="label"/>
														</td>
														<td>
															<p:selectOneMenu
																id="criteria_#{status.index + 1}"
																value="#{criteria.value}">
																<f:selectItems
																	var="menuItem"
																	value="#{emailRuleSetupViewBean.criteriaMenuItems}"
																	itemValue="#{menuItem.id}"
																	itemLabel="#{menuItem.name}"/>																
																<p:ajax 
																	update=":frmEmailRuleSetup:ruleSetupTabView:criteriaPanel"
																	partialSubmit="true"
																	process="@this"/>
															</p:selectOneMenu>
														</td>
														<td width="20" align="center">
															<p:commandButton 
																icon="icon-delete"
																actionListener="#{emailRuleSetupControllerBean.deleteCritaria(criteria)}"
																update=":frmEmailRuleSetup:ruleSetupTabView:criteriaPanel"
																partialSubmit="true" 
																process="@this"
																styleClass="clear-button"
																title="Delete Criteria"/>
														</td>
													</tr>								
											</ui:repeat>
										</table>
									</p:outputPanel>
									<p:spacer height="10"/>
									<p:outputPanel 
										layout="block" 
										styleClass="add-new-button-panel">
										<p:commandButton
											id="btnAddCriteria"
											value="Add New"
											actionListener="#{emailRuleSetupControllerBean.addCriteria}"
											disabled="#{emailRuleSetupViewBean.disableAddCriteria}"
											update=":frmEmailRuleSetup:ruleSetupTabView:criteriaPanel" 
											partialSubmit="true"
											process="@this"
											icon="icon-add"
											styleClass="clear-button">
										</p:commandButton>
									</p:outputPanel>
								</p:panel>
								
								<p:spacer height="10"/>	
								
								<p:panel 
									id="schedulePanel"
									header="Schedule">
							
									<p:outputPanel 
										layout="block"
										style="padding-left: 5px"
										rendered="#{not empty emailRuleSetupViewBean.scheduledItems}">
										<p:scrollPanel styleClass="#{(emailRuleSetupViewBean.scheduledItems.size() > 5) ? 'scroll-schedule-table' : ''}" mode="native">
											<table class="schedule-table" border="0" >
												<ui:repeat																
													var="schedule" 
													value="#{emailRuleSetupViewBean.scheduledItems}" 
													varStatus="status">
													
													<h:panelGroup rendered="#{schedule.type == 'fixed'}">
														<tr>
															<td width="20">
																<h:outputText value="#{status.index + 1}" styleClass="label"/>
															</td>						
															<td>
																<h:outputText value="Fixed Date"/>
															</td>						
															<td colspan="3">
																<h:outputText value="#{schedule.displayDate}">
											           				<!-- f:convertDateTime pattern="dd-MMM-yyyy HH:00 a zzzzz" type="both" timeZone="#{schedule.timezone}"/-->
											           				
											           			</h:outputText>
															</td>
															<!--   
															<td>
																<h:outputText value="#{schedule}" style="font-size: 6pt"/>
															</td>
															 --> 
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-edit"
																	actionListener="#{emailRuleScheduleSetupControllerBean.initForEdit(schedule)}"
																	oncomplete="editSchedule.show()"
																	update=":frmEmailRuleSetup:dlgEditSchedule"
																	partialSubmit="true"
																	process="@this"
																	styleClass="clear-button" 
																	disabled="#{schedule.complete}"
																	title="Edit Schedule"/>
															</td>
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-delete"
																	actionListener="#{emailRuleSetupControllerBean.deleteSchedule(schedule)}"
																	update=":frmEmailRuleSetup:ruleSetupTabView:schedulePanel"
																	partialSubmit="true" 
																	process="@this"
																	styleClass="clear-button" 
																	disabled="#{schedule.complete}"
																	title="Delete Schedule"/>
															</td>
														</tr>
													</h:panelGroup>
															
													<h:panelGroup rendered="#{schedule.type == 'relative'}">
														<tr>
															<td width="20">
																<h:outputText value="#{status.index + 1}" styleClass="label"/>
															</td>
															<td>
																<h:outputText value="Relative Date"/>
															</td>
															<td>
																<h:outputText value="#{schedule.days}"/>
															</td>
															<td>
																<h:outputText value="#{(schedule.daysAfter) ? 'days after' : 'days before'}"/>
															</td>
															<td>
																<h:outputText value="#{schedule.relativeToDateDisplayString}">
																	<!-- f:convertDateTime pattern="dd-MMM-yyyy"/-->
																</h:outputText>
															</td>
															<!--  
															<td>
																<h:outputText value="#{schedule}" style="font-size: 6pt" />
															</td>
															 -->
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-edit"
																	actionListener="#{emailRuleScheduleSetupControllerBean.initForEdit(schedule)}"
																	oncomplete="editSchedule.show()"
																	update=":frmEmailRuleSetup:dlgEditSchedule"
																	partialSubmit="true"
																	process="@this"
																	styleClass="clear-button"
																	disabled="#{schedule.complete}"/>
															</td>
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-delete"
																	actionListener="#{emailRuleSetupControllerBean.deleteSchedule(schedule)}"
																	update=":frmEmailRuleSetup:ruleSetupTabView:schedulePanel"
																	partialSubmit="true" 
																	process="@this"											
																	styleClass="clear-button"
																	disabled="#{schedule.complete}"/>
															</td>
														</tr>
													</h:panelGroup>					
									
													<h:panelGroup rendered="#{schedule.type == 'recurring'}">
														<tr>
															<td width="20">
																<h:outputText value="#{status.index + 1}" styleClass="label"/>
															</td>
															<td>
																<h:outputText value="Recurring Date"/>
															</td>
															<td>
																<h:outputText value="Range:" styleClass="label"/>
															</td>
															<td>
																<h:outputText value="#{schedule.option}"/>
															</td>
															<td>
																<h:outputText value="#{schedule.startDate}">
																	<f:convertDateTime pattern="dd-MMM-yyyy"/>
																</h:outputText>
																-
																<h:outputText value="#{schedule.endDate}">
																	<f:convertDateTime pattern="dd-MMM-yyyy"/>
																</h:outputText>	
															</td>
															<!-- 
															<td>
																<h:outputText value="#{item}" style="font-size: 6pt"/>
															</td>
															 -->
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-edit"
																	actionListener="#{emailRuleScheduleSetupControllerBean.initForEdit(schedule)}"
																	oncomplete="editSchedule.show()"
																	update=":frmEmailRuleSetup:dlgEditSchedule"
																	partialSubmit="true"
																	process="@this"
																	styleClass="clear-button"
																	disabled="#{schedule.complete}"/>
															</td>
															<td width="20" align="center">
																<p:commandButton 
																	icon="icon-delete"
																	actionListener="#{emailRuleSetupControllerBean.deleteSchedule(schedule)}"
																	update=":frmEmailRuleSetup:ruleSetupTabView:schedulePanel"
																	partialSubmit="true" 
																	process="@this"
																	styleClass="clear-button"
																	disabled="#{schedule.complete}"/>
															</td>
														</tr>
													</h:panelGroup>
												</ui:repeat>
											</table>
										</p:scrollPanel>
									</p:outputPanel>
									<p:spacer height="10"/>
									<p:outputPanel 
										layout="block" 
										styleClass="add-new-button-panel">
										<p:commandButton
											id="btnAddSchedule"
											value="Add New..."
											oncomplete="setupSchedule.show()"
											actionListener="#{emailRuleScheduleSetupControllerBean.initForNew}"
											update=":frmEmailRuleSetup:dlgSetupSchedule :frmEmailRuleSetup:ruleSetupTabView:schedulePanel" 
											partialSubmit="true"
											process="@this"
											icon="icon-add"
											styleClass="clear-button">
											<p:resetInput target=":frmEmailRuleSetup:dlgSetupSchedule" />
										</p:commandButton>
									</p:outputPanel>
								</p:panel>
							</p:outputPanel>	
						</p:tab>	
						<p:tab 
							id="participantsTab"
							title="#{(emailRuleSetupViewBean.allOrSelectedSelection) ? 'Excluded' : 'Included'} Participants"
							disabled="#{emailRuleSetupViewBean.disableParticipantsTab}">
							<p:outputPanel id="participantsMain">
								<p:spacer height="10"/>
								<p:outputPanel id="participantsToolbar">
									<p:toolbar>
										<p:toolbarGroup>			
											<p:commandButton
												id="btnAddParticipants"
												value="Add Participants"
												oncomplete="addParticipants.show()"
												actionListener="#{emailRuleSetupControllerBean.handleParticipantsInitForSelection}"
												update=":frmEmailRuleSetup:dlgAddParticipants" 
												partialSubmit="true"
												process="@this"
												icon="ui-icon-newwin"/>
											<p:separator/>
											<p:commandButton
												id="btnRemoveParticipants"
												value="Remove Participants"
												actionListener="#{emailRuleSetupControllerBean.removeParticipants}"
												disabled="#{emailRuleSetupViewBean.disableRemoveParticipants}"
												update="tblParticipants participantsToolbar" 
												partialSubmit="true"
												process="@this tblParticipants"/>
										</p:toolbarGroup>
									</p:toolbar>
								</p:outputPanel>	
								<p:spacer height="10"/>	
								<p:outputPanel id="participantsTblPanel">					
									<p:dataTable 
										id="tblParticipants"
										widgetVar="participantsTable"
										selectionMode="multiple"
										var="user"
										value="#{emailRuleSetupViewBean.participants}"
										selection="#{emailRuleSetupViewBean.selectedParticipants}"
										paginator="true" 
										rows="10" 
										rowKey="#{user.userId}"
										paginatorPosition="bottom"
										paginatorAlwaysVisible="false">
									  
										<p:ajax 
											event="rowSelect" 
											listener="#{emailRuleSetupControllerBean.handleParticipantsRowSelect}"
											update=":frmEmailRuleSetup:ruleSetupTabView:participantsToolbar"
											partialSubmit="true"
											process="@this"/>
										   	
										<p:ajax 
											event="rowUnselect" 
											listener="#{emailRuleSetupControllerBean.handleParticipantsRowUnselect}"
											update=":frmEmailRuleSetup:ruleSetupTabView:participantsToolbar"
											partialSubmit="true"
											process="@this"/>	
										   			        
										<p:column 
											sortBy="#{user.lastName}" 
											filterBy="#{user.lastName}" 
											filterMatchMode="contains"
											width="30%">
											<f:facet name="header">
												<h:outputText value="Last name" />
											</f:facet>							
										   <h:outputText value="#{user.lastName}" />
										</p:column>
						
										<p:column 
											sortBy="#{user.firstName}" 
											filterBy="#{user.firstName}" 
											filterMatchMode="contains"
											width="30%">
											<f:facet name="header">
												<h:outputText value="First name" />
											</f:facet>							
										   <h:outputText value="#{user.firstName}" />
										</p:column>
						
										<p:column 
											sortBy="#{user.email}" 
											filterBy="#{user.email}" 
											filterMatchMode="contains"
											width="40%">
											<f:facet name="header">
												<h:outputText value="Email" />
											</f:facet>							
										   <h:outputText value="#{user.email}" />
										</p:column>
									</p:dataTable>
								</p:outputPanel>
							</p:outputPanel>	
						</p:tab>
					</p:tabView>					
					<p:separator />
					<p:commandButton 
						value="Cancel"
						id="btnCancelRuleSetup"
						styleClass="submit-dialog-button"
						action="#{emailRuleSetupControllerBean.handleCancelRuleSetup}"
						ajax="false">						
						<p:resetInput target="pnlEmailRuleSetup"/>
					</p:commandButton>					
					<p:commandButton
						value="Save Rule"
						id="btnSaveRule"
						styleClass="submit-dialog-button"
						action="#{emailRuleSetupControllerBean.handleSaveRule}"
						ajax="false"/>
					<p:defaultCommand target="btnSaveRule"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>					
				</p:outputPanel>
			</div>
			<p:dialog
				modal="true"
				header="Add Participants"
				widgetVar="addParticipants"
				resizable="false"
				closable="true"
				closeOnEscape="true"
				width="800"
				position="center">
				<p:outputPanel id="dlgAddParticipants">
					<pdinh:projectParticipants/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						id="btnCancelParticipants"
						styleClass="submit-dialog-button"
						onclick="addParticipants.hide()"
						update="dlgAddParticipants"
						partialSubmit="true"
						process="@this">						
						<p:resetInput target="dlgAddParticipants" />
					</p:commandButton>						
					<p:commandButton
						value="Save"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,addParticipants)"
						actionListener="#{emailRuleSetupControllerBean.handleAddParticipants}"
						update=":frmEmailRuleSetup:ruleSetupTabView:participantsMain"
						partialSubmit="true"
						process="dlgAddParticipants"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>  
				</p:outputPanel>
			</p:dialog>			
			<p:dialog
				header="Add Schedule"
				widgetVar="setupSchedule"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				width="575"
				showEffect="fade" 
				hideEffect="fade"
				modal="true"
				position="center">
				<p:outputPanel id="dlgSetupSchedule">
					<pdinh:emailRuleScheduleSetup/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						id="btnCancelNewSchedule"
						styleClass="submit-dialog-button"
						onclick="setupSchedule.hide()"
						update="dlgSetupSchedule"
						partialSubmit="true"
						process="@this">						
						<p:resetInput target="dlgSetupSchedule" />
					</p:commandButton>					
					<p:commandButton
						value="Save"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,setupSchedule)"
						actionListener="#{emailRuleScheduleSetupControllerBean.handleScheduleSave}"
						update="dlgSetupSchedule pnlEmailRuleSetup"
						partialSubmit="true"
						process="dlgSetupSchedule pnlEmailRuleSetup"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>	
			<p:dialog
				header="Edit Schedule"
				widgetVar="editSchedule"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				width="510"
				showEffect="fade" 
				hideEffect="fade"
				modal="true"
				position="center">
				<p:outputPanel id="dlgEditSchedule">
					<pdinh:emailRuleScheduleSetup/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						id="btnCancelEditSchedule"
						styleClass="submit-dialog-button"
						onclick="editEmailTemplWidg.select(0); editSchedule.hide()"
						update="dlgEditSchedule"
						partialSubmit="true"
						process="@this">						
						<p:resetInput target="dlgEditSchedule" />
					</p:commandButton>					
					<p:commandButton
						value="Save"
						styleClass="submit-dialog-button"
						oncomplete="editEmailTemplWidg.select(0); handleCompletionRequest(xhr,status,args,editSchedule)"
						actionListener="#{emailRuleScheduleSetupControllerBean.handleScheduleEdit}"
						update="pnlEmailRuleSetup dlgEditSchedule"
						partialSubmit="true"
						process="pnlEmailRuleSetup dlgEditSchedule"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>				
			</p:dialog>	
			<p:dialog
				modal="true"
				header="Edit Email Template"
				widgetVar="editTemplate"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				width="940"
				position="center">
				<p:outputPanel id="dlgEditTemplate">
					<pdinh:editEmailTemplateDetailsComp ckEditorId="emailRuleEditTemplate"/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						id="btnCancelTemplate"
						styleClass="submit-dialog-button"
						actionListener="#{emailRuleSetupControllerBean.cancelEditTemplate}"
						oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); editTemplate.hide()"
						update="@form"
						partialSubmit="true"
						process="@this">
					</p:commandButton>					
					<p:commandButton
						value="Save"
						styleClass="submit-dialog-button"
						oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); handleCompletionRequest(xhr,status,args,editTemplate)"
						actionListener="#{emailRuleSetupControllerBean.saveEditTemplate}"
						update="@form"
						partialSubmit="true"
						process="pnlEmailRuleSetup dlgEditTemplate"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>			
			<p:dialog
				modal="true"
				header="Clone Email Template"
				widgetVar="cloneTemplate"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="fade" 
				hideEffect="fade"
				width="550"
				position="center">
				<p:outputPanel id="dlgCloneTemplate">
					<p:messages for="dlgCloneTemplate"/>
					<pdinh:cloneTemplateComp />
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="cloneTemplate.hide()"
						type="button"/>
					<p:commandButton
						value="Save"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,cloneTemplate)"
						actionListener="#{emailRuleSetupControllerBean.saveCloneTemplate}"
						update="pnlEmailRuleSetup dlgCloneTemplate"
						partialSubmit="true"
						process="pnlEmailRuleSetup dlgCloneTemplate"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>				
			</p:dialog>				
		</h:form>
	</ui:define>
</ui:composition>
</html>