<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">
		<h:form>
		<center>
		<p:spacer height="200"></p:spacer>
		<p:panelGrid width="500">
			<p:row>
				<p:column>
					<h:outputText style="color: red; font-size: 18px;" value="We're sorry, an unexpected error has occurred and we could not complete the request."></h:outputText><br></br>
					<p:spacer height="20"></p:spacer>
					<h:outputText value="If the problem persists, please contact blah blah blah... Put something informative and helpful here..."></h:outputText><br></br>
					<h:outputText value="The information contained in the details section below may be important for support purposes."></h:outputText>
				</p:column>
			</p:row>
			<p:spacer height="15"></p:spacer>
			<p:row>
				<p:column>
					
					<p:commandLink action="clientList.xhtml" style="color: blue; text-decoration: underline !important;">Click here to return to the client list</p:commandLink>
				</p:column>
			</p:row>
			<p:spacer height="15"></p:spacer>
			<p:row>
				<p:column>
					
					<p:commandLink action="/adminweb/sso/audience" style="color: blue; text-decoration: underline !important;">Click here to attempt re-login</p:commandLink>
				</p:column>
			</p:row>
			<p:spacer height="15"></p:spacer>
			<p:row>
				<p:column>
					<p:panel id="detailsPanel" toggleable="true" collapsed="true" toggleTitle="Expand/Collapse" header="Error Details">
					 	<ul>
					   <li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
					   <li>User agent: #{header['user-agent']}</li>
					   <li>User IP: #{request.remoteAddr}</li>
					   <li>Request URI: #{requestScope['javax.servlet.error.request_uri']}</li>
					   <li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ? 'Yes' : 'No'}</li>
					   <li>Status code: #{requestScope['javax.servlet.error.status_code']}</li>
					   <li>Exception type: #{requestScope['javax.servlet.error.exception_type']}</li>
					   <li>Exception message: #{requestScope['javax.servlet.error.message']}</li>
					   <li>Stack trace:
					     <pre>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</pre>
					   </li>
					 </ul>
					 </p:panel>
				</p:column>
			</p:row>
		</p:panelGrid>
		</center>
		</h:form>
</ui:define>
</ui:composition>
</html>