<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
 		<f:event type="preRenderView" 
			listener="#{fieldDictionaryControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">		 
		<h:form id="frmFieldDictionary">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Field Dictionary" url="formFieldManagement.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav fieldDictionaryStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="Form Field Management"></h:outputText>
				</h4>
				<p:separator/>
				<p:spacer height="10"/>
				<p:outputPanel id="pnlFieldDictionary" layout="block" rendered="#{fieldDictionaryViewBean.showDictionary}">
					<p:messages autoUpdate="true"/> 
					<p:toolbar>
					   	<p:toolbarGroup align="left">
					        <p:commandButton id="newButton" value="Create Information Field" 
				        		actionListener="#{fieldDictionaryControllerBean.handleCreateCustomField}" update="@form"/> 
						</p:toolbarGroup>
					</p:toolbar>
					
					<p:dataTable 
						id="fieldDictionary" 
						var="field" 
						value="#{fieldDictionaryViewBean.fieldDictionary}" 
						paginator="true" 
						rows="10" 
						emptyMessage="No Fields defined." 
						paginatorPosition="bottom"
						styleClass="margin-top-5px">
						
						<p:column style="width:2%">
							<p:rowToggler />
						</p:column>
						
						<p:column 
							sortBy="#{field.name}" 
							filterBy="#{field.name}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top"  						
							style="width:50%">
							<f:facet name="header">
								<h:outputText value="Field Label" styleClass="label" />
							</f:facet>
			 				<h:outputText value="#{field.name}" />
			  			</p:column>
			 			
						<p:column style="width:10%" styleClass="align-center">
							<f:facet name="header">
								<h:outputText value="Req'd Answer" styleClass="label" />
								<pdinh:helpLink messageKey="fieldDictionaryRequired"/>
							</f:facet>
							<h:graphicImage 
								value="#{resource['images/action_check.png']}" 
								height="16" width="16"
								title="Required Field"
								rendered="#{field.required}"/>
			 			</p:column>
			  			
						<p:column 
							sortBy="#{field.inputTypeName}" 
							filterBy="#{field.inputTypeName}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top align-center"
							style="width:10%">
							<f:facet name="header">
								<h:outputText value="Input Type" styleClass="label" />
							</f:facet>
			 				<h:outputText value="#{field.inputTypeName}" styleClass="nowrap"/>
			 			</p:column>
		  			
						<p:column 
							sortBy="#{field.fieldTypeName}" 
							filterBy="#{field.fieldTypeName}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top align-center"  					
							style="width:10%">
							<f:facet name="header">
								<h:outputText value="Field Type" styleClass="label" />
							</f:facet>
			 				<h:outputText value="#{field.fieldTypeName}" />
			 			</p:column>
			 			
			 			<p:columns var="language" value="#{fieldDictionaryViewBean.languages}" styleClass="align-center" width="2%">
							<f:facet name="header">
								<h:outputText title="#{language.label}" value="#{language.code}" styleClass="label" />
							</f:facet>
							<h:graphicImage 
								value="#{resource['images/action_check.png']}" 
								height="16" width="16"
								title="Translation Available"
								rendered="${field.isFieldLabelAvailable(language.code)}"/>
						</p:columns>
				
					<shiro:hasPermission name="editFieldDictionary">
						<p:column id="colEdit" width="2%" styleClass="align-center">			
							<p:commandLink
								actionListener="#{fieldDictionaryControllerBean.handleEditField}"
								update="@form" process="@form" title="Edit Field">
									<p:graphicImage value="#{resource['images/action_edit_document.png']}" styleClass="noBorder"/>	
									<f:attribute name="fieldId" value="#{field.id}" />
							</p:commandLink>
						</p:column>	
					</shiro:hasPermission>
						
						<p:rowExpansion>
							<kf:customFieldSummary field="${fieldDictionaryViewBean.getCustomField(field)}" languageCode="#{fieldDictionaryViewBean.languageCode}" showPanel="#{field.customField}"/>
							<kf:standardFieldSummary field="${fieldDictionaryViewBean.getStandardField(field)}" languageCode="#{fieldDictionaryViewBean.languageCode}" showPanel="#{field.standardField}"/>
						</p:rowExpansion>
					</p:dataTable>
				</p:outputPanel>
				
				<kf:customField showPanel="#{fieldDictionaryViewBean.showCustomField}"/>
				<kf:standardField showPanel="#{fieldDictionaryViewBean.showStandardField}"/>
			</div>
		</h:form>
	</ui:define>
</ui:composition>		
</html>