<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:viewParam name="projectId"
			value="#{importManagementViewBean.projectId}" />
		<f:event type="preRenderView"
			listener="#{importManagementControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">

		<h:form id="frmImportManagement">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Projects"
					url="projectList.xhtml?faces-redirect=true" />
				<p:menuitem value="Project Management"
					url="projectManagement.xhtml?faces-redirect=true" />
				<p:menuitem value="Project Imports"
					url="importManagement.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<p:outputPanel styleClass="main-content">
				<p:messages globalOnly="true" />
				<p:outputPanel id="pageTitleBar">
					<h:panelGrid columns="1" style="float:right">
						<p:panelGrid columns="2" >
							<p:outputLabel value="Projects" styleClass="label"
								for="lstProjects" />
							<p:selectOneMenu id="lstProjects"
								value="#{sessionBean.selectedProject}">
								<f:selectItems var="project" value="#{sessionBean.projects}"
									itemValue="#{project.projectId}" itemLabel="#{project.name}" />
								<p:ajax
									listener="#{importManagementControllerBean.handleChangeProject}"
									update="pageTitleBar pnlProjectInformation pnlImportJobsToolbar pnlImportJobs pnlImportJobLog"
									onstart="pleaseWaitDialog.show();"
									oncomplete="pleaseWaitDialog.hide()" />
							</p:selectOneMenu>
						</p:panelGrid>
						<p:outputPanel styleClass="float-right">
							<kf:systemHeartbeat viewBean="#{systemHeartbeatViewBean}" controllerBean="#{systemHeartbeatControllerBean}" polling="false" pollingInterval="30" />
						</p:outputPanel>
					</h:panelGrid>
					<div style="float: left">
						<h2>
							<h:outputText value="#{sessionBean.company.coName}: #{sessionBean.project.name}" />
						</h2>
						<h4>
							<h:outputText value="Import Management"/>
						</h4>						
					</div>
					<div style="clear: both" />
				</p:outputPanel>
				<p:separator />
				<p:panel id="pnlProjectInformation" header="Project Information" toggleable="true">
			
					<h:panelGrid
						border="0"
						columns="5">
						<h:outputText
							value="Project Name"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.projectName}"/>
						<p:spacer width="20"/>
			
						<h:outputText
							value="Target Level"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.targetLevel}"/>
			
			
						<h:outputText
							value="Project ID"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.projectId}"/>
			
						<p:spacer width="20"/>
						<h:outputText
							value="Created By"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.createdBy}"/>
			
						<h:outputText
							value="#{(importManagementViewBean.hasProjectCodeLabel) ? 'Project Code' : 'Engagement ID'}"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.projectCode}"/>
			
						<p:spacer width="20"/>
						<h:outputText
							value="Created Date"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.createdDate}">
							<f:convertDateTime dateStyle="medium" />
						</h:outputText>
			
			
						<h:outputText
							value="Project Type"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.projectType}"/>
						<p:spacer width="20"/>
			
						<h:outputText
							value="Due Date"
							styleClass="label min-label-width"/>
						<h:outputText value="#{importManagementViewBean.dueDate}">
							<f:convertDateTime dateStyle="medium" />
						</h:outputText>
					</h:panelGrid>
			
				</p:panel>
				
				<p:spacer height="10" />
				
				<p:remoteCommand id="rcLoadLogErrors" actionListener="#{importManagementControllerBean.loadLogErrors}" name="loadLogErrors" update="tblExceptions" 
					onstart="pleaseWaitDialog.show()" oncomplete="pleaseWaitDialog.hide();"/>
				<p:remoteCommand id="rcLoadLogResults" actionListener="#{importManagementControllerBean.loadLogResults}" name="loadLogResults" update="tblResults" 
					onstart="pleaseWaitDialog.show()" oncomplete="pleaseWaitDialog.hide();" />
				
				<p:outputPanel id="pnlImportJobs">
					<p:panel header="Import Jobs" rendered="#{importManagementViewBean.importJobsListRendered}">
						<p:outputPanel id="pnlImportJobsToolbar">
							<p:spacer width="1" height="5"/>
							<p:toolbar styleClass="clear-toolbar">
								<p:toolbarGroup align="left">
								
									<p:commandButton
										value="Create Import Job"
										actionListener="#{importManagementControllerBean.initNewImportJob}"
										oncomplete="importJob.show()"
										process="@this"
										update="dlgImportJob"
										partialSubmit="true"/>
	
									<p:commandButton 
										value="View Import Details"
										actionListener="#{importManagementControllerBean.showImportJobLog}"
										disabled="#{empty importManagementViewBean.selectedJob}"
										process="@this"
										update="pnlImportJobs, pnlImportJobLog"
										partialSubmit="true"/>
																	
								</p:toolbarGroup>
								<p:toolbarGroup align="right">

									<p:commandButton 
										value="Refresh Import Jobs"
										actionListener="#{importManagementControllerBean.reloadImportJobs}" 
										process="@this"
										update="@this, pnlImportJobs, pnlImportJobLog"
										partialSubmit="true"/>

									<p:commandButton 
										value="Generate Import Template"
										onclick="generateBulkUploadTemplate.show()"
										process="@this"
										update="dlgGenerateBulkUploadTemplate"
										partialSubmit="true"/>

								</p:toolbarGroup>
							</p:toolbar>	
						</p:outputPanel>
				
						<p:spacer height="5" />
						<p:messages id="msgImportJobs" for="importJobsMessages" showDetail="true"/>
						<p:spacer height="5" />
						
						<p:dataTable
							id="tblImportJobs"
							widgetVar="importJobs"
							var="job"
							value="#{importManagementViewBean.importJobs}"
							paginator="true"
							rows="10"
							selection="#{importManagementViewBean.selectedJob}"
							rowIndexVar="jobIndex"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(importManagementViewBean.importJobs)}"
							rowKey="#{job.id}"
							sortBy="#{job.id}"
							sortOrder="descending"
							paginatorPosition="bottom">
							
							<p:ajax 
								event="rowSelect" 
								listener="#{importManagementControllerBean.handleJobRowSelect}" 
								update=":frmImportManagement:pnlImportJobsToolbar" 
								partialSubmit="true"
								process="@this"/>
								
							<p:ajax 
								event="rowUnselect" 
								listener="#{importManagementControllerBean.handleJobRowUnselect}" 
								update=":frmImportManagement:pnlImportJobsToolbar"
								partialSubmit="true"
								process="@this"/>
								
							<p:ajax event="rowDblselect" 
								listener="#{importManagementControllerBean.showImportJobLog}" 
								update=":frmImportManagement:pnlImportJobs, :frmImportManagement:pnlImportJobLog"
								partialSubmit="true"
								process="@this"/>
							
							<f:facet name="header">
								<p:outputPanel>
									<h:outputText value="Search all fields: " />
									<p:inputText id="globalFilter" onkeyup="importJobs.filter()"
										style="width:150px; background: none; background-color:#FFF;" />
								</p:outputPanel>
							</f:facet>							

							<p:column
								filterBy="#{msg[job.statusCode]}" 
								filterMatchMode="exact"
								filterOptions="#{importManagementViewBean.statusOptions}"
								filterStyleClass="column-header-filter"
								styleClass="column-header-align-top align-center" style="width: 100px">
								<f:facet name="header">
									<h:outputText value="Status" />
								</f:facet>
								<kf:importStatusIcon value="#{job.statusCode}" tableRef="importJobs" rowId="#{jobIndex}" details="#{job.details}" />
							</p:column>
							
							<p:column
								sortBy="#{job.name}"
								filterBy="#{job.name}"
								filterMatchMode="contains"							
								styleClass="column-header-align-top">
								<f:facet name="header">
									<h:outputText value="Job Name" />
								</f:facet>
								<h:outputText value="#{job.name}" />
							</p:column>

							<p:column
								sortBy="#{job.lastActionDate}"
								filterBy="#{job.lastActionDate}"
								filterMatchMode="contains"							
								styleClass="column-header-align-top align-center">
								<f:facet name="header">
									<h:outputText value="Last Action Date/Time" />
								</f:facet>
								<h:outputText value="#{job.lastActionDate}" rendered="#{not empty job.lastActionDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
								</h:outputText>
								<h:outputText value="n/a" rendered="#{empty job.lastActionDate}"/>
							</p:column>

							<p:column
								sortBy="#{job.lastActionBy}"
								filterBy="#{job.lastActionBy}"
								filterMatchMode="contains"							
								styleClass="column-header-align-top align-center">
								<f:facet name="header">
									<h:outputText value="Last Action By" />
								</f:facet>
								<h:outputText value="#{job.lastActionBy}" rendered="#{not empty job.lastActionDate}"/>
								<h:outputText value="n/a" rendered="#{empty job.lastActionDate}"/>

							</p:column>

						</p:dataTable>
						
					</p:panel>
			 	</p:outputPanel>
			
				<p:outputPanel id="pnlImportJobLog" >
			
					<p:panel header="Import Details (#{importManagementViewBean.selectedImportName})" rendered="#{importManagementViewBean.importJobLogRendered}">
						
						<p:outputPanel id="pnlLogToolbar">
							<p:spacer width="1" height="5"/>
							<p:toolbar styleClass="clear-toolbar">
								<p:toolbarGroup align="left">

									<p:commandButton 
										value="Back"
										actionListener="#{importManagementControllerBean.exitImportJobLog}"
										process="@this"
										update="pnlImportJobLog, pnlImportJobs"
										partialSubmit="true"
										iconPos="left"
										icon="ui-icon-triangle-1-w"	/>
									
									<p:commandButton 
										value="Upload New Import File"
										actionListener="#{importManagementControllerBean.initRestartImportJob}"
										disabled="#{importManagementViewBean.restartImportDisabled or importManagementViewBean.jobClosed}"
										oncomplete="importJob.show()"
										process="@this"
										update="dlgImportJob"
										partialSubmit="true"/>								
											
									<p:menuButton value="View">
										<p:menuitem 
											value="Exceptions"
											actionListener="#{importManagementControllerBean.showExceptions}"
											disabled="#{importManagementViewBean.viewMenuDisabled}"
											oncomplete="loadLogErrors();"
											process="@this"
											update="pnlImportJobLog, pnlLogExceptions"
											partialSubmit="true"/>
											
										<p:menuitem value="Results"
											actionListener="#{importManagementControllerBean.showResults}"
											disabled="#{importManagementViewBean.viewMenuDisabled}"
											oncomplete="loadLogResults();"
											process="@this"
											update="pnlImportJobLog, pnlLogResults"
											partialSubmit="true"/>
										
										<p:menuitem value="Statistics" 
											onclick="statisticsDialog.show()"
											disabled="#{importManagementViewBean.viewMenuDisabled}"
											process="@this"
											update="dlgStatistics"
											partialSubmit="true"/>
									</p:menuButton>		
	 								
								</p:toolbarGroup>

								<p:toolbarGroup align="right">
								
									<p:commandButton 
										value="Create Delivery Request"
										actionListener="#{importManagementControllerBean.handleCreateRequest}" 
										process="@this" update="pnlImportJobs, pnlImportJobLog" partialSubmit="true"
										rendered="#{importManagementViewBean.lrmProjectExist}"
										disabled="#{importManagementViewBean.createRequestDisabled or importManagementViewBean.jobClosed}"/>

									<p:commandButton 
										value="Commit Latest Import File"
										type="button" 
										ajax="false"
										onclick="confirmImportCommit.show()"
										rendered="#{!importManagementViewBean.lrmProjectExist}"
										disabled="#{importManagementViewBean.commitDisabled or importManagementViewBean.jobClosed}"/>							

									<p:commandButton 
										value="Cancel Operation"
										type="button" 
										ajax="false"
										onclick="confirmImportCancellation.show()"
										disabled="#{importManagementViewBean.cancelOperationDisabled or importManagementViewBean.jobClosed}"/>
									
								<!--  	
									<p:commandButton 
										value="#{(importManagementViewBean.jobClosed) ? 'Open' : 'Close'} Job"
										type="button" 
										ajax="false"
										onclick="#{(importManagementViewBean.jobClosed) ? 'confirmOpenJob.show()' : 'confirmCloseJob.show()'}"
										disabled="#{importManagementViewBean.closeJobDisabled}"/>
								-->
									 										
									<p:commandButton 
										value="Refresh Import Jobs"
										actionListener="#{importManagementControllerBean.reloadImportJobs}" 
										process="@this"
										update="@this, pnlImportJobs, pnlImportJobLog"
										partialSubmit="true"/>

								</p:toolbarGroup>
							</p:toolbar>	
						</p:outputPanel>
				
						<p:spacer height="5" />
						<p:messages id="msgImportJobLog" for="importJobLogMessages" showDetail="true" escape="false"/>
						<p:spacer height="5" />
						
							<p:dataTable
								id="tblImportJobLog"
								widgetVar="importJobLog"
								var="log"
								value="#{importManagementViewBean.selectedJob.log}"
								paginator="true"
								rows="10"
								selection="#{importManagementViewBean.selectedJobLog}"
								selectionMode="single"
								rowIndexVar="logIndex"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(importManagementViewBean.selectedJob.log)}"
								rowKey="#{log.id}"
								sortBy="#{log.id}"
								sortOrder="descending"								
								paginatorPosition="bottom"
								rowStyleClass="#{(not log.mostRecent) ? 'not-recent-log' : ''}">
								

								<p:ajax 
									event="rowSelect" 
									listener="#{importManagementControllerBean.handleJobLogRowSelect}" 
									update=":frmImportManagement:pnlLogToolbar" 
									partialSubmit="true"
									process="@this"/>
									
								<p:ajax 
									event="rowUnselect" 
									listener="#{importManagementControllerBean.handleJobLogRowUnselect}" 
									update=":frmImportManagement:pnlLogToolbar"
									partialSubmit="true"
									process="@this"/>
								
								<p:ajax event="rowDblselect" 
									listener="#{importManagementControllerBean.showExceptions}" 
									oncomplete="loadLogErrors();"
									update=":frmImportManagement:pnlImportJobLog, :frmImportManagement:pnlLogExceptions"
									partialSubmit="true"
									process="@this"/>								
								
								<f:facet name="header">
									<p:outputPanel>
										<h:outputText value="Search all fields: " />
										<p:inputText id="globalFilter" onkeyup="importJobLog.filter()"
											style="width:150px; background: none; background-color:#FFF;" />
									</p:outputPanel>
								</f:facet>							

								<p:column
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Id" />
									</f:facet>
									<h:outputText value="#{log.id}" />
								</p:column>

								<p:column
									sortBy="#{log.severeErrorCount}"
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Severe Count" />
									</f:facet>
									<h:outputText value="#{log.severeErrorCount}"/>
								</p:column>

								<p:column
									sortBy="#{log.warningErrorCount}"
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Warning Count" />
									</f:facet>
									<h:outputText value="#{log.warningErrorCount}"/>
								</p:column>

								<p:column
									sortBy="#{log.infoErrorCount}"
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Info Count" />
									</f:facet>
									<h:outputText value="#{log.infoErrorCount}"/>
								</p:column>

								<p:column
									sortBy="${log.getPhase(importManagementViewBean.isLrmProjectExist())}"
									filterBy="${log.getPhase(importManagementViewBean.isLrmProjectExist())}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Last Phase" />
									</f:facet>
									<h:outputText value="${log.getPhase(importManagementViewBean.isLrmProjectExist())}"/>
								</p:column>

								<p:column
									sortBy="#{log.lastActionDate}"
									filterBy="#{log.lastActionDate}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Last Action Date/Time" />
									</f:facet>
									<h:outputText value="#{log.lastActionDate}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
									</h:outputText>									
								</p:column>

								<p:column
									sortBy="#{log.lastActionByName}"
									filterBy="#{log.lastActionByName}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center valign-middle">
									<f:facet name="header">
										<h:outputText value="Last Action By" />
									</f:facet>
									<h:outputText value="#{log.lastActionByName}"/>
								</p:column>
	
								<p:column
									sortBy="#{log.clientContactFullName}"
									filterBy="#{log.clientContactFullName}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top valign-middle">
									<f:facet name="header">
										<h:outputText value="Client Contact" />
									</f:facet>
									<h:outputText value="#{log.clientContactFullName}" title="#{(not empty log.clientContactPhone) ? log.clientContactPhone : ''}"/>
								</p:column>

								<p:column
									sortBy="#{log.originalFilename}"
									filterBy="#{log.originalFilename}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Import File" />
									</f:facet>
									<p:commandButton
										value=" #{log.originalFilename}" 
										ajax="false"
										actionListener="#{importManagementControllerBean.prepareToDownload(log)}"
										onclick="PrimeFaces.monitorDownload(startDownload, stopDownload);"
										icon="icon-excel"
										styleClass="clear-button">
								    	<p:fileDownload value="#{importManagementControllerBean.downloadFile()}"/>
								    </p:commandButton>
								</p:column>
				        	
							</p:dataTable>
							
					</p:panel>			
				</p:outputPanel>
			

				<p:outputPanel id="pnlLogExceptions" >
			
					<p:panel header="Exceptions Log" rendered="#{importManagementViewBean.importJobLogExceptionsRendered}">
						<p:blockUI block="tblExceptions" animate="true">
							<p:panelGrid columns="2">
								<h:outputText value="LOADING"/>
								<h:graphicImage value="#{resource['images/ui-anim_basic_20x20_2.gif']}" height="20" width="20"/>
							</p:panelGrid>
			    		</p:blockUI>
						<p:outputPanel id="pnlExceptionsToolbar">
							<p:spacer width="1" height="5"/>
							<p:toolbar styleClass="clear-toolbar">
								<p:toolbarGroup align="left">
									<p:commandButton 
										value="Back"
										actionListener="#{importManagementControllerBean.exitExceptions}"
										process="@this"
										update="pnlLogExceptions, pnlImportJobLog"
										partialSubmit="true"
										iconPos="left"
										icon="ui-icon-triangle-1-w"	/>
								</p:toolbarGroup>		

								<p:toolbarGroup align="right">
								    <h:commandLink>
										<p:graphicImage value="#{resource['images/icons/excel.png']}" height="32" width="32" title="Export to Excel" />						    
								        <p:dataExporter type="xls" target="tblExceptions" fileName="#{importManagementViewBean.exportErrorFileName()}"/>
								   </h:commandLink>
								</p:toolbarGroup>		

							</p:toolbar>	
						</p:outputPanel>
				
						<p:spacer height="10" />
								
							<p:dataTable
								id="tblExceptions"
								widgetVar="jobLogExceptions"
								var="exception"
								value="#{importManagementViewBean.selectedJobLog.errors}"
								paginator="true"
								rows="10"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(importManagementViewBean.selectedJobLog.errors)}"
								rowKey="#{exception.id}"
								selectionMode="single"
								paginatorPosition="bottom">

								<f:facet name="header">
									<p:outputPanel>
										<h:outputText value="Search all fields: " />
										<p:inputText id="globalFilter" onkeyup="jobLogExceptions.filter()"
											style="width:150px; background: none; background-color:#FFF;" />
									</p:outputPanel>
								</f:facet>							

								<p:column
									filterBy="#{exception.errorSeverityName}" 
									filterMatchMode="exact"
									filterOptions="#{importManagementViewBean.errorSeverityOptions}"
									filterStyleClass="column-header-filter"
									styleClass="column-header-align-top align-center" style="width: 100px"
									exportable="false">
									<f:facet name="header">
										<h:outputText value="Level" />
									</f:facet>
									<p:graphicImage 
										value="#{resource['images/error.png']}" 
										height="16" width="16"
										title="#{msg['SEVERE']}"
										rendered="#{exception.errorSeverityCode eq 'SEVERE'}"/>

									<p:graphicImage 
										value="#{resource['images/warning.png']}" 
										height="16" width="16"
										title="#{msg['WARNING']}"
										rendered="#{exception.errorSeverityCode eq 'WARNING'}"/>

									<p:graphicImage 
										value="#{resource['images/information.png']}" 
										height="16" width="16"
										title="#{msg['INFO']}"
										rendered="#{exception.errorSeverityCode eq 'INFO'}"/>
								</p:column>
								
								<!-- Only for excel export -->
								<p:column style="display:none;">
									<f:facet name="header">
										<h:outputText value="Level" />
									</f:facet>
									<h:outputText value="#{exception.errorSeverityName}"/>
								</p:column>

								<p:column
									sortBy="#{exception.importPhaseName}"
									filterBy="#{exception.importPhaseName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Phase" />
									</f:facet>
									<h:outputText value="#{exception.importPhaseName}"/>
								</p:column>
								
								<p:column
									sortBy="#{exception.sheetName}"
									filterBy="#{exception.sheetName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Sheet Name" />
									</f:facet>
									<h:outputText value="#{exception.sheetName}"/>
								</p:column>

								<p:column
									sortBy="#{exception.rowId}"
									filterBy="#{exception.rowId}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Row Number" />
									</f:facet>
									<h:outputText value="#{exception.rowId}"/>
								</p:column>

								<p:column
									sortBy="#{exception.columnName}"
									filterBy="#{exception.columnName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Column Name" />
									</f:facet>
									<h:outputText value="#{exception.columnName}"/>
								</p:column>

								<p:column
									sortBy="#{exception.details}"
									filterBy="#{exception.details}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="Details" />
									</f:facet>
									<h:outputText value="#{exception.details}"/>
								</p:column>

								<p:column
									sortBy="#{exception.beforeValue}"
									filterBy="#{exception.beforeValue}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Before Value" />
									</f:facet>
									<h:outputText value="#{exception.beforeValue}"/>
								</p:column>
								

								<p:column
									sortBy="#{exception.afterValue}"
									filterBy="#{exception.afterValue}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="After Value" />
									</f:facet>
									<h:outputText value="#{exception.afterValue}"/>
								</p:column>							

								<p:column
									sortBy="#{exception.errorTypeName}"
									filterBy="#{exception.errorTypeName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Exception Type" />
									</f:facet>
									<h:outputText value="#{exception.errorTypeName}"/>
								</p:column>
								
								<p:column
									sortBy="#{exception.errorName}"
									filterBy="#{exception.errorName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="Exception" />
									</f:facet>
									<h:outputText value="#{exception.errorName}" title="#{exception.errorDescription}"/>
								</p:column>

								<p:column style="display:none;">
									<f:facet name="header">
										<h:outputText value="Exception Description" />
									</f:facet>
									<h:outputText value="#{exception.errorDescription}"/>
								</p:column>

							</p:dataTable>	
							
							<p:spacer/>
							
					</p:panel>
				
				</p:outputPanel>
			

				<p:outputPanel id="pnlLogResults" >
			
					<p:panel header="Import Commit Results" rendered="#{importManagementViewBean.importJobLogResultsRendered}">
						<p:outputPanel id="pnlResultsToolbar">
							<p:spacer width="1" height="5"/>
							<p:toolbar styleClass="clear-toolbar">
								<p:toolbarGroup align="left">
									<p:commandButton 
										value="Back"
										actionListener="#{importManagementControllerBean.exitResults}"
										process="@this"
										update="pnlLogResults, pnlImportJobLog"
										partialSubmit="true"
										iconPos="left"
										icon="ui-icon-triangle-1-w"	/>
								</p:toolbarGroup>		

								<p:toolbarGroup align="right">
								    <h:commandLink>
										<p:graphicImage value="#{resource['images/icons/excel.png']}" height="32" width="32" title="Export to Excel" />						    
								        <p:dataExporter type="xls" target="tblResults" fileName="#{importManagementViewBean.exportErrorFileName()}"/>
								   </h:commandLink>
								</p:toolbarGroup>		

							</p:toolbar>	
						</p:outputPanel>
				
						<p:spacer height="10" />
								
							<p:dataTable
								id="tblResults"
								widgetVar="jobLogResults"
								var="result"
								value="#{importManagementViewBean.selectedJobLog.results}"
								paginator="true"
								rows="10"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(importManagementViewBean.selectedJobLog.results)}"
								rowKey="#{result.id}"
								selectionMode="single"
								paginatorPosition="bottom">

								<f:facet name="header">
									<p:outputPanel>
										<h:outputText value="Search all fields: " />
										<p:inputText id="globalFilter" onkeyup="jobLogResults.filter()"
											style="width:150px; background: none; background-color:#FFF;" />
									</p:outputPanel>
								</f:facet>							

								<p:column
									sortBy="#{result.rowNumber}"
									filterBy="#{result.rowNumber}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Row Number" />
									</f:facet>
									<h:outputText value="#{result.rowNumber}"/>
								</p:column>

								<p:column
									sortBy="#{result.firstName}"
									filterBy="#{result.firstName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="First Name" />
									</f:facet>
									<h:outputText value="#{result.firstName}"/>
								</p:column>

								<p:column
									sortBy="#{result.lastName}"
									filterBy="#{result.lastName}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="Last Name" />
									</f:facet>
									<h:outputText value="#{result.lastName}"/>
								</p:column>

								<p:column
									sortBy="#{result.email}"
									filterBy="#{result.email}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="Email" />
									</f:facet>
									<h:outputText value="#{result.email}"/>
								</p:column>

								<p:column
									sortBy="#{result.importAction}"
									filterBy="#{result.importAction}"
									filterMatchMode="contains"				
									styleClass="column-header-align-top">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<h:outputText value="#{result.importAction}"/>
								</p:column>
								
								<p:column
									sortBy="#{result.lastActionBy}"
									filterBy="#{result.lastActionBy}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Last Action By" />
									</f:facet>
									<h:outputText value="#{result.lastActionByName}"/>
								</p:column>
								
								<p:column
									sortBy="#{result.lastActionDate}"
									filterBy="#{result.lastActionDate}"
									filterMatchMode="contains"							
									styleClass="column-header-align-top align-center">
									<f:facet name="header">
										<h:outputText value="Date/Time" />
									</f:facet>
									<h:outputText value="#{result.updatedTimestamp}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
									</h:outputText>									
								</p:column>
								
							</p:dataTable>	
							
							<p:spacer/>
							
					</p:panel>
				
				</p:outputPanel>
			
			</p:outputPanel>
			
			<!-- DIALOGS -->
			<p:dialog
				header="Statistics"
				widgetVar="statisticsDialog"
				showEffect="fade"
				hideEffect="fade"
				width="700"
				modal="true"
				closable="false"
				resizable="false">
				
				<p:outputPanel id="dlgStatistics">
					<p:panel styleClass="borderless-panel">
						<p:accordionPanel id="statisticsAccordion" activeIndex="#{importManagementViewBean.statisticsAccordionIndex}">
							<p:ajax event="tabChange" listener="#{importManagementControllerBean.doNothing}" />  
							<p:tab title="Upload">									
					            <p:panelGrid  columns="2" style="width: 100%" styleClass="import-statistics-table" columnClasses="import-statistics-table-label, import-statistics-table-value">
					                
					                <h:outputText value="Started:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.fileUploadStarted}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
		
					                <h:outputText value="Ended:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.fileUploadEnded}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
		
					            </p:panelGrid>
							</p:tab>
		
							<p:tab title="Validation">
					            <p:panelGrid  columns="2" style="width: 100%" styleClass="import-statistics-table" columnClasses="import-statistics-table-label, import-statistics-table-value">
					                
					                <h:outputText value="Started:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.validationStarted}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
		
					                <h:outputText value="Ended:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.validationEnded}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
					                
					                <h:outputText value="Global Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.validationGlobalErrors}"/>
		
					                <h:outputText value="Sheet Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.validationSheetErrors}"/>
		
					                <h:outputText value="Row Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.validationRowErrors}"/>
		
					                <h:outputText value="Total Validated:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.totalRecordsValidated}"/>
		
					            </p:panelGrid>
							</p:tab>
		
							<p:tab title="Commit">
					            <p:panelGrid  columns="2" style="width: 100%" styleClass="import-statistics-table" columnClasses="import-statistics-table-label, import-statistics-table-value">
		
					                <h:outputText value="Started:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.importStarted}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
		
					                <h:outputText value="Ended:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.importEnded}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
					                
					                <h:outputText value="Global Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.importGlobalErrors}"/>
		
					                <h:outputText value="Sheet Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.importSheetErrors}"/>
		
					                <h:outputText value="Row Exceptions:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.importRowErrors}"/>						 
		
					                <h:outputText value="Total Imported:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.totalRecordsImported}"/>
					                
					                <h:outputText value="Last Updated:" styleClass="label"/>
					                <h:outputText value="#{importManagementViewBean.selectedJobLog.updatedDate}">
										<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
					                </h:outputText>
									
					            </p:panelGrid>
							</p:tab>		
		
							<p:tab title="Other">
					            <p:panelGrid  columns="2" style="width: 100%" styleClass="import-statistics-table" columnClasses="import-statistics-table-label, import-statistics-table-value">
					                
					                <h:outputText value="Internally Modified:" styleClass="label"/>
						            <h:outputText value="#{(importManagementViewBean.selectedJobLog.internallyModified) ? 'Yes' : 'No'}"/>
		
					                <h:outputText value="Internal Upload:" styleClass="label"/>
						            <h:outputText value="#{(importManagementViewBean.selectedJobLog.internalUpload) ? 'Yes' : 'No'}"/>
		
					                <h:outputText value="Internal Import:" styleClass="label"/>
						            <h:outputText value="#{(importManagementViewBean.selectedJobLog.internalImport) ? 'Yes' : 'No'}"/>
				
					                <h:outputText value="S3 File Key Name:" styleClass="label"/>
						            <h:outputText value="#{importManagementViewBean.selectedJobLog.fileKeyName}"/>
									
									<!-- 
						                <h:outputText value="Template Version:" styleClass="label"/>
							            <h:outputText value="#{importManagementViewBean.selectedJobLog.templateVersion}"/>
		 							-->
					            </p:panelGrid>
							</p:tab>		
						</p:accordionPanel>
					</p:panel>					
				</p:outputPanel>
				
				<p:separator/>
				
				<p:outputPanel>
					<p:commandButton 
						value="Refresh"
						actionListener="#{importManagementControllerBean.refreshSelectedJob}"
						styleClass="submit-button-left" 
						update="@this, dlgStatistics, pnlImportJobs, pnlImportJobLog"
						process="@this"
						partialSubmit="true"/>
				
					<p:commandButton 
						value="Close" 
						styleClass="submit-dialog-button"
						onclick="statisticsDialog.hide()"
						type="button"/>
				</p:outputPanel>
			</p:dialog>


			<p:dialog
				header="Import Job"
				widgetVar="importJob"
				showEffect="fade"
				hideEffect="fade"
				width="700"
				modal="true"
				closable="false"
				resizable="false">
				
				<p:outputPanel id="dlgImportJob">
					
					<p:panel styleClass="borderless-panel">

						<p:messages id="createJobMessages" for="createImportJob" showDetail="true"/>	
						
						<p:spacer height="5" width="10"/>
						
						<p:panel header="Job Details">

							<p:panelGrid columns="2">
								<p:outputLabel for="importName" value="Job Name:" styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red nowrap"/>
								</p:outputLabel>
								<p:inputText 
									id="importName" 
									value="#{importManagementViewBean.importName}" 
									rendered="#{not importManagementViewBean.restartImportJob}"
								    onblur="removeInvalidCharacters(this, 1);" onfocus="this.select();"
									size="75" maxlength="100">
									<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
								</p:inputText>
								<h:outputText 
									value="#{importManagementViewBean.importName}"
									rendered="#{importManagementViewBean.restartImportJob}"/>	
							</p:panelGrid>
	
							<p:spacer height="5" width="10"/>
							
							<p:panelGrid id="uploadFile">
								<p:row>
									<p:column>
										<h:outputLabel for="fileUpload" value="Upload Import File:" styleClass="label">
											<h:outputText value="*" styleClass="asterisk-red"/>
										</h:outputLabel>
									</p:column>
									<p:column>
										<h:outputText 
											value="#{importManagementViewBean.uploadedFilename}"
											rendered="#{importManagementViewBean.uploadedFilePresent}"/>	
									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<p:fileUpload
											id="fileUpload"
											label="Browse"
											fileUploadListener="#{importManagementControllerBean.handleFileUpload}"
											value="#{importManagementViewBean.uploadedFile}"
											mode="advanced" 
											update="uploadFile createJobMessages" 
											invalidFileMessage="Only .xls, .xlsx and .xlsm file extensions are permitted" 
											invalidSizeMessage="Maximum upload file size is 10MB"
											sizeLimit="10000000"
											fileLimit="1" 
											auto="true"
											allowTypes="/(\.|\/)(xls|xlsx|xlsm)$/" 
											styleClass="file-upload-gray"
											rendered="#{!importManagementViewBean.uploadedFilePresent}"/>
									</p:column>
								</p:row>
							</p:panelGrid>
						
						</p:panel>
												
						<p:spacer height="10" width="10"/>
						
						<p:panel header="Client Submitter (if applicable)">
							
							<p:panelGrid columns="2">
							
								<p:outputLabel for="contactName" value="Contact Name:" styleClass="label"/>
								<p:inputText id="contactName" value="#{importManagementViewBean.clientContactName}" maxlength="200" size="65"
								 	onblur="removeInvalidCharacters(this, 1);">
									<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
								</p:inputText>
		
								<p:outputLabel for="contacPhone" value="Contact Phone:" styleClass="label"/>
								<p:inputText id="contacPhone" value="#{importManagementViewBean.clientContactPhone}" maxlength="32" size="32"
									onblur="removeInvalidCharacters(this, 5);">
									<pe:keyFilter regEx="/^[0-9+\(\)#\.\s\/ext-]$/" preventPaste="false" />
								</p:inputText>
		
								<p:outputLabel for="contactEmail" value="Contact Email:" styleClass="label"/>
								<p:inputText id="contactEmail" value="#{importManagementViewBean.clientContactEmail}" maxlength="255" size="75"/>
	
							</p:panelGrid>
							
						</p:panel>								
					</p:panel>									
				
							
					<p:separator/>
				
					<p:commandButton 
						value="Cancel" 
						styleClass="submit-dialog-button" 
						actionListener="#{importManagementControllerBean.cancelCreateImportJob}"
						oncomplete="handleCompletionRequest(xhr,status,args,importJob)"
						partialSubmit="true"
						process="dlgImportJob, @this"
						update="dlgImportJob"/>
	
					<p:commandButton 
						id="createImportButton"
						value="#{(importManagementViewBean.restartImportJob) ? 'Save' : 'Create'}"
						disabled="#{importManagementViewBean.createImportDisabled}"
						styleClass="submit-dialog-button" 
						actionListener="#{importManagementControllerBean.createImportJob}"
						oncomplete="handleCompletionRequest(xhr,status,args,importJob);"
						partialSubmit="true"
						process="dlgImportJob, @this"
						update="dlgImportJob, pnlImportJobs, pnlImportJobLog"/>
					
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>					
				
				</p:outputPanel>
			</p:dialog>
			
			<p:dialog
				header="Configuration"
				widgetVar="generateBulkUploadTemplate"
				modal="true"
				closable="false"
				resizable="false"
				closeOnEscape="true"
				width="550"
				showEffect="fade" 
				hideEffect="fade">
				<p:outputPanel id="dlgGenerateBulkUploadTemplate">
					<pdinh:generateBulkUploadTemplate viewBean="#{generateBulkUploadTemplateViewBean}"/>
				    <p:separator/>
					<p:commandButton 
						value="Cancel" 
						styleClass="submit-dialog-button" 
						type="button"
						onclick="generateBulkUploadTemplate.hide()"/>
					<p:commandButton 
						value="Download" 
						ajax="false"
						styleClass="submit-dialog-button"
						onclick="PrimeFaces.monitorDownload(startBulkUploadTemplateDownload, stopBulkUploadTemplateDownload); generateBulkUploadTemplate.hide()">
				    	<p:fileDownload value="#{generateBulkUploadTemplateControllerBean.download()}" />
				  	</p:commandButton>
				</p:outputPanel>
			</p:dialog>				

			<p:confirmDialog
				header="Close Job Confirmation"
				widgetVar="confirmCloseJob"
				width="500"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText value="Are you sure you want to close this import job?" escape="false"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmCloseJob.hide();"
					type="button"/>
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					oncomplete="confirmCloseJob.hide();"
					actionListener="#{importManagementControllerBean.closeImportJob}"
					partialSubmit="true"
					update="pnlImportJobLog"
					process="@this"/>
			</p:confirmDialog>		

			<p:confirmDialog
				header="Open Job Confirmation"
				widgetVar="confirmOpenJob"
				width="500"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText value="Are you sure you want to open this import job?" escape="false"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmOpenJob.hide();"
					type="button"/>
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					oncomplete="confirmOpenJob.hide();"
					actionListener="#{importManagementControllerBean.openImportJob}"
					partialSubmit="true"
					update="pnlImportJobLog"
					process="@this"/>
			</p:confirmDialog>	

			<p:confirmDialog
				header="Commit Confirmation"
				widgetVar="confirmImportCommit"
				width="500"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText value="Are you sure you want to commit this import request?" escape="false"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmImportCommit.hide();"
					type="button"/>
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					oncomplete="confirmImportCommit.hide();"
					actionListener="#{importManagementControllerBean.commitImport}"
					update="pnlImportJobs, pnlImportJobLog"
					partialSubmit="true"
					process="@this"/>
			</p:confirmDialog>			
			
			<p:confirmDialog
				header="Cancel Confirmation"
				widgetVar="confirmImportCancellation"
				width="500"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText value="Are you sure you want to cancel this import request?" escape="false"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmImportCancellation.hide();"
					type="button"/>
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					oncomplete="confirmImportCancellation.hide();"
					actionListener="#{importManagementControllerBean.cancelImport}"
					update="pnlImportJobLog"
					partialSubmit="true"
					process="@this"/>
			</p:confirmDialog>			

		</h:form>
	</ui:define>
</ui:composition>
</html>