<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/facelet_templates/noSession.xhtml">
		<ui:define name="content">
			<h:form>
				<center>
					<p:spacer height="200"/>
					<p:panelGrid width="100%" columns="1" columnClasses="align-center, align-center, align-center, align-center">
						<h:outputText style="font-size: 18px;" value="Your session has ended."/>
						<p:spacer height="40" width="40"/>
						<p:commandLink 
							onclick="window.location = '${request.contextPath}/sso/audience'" 
							style="color: blue; text-decoration: underline !important;">Re-login with Single Sign-On</p:commandLink>
						<p:spacer height="10" width="40"/>
						<p:commandLink
							action="login.xhtml" 
							rendered="${applicationScope.startupConfigBean.configProperties.get('loginEnabled')}" 
							style="color: blue; text-decoration: underline !important;">Re-login with PALMS Administration Login Credentials</p:commandLink>
					</p:panelGrid>
				</center>
			</h:form>
		</ui:define>
	</ui:composition>

</html>