<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/facelet_templates/noSession.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{loginFormBean.init}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="loginForm">
			<p:growl id="growl" sticky="false" showDetail="true"/>
			<p:focus for="txtUsername" />

			<div style="margin: 25px;">
				<p:panel header="Login"
					style="position: absolute; top: 50%; left: 50%; width: 375px; margin-left: -175px; margin-top: -88px;">
					<h:outputText value="Please enter your intranet credentials." />
					<p:separator/>
					<h:panelGrid border="0" columns="2" width="100%">
						<p:outputLabel for="txtUsername" value="Username" styleClass="label" />
						<p:inputText id="txtUsername" value="#{loginFormBean.username}"
							style="width: 235px; float:right;" maxlength="255" />
						<p:outputLabel for="txtPassword" value="Password" styleClass="label" />
						<p:inputText type="password" id="txtPassword" value="#{loginFormBean.password}"
							style="width: 235px; float:right;" maxlength="64" />
					</h:panelGrid>
					<br />
					<p:commandButton id="btnOK" value="OK" type="submit"
						styleClass="submit-dialog-button"
						action="#{loginFormBean.loginShiro}" ajax="false" update="growl">
					</p:commandButton>
				</p:panel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>