<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{participantListControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="frmParticipantList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Participants"
					url="participantList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav participantListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="User List"></h:outputText>
				</h4>
				<p:separator/>
				<p:outputPanel id="pnlToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:commandButton id="btnSelectAll" value="Select All"
								actionListener="#{participantListControllerBean.handleSelectAll}"
								update="pnlToolbar tblParticipantList" />
							<p:commandButton id="btnSelectNone" value="Deselect All"
								actionListener="#{participantListControllerBean.handleSelectNone}"
								update="pnlToolbar tblParticipantList" />
							<p:commandButton id="btnAddToSelected" value="Add to Clipboard"
								actionListener="#{participantListControllerBean.handleAddToClipboard}"
								disabled="#{participantListViewBean.addParticipantsToClipboardDisabled}"
								update="messages pnlProjectNav" />
							<p:separator/>

							<p:commandButton id="btnAddParticipant"
								value="Add User" 
								onstart="pleaseWaitDialog.show()"
								oncomplete="pleaseWaitDialog.hide(); userDlgWidg.show();"
								actionListener="#{projectManagementControllerBean.handleParticipantInfoInitForNew}"
								disabled="#{participantListViewBean.addParticipantButtonDisabled}"
								update="userDlg"
								icon="ui-icon-newwin"/>
							 
							<p:commandButton id="btnEditParticipant"
								value="Edit User" 
								onstart="pleaseWaitDialog.show()"
								oncomplete="pleaseWaitDialog.hide(); userDlgWidg.show();"
								disabled="#{participantListViewBean.editParticipantDisabled}"
								actionListener="#{participantListControllerBean.handleParticipantInfoInitForEdit}"
								update="userDlg" 
								icon="ui-icon-newwin"/>
							<p:separator/>
							
							
							<p:menuButton
								value="Reports">
								<p:menuitem
									id="btnCreateReport" 
									value="Create Reports"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportWizardDlg.show()"
									disabled="#{participantListViewBean.createReportsDisabled}"
									actionListener="#{reportWizardControllerBean.initViewParticipantList}"
									update="reportWizard"
									icon="ui-icon-gear"
									styleClass="custom-menuitem"/>								
								
								<p:menuitem
									id="btnUploadReports" 
									value="Upload Report"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportUploadDlg.show()"
									actionListener="#{reportUploadControllerBean.initUpload(participantListViewBean.selectedParticipants)}"
									update="reportUpload"
									process="@this"
									partialSubmit="true"
									rendered="#{participantListViewBean.renderReportUpload}"
									disabled="#{participantListViewBean.reportUploadDisabled}"
									icon="ui-icon-arrowreturnthick-1-n"
									styleClass="custom-menuitem"/>
									
								<p:menuitem
									id="btnDownloadReports" 
									value="Download Reports"
									onclick="pleaseWaitDialog.show()"
									action="#{sessionBean.goToDownloadReports(0)}"
									rendered="#{participantListViewBean.renderDownloadReport}"
									disabled="#{participantListViewBean.downloadReportDisabled}"
									icon="ui-icon-arrowreturnthick-1-s"
									styleClass="custom-menuitem"/>
							</p:menuButton>	
								
								
							<p:commandButton
								id="btnSendEmails"
								value="Send Emails"
								rendered="#{participantListViewBean.renderSendEmails}"
								disabled="#{participantListViewBean.sendEmailsDisabled}"
								actionListener="#{projectManagementControllerBean.handleSendEmailsInit}"
								oncomplete="selectEmailTemplate.show();"
								update="dlgSelectEmailTemplate" 
								icon="ui-icon-newwin"/>	
							<p:commandButton 
								id="btnManageProject" 
								value="Manage Project"
								action="#{participantListControllerBean.handleManageProject}"
								disabled="#{participantListViewBean.manageProjectDisabled}"
								ajax="false"
								onclick="showPleaseWaitDialog()"/>
							<shiro:hasPermission name="exportUserCredentials">
								<p:commandButton 
									id="btnExportCredentials"
									value="Export Credentials"	
									onclick="exportCredentials.show()"
									update="dlgExportCredentials"/>
							</shiro:hasPermission>								
						</p:toolbarGroup>		
						<p:toolbarGroup align="right">
							<p:commandButton 
								id="btnAuditLog" 
								value="Audit Log"
								oncomplete="auditLogDlg.show()"
								disabled="#{participantListViewBean.auditLogDisabled}"
								actionListener="#{participantListControllerBean.handleInitAuditLog}"
								update="auditLogDlgPanel" 
								icon="ui-icon-newwin"/>
								
							<shiro:hasPermission name="loginAsParticipant">	
								<p:commandButton id="btnLoginPpt" value="Log In"
									oncomplete="fireLogin()"
									disabled="#{participantListViewBean.editParticipantDisabled}"
									actionListener="#{participantListControllerBean.loginParticipant}" update="pnlToolbar"
									/>
									<script type="text/javascript">
										function fireLogin() {
											window.open($('#aLinkToPortal').attr("href"), "_blank", "width=900,height=640,location=1,resizable=1,toolbar=1,status=1,menubar=1,scrollbars=yes,top=0,left=0");
										}
									</script>
									<a id="aLinkToPortal" target="_blank" href="#{participantListViewBean.participantLoginUrl}?tkn=#{participantListViewBean.loginToken}&amp;username=#{participantListViewBean.loginUsername}&amp;faces-redirect=true" style="visibility:hidden;">.</a>
							</shiro:hasPermission>
						</p:toolbarGroup>
						
					</p:toolbar>
				</p:outputPanel>

				<p:spacer height="10"/>
				<p:dataTable 
					id="tblParticipantList"
					value="#{participantListViewBean.participants}" 
					var="participant"
					widgetVar="participantsTable" 
					paginator="true" 
					rows="10"
					selectionMode="multiple"
					filteredValue="#{participantListViewBean.filteredParticipants}"
					selection="#{participantListViewBean.selectedParticipants}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(participantListViewBean.participants)}"
					rowKey="#{participant.rowKey}">

					<p:ajax event="rowSelect" listener="#{participantListControllerBean.handleRowSelect}" update=":frmParticipantList:pnlToolbar :frmParticipantList:pnlProjectNav"/>
					<p:ajax event="rowUnselect" listener="#{participantListControllerBean.handleRowUnselect}" update=":frmParticipantList:pnlToolbar :frmParticipantList:pnlProjectNav"/>

					<f:facet name="header">
						<p:outputPanel styleClass="search-all-fields-table">
							<table>
								<tr>
									<td style="width: 25%; text-align: left">&nbsp;</td>
									<td style="width: 50%; text-align: center">
										<h:outputText
											value="Search all fields: " /> 
										<p:inputText
											id="globalFilter"
											onkeyup="participantsTable.filter()"
											style="width:150px; background: none; background-color:#FFF;">
										</p:inputText>
									</td>
									<td style="width: 25%; text-align: right">
										<h:outputText
											value="View" 
											styleClass="label" /> 
										<p:spacer width="5"/>
										<h:selectOneMenu 
											id="lstView"
											value="#{participantListControllerBean.viewType}"
											style="margin: 0px; padding: 0px">
											
											<f:selectItem 
												itemLabel="Users" 
												itemValue="0"/>
											<f:selectItem 
												itemLabel="Users and Projects" 
												itemValue="1"/>
											
											<p:ajax
												event="change"
												listener="#{participantListControllerBean.handleChangeViewType}"
												update="tblParticipantList :frmParticipantList:pnlToolbar"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide(); participantsTable.filter();"/>
										</h:selectOneMenu>
									</td>
								</tr>
							</table>
						</p:outputPanel>
					</f:facet>

					<p:column sortBy="#{participant.lastName}"
						filterBy="#{participant}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="User" />
						</f:facet>
						<h:outputText value="#{participant}" />
					</p:column>
					<p:column sortBy="#{participant.optional1}"
						filterBy="#{participant.optional1}">
						<f:facet name="header">
							<h:outputText value="Optional 1" />
						</f:facet>
						<h:outputText value="#{participant.optional1}" />
					</p:column>
					<p:column sortBy="#{participant.optional2}"
						rendered="#{!participantListControllerBean.renderProjects}"
						filterBy="#{participant.optional2}">
						<f:facet name="header">
							<h:outputText value="Optional 2" />
						</f:facet>
						<h:outputText value="#{participant.optional2}" />
					</p:column>
					<p:column sortBy="#{participant.optional3}"
						rendered="#{!participantListControllerBean.renderProjects}"
						filterBy="#{participant.optional3}">
						<f:facet name="header">
							<h:outputText value="Optional 3" />
						</f:facet>
						<h:outputText value="#{participant.optional3}" />
					</p:column>
					<p:column sortBy="#{participant.project.name}"
						filterBy="#{participant.project.name}"
						rendered="#{participantListControllerBean.renderProjects}"
						styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Project" />
						</f:facet>
						<h:outputText value="#{participant.project.name}" />
					</p:column>
				</p:dataTable>
			</div>
			<p:dialog 
				widgetVar="userDlgWidg" 
				header="User Information" 
				modal="true"
				resizable="false"
				width="940"
				onShow="participantInfoTabs.select(0)">
				<p:outputPanel id="userDlg">
					<pdinh:participantPanel userTypeName="User"/>
					<p:separator/>
					<p:commandButton 
						id="savePptButton"
						disabled="#{participantInfoViewBean.saveButtonDisabled}"
						value="Save" 
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,userDlgWidg); participantsTable.filter();"
						actionListener="#{participantListControllerBean.handleParticipantInfoSave}"
						update="tblParticipantList pnlToolbar userDlg" 
						process="userDlg" />
					<p:commandButton value="Close" styleClass="submit-dialog-button" 
						type="button" onclick="userDlgWidg.hide()"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>						
				</p:outputPanel>
			</p:dialog>

			<p:outputPanel id="reportWizard">
				<pdinh:reportWizard/>
			</p:outputPanel>

			<p:outputPanel id="reportUpload">
				<pdinh:reportUpload />
			</p:outputPanel>		
			
			<p:dialog
				modal="true"
				header="Select Email Template"
				widgetVar="selectEmailTemplate"
				closable="false"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
				<p:outputPanel id="dlgSelectEmailTemplate">
					<pdinh:selectEmailTemplate/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="selectEmailTemplate.hide()"
						type="button"/>						
					<p:commandButton 
						id="btnSend" 
						value="Send Email" 
						actionListener="#{participantListControllerBean.handleSendEmails}" 
						oncomplete="handleCompletionRequest(xhr,status,args,selectEmailTemplate)" 
						styleClass="submit-dialog-button"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog
				modal="true"
				header="Export Credentials"
				widgetVar="exportCredentials"
				closable="false"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
				<p:outputPanel id="dlgExportCredentials">
					<pdinh:exportCredentials list="#{participantListViewBean.selectedParticipants}"/>
					<p:separator/>
					<p:commandButton 
						value="Close"
						styleClass="submit-dialog-button"
						onclick="exportCredentials.hide()"
						type="button"/>						
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog 
				id="auditLogDlg" 
				widgetVar="auditLogDlg" 
				width="940" 
				header="Audit Log" 
				modal="true">
				<p:outputPanel id="auditLogDlgPanel">
					<pdinh:auditLog/>
				</p:outputPanel>
			</p:dialog>
			<p:growl id="messages" life="3000" />
		</h:form>
		
	</ui:define>
</ui:composition>
</html>