<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{participantClipboardControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="frmPptClipboard">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Clipboard"
					url="participantClipboard.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav clipboardStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="User Clipboard"></h:outputText>
				</h4>
				<p:separator/>
				<p:outputPanel id="pnlToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:commandButton 
								id="btnSelectAll" 
								value="Select All"
								actionListener="#{participantClipboardControllerBean.handleSelectAll}"
								update="pnlToolbar tblParticipantClipboard" />
							<p:commandButton 
								id="btnSelectNone" 
								value="Deselect All"
								actionListener="#{participantClipboardControllerBean.handleSelectNone}"
								update="pnlToolbar tblParticipantClipboard" />
							<p:separator/>
								
							<p:menuButton
								value="Reports">
								<p:menuitem
									id="btnCreateReports" 
									value="Create Reports"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportWizardDlg.show()"
									disabled="#{participantClipboardViewBean.createReportsDisabled}"
									actionListener="#{reportWizardControllerBean.initViewClipboard}"
									update="reportWizard" 
									icon="ui-icon-gear"
									styleClass="custom-menuitem"/>
								
								<p:menuitem
									id="btnUploadReports" 
									value="Upload Report"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportUploadDlg.show()"
									actionListener="#{reportUploadControllerBean.initUpload(participantClipboardViewBean.selectedParticipants)}"
									update="reportUpload"
									process="@this"
									partialSubmit="true"
									rendered="#{participantClipboardViewBean.renderReportUpload}"
									disabled="#{participantClipboardViewBean.reportUploadDisabled}"
									icon="ui-icon-arrowreturnthick-1-n"
									styleClass="custom-menuitem"/>
									
								<p:menuitem
									id="btnDownloadReports" 
									value="Download Reports"
									onclick="pleaseWaitDialog.show()"
									action="#{sessionBean.goToDownloadReports(0)}"
									rendered="#{participantClipboardViewBean.renderDownloadReport}"
									disabled="#{participantClipboardViewBean.downloadReportDisabled}"
									icon="ui-icon-arrowreturnthick-1-s"
									styleClass="custom-menuitem"/>
							</p:menuButton>								
								
							<shiro:hasPermission name="exportUserCredentials">
								<p:commandButton 
									id="btnExportCredentials"
									value="Export Credentials"	
									onclick="exportCredentials.show()"
									update="dlgExportCredentials"/>
							</shiro:hasPermission>								
							<p:commandButton
								id="btnSendEmails"
								value="Send Emails"
								rendered="#{participantClipboardViewBean.renderSendEmails}"
								disabled="#{participantClipboardViewBean.sendEmailsDisabled}"
								actionListener="#{participantClipboardControllerBean.handleSendEmailsInit}"
								oncomplete="selectEmailTemplate.show();"
								update="dlgSelectEmailTemplate" 
								icon="ui-icon-newwin"/>	
						</p:toolbarGroup>
						<p:toolbarGroup align="right">
							<p:commandButton 
								id="clipboardRemoveBtn"
								value="Remove from Clipboard"
								disabled="#{participantClipboardViewBean.removeParticipantsDisabled}"
								onclick="removePptFromClipboard.show()"	/>
							<p:commandButton 
								id="clipboardClearBtn"
								value="Clear Clipboard"
								disabled="#{participantClipboardViewBean.clearParticipantsDisabled}"
								onclick="confirmClearClipboard.show()" />
						</p:toolbarGroup>
					</p:toolbar>
					<p:spacer height="10"></p:spacer>
				</p:outputPanel>
				<p:dataTable 
					id="tblParticipantClipboard"
					value="#{participantClipboardViewBean.participants}"
					var="participant" 
					widgetVar="participantsClipboardTable" 
					paginator="true"
					rows="10" 
					selectionMode="multiple"
					selection="#{participantClipboardViewBean.selectedParticipants}"
					filteredValue="#{participantClipboardViewBean.filteredParticipants}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(participantClipboardViewBean.participants)}"
					rowKey="#{participant.rowKey}">
					
					<p:ajax event="rowSelect" listener="#{participantClipboardControllerBean.handleRowSelect}" update=":frmPptClipboard:pnlToolbar"/>
					<p:ajax event="rowUnselect" listener="#{participantClipboardControllerBean.handleRowUnselect}" update=":frmPptClipboard:pnlToolbar"/>
					
					<f:facet name="header">
						<p:outputPanel styleClass="search-all-fields-table">
							<table>
								<tr>
									<td style="width: 25%; text-align: left">&nbsp;</td>
									<td style="width: 50%; text-align: center">
										<h:outputText
											value="Search all fields: " /> 
											<p:inputText 
												id="globalFilter"
												onkeyup="participantsClipboardTable.filter()"
												style="width:150px; background: none; background-color:#FFF;" />
									</td>
									<td style="width: 25%; text-align: right">
										<h:outputText
											value="View" 
											styleClass="label"/>
										<p:spacer width="5"/>
										<h:selectOneMenu 
											id="lstView" 
											value="#{participantClipboardViewBean.viewType}"
											style="margin: 0px; padding: 0px">
											<f:selectItem 
												itemLabel="Users" 
												itemValue="0"/>
											<f:selectItem 
												itemLabel="Users and Projects"
												itemValue="1"/>
											<p:ajax 
												event="change"
												listener="#{participantClipboardControllerBean.handleChangeViewType}"
												update="tblParticipantClipboard :frmPptClipboard:pnlToolbar"
												oncomplete="participantsClipboardTable.filter()" />
										</h:selectOneMenu>
									</td>
								</tr>
							</table>
						</p:outputPanel>
					</f:facet>

					<p:column sortBy="#{participant.lastName}"
						filterBy="#{participant.lastName}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="User" />
						</f:facet>
						<h:outputText value="#{participant}" />
					</p:column>
					<p:column sortBy="#{participant.project.name}"
						filterBy="#{participant.project.name}"
						rendered="#{participantClipboardViewBean.renderProjects}">
						<f:facet name="header">
							<h:outputText value="Project" />
						</f:facet>
						<h:outputText value="#{participant.project.name}" />
					</p:column>

				</p:dataTable>
			</div>
			<p:confirmDialog
				message="Are you sure you want to clear your clipboard?"
				header="Clear Clipboard" 				
				widgetVar="confirmClearClipboard"
				width="400">
				<p:commandButton 
					value="No" 
					styleClass="submit-dialog-button"
					onclick="confirmClearClipboard.hide();" 
					type="button" />
				<p:commandButton 
					value="Yes" 
					styleClass="submit-dialog-button"
					actionListener="#{participantClipboardControllerBean.handleClearParticipants}"
					oncomplete="handleCompletionRequest(xhr,status,args,confirmClearClipboard)" 
					update="tblParticipantClipboard pnlToolbar pnlProjectNav"
					process="@this"
					partialSubmit="true"/>
			</p:confirmDialog>

			<p:confirmDialog
				message="Are you sure you want to remove user(s) from clipboard?"
				header="Remove User(s)" 				
				widgetVar="removePptFromClipboard"
				width="500">
				<p:commandButton 
					value="No" 
					styleClass="submit-dialog-button"
					onclick="removePptFromClipboard.hide();" 
					type="button" />
				<p:commandButton 
					value="Yes" 
					styleClass="submit-dialog-button"
					actionListener="#{participantClipboardControllerBean.handleRemoveParticipants}"
					oncomplete="handleCompletionRequest(xhr,status,args,removePptFromClipboard)"
					update="tblParticipantClipboard pnlToolbar pnlProjectNav"
					process="@this"
					partialSubmit="true" />
			</p:confirmDialog>

			<p:outputPanel id="reportWizard">
				<pdinh:reportWizard/>
			</p:outputPanel>
			
			<p:outputPanel id="reportUpload">
				<pdinh:reportUpload />
			</p:outputPanel>			
			
			<p:dialog
				modal="true"
				header="Export Credentials"
				widgetVar="exportCredentials"
				closable="false"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
				<p:outputPanel id="dlgExportCredentials">
					<pdinh:exportCredentials list="#{participantClipboardViewBean.selectedParticipants}"/>
					<p:separator/>
					<p:commandButton 
						value="Close"
						styleClass="submit-dialog-button"
						onclick="exportCredentials.hide()"
						type="button"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>											
				</p:outputPanel>
			</p:dialog>			
			<p:dialog
				modal="true"
				header="Select Email Template"
				widgetVar="selectEmailTemplate"
				closable="false"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
				<p:outputPanel id="dlgSelectEmailTemplate">
					<pdinh:selectEmailTemplate/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="selectEmailTemplate.hide()"
						type="button"/>						
					<p:commandButton 
						id="btnSend" 
						value="Send Email" 
						actionListener="#{participantClipboardControllerBean.handleSendEmails}" 
						oncomplete="handleCompletionRequest(xhr,status,args,selectEmailTemplate)" 
						styleClass="submit-dialog-button"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>

			<p:growl id="messages" />
			
		</h:form>
	</ui:define>
</ui:composition>
</html>