<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:viewParam 
			name="create" 
			value="#{projectSetupViewBean.createProject}"/>
		<f:viewParam 
			name="pif" 
			value="#{projectSetupViewBean.showParticipantInformationFields}"/>
		<f:event type="preRenderView"
			listener="#{projectSetupControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="frmProjectSetup">
		
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem 
					value="Home" 
					url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem 
					value="Projects"
					url="projectList.xhtml?faces-redirect=true" />
				<p:menuitem 
					value="New Project Setup"
					url="projectSetup.xhtml?faces-redirect=true&amp;create=true"
					rendered="#{projectSetupViewBean.createProject}"/>
				<p:menuitem 
					value="Edit Project"
					url="projectSetup.xhtml?faces-redirect=true&amp;create=false" 
					rendered="#{!projectSetupViewBean.createProject}"/>
			</p:breadCrumb>
			
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			
			<p:outputPanel rendered="#{projectSetupViewBean.showProjectSetup}" layout="block">	
				<div class="main-content">
					<p:outputPanel
						id="projectSetupHeader"
						layout="block"
						style="width: 940px">
						<h2>
							<h:outputText value="#{sessionBean.company.coName}"/>
						</h2>
						<h4>
							<h:outputText value="#{(projectSetupViewBean.createProject) ? 'New Project Setup' : 'Edit Project'}"/>
						</h4>
						<p:separator/>
					</p:outputPanel>
					
					<p:outputPanel
						rendered="#{projectSetupViewBean.hasProducts or projectSetupViewBean.hasCompanyProjectTypes}"
						layout="block"
						style="width: 940px">
						<pdinh:projectSetupComp id="cmpProjectSetup" formId="frmProjectSetup"/>
						<p:separator />
						<p:outputPanel id="actionButtons" layout="block">
						<shiro:hasPermission name="viewParticipantInfoFields">
							<p:menuButton
							 	value="Next" 
							 	styleClass="submit-button-Left"> 
							  	<p:menuitem 
								 	value="Participant Information Fields"
								 	actionListener="#{projectSetupControllerBean.handleShowParticipantInfomationFields}" 
								 	title="Goto to Participant Information Fields"
								 	process="@form" update="@form"/>  
							</p:menuButton>
						</shiro:hasPermission>
							
							<p:commandButton 
								id="cancel" 
								value="Cancel"
								action="#{projectSetupControllerBean.handleNavCancel}"
								styleClass="submit-button-right"
								ajax="false"/>
							 <p:menuButton
							 	value="Save" 
							 	styleClass="submit-button-right"> 
							  	<p:menuitem 
								 	value="Save and Return" 
								 	action="#{projectSetupControllerBean.handleNavSaveAndReturn}" 
								 	onclick="showPleaseWaitDialog()"
								 	title="Save and Return allows you to return to the Projects list."
								 	ajax="false"/>   
							  	<p:menuitem 
							  		value="Save and Manage Project" 
							  		action="#{projectSetupControllerBean.handleNavSave}" 
							  		onclick="showPleaseWaitDialog()" 
							  		title="Save and Manage Project allows you to manage the PALMS project."
							  		ajax="false"/>
							  	<p:menuitem 
							  		value="Save and Manage Delivery" 
							  		action="#{projectSetupControllerBean.handleNavSaveDelivery}"
							  		rendered="#{projectSetupViewBean.renderSaveAndManageDelivery}"
							  		onclick="showPleaseWaitDialog()"
							  		title="Save and Manage Delivery allows you to create the intake and manage requests."
							  		ajax="false"/>   
							 </p:menuButton>
						 	 <pdinh:helpButton messageKey="ProjectSetupSaveAndReturn" styleClass="submit-button-right"/>
						</p:outputPanel>
					</p:outputPanel>
					
					<p:outputPanel
						rendered="#{!projectSetupViewBean.hasProducts and !projectSetupViewBean.hasCompanyProjectTypes}">
						<h:outputText
							value="This company does not have any Assessment products or custom project types."
							styleClass="errorLabel"/>
						<p:separator />
						<p:commandButton id="return" value="Return"
							action="#{projectSetupControllerBean.handleNavCancel}"
							ajax="false" />
					</p:outputPanel>
				</div>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{projectSetupViewBean.showParticipantInformationFields}" layout="block">	
				<div class="main-content">
					<p:outputPanel id="projectFieldsHeader" layout="block" style="width: 940px">
						<h2>
							<h:outputText value="#{sessionBean.company.coName}: #{projectSetupViewBean.createProject ? 'New Project Setup' : sessionBean.project.name}"/>
						</h2>
						<h4>
							<h:outputText value="Participant Information Fields"/>
						</h4>
						<p:separator/>
					</p:outputPanel>
					
					<p:outputPanel layout="block" style="width: 940px">
						<kf:projectFields disablePanel="#{projectSetupViewBean.disabledProjectFields}"/>
						
						<p:separator />
						
						<p:outputPanel id="projectFieldsActionButtons" layout="block">
							<p:menuButton
							 	value="Back" 
							 	styleClass="submit-button-Left"> 
							  	<p:menuitem 
								 	value="Project Setup" 
								 	actionListener="#{projectSetupControllerBean.handleShowProjectSetup}" 
								 	title="Return to Project setup"
								 	process="@form" update="@form"/>  
							</p:menuButton>
							
							<p:commandButton 
								id="projectFieldsCancel" 
								value="Cancel"
								action="#{projectSetupControllerBean.handleNavCancel}"
								styleClass="submit-button-right"
								ajax="false"/>
								
							 <p:menuButton
							 	value="Save" 
							 	styleClass="submit-button-right"> 
							  	<p:menuitem 
								 	value="Save and Return" 
								 	action="#{projectSetupControllerBean.handleNavSaveAndReturn}" 
								 	onclick="showPleaseWaitDialog()"
								 	title="Save and Return allows you to return to the Projects list."
								 	ajax="false"/>  
								 	 
							  	<p:menuitem 
							  		value="Save and Manage Project" 
							  		action="#{projectSetupControllerBean.handleNavSave}" 
							  		onclick="showPleaseWaitDialog()" 
							  		title="Save and Manage Project allows you to manage the PALMS project."
							  		ajax="false"/>
							  		
							  	<p:menuitem 
							  		value="Save and Manage Delivery" 
							  		action="#{projectSetupControllerBean.handleNavSaveDelivery}"
							  		rendered="#{projectSetupViewBean.renderSaveAndManageDelivery}"
							  		onclick="showPleaseWaitDialog()"
							  		title="Save and Manage Delivery allows you to create the intake and manage requests."
							  		ajax="false"/>   
							 </p:menuButton>
						 	 <pdinh:helpButton messageKey="ProjectSetupSaveAndReturn" styleClass="submit-button-right"/>
						</p:outputPanel>
					</p:outputPanel>
				</div>
			</p:outputPanel>
			
			<p:dialog
				header="Add Role"
				widgetVar="addInternalTeammember"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="fade" 
				hideEffect="fade"
				width="600">
				<p:outputPanel id="dlgAddInternalTeammember">
					<pdinh:addTeammember useRoleAsFilter="true"/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="addInternalTeammember.hide()"
						type="button">						
					</p:commandButton>					
					<p:commandButton
						value="Add"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,addInternalTeammember)"
						actionListener="#{projectSetupControllerBean.handleAddInternalTeammembers}"
						update="cmpProjectSetup:tbvProjectSetup:pnlInternalTeam"
						partialSubmit="true"
						process="dlgAddInternalTeammember"/>
				</p:outputPanel>
			</p:dialog>
			
			<p:dialog
				header="Add Role"
				widgetVar="addClientTeammember"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="fade" 
				hideEffect="fade"
				width="600">
				<p:outputPanel id="dlgAddClientTeammember">
					<pdinh:addTeammember/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="addClientTeammember.hide()"
						type="button">
					</p:commandButton>					
					<p:commandButton
						value="Add"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,addClientTeammember)"
						actionListener="#{projectSetupControllerBean.handleAddClientTeammemebers}"
						update="cmpProjectSetup:tbvProjectSetup:pnlClientTeam"
						partialSubmit="true"
						process="dlgAddClientTeammember"/>
				</p:outputPanel>				
			</p:dialog>
			
			<p:confirmDialog
				id="closeProjectConfirmation"
				header="Confirmation"
				widgetVar="confirmCloseProject"
				message="Are you sure you want to #{(projectSetupViewBean.projectOpen) ? 'close ' : 'open'} this project ?"
				width="550"
				closable="false">
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmCloseProject.hide();"
					type="button" />
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					actionListener="#{projectSetupControllerBean.handleToggleProjectOpen}"
					update=":frmProjectSetup:cmpProjectSetup:tbvProjectSetup:closeProjectButton closeProjectConfirmation"
					process="@this"
					partialSubmit="true"
					oncomplete="confirmCloseProject.hide()" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>