<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{projectEmailControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
	
		<h:form id="frmProjectEmail">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem
					value="Home"
					url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem
					value="Projects"
					url="projectList.xhtml?faces-redirect=true" />
				<p:menuitem 
					value="Project Management"
					url="projectManagement.xhtml?faces-redirect=true" />					
				<p:menuitem
					value="Project Email"
					url="projectEmail.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<p:outputPanel id="pageTitleBar">
					<p:panelGrid columns="2" style="float:right">
						<p:outputLabel
							value="Projects"
							styleClass="label"
							for="lstProjects"/>
						<p:selectOneMenu
							id="lstProjects"
							value="#{sessionBean.selectedProject}">
							<f:selectItems
								var="project"
								value="#{sessionBean.projects}"
								itemValue="#{project.projectId}"
								itemLabel="#{project.name}" />
							<p:ajax listener="#{projectEmailControllerBean.handleChangeProject}" 
									update="pageTitleBar tbvProjectEmail"
									onstart="pleaseWaitDialog.show();"
									oncomplete="pleaseWaitDialog.hide()"/>	
						</p:selectOneMenu>     
					</p:panelGrid>
					<div style="float: left">
						<h2>
							<h:outputText value="#{sessionBean.company.coName}: #{sessionBean.project.name}"/>
						</h2>
						<h4>
							<h:outputText value="Project Email"/>
						</h4>	
					</div>
					<div style="clear: both"/>
				</p:outputPanel>
				<p:separator/>
				<p:spacer height="10"/>
				<p:tabView 
					id="tbvProjectEmail"
					widgetVar="projectEmailTabs"
					styleClass="tab-view"
					dynamic="true">

					<p:ajax 
						event="tabChange" 
						listener="#{projectEmailControllerBean.handleTabChange}"
						onstart="pleaseWaitDialog.show()"
						oncomplete="pleaseWaitDialog.hide()"/>
					
					<p:tab id="tabRules" title="Email Rules">
					 	<p:spacer height="10"/>
						<p:outputPanel id="pnlEmailRulesToolbar">
							<p:toolbar>
								<p:toolbarGroup>
									<p:commandButton
										id="btnCreateNewRule"
										value="Create New Rule"
										disabled="#{projectEmailViewBean.createNewRuleDisabled}"
										action="#{projectEmailControllerBean.handleCreateNewRule}"
										ajax="false">
									</p:commandButton>
									<p:separator/>
									<p:commandButton
										id="btnEditRule"
										value="Edit Rule"
										action="#{projectEmailControllerBean.handleEditRule}"
										disabled="#{projectEmailViewBean.editRuleDisabled}"
										ajax="false">
									</p:commandButton>	
								</p:toolbarGroup>
								<p:toolbarGroup align="right">
									<!-- shiro:hasPermission name="processEmailRulesManually">
										<p:commandButton
											id="btnProcessRules"
											value="Process Rules"
											actionListener="#{projectEmailControllerBean.handleProcessRules}"
											onstart="pleaseWaitDialog.show()"
											oncomplete="pleaseWaitDialog.hide()"
											update="tbvProjectEmail pnlEmailRulesToolbar" 
											partialSubmit="true"
											process="@this"/>
									</shiro:hasPermission-->
									<p:commandButton
										id="btnDeleteRule"
										value="Delete Rule"
										actionListener="#{projectEmailControllerBean.handleDeleteRule}"
										update="tbvProjectEmail pnlEmailRulesToolbar" 
										disabled="#{projectEmailViewBean.deleteRuleDisabled}"
										partialSubmit="true"
										process="@this"/>
								</p:toolbarGroup>									
							</p:toolbar>
						</p:outputPanel>
						<p:spacer height="10"/>
						<p:dataTable
							id="tblRulesList"
							widgetVar="rulesList"
							rowIndexVar="indexVar"
							var="rule"
							value="#{projectEmailViewBean.rules}"
							paginator="true"
							rows="10"
							selectionMode="single"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(projectEmailViewBean.rules)}"
							rowKey="#{rule.id}"
							rowStyleClass="#{projectEmailControllerBean.colorRuleRow(rule.completed, rule.error)}">
							
							<p:ajax 
								event="rowSelect" 
								listener="#{projectEmailControllerBean.handleRowSelect}" 
								update=":frmProjectEmail:tbvProjectEmail:pnlEmailRulesToolbar" 
								partialSubmit="true"
								process="@this"/>
								
							<p:ajax 
								event="rowUnselect" 
								listener="#{projectEmailControllerBean.handleRowUnselect}" 
								update=":frmProjectEmail:tbvProjectEmail:pnlEmailRulesToolbar"
								partialSubmit="true"
								process="@this"/>
							
							<f:facet name="header">
								<p:outputPanel>
									<h:outputText value="Search all fields: " />
									<p:inputText id="globalFilter" onkeyup="rulesList.filter()"
										style="width:150px; background: none; background-color:#FFF;" />
								</p:outputPanel>
							</f:facet>							
							
							<p:column style="width:2%">  
            					<p:rowToggler />  
        					</p:column>
							
							<p:column
								sortBy="#{rule.name}"
								filterBy="#{rule.name}"
								filterMatchMode="contains"							
								styleClass="column-header-align-top">
								<f:facet name="header">
									<h:outputText value="Rule" />
								</f:facet>
								<h:outputText value="#{rule.name}" />
							</p:column>
							<p:column
								sortBy="#{rule.template.title}"
								filterBy="#{rule.template.title}"
								styleClass="column-header-align-top">
								<f:facet name="header">
									<h:outputText value="Template" />
								</f:facet>
								<h:outputText value="#{rule.template.title}" />
							</p:column>
							<p:column
								sortBy="#{rule.template.level}"
								filterBy="#{rule.template.level}"
								styleClass="column-header-align-top"
								style="width:100px">
								<f:facet name="header">
									<h:outputText value="Level" />
								</f:facet>
								<h:outputText value="#{rule.template.level}" />
							</p:column>
							<p:column
								sortBy="#{rule.language}"
								filterBy="#{rule.language}"
								styleClass="column-header-align-top"
								style="width:150px">
								<f:facet name="header">
									<h:outputText value="Language" />
								</f:facet>
								<h:outputText value="#{rule.language}" />
							</p:column>
							<p:column
								sortBy="#{rule.active}"
								filterBy="#{rule.active}"
								styleClass="column-header-align-top"
								style="text-align: center; width:50px">
								<f:facet name="header">
									<h:outputText value="Active" />
								</f:facet>
								<h:outputText value="#{rule.active}" />
							</p:column>
							<p:rowExpansion styleClass="email-rule-expansion">
								<table>
									<tr class="email-rule-detailes-table-header">
										<td align="center">
											<h:outputText value="Scheduled Date"/>
										</td>
										<td align="center">
											<h:outputText value="Status"/>
										</td>
										<td align="center">
											<h:outputText value="Review"/>
										</td>										
										<td align="center">
											<h:outputText value="Complete"/>
										</td>
									</tr>
									<ui:repeat var="schedule" value="#{rule.schedules}">
										<tr>
											<td align="center">
												<h:outputText value="#{schedule.scheduledDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"/>
												</h:outputText>												
											</td>
											<td>
												<h:outputText value="#{schedule.currentStatus.name}" />
											</td>
											<td width="20" align="center">
													<p:commandButton
														oncomplete="scheduleStatus.show()"
														actionListener="#{projectEmailControllerBean.handleScheduleStatus(schedule)}"
														update=":frmProjectEmail:dlgScheduleStatus" 
														partialSubmit="true"
														process="@this"
														icon="icon-rule-status"
														styleClass="clear-button"/>
											</td>
											<td align="center">
												<h:outputText value="#{(schedule.complete) ? 'Yes' : 'No'}" />
											</td>
										</tr>
									</ui:repeat>
								</table>
							</p:rowExpansion>				
							
							
						</p:dataTable>					
										
					</p:tab>
					<shiro:hasPermission name="accessManageProjectEmail">
						<p:tab id="tabTemplates" title="Templates">
							<p:spacer height="10"/>
							<pdinh:emailTemplatesListComp id="etComp"/>
						</p:tab>
					</shiro:hasPermission>
					<shiro:hasPermission name="accessProjectEmailLog">
						<p:tab id="tabLog" title="Log">
							<p:spacer height="10"/>
							<pdinh:emailLog/>
						</p:tab>
					</shiro:hasPermission>
				</p:tabView>	
			</div>

<!-- DIALOGS -->
			<p:dialog
				modal="true"
				header="Review Status"
				widgetVar="scheduleStatus"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				width="440">
				<p:outputPanel id="dlgScheduleStatus">
					<pdinh:emailRuleScheduleStatus/>
					<p:separator/>
					<p:commandButton
						value="Close"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,scheduleStatus)"
						actionListener="#{projectEmailControllerBean.handleScheduleStatusClose}"
						partialSubmit="true"
						process="dlgScheduleStatus"/>
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block"/>
				</p:outputPanel>
			</p:dialog>			
		</h:form>
	</ui:define>
</ui:composition>
</html>