<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{projectListControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form id="frmProjectList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Projects" url="projectList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="Project List"></h:outputText>
				</h4>
				<p:separator/>
				<p:outputPanel id="pnlToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:menuButton value="Project">
								<p:menuitem
									id="btnCreateProject"
									value="New"
									action="#{projectListControllerBean.handleCreateProject}"
									disabled="#{projectListViewBean.createProjectButtonDisabled}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
								<p:menuitem
									id="btnEditProject"
									value="Edit"
									action="#{projectListControllerBean.handleEditProject}"
									disabled="#{projectListViewBean.editProjectDisabled}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
								<p:menuitem
									id="btnCloneProject"
									value="Clone"
									disabled="#{projectListViewBean.copyProjectDisabled}"
									action="#{projectListControllerBean.handleCloneDialogInit}"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); copyProjectDialog.show()"
									update="copyProjectDialogPanel"
									process="@this"
									partialSubmit="true">
									<p:resetInput target="copyProjectDialogPanel"/>
								</p:menuitem>
							</p:menuButton>
							<p:menuButton value="Manage">
								<p:menuitem
									id="btnManageProject"
									value="Project"
									action="#{projectListControllerBean.handleNavManageProject}"
									disabled="#{projectListViewBean.manageProjectDisabled}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
								<p:menuitem
									id="btnProjectDelivery"
									value="Project Delivery"
									disabled="#{projectListViewBean.manageProjectDeliveryDisabled}"
									action="#{projectListControllerBean.handleManageProjectDelivery}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
								<p:menuitem
									id="btnProjectEmail"
									value="Project Email"
									action="#{projectListControllerBean.handleNavManageProjectEmail}"
									disabled="#{projectListViewBean.manageProjectEmailDisabled}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
								<p:menuitem
									id="btnManageImports"
									value="Project Imports"
									action="#{projectListControllerBean.handleNavManageImports}"
									disabled="#{projectListViewBean.manageProjectDisabled}"
									ajax="false"
									onclick="showPleaseWaitDialog()"/>
							</p:menuButton>
						</p:toolbarGroup>
						<p:toolbarGroup align="right">

							<p:commandButton
								id="btnGenerateTemplate"
								value="Generate Import Template"
								icon="ui-icon-newwin"
								disabled="#{projectListViewBean.generateBulkUploadTemplateDisabled}"
								type="button"
								onclick="generateBulkUploadTemplateDialog.show()"/>

							<p:commandButton
								id="btnIncludeClosed"
								actionListener="#{projectListControllerBean.handleToggleIncludeClosedProjects}"
								value="#{sessionBean.includeClosedProjects ? 'Hide' : 'Show'} Closed Projects"
								update="tblProjectList @this"
								/>
							<p:commandButton
								id="btnResetFilters"
								actionListener="#{projectListControllerBean.resetFilteredProjects}"
								value="Reset Filters"
								update="pnlToolbar tblProjectList"
								disabled="#{projectListViewBean.resetFiltersDisabled}"
								partialSubmit="true"
								process="@this"/>
							<shiro:hasPermission name="viewInternalAuditLog">
								<p:commandButton
									id="btnAuditLog"
									value="Audit Log"
									actionListener="#{projectListControllerBean.handleAuditLogInit}"
									oncomplete="auditLogDlg.show()"
									disabled="#{projectListViewBean.auditLogButtonDisabled}"
										update="auditLogDlgPanel"
										partialSubmit="true"
										process="@this"
										icon="ui-icon-newwin"/>
							</shiro:hasPermission>
							<p:commandButton
								id="btnDownloadReports"
								value="Download Reports"
								disabled="#{projectListViewBean.downloadReportsButtonDisabled}"
								action="#{sessionBean.goToDownloadReports(sessionBean.selectedProject)}"
								></p:commandButton>
						</p:toolbarGroup>
					</p:toolbar>
				</p:outputPanel>
				<p:remoteCommand name="updateResetFiltersButton" update="pnlToolbar"/>
				<p:spacer height="10"/>
				<p:remoteCommand name="handleDoubleClick" action="#{projectListControllerBean.handleDoubleClickRow}" onstart="showPleaseWaitDialog()" />
				<p:dataTable
					id="tblProjectList"
					selectionMode="single"
					border="0"
					paginator="true"
					rows="10"
					rowStyleClass="projectListItem#{project.statusName}"
					selection="#{projectListViewBean.selectedProject}"
					value="#{sessionBean.projects}"
					var="project"
					widgetVar="projectsTable"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(sessionBean.projects)}"
					rowKey="#{project.projectId}"
					filteredValue="#{sessionBean.filteredProjects}"
					dblClickSelect="true">

					<p:ajax event="rowSelect" listener="#{projectListControllerBean.handleRowSelect}" update=":frmProjectList:pnlToolbar :frmProjectList:copyProjectDialogPanel :frmProjectList:pnlProjectNav"/>
					<p:ajax event="rowUnselect" listener="#{projectListControllerBean.handleRowUnselect}" update=":frmProjectList:pnlToolbar :frmProjectList:pnlProjectNav"/>
					<p:ajax event="filter" listener="#{projectListControllerBean.handleDataTableFiltering}" oncomplete="updateResetFiltersButton()"/>
					<p:ajax event="rowDblselect" onstart="handleDoubleClick()" />
					<f:facet name="header">
						<h:outputText value="Search all fields: " />
						<p:inputText
							id="globalFilter"
							onkeyup="projectsTable.filter()"
							value="#{projectListViewBean.searchAllFields}"
							style="width:150px; background: none; background-color:#FFF;" />
					</f:facet>
					<p:column id="colProjects" sortBy="#{project.name}"
						filterBy="#{project.name}" filterMatchMode="contains"
						styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Name"/>
						</f:facet>
						<h:outputText value="#{project.name}"/>
					</p:column>
					<p:column id="colProjectCode" sortBy="#{project.code}"
						filterBy="#{project.code}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 120px">
						<f:facet name="header">
							<h:outputText value="Project Code/ Engagement ID" style="white-space: normal !important;" />
						</f:facet>
						<h:outputText value="#{project.code}" />
					</p:column>
					<p:column id="colProjectType" sortBy="#{project.type}"
						filterBy="#{project.type}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 400px">
						<f:facet name="header">
							<h:outputText value="Project Type"/>
						</f:facet>
						<h:outputText value="#{project.type}" />
					</p:column>
					<p:column id="colTargetLevel" sortBy="#{project.targetLevel}"
						filterBy="#{project.targetLevel}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 100px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Target Level" />
						</f:facet>
						<h:outputText value="#{project.targetLevel}"/>
					</p:column>
					<p:column id="colCreatedBy" sortBy="#{project.extAdminId}"
						filterBy="#{project.extAdminId}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 100px">
						<f:facet name="header">
							<h:outputText value="Created By" />
						</f:facet>
						<h:outputText
							value="#{(empty project.extAdminId) ? 'n/a' : project.extAdminId}"/>
					</p:column>
					<p:column sortBy="#{project.dateAdded}"
						filterBy="#{project.dateAdded}" filterMatchMode="contains"
						styleClass="column-header-align-top" style="width: 100px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Created Date"/>
						</f:facet>
						<h:outputText value="#{project.dateAdded}">
							<f:convertDateTime pattern="dd-MMM-yyyy"/>
						</h:outputText>
					</p:column>
					<p:column id="colNumParticipants"
						sortBy="#{project.participantCount}"
						filterBy="#{project.participantCount}" filterMatchMode="exact"
						styleClass="column-header-align-top" style="width: 100px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Participants" />
						</f:facet>
						<h:outputText value="#{project.participantCount}"/>
					</p:column>
					<p:column id="colOpen"
						sortBy="#{project.statusName}"
						styleClass="column-header-align-top" style="width: 70px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Status" />
						</f:facet>
						<h:outputText value="#{project.statusName}"/>
					</p:column>
				</p:dataTable>
			</div>

<!-- Dialogs -->

			<p:confirmDialog
				header="Warning"
				widgetVar="confirmResetFilters"
				message="Would you like to keep your filtered results?"
				rendered="#{projectListViewBean.showResetFiltersDialog}"
				visible="#{projectListViewBean.showResetFiltersDialog}"
				width="550"
				showEffect="fade"
				hideEffect="fade">
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					actionListener="#{projectListControllerBean.resetFilteredProjects}"
					oncomplete="handleCompletionRequest(xhr,status,args,confirmResetFilters)"
					update="tblProjectList pnlToolbar"/>
				<p:commandButton
					value="Yes"
					styleClass="submit-dialog-button"
					update="tblProjectList pnlToolbar"
					onclick="confirmResetFilters.hide()"
					type="button" />
				<pdinh:ajaxStatus
					styleClass="ajax-status-in-dialog"
					layout="block"/>
			</p:confirmDialog>

			<p:dialog
				id="copyProjectDialog"
				widgetVar="copyProjectDialog"
				header="Clone Project"
				modal="true"
				resizable="false"
				closeOnEscape="true"
				closable="fasle"
				width="600">
				<p:messages id="msgs" showDetail="true" autoUpdate="true"/>

				<p:outputPanel id="copyProjectDialogPanel">
					<p:panelGrid id="copyProjectPanelGid">
						<p:row>
							<p:column>
								<h:outputLabel for="copyPrjNameInput" value="Project Name:" styleClass="label"/>
							</p:column>
							<p:column>
								<p:inputText id="copyPrjNameInput" required="true" value="#{projectListViewBean.copyPrjNameValue}" size="50" requiredMessage="Project Name is Required." validatorMessage="Invalid Project Name">
									<f:validateLength minimum="3" maximum="255"></f:validateLength>
								</p:inputText>
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputLabel for="copyPrjCodeInput" value="Project Code/Engagement Id:" styleClass="label"/>
							</p:column>
							<p:column>
								<p:inputText required="#{projectListViewBean.projectCodeRequired}" id="copyPrjCodeInput" value="#{projectListViewBean.copyPrjCodeValue}" size="50" requiredMessage="Project Code/Engagement Id is Required." validatorMessage="Project Code is too long">
									<f:validateLength maximum="50"></f:validateLength>

								</p:inputText>
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<p:outputLabel for="officeLocation"	value="Client Mgmt Office" styleClass="label min-label-width" escape="false">
									<h:outputText value="*" styleClass="asterisk-red nowrap"/>
								</p:outputLabel>
							</p:column>
							<p:column>
								<p:selectOneMenu
									id="officeLocation"
									value="#{projectListViewBean.selectedOfficeLocationId}">
									<f:selectItems
										value="#{projectListViewBean.officeLocations}"
										var="officeLocation"
										itemValue="#{officeLocation.officeLocationId}"
										itemLabel="#{officeLocation.location}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputLabel for="includeLrmCheckbox" styleClass="label" value="Include PALMS Delivery: "></h:outputLabel>
							</p:column>
							<p:column>
								<h:selectBooleanCheckbox id="includeLrmCheckbox" value="#{projectListViewBean.includeLrm}"
									disabled="#{projectListViewBean.includeLrmDisabled}"
									valueChangeListener="#{projectListControllerBean.handleSelectIncludeLrm}">
									<p:ajax update="copyProjectDialogPanel" process="copyProjectDialogPanel"/>
								</h:selectBooleanCheckbox>
							</p:column>
						</p:row>

						<p:row rendered="#{projectListViewBean.renderDeliveryName and projectListViewBean.includeLrm}">
							<p:column>
								<p:outputLabel for="copyPrjDeliveryName" styleClass="label" value="Delivery Name in Contract/SOW:">
									<h:outputText value="*" styleClass="asterisk-red nowrap"/>
								</p:outputLabel>
							</p:column>
							<p:column>
								<p:inputText id="copyPrjDeliveryName" value="#{projectListViewBean.copyPrjDeliveryName}"
									size="50" validatorMessage="External Name must be at least 3 characters"
									disabled="#{projectListViewBean.projectDeliveryNameDisabled}">
								</p:inputText>
							</p:column>
						</p:row>


						<p:row>
							<p:column>
								<h:outputLabel for="includeAbyDCheckbox" styleClass="label" value="Include AbyD Setup: "/>
							</p:column>
							<p:column>
								<h:selectBooleanCheckbox
									id="includeAbyDCheckbox"
									value="#{projectListViewBean.includeAbydSetup}"
									disabled="#{projectListViewBean.includeAbyDDisabled}"/>
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputLabel for="includeParticipantInfoFieldsCheckbox" styleClass="label" value="Include Participant Information Fields: "/>
							</p:column>
							<p:column>
								<h:selectBooleanCheckbox
									id="includeParticipantInfoFieldsCheckbox"
									value="#{projectListViewBean.includeCustomFields}"
									disabled="#{projectListViewBean.includeCustomFieldsDisabled}"/>
							</p:column>
						</p:row>

						<p:row rendered="#{projectListViewBean.renderAssignedPM}" >
							<p:column>
								<p:outputLabel
									for="assignedPmId"
									value="Assigned PM/PC"
									styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</p:outputLabel>
							</p:column>
							<p:column>
								<p:outputPanel layout="block" styleClass="float-left">
									<p:selectOneMenu
										id="assignedPmId"
										value="#{projectListViewBean.assignedPmId}"
										filter="true" filterMatchMode="startsWith">
										<f:selectItem
											itemLabel="--- Select One ---"
											itemValue=""/>
										<f:selectItems
											value="#{projectListViewBean.pmpcs}"
											var="ap"
											itemLabel="#{ap.firstname} #{ap.lastname}"
											itemValue="#{ap.username}" />
									</p:selectOneMenu>
								</p:outputPanel>
								<pdinh:helpButton messageKey="AssignedPMPC" styleClass="float-left"/>
							</p:column>
						</p:row>

						<p:row rendered="#{projectListViewBean.renderInternalScheduler}">
							<p:column>
								<p:outputLabel
									for="internalScheduler"
									value="Internal Scheduler"
									styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</p:outputLabel>
							</p:column>
							<p:column>
								<p:outputPanel layout="block" styleClass="float-left">
									<p:selectOneMenu
										id="internalScheduler"
										value="#{projectListViewBean.schedulerId}"
										filter="true" filterMatchMode="startsWith">
										<f:selectItem
											itemLabel="--- Select One ---"
											itemValue=""/>
										<f:selectItems
											value="#{projectListViewBean.schedulers}"
											var="tm"
											itemLabel="#{tm.firstname} #{tm.lastname}"
											itemValue="#{tm.username}" />
									</p:selectOneMenu>
								</p:outputPanel>
								<pdinh:helpButton messageKey="InternalScheduler" styleClass="float-left"/>
							</p:column>
						</p:row>
					</p:panelGrid>
					<p:separator/>
					<p:commandButton
						id="btnCancel"
						value="Cancel"
						type="button"
						onclick="copyProjectDialog.hide()"
						styleClass="submit-dialog-button"/>
					<p:commandButton
						id="btnSvStay"
						value="Clone"
						onstart="pleaseWaitDialog.show()"
						disabled="#{projectListViewBean.saveAndStayDisabled}"
						actionListener="#{projectListControllerBean.handleClone}"
						oncomplete="handleCompletionRequest(xhr,status,args,copyProjectDialog); (!args.notValid) ? copyPrjResultsDialg.show() : ''; pleaseWaitDialog.hide();"
						styleClass="submit-dialog-button"
						process="copyProjectDialogPanel"
						update="tblProjectList, copyProjectResultGid, resultDialogToolbar"
						partialSubmit="true"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog id="copyPrjResultsDialg" widgetVar="copyPrjResultsDialg" header="Results"
				modal="true"
				resizable="false"
				closable="fasle"
				closeOnEscape="true"
				width="600">
				<p:outputPanel id="resultsPanel">
					<p:messages></p:messages>
					<p:panelGrid id="copyProjectResultGid" columns="2">
						<h:outputLabel for="newProjectDetails" value="New Project Created: " styleClass="label"></h:outputLabel>
						<h:outputText id="newProjectDetails" value="#{projectListViewBean.newProjectName} (#{projectListViewBean.newProjectId})"></h:outputText>

						<h:outputLabel for="copyPrjResultText" value="Project Copy Status:" styleClass="label"></h:outputLabel>
						<h:outputText id="copyPrjResultText" value="${projectListViewBean.copyProjectStatus}"></h:outputText>

						<h:outputLabel for="copyLogisticsResultText" value="Delivery Copy Status:" styleClass="label"></h:outputLabel>
						<h:outputText id="copyLogisticsResultText" value="${projectListViewBean.copyLrmStatus}"></h:outputText>

						<h:outputLabel for="copyAbyDResultText" value="AbyD Setup Copy Status:" styleClass="label"></h:outputLabel>
						<h:outputText id="copyAbyDResultText" value="${projectListViewBean.copyAbydStatus}"></h:outputText>
					</p:panelGrid>
					<p:separator/>
					<p:outputPanel id="resultDialogToolbar">
						<p:commandButton
							id="btnClose"
							value="Close"
							ajax="false"
							onclick="copyPrjResultsDialg.hide()"
							styleClass="submit-dialog-button"/>
						<p:commandButton
							id="btnSvGoDelivery"
							value="Delivery Setup"
							ajax="true"
							action="#{projectListControllerBean.handleGoToDelivery}"
							disabled="#{projectListViewBean.saveAndGoToDeliveryDisabled}"
							styleClass="submit-dialog-button"/>
						<p:commandButton
							id="btnSvManage"
							value="Manage Project"
							ajax="true"
							action="#{projectListControllerBean.handleGoToManage}"
							disabled="#{projectListViewBean.saveAndManageButtonDisabled}"
							styleClass="submit-dialog-button"/>
					</p:outputPanel>
				</p:outputPanel>
			</p:dialog>

			<p:dialog
				id="auditLogDlg"
				widgetVar="auditLogDlg"
				width="900"
				height="550"
				header="Audit Log"
				modal="true"
				resizable="false"
				closeOnEscape="true">
				<p:outputPanel id="auditLogDlgPanel">
					<pdinh:auditLog/>
					<p:separator/>
					<p:commandButton
						id="closeAuditLogButton"
						value="Close"
						styleClass="submit-dialog-button"
						oncomplete="auditLogDlg.hide()"
						global="false"/>
				</p:outputPanel>
			</p:dialog>

			<p:dialog
				header="Configuration"
				widgetVar="generateBulkUploadTemplateDialog"
				modal="true"
				closable="false"
				resizable="false"
				closeOnEscape="true"
				width="550"
				showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="generateBulkUploadTemplateDialogPanel">

					<pdinh:generateBulkUploadTemplate viewBean="#{generateBulkUploadTemplateViewBean}"/>

				    <p:separator/>
					<p:commandButton
						value="Cancel"
						styleClass="submit-dialog-button"
						type="button"
						onclick="generateBulkUploadTemplateDialog.hide()"/>
					<p:commandButton
						value="Download"
						ajax="false"
						styleClass="submit-dialog-button"
						onclick="PrimeFaces.monitorDownload(startBulkUploadTemplateDownload, stopBulkUploadTemplateDownload); generateBulkUploadTemplateDialog.hide()">
				    	<p:fileDownload value="#{generateBulkUploadTemplateControllerBean.download()}" />
				  	</p:commandButton>
				</p:outputPanel>
			</p:dialog>


		</h:form>
	</ui:define>
</ui:composition>
</html>