<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:viewParam name="projectId"
			value="#{projectManagementControllerBean.projectId}" />
		<f:viewParam name="userId"
			value="#{projectManagementControllerBean.userId}" />
		<f:event type="preRenderView"
			listener="#{projectManagementControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">

		<h:form id="frmProjectManagement">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Projects"
					url="projectList.xhtml?faces-redirect=true" />
				<p:menuitem value="Project Management"
					url="projectManagement.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav projectListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<p:messages globalOnly="true" />
				<p:outputPanel id="pageTitleBar">
					<p:panelGrid columns="2" style="float:right">
						<p:outputLabel value="Projects" styleClass="label"
							for="lstProjects" />
						<p:selectOneMenu id="lstProjects"
							value="#{sessionBean.selectedProject}">
							<f:selectItems var="project" value="#{sessionBean.projects}"
								itemValue="#{project.projectId}" itemLabel="#{project.name}" />
							<p:ajax
								listener="#{projectManagementControllerBean.handleChangeProject}"
								update="pageTitleBar pnlProjectInformation pnlToolbar tblProjectManagement"
								onstart="pleaseWaitDialog.show();"
								oncomplete="pleaseWaitDialog.hide()" />
						</p:selectOneMenu>
					</p:panelGrid>
					<div style="float: left">
						<h2>
							<h:outputText
								value="#{sessionBean.company.coName}: #{sessionBean.project.name}" />
						</h2>
						<h4>
							<h:outputText value="Project Management" />
						</h4>
					</div>
					<div style="clear: both" />
				</p:outputPanel>
				<p:separator />
				<p:panel id="pnlProjectInformation" header="Project Information">
					<p:commandButton value="Edit Project"
						action="#{projectManagementControllerBean.handleEditProject}"
						disabled="#{projectManagementViewBean.editProjectButtonDisabled}"
						onclick="pleaseWaitDialog.show()" ajax="false" style="float: left" />

					<p:menuButton value="Manage" styleClass="float-left">


						<p:menuitem
							id="btnManageDelivery"
							value="Delivery"

							disabled="#{projectManagementViewBean.manageProjectDeliveryDisabled}"
							rendered="#{(projectManagementViewBean.isAbydProduct) or (projectManagementViewBean.isGlGpsProduct)}"
							action="#{projectManagementControllerBean.handleManageDelivery}"
							ajax="false"
							onclick="showPleaseWaitDialog()"/>
						<p:menuitem
							id="btnManageEmail"
							value="Email"
							action="#{projectManagementControllerBean.handleNavManageEmail}"

							disabled="#{projectManagementViewBean.projectEmailItemDisabled}"
							ajax="false"
							onclick="showPleaseWaitDialog()"/>
						<p:menuitem
							id="btnManageImports"
							value="Imports"

							action="#{projectManagementControllerBean.handleNavManageImports}"
							disabled="#{projectManagementViewBean.manageProjectDisabled}"
							ajax="false"
							onclick="showPleaseWaitDialog()"/>
						<p:menuitem
							id="btnManagePif"
							value="Participant Information Fields"
							action="#{projectManagementControllerBean.handleNavManageParticipantInfoFields}"
							ajax="false"
							onclick="showPleaseWaitDialog()"/>
						<p:menuitem
							id="btnManageSelfReg"
							value="Self-Registration"
							action="#{selfRegConfigControllerBean.initializeSelfRegistration}"
							onstart="pleaseWaitDialog.show()"
							oncomplete="pleaseWaitDialog.hide(); selfRegDlg.show()"
							update="selfRegistrationConfiguration"
							partialSubmit="true"
							process="@this"
							disabled="#{projectManagementViewBean.manageSelfRegDisabled}"/>


					</p:menuButton>

					<pdinh:helpButton

						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"
						messageKey="ManageProjectDelivery"
						styleClass="float-left help-icon-adj-button" />
					<h:outputLink
						onclick="openPersistentWindowAndCenter('#{projectManagementControllerBean.abydProperties.getProperty('abydSetupUrl')}?jobId=#{sessionBean.project.projectId}',0,980,640,0,1,1,1,1,1,1)"
						value="javascript:void(0)" title="AByD Setup"
						rendered="#{projectManagementViewBean.isAbydProduct}"
						disabled="#{projectManagementViewBean.abydSetupDisabled}"
						style="float: right">
						<h:outputText value="Launch AbyD Setup"></h:outputText>
						<p:ajax event="click"
							listener="#{projectManagementControllerBean.handleClickAbyDSetup}" />
					</h:outputLink>
					<p:spacer width="5" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></p:spacer>
					<h:outputText value="|" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></h:outputText>
					<p:spacer width="5" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></p:spacer>

					<p:commandLink title="Launch Delivery Setup"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"
						disabled="${projectManagementViewBean.deliverySetupLinkDisabled}"
						style="float: right"
						action="#{projectManagementControllerBean.handleClickDeliverySetup}"
						ajax="false">
						<h:outputText value="Launch Delivery Setup" />
					</p:commandLink>
					<p:spacer width="5" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></p:spacer>
					<h:outputText value="|" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></h:outputText>
					<p:spacer width="5" style="float: right"
						rendered="#{(projectManagementViewBean.isAbydProduct) || (projectManagementViewBean.isGlGpsProduct)}"></p:spacer>
					<p:commandLink value="Manage Documents"
						oncomplete="projectDocuments.show()"
						disabled="#{projectManagementViewBean.manageDocumentsLinkDisabled}"
						actionListener="#{projectManagementControllerBean.handleProjectDocumentsInitForEdit}"
						update="projectDocumentsSetupDisplay" style="float: right">
					</p:commandLink>
					<div style="float: none; clear: both" />

					<p:separator />
					<h:panelGrid border="0" columns="8" cellpadding="5">
						<!-- Row 1 -->	
						<h:outputText value="Project Name" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.projectName}"/>
						<p:spacer width="20" height="10"/>
						<h:outputText value="Target Level" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.targetLevel}"/>
						<p:spacer width="20" height="10"/>
						<h:outputText value="Self-Registration Enabled" styleClass="label nowrap" />
						<h:outputText value="#{(not empty selfRegConfigViewBean.configuration) ? ((selfRegConfigViewBean.configuration.enabled) ? 'Yes' : 'No') : 'not configured'}"/>

						<!-- Row 2 -->	
						<h:outputText value="Project ID" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.projectId}"/>
						<p:spacer width="20" height="10"/>
						<h:outputText value="Created By" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.createdBy}"/>
						<p:spacer width="20" height="10"/>
						<h:outputText value="Self-Registration Limit" styleClass="label nowrap" />
						<h:outputText value="#{(not empty selfRegConfigViewBean.configuration) ? ((selfRegConfigViewBean.configuration.registrationLimit gt -1) ? selfRegConfigViewBean.configuration.registrationLimit : 'Unlimited') : 'not configured'}"/>

						<!-- Row 3 -->	
						<h:outputText value="#{((projectManagementViewBean.isAbydProduct) or (projectManagementViewBean.isGlGpsProduct)) ? 'Project Code' : 'Engagement ID'}" styleClass="label nowrap" />
						<h:outputText value="#{(not empty projectManagementViewBean.projectCode) ? projectManagementViewBean.projectCode : '--'}"/>
						<p:spacer width="20" height="10"/>
						<h:outputText value="Created Date" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.createdDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy"/>
						</h:outputText>
						<p:spacer width="20" height="10"/>
						<p:spacer width="20" height="10"/>
						<p:spacer width="20" height="10"/>
						
						<!-- Row 4 -->	
						<h:outputText value="Project Type" styleClass="label nowrap" />
						<h:outputText value="#{projectManagementViewBean.projectType}" />
						<p:spacer width="20" height="10"/>
						<h:outputText value="Due Date" styleClass="label nowrap"/>
						<h:outputText value="#{(not empty projectManagementViewBean.dueDate) ? projectManagementViewBean.dueDate : '--'}">
							<f:convertDateTime pattern="dd-MMM-yyyy"/>
						</h:outputText>
						<p:spacer width="20" height="10"/>
						<p:spacer width="20" height="10"/>
						<p:spacer width="20" height="10"/>
						
					</h:panelGrid>
				</p:panel>
				<p:spacer height="10" />
				<p:outputPanel id="pnlToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:commandButton id="btnSelectAll"
								value="#{(projectManagementViewBean.selectAll) ? 'Select All' : 'Deselect All'}"
								actionListener="#{projectManagementControllerBean.handleSelectAll}"
								disabled="#{projectManagementViewBean.selectAllDisabled}"
								update="pnlToolbar tblProjectManagement"
								style="width: 100px !important" />

							<p:commandButton id="btnAddToSelected" value="Add to Clipboard"
								actionListener="#{projectManagementControllerBean.handleAddToClipboard}"
								disabled="#{projectManagementViewBean.addParticipantsToClipboardDisabled}"
								update="messages pnlProjectNav" />

							<p:separator />

							<p:menuButton value="Add Participants"
								rendered="#{not (projectManagementViewBean.participants.size() eq 0 and (projectManagementViewBean.isAbydProduct))}"
								styleClass="customMenuButton">
								<p:menuitem value="Import" onclick="importParticipants.show()"
									actionListener="#{importParticipantControllerBean.initForImport}"
									update="dlgImportParticipants"
									disabled="${projectManagementViewBean.importParticipantsDisabled}"
									icon="ui-icon-arrowreturnthick-1-s"
									styleClass="custom-menuitem" />
								<p:menuitem value="Add Single"
									onstart="pleaseWaitDialog.show();"
									oncomplete="pleaseWaitDialog.hide(); editUserDlg.show()"
									disabled="${projectManagementViewBean.addSingleParticipantDisabled}"
									actionListener="#{projectManagementControllerBean.handleParticipantInfoInitForNew}"
									update="editUser" icon="ui-icon-plusthick"
									styleClass="custom-menuitem" />
								<p:menuitem value="Select Existing"
									onclick="pleaseWaitDialog.show();"
									oncomplete="pleaseWaitDialog.hide();"
									actionListener="#{projectManagementControllerBean.handleProjectParticipantsInitForSelection}"
									onsuccess="selectExistingParticipants.show();"
									update="dlgAddExistingParticipants" partialSubmit="true"
									process="@this" icon="ui-icon-person"
									disabled="${projectManagementViewBean.addExistingParticipantDisabled}"
									styleClass="custom-menuitem" />
							</p:menuButton>
							<p:menuButton value="Add Participants"
								rendered="#{projectManagementViewBean.participants.size() eq 0 and (projectManagementViewBean.isAbydProduct)}"
								styleClass="customMenuButton">
								<p:menuitem value="Import"
									oncomplete="confirmImportParticipants.show()"
									disabled="${projectManagementViewBean.importParticipantsDisabled}"
									icon="ui-icon-arrowreturnthick-1-s"
									styleClass="custom-menuitem" />
								<p:menuitem value="Add Single"
									oncomplete="confirmAddSingleParticipant.show()"
									disabled="${projectManagementViewBean.addSingleParticipantDisabled}"
									icon="ui-icon-plusthick" styleClass="custom-menuitem" />
								<p:menuitem value="Select Existing"
									oncomplete="confirmSelectExistingParticipants.show()"
									disabled="${projectManagementViewBean.addExistingParticipantDisabled}"
									icon="ui-icon-person" styleClass="custom-menuitem" />
							</p:menuButton>

							<p:menuButton value="Manage Participant"
								styleClass="customMenuButton">
								<p:menuitem id="btnEditParticipant" value="Edit Participant"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); editUserDlg.show()"
									actionListener="#{projectManagementControllerBean.handleParticipantInfoInitForEdit}"
									update="editUser"
									disabled="#{projectManagementViewBean.editParticipantDisabled}"
									icon="ui-icon-pencil" styleClass="custom-menuitem" />
								<p:menuitem id="btnTrackParticipant" value="Track Participant"
									disabled="#{projectManagementViewBean.trackParticipantDisabled}"
									action="#{projectManagementControllerBean.handleTrackParticipant}"
									icon="ui-icon-tag" ajax="false" styleClass="custom-menuitem" />
								<p:menuitem id="btnRemoveParticipant" value="Remove Participant"
									onclick="confirmRemovePart.show()"
									disabled="#{projectManagementViewBean.delParticipantDisabled}"
									update="tblProjectManagement" icon="ui-icon-close"
									styleClass="custom-menuitem" />
							</p:menuButton>

							<p:separator />

							<p:menuButton value="Coaching Plan"
								rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and projectManagementViewBean.renderPrintCoachingPlan}"
								styleClass="customMenuButton">
								<p:menuitem id="btnSetCoachAndTimeFrame" value="Plan Setup"
									oncomplete="setCoachAndTimeFrameDlg.show()"
									actionListener="#{coachingPlanInfoControllerBean.initSetCoachAndTimeFrame}"
									update="setCoachAndTimeFrame"
									rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
									disabled="#{projectManagementViewBean.editParticipantDisabled}"
									icon="ui-icon-newwin" styleClass="custom-menuitem" />
								<p:menuitem id="btnPrintCoachingPlan" value="Print"
									actionListener="#{rcmHelperBean.generateCoachingPlanRcm}"
									oncomplete="window.open('#{coachingPlanInfoViewBean.printReportUrl}')"
									rendered="#{projectManagementViewBean.renderPrintCoachingPlan}"
									disabled="#{projectManagementViewBean.printCoachingPlanDisabled}"
									icon="ui-icon-print" styleClass="custom-menuitem" />
							</p:menuButton>

							<p:separator
								rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and projectManagementViewBean.renderPrintCoachingPlan}" />

							<p:commandButton id="btnAssignConsultant"
								value="Assign Consultant"
								rendered="#{projectManagementViewBean.renderAssignConsultant}"
								disabled="#{projectManagementViewBean.assignConsultantDisabled}"
								oncomplete="assignConsultant.show()"
								actionListener="#{projectManagementControllerBean.handleAssignConsultantInit}"
								update="dlgAssignConsultant" icon="ui-icon-newwin" />

							<p:commandButton id="btnActivateInstruments"
								value="Activate Instruments"
								rendered="#{projectManagementViewBean.renderActivateInstruments}"
								disabled="#{projectManagementViewBean.activateInstrumentsDisabled}"
								oncomplete="activateInstruments.show()"
								actionListener="#{projectManagementControllerBean.handleActivateInstrumentsInit}"
								update="dlgActivateInstruments" icon="ui-icon-newwin" />

							<p:commandButton id="btnSetProjectNorms"
								value="Set Project Norms"
								rendered="#{projectManagementViewBean.renderProjectNorms}"
								oncomplete="projectNormsDlg.show()"
								actionListener="#{projectManagementControllerBean.handleProjectNormsInit}"
								update="projectNorms"
								disabled="#{projectManagementViewBean.projectNormsDisabled}"
								icon="ui-icon-newwin" />

							<p:menuButton value="Reports">
								<p:menuitem
									id="btnCreateReports" value="Create Reports"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportWizardDlg.show()"
									actionListener="#{reportWizardControllerBean.initViewProjectMgmt}"
									update="reportWizard"
									rendered="#{projectManagementViewBean.renderCreateReports}"
									disabled="#{projectManagementViewBean.createReportsDisabled}"
									icon="ui-icon-gear"
									styleClass="custom-menuitem"/>

								<p:menuitem id="btnUploadReports" value="Upload Report"
									onstart="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide(); reportUploadDlg.show()"
									actionListener="#{reportUploadControllerBean.initUpload(projectManagementViewBean.selectedParticipants)}"
									update="reportUpload" process="@this" partialSubmit="true"
									rendered="#{projectManagementViewBean.renderReportUpload}"
									disabled="#{projectManagementViewBean.reportUploadDisabled}"
									icon="ui-icon-arrowreturnthick-1-n"
									styleClass="custom-menuitem" />

								<p:menuitem id="btnDownloadReports" value="Download Reports"
									onclick="pleaseWaitDialog.show()"
									action="#{projectManagementControllerBean.goToDownloadReports()}"
									rendered="#{projectManagementViewBean.renderDownloadReport}"
									disabled="#{projectManagementViewBean.downloadReportDisabled}"
									icon="ui-icon-arrowreturnthick-1-s"
									styleClass="custom-menuitem" />
							</p:menuButton>

							<p:menuButton value="Other Actions">
								<p:menuitem id="btnExport" value="Export Status"
									rendered="#{projectManagementViewBean.renderExportStatus}"
									actionListener="#{projectManagementControllerBean.handleExportInit}"
									oncomplete="exportDlg.show()" update="dlgExport"
									icon="ui-icon-arrowthick-1-e" styleClass="custom-menuitem" />
								<p:menuitem id="btnSendEmails" value="Send Emails"
									rendered="#{projectManagementViewBean.renderSendEmails}"
									disabled="#{projectManagementViewBean.sendEmailsButtonDisabled}"
									actionListener="#{projectManagementControllerBean.handleSendEmailsInit}"
									oncomplete="selectEmailTemplate.show();"
									update="dlgSelectEmailTemplate" icon="ui-icon-mail-closed"
									styleClass="custom-menuitem" />
								<p:menuitem id="btnRetake" value="Retake"
									rendered="#{projectManagementViewBean.isRenderViaEdgeStatus()}"
									disabled="#{projectManagementViewBean.isRetakeBtnDisabled()}" onclick="lowConfRetake.show();"
									icon="ui-icon-seek-first" styleClass="custom-menuitem" />
							<shiro:hasPermission name="exportUserCredentials">
									<p:menuitem id="btnExportCredentials"
										value="Export Credentials" onclick="exportCredentials.show()"
										update="dlgExportCredentials" icon="ui-icon-key"
										styleClass="custom-menuitem" />
							</shiro:hasPermission>
							<!-- TODO permissions -->
								<p:menuitem id="btnGenBulkUploadTemplate"
									value="Generate Import Template"
									onclick="generateBulkUploadTemplate.show()"
									update="dlgGenerateBulkUploadTemplate" icon="ui-icon-refresh"
									styleClass="custom-menuitem" />

							</p:menuButton>
						</p:toolbarGroup>

						<p:toolbarGroup align="right">
							<shiro:hasPermission name="loginAsParticipant">
								<p:commandButton id="btnLoginPpt" value="Log In"
									oncomplete="fireLogin()"
									disabled="#{projectManagementViewBean.logInDisabled}"
									actionListener="#{projectManagementControllerBean.loginParticipant}"
									update="pnlToolbar" />
								<script type="text/javascript">
										function fireLogin() {
											window.open($('#aLinkToPortal').attr("href"), "_blank", "width=900,height=640,location=1,resizable=1,toolbar=1,status=1,menubar=1,scrollbars=yes,top=0,left=0");
										}
									</script>
								<a id="aLinkToPortal" target="_blank"
									href="#{projectManagementViewBean.participantLoginUrl}?tkn=#{projectManagementViewBean.loginToken}&amp;username=#{projectManagementViewBean.loginUsername}&amp;faces-redirect=true"
									style="visibility: hidden; width: 0; height: 0">.</a>
							</shiro:hasPermission>
						</p:toolbarGroup>

						<p:toolbarGroup align="left" styleClass="scorecard-toolbar">
							<p:outputPanel id="pnlAdminButtons">
								<p:commandButton id="autoScore" value="Auto Score"
									disabled="#{projectManagementViewBean.addParticipantsToClipboardDisabled}"
									rendered="#{projectManagementViewBean.renderAutoScore}"
									oncomplete="scoreParticipantDlg.show()"
									actionListener="#{projectManagementControllerBean.handleAutoScore}"
									update="scoreParticipantPanel" />
								<p:spacer />
							</p:outputPanel>
						</p:toolbarGroup>
					</p:toolbar>
				</p:outputPanel>
				<p:spacer height="10" />

				<p:dataTable id="tblProjectManagement"
					selection="#{projectManagementViewBean.selectedParticipants}"
					widgetVar="projectManagementTable" var="participant"
					value="#{projectManagementViewBean.participants}" paginator="true"
					rows="10" selectionMode="multiple"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(projectManagementViewBean.participants)}"
					rowKey="#{participant.userId}"
					rowIndexVar="rowIndex">

					<p:ajax event="rowSelect"
						listener="#{projectManagementControllerBean.handleRowSelect}"
						update=":frmProjectManagement:pnlToolbar :frmProjectManagement:retakeParticipantsList :frmProjectManagement:pnlProjectNav" />
					<p:ajax event="rowUnselect"
						listener="#{projectManagementControllerBean.handleRowUnselect}"
						update=":frmProjectManagement:pnlToolbar :frmProjectManagement:retakeParticipantsList :frmProjectManagement:pnlProjectNav" />

					<f:facet name="header">
						<p:outputPanel styleClass="search-all-fields-table">
							<table>
								<tr>
									<td style="width: 25%; text-align: left">&nbsp;</td>
									<td style="width: 50%; text-align: center"><h:outputText
											value="Search all fields: " /> <p:inputText
											id="globalFilter" onkeyup="projectManagementTable.filter()"
											style="width:150px; background: none; background-color:#FFF;" />
									</td>
									<td style="width: 25%; text-align: right"><h:outputText
											value="View" styleClass="label" /> <p:spacer width="5" /> <h:selectOneMenu
											style="margin: 0px; padding: 0px" id="lstView"
											value="#{projectManagementControllerBean.viewType}">
											<f:selectItem itemLabel="Participants" itemValue="0" />
											<f:selectItem itemLabel="Participants and Optionals"
												itemValue="1" />
											<f:selectItem itemLabel="Detailed Status" itemValue="2" />
											<f:selectItem itemLabel="Assignments" itemValue="3" />
											<f:ajax render="tblProjectManagement"
												listener="#{projectManagementControllerBean.handleChangeViewType}" />
										</h:selectOneMenu></td>
								</tr>
							</table>
						</p:outputPanel>
					</f:facet>
					
					
				    <p:column style="width: 20px">
				        <h:outputText value="#{rowIndex+1}"/>
				    </p:column>
					
					<p:column sortBy="#{participant.lastName}"
						filterBy="#{participant}" filterMatchMode="contains"
						styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Participant" />
						</f:facet>
						<h:outputText value="#{participant}" />
					</p:column>
					<p:column sortBy="#{participant.optional1}"
						filterBy="#{participant.optional1}"
						rendered="#{projectManagementControllerBean.renderParticipants || projectManagementControllerBean.renderParticipantsAndOptionals}"
						styleClass="column-header-align-top" style="width: 125px">
						<f:facet name="header">
							<h:outputText value="Optional 1" />
						</f:facet>
						<h:outputText value="#{participant.optional1}" />
					</p:column>
					<p:column sortBy="#{participant.optional2}"
						filterBy="#{participant.optional2}"
						rendered="#{projectManagementControllerBean.renderParticipantsAndOptionals}"
						styleClass="column-header-align-top" style="width: 125px">
						<f:facet name="header">
							<h:outputText value="Optional 2" />
						</f:facet>
						<h:outputText value="#{participant.optional2}" />
					</p:column>
					<p:column sortBy="#{participant.optional3}"
						filterBy="#{participant.optional3}"
						rendered="#{projectManagementControllerBean.renderParticipantsAndOptionals}"
						styleClass="column-header-align-top" style="width: 125px">
						<f:facet name="header">
							<h:outputText value="Optional 3" />
						</f:facet>
						<h:outputText value="#{participant.optional3}" />
					</p:column>
					<p:column sortBy="#{participant.dateAdded}"
						filterBy="#{participant.dateAdded}" filterMatchMode="contains"
						rendered="#{projectManagementControllerBean.renderParticipants}"
						styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Setup Date"></h:outputText>
						</f:facet>
						<h:outputText value="#{participant.dateAdded}">
							<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column sortBy="#{participant.initialEmailDate}"
						filterBy="#{participant.initialEmailDate}"
						filterMatchMode="contains"
						rendered="#{projectManagementControllerBean.renderParticipants}"
						styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Initial Email"></h:outputText>
						</f:facet>
						<h:outputText value="#{participant.initialEmailDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<!-- Rendered obsolete by email rules
					<p:column sortBy="#{participant.reminderEmailDate}"
						filterBy="#{participant.reminderEmailDate}"
						filterMatchMode="contains"
						rendered="#{projectManagementControllerBean.renderParticipants}"
						styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Reminder Email"></h:outputText>
						</f:facet>
						<h:outputText value="#{participant.reminderEmailDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					-->
					<!-- TOOLS -->

					<p:column styleClass="column-header-align-top-center"
						rendered="#{!projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}">
						<f:facet name="header">
							<h:outputText value="TOOLS" />
						</f:facet>
						<p:lightBox iframe="true" width="660px" height="590px"
							rendered="#{projectManagementViewBean.renderUrlGenerator}">
							<h:outputLink
								value="#{projectManagementControllerBean.abydProperties.getProperty('urlGeneratorUrl')}">
								<f:param name="projId" value="#{sessionBean.project.projectId}" />
								<f:param name="partId" value="#{participant.userId}" />
								<p:graphicImage
									value="#{resource['images/icons/url_generator_16x16.png']}"
									alt="URL Generator" styleClass="noBorder" style="float:left" />
								<p:ajax event="click"
									listener="#{projectManagementControllerBean.handleClickUrlGenerator(participant.userId)}" />
							</h:outputLink>
						</p:lightBox>
						<p:lightBox iframe="true" width="660px" height="590px"
							rendered="#{projectManagementViewBean.renderTestData}">
							<h:outputLink
								value="#{projectManagementControllerBean.abydProperties.getProperty('testDataUrl')}">
								<f:param name="users_id" value="#{participant.userId}" />
								<f:param name="project_id"
									value="#{sessionBean.project.projectId}" />
								<p:graphicImage
									value="#{resource['images/icons/test_data_16x16.png']}"
									alt="Test Data" styleClass="noBorder" style="float:left" />
								<p:ajax event="click"
									listener="#{projectManagementControllerBean.handleClickTestData(participant.userId)}" />
							</h:outputLink>
						</p:lightBox>
						<!-- The following has been replaced by the BRECRC column -->
						<!--
						<p:lightBox
							iframe="true"
							width="660px"
							height="590px"
							rendered="#{participant.courseStatuses['bre'].status != null &amp;&amp; participant.courseStatuses['bre'].status == 3}">
							<h:outputLink
								value="#{projectManagementControllerBean.configProperties.getProperty('participantContentUrl')}">
								<f:param name="extParticipantId" value="#{participant.userId}" />
								<f:param name="extInstrumentId" value="bre" />
								<f:param name="type" value="consultantReview" />
								<p:graphicImage
									value="#{resource['images/icons/report.png']}"
									alt="Business Review Exercise - Consultant Review Content"
									styleClass="noBorder"
									style="float:left"/>
								<p:ajax event="click" listener="#{projectManagementControllerBean.handleClickBreReport(participant.userId)}"/>
							</h:outputLink>
						</p:lightBox>
						 -->
						<h:outputLink
							value="#{projectManagementControllerBean.configProperties.getProperty('participantContentUrl')}"
							title="Particpant Review Content" target="_blank"
							rendered="#{projectManagementControllerBean.isPreworkInstrument('iblva') and participant.courseStatuses['iblva'].status == 3}">
							<f:param name="extParticipantId" value="#{participant.userId}" />
							<f:param name="extInstrumentId" value="iblva" />
							<f:param name="type" value="participantReview" />
							<p:graphicImage
								value="#{resource['images/icons/participant_review_16x16.png']}"
								title="Particpant Review Content" styleClass="noBorder"
								alt="Particpant Review Content" />
						</h:outputLink>

						<!--
				    <h:outputLink value="#{projectManagementControllerBean.configProperties.getProperty('participantContentUrl')}" title="Consultant Review Content" target="_blank" rendered="#{projectManagementControllerBean.isPreworkInstrument('iblva') and participant.courseStatuses['iblva'].status == 3}">
						<f:param name="extParticipantId" value="#{participant.userId}" />
						<f:param name="extInstrumentId" value="iblva" />
						<f:param name="type" value="consultantReview" />
						<p:graphicImage value="#{resource['images/icons/consultant_review_16x16.png']}" title="Consultant Review Content" style="border-width : 0px" alt="Consultant Review Content"/>
				    </h:outputLink>
				    -->
					</p:column>
					<p:column styleClass="instrument-column-header-aggregate"
						rendered="#{projectManagementViewBean.isRenderBreCrc() and not empty projectManagementControllerBean.viewType and projectManagementControllerBean.viewType lt 2}">
						<f:facet name="header">
							<h:outputText id="BRECRC_head" value="BRECRC" />
							<pe:tooltip for="BRECRC_head"
								value="Business Review Exercise - Consultant Review Content"
								showEffect="fadeIn" hideEffect="fadeIn"></pe:tooltip>
						</f:facet>
						<h:outputLink
							value="#{projectManagementControllerBean.configProperties.getProperty('participantContentUrl')}"
							title="Consultant Review Content" target="_blank"
							rendered="#{participant.courseStatuses['bre'] != null and participant.courseStatuses['bre'].status == 3}">
							<f:param name="extParticipantId" value="#{participant.userId}" />
							<f:param name="extInstrumentId" value="bre" />
							<f:param name="type" value="consultantReview" />
							<p:graphicImage value="#{resource['images/icons/report.png']}"
								title="Consultant Review Content" styleClass="noBorder"
								alt="Business Review Exercise - Consultant Review Content" />
						</h:outputLink>
					</p:column>
					<!-- 					<p:column styleClass="instrument-column-header-aggregate" -->
					<!-- 						rendered="#{projectManagementViewBean.isRenderViaEdgeStatus() and not empty projectManagementControllerBean.viewType and projectManagementControllerBean.viewType lt 2}"> -->
					<!-- 						<f:facet name="header"> -->
					<!-- 							<h:outputText id="VERE_head" value="VERE" /> -->
					<!-- 							<pe:tooltip for="VERE_head" value="viaEDGE Repeat" -->
					<!-- 								showEffect="fadeIn" hideEffect="fadeIn"></pe:tooltip> -->
					<!-- 						</f:facet> -->
					<!-- 						<p:commandLink -->
					<!-- 							rendered="#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses) == 3 and projectManagementControllerBean.getViaEdgePartConf(participant.userId) == 'red'}" -->
					<!-- 							actionListener="#{projectManagementControllerBean.handleRetakeClick(participant.userId, participant.firstName, participant.lastName)}" -->
					<!-- 							update=":frmProjectManagement:lowConfRetakeText :frmProjectManagement:emailRetakeText" -->
					<!-- 							oncomplete="lowConfRetake.show()"> -->
					<!-- 							<p:graphicImage -->
					<!-- 								value="#{resource['images/icons/refresh_16x16.png']}" -->
					<!-- 								alt="Retake viaEDGE" styleClass="noBorder" style="float:left" /> -->
					<!-- 						</p:commandLink> -->
					<!-- 					</p:column> -->

					<!-- Pre-work starts here -->

					<p:column
						sortBy="#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses)}"
						filterBy="#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses)}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header-aggregate"
						filterStyleClass="instrument-column-header-filter"
						rendered="#{projectManagementControllerBean.isPreworkAggregate() and !projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}">
						<f:facet name="header">
							<h:outputText value="PRE" />
						</f:facet>
						<!-- show viaEdge confidence color on completed course status -->
						<div
							class="status-#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses)}"></div>
					</p:column>
					<!-- viaEdge conf status -->
					<p:column
						sortBy="#{projectManagementControllerBean.getViaEdgePartConf(participant.userId)}"
						filterBy="#{projectManagementControllerBean.getViaEdgePartConf(participant.userId)}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.confOptionsPrework}"
						styleClass="instrument-column-header-aggregate"
						filterStyleClass="instrument-column-header-filter"
						rendered="#{projectManagementViewBean.isRenderViaEdgeStatus() and not empty projectManagementControllerBean.viewType and projectManagementControllerBean.viewType lt 2}">
						<f:facet name="header">
							<h:outputText id="VECI_head" value="VECI" />
							<pe:tooltip for="VECI_head" value="viaEDGE Confidence Index"
								showEffect="fadeIn" hideEffect="fadeIn" />
						</f:facet>
						<!-- show viaEdge confidence color on completed course status -->
						<div
							class="veConf-#{projectManagementControllerBean.getViaEdgePartConf(participant.userId)}-#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses)}">
							<h:outputText
								rendered="#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses) == 2 or projectManagementControllerBean.getPreworkStatus(participant.courseStatuses) == 3}"
								value="#{projectManagementControllerBean.getViaEdgePartConfIdx(participant.userId)}"></h:outputText>
						</div>
					</p:column>

					<!--
					This should work when we upgrade to Primefaces 3.2
				<p:columns value="#{projectManagementViewBean.preworkColumns}" var="column" columnIndexVar="columnIdx" filterMatchMode="exact" filterOptions="#{projectManagementControllerBean.statusOptionsPrework}" styleClass="instrument-column-header" filterStyleClass="instrument-column-header-filter" sortBy="#{participant.courseStatuses[column.courseCode].status}">
					<f:facet name="header">
						<h:outputText value="#{column.header}"/>
					</f:facet>
					<div class="status-#{participant.courseStatuses[column.courseCode].status}"/>
				</p:columns>
				-->

					<p:column sortBy="#{participant.courseStatuses['demo'].status}"
						filterBy="#{participant.courseStatuses['demo'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('demo')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="DEM" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['demo'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['chq'].status}"
						filterBy="#{participant.courseStatuses['chq'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('chq')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="CHQ" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['chq'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['piq'].status}"
						filterBy="#{participant.courseStatuses['piq'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('piq')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="PIQ" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['piq'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['gpi'].status}"
						filterBy="#{participant.courseStatuses['gpi'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('gpi')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="GPI" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['gpi'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['gpil'].status}"
						filterBy="#{participant.courseStatuses['gpil'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('gpil')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="GPI" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['gpil'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lei'].status}"
						filterBy="#{participant.courseStatuses['lei'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('lei')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LEI" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lei'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['cs'].status}"
						filterBy="#{participant.courseStatuses['cs'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('cs')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="CS" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['cs'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['cs2'].status}"
						filterBy="#{participant.courseStatuses['cs2'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('cs2')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="CS" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['cs2'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['rv'].status}"
						filterBy="#{participant.courseStatuses['rv'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('rv')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="RV" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['rv'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['rv2'].status}"
						filterBy="#{participant.courseStatuses['rv2'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('rv2')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="RV2" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['rv2'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['wg'].status}"
						filterBy="#{participant.courseStatuses['wg'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('wg')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="WGE" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['wg'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['finex'].status}"
						filterBy="#{participant.courseStatuses['finex'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('finex')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="FIN" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['finex'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['steib'].status}"
						filterBy="#{participant.courseStatuses['steib'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('steib')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="STEIB" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['steib'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['sceib'].status}"
						filterBy="#{participant.courseStatuses['sceib'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('sceib')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="SCEIB" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['sceib'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['iblva'].status}"
						filterBy="#{participant.courseStatuses['iblva'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('iblva')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="IBLVA" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['iblva'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lagil'].status}"
						filterBy="#{participant.courseStatuses['lagil'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('lagil')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LAGIL" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lagil'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['bre'].status}"
						filterBy="#{participant.courseStatuses['bre'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('bre')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="BRE" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['bre'].status}" />
					</p:column>
					<!-- 
						<p:column sortBy="#{participant.courseStatuses['kfp'].status}"
							filterBy="#{participant.courseStatuses['kfp'].status}"
							filterMatchMode="exact"
							filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
							styleClass="instrument-column-header"
							rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
							filterStyleClass="instrument-column-header-filter">
							<f:facet name="header">
								<h:outputText value="ALP" />
							</f:facet>
							<div class="status-#{participant.courseStatuses['kfp'].status}" />
						</p:column>
					-->
					<p:column sortBy="#{participant.courseStatuses['kfp1'].status}"
						filterBy="#{participant.courseStatuses['kfp1'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="ALP1" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['kfp1'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['kfp2'].status}"
						filterBy="#{participant.courseStatuses['kfp2'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="ALP2" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['kfp2'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['vedge'].status}"
						filterBy="#{participant.courseStatuses['vedge'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('vedge')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="viaEDGE" />
						</f:facet>
						<!-- div class="status-#{participant.courseStatuses['vedge'].status}" / -->
						<div
							class="status-#{participant.courseStatuses['ve_both'].status}" />
					</p:column>
					<p:column
						sortBy="#{participant.courseStatuses['vedge_nodemo'].status}"
						filterBy="#{participant.courseStatuses['vedge_nodemo'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('vedge_nodemo')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="VEDGEND" />
						</f:facet>
						<!-- div class="status-#{participant.courseStatuses['vedge_nodemo'].status}" / -->
						<div
							class="status-#{participant.courseStatuses['ve_both'].status}" />
					</p:column>

					<!-- "Day of" starts here -->

					<p:column
						sortBy="#{projectManagementControllerBean.getAssessmentDayStatus(participant.courseStatuses)}"
						filterBy="#{projectManagementControllerBean.getAssessmentDayStatus(participant.courseStatuses)}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header-aggregate"
						filterStyleClass="instrument-column-header-filter"
						rendered="#{projectManagementControllerBean.isAssessmentDayAggregate() and !projectManagementControllerBean.renderAssignments}">
						<f:facet name="header">
							<h:outputText value="DAY" />
						</f:facet>
						<div
							class="status-#{projectManagementControllerBean.getAssessmentDayStatus(participant.courseStatuses)}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['rv'].status}"
						filterBy="#{participant.courseStatuses['rv'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('rv')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="RV" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['rv'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['wg'].status}"
						filterBy="#{participant.courseStatuses['wg'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('wg')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="WGE" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['wg'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['finex'].status}"
						filterBy="#{participant.courseStatuses['finex'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('finex')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="FIN" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['finex'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lvapm'].status}"
						filterBy="#{participant.courseStatuses['lvapm'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('lvapm')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LVAPM" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lvapm'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lvadr'].status}"
						filterBy="#{participant.courseStatuses['lvadr'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('lvadr')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LVADR" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lvadr'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lvabm'].status}"
						filterBy="#{participant.courseStatuses['lvabm'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('lvabm')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LVABM" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lvabm'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lvaci'].status}"
						filterBy="#{participant.courseStatuses['lvaci'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('lvaci')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LVACI" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lvaci'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['vedge'].status}"
						filterBy="#{participant.courseStatuses['vedge'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('vedge')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="viaEDGE" />
						</f:facet>
						<!-- div class="status-#{participant.courseStatuses['vedge'].status}" / -->
						<div
							class="status-#{participant.courseStatuses['ve_both'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['lagil'].status}"
						filterBy="#{participant.courseStatuses['lagil'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('lagil')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LAGIL" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['lagil'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['livsim'].status}"
						filterBy="#{participant.courseStatuses['livsim'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus  &amp;&amp; projectManagementControllerBean.isAssessmentDayInstrument('livsim')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="LIVSIM" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['livsim'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['bre'].status}"
						filterBy="#{participant.courseStatuses['bre'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus  &amp;&amp; projectManagementControllerBean.isAssessmentDayInstrument('bre')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="BRE" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['bre'].status}" />
					</p:column>
					<p:column sortBy="#{participant.courseStatuses['iblva'].status}"
						filterBy="#{participant.courseStatuses['iblva'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsAssessmentDay}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isAssessmentDayInstrument('iblva')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="IBLVA" />
						</f:facet>
						<div class="status-#{participant.courseStatuses['iblva'].status}" />
					</p:column>

					<p:column
						rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}"
						sortBy="#{participant.coachingPlanObj.coachFirstname}"
						filterBy="#{participant.coachingPlanObj.coachFirstname}"
						filterMatchMode="contains" styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Coach"></h:outputText>
						</f:facet>
						<h:outputText
							value="#{participant.coachingPlanObj.coachFirstname} #{participant.coachingPlanObj.coachLastname}">
						</h:outputText>
					</p:column>
					<p:column
						rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}"
						sortBy="#{participant.coachingPlanObj.startDate}"
						filterBy="#{participant.coachingPlanObj.startDate}"
						filterMatchMode="contains" styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="Start Date"></h:outputText>
						</f:facet>
						<h:outputText value="#{participant.coachingPlanObj.startDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column
						rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}"
						sortBy="#{participant.coachingPlanObj.endDate}"
						filterBy="#{participant.coachingPlanObj.endDate}"
						filterMatchMode="contains" styleClass="column-header-align-top"
						style="width: 110px; text-align: center">
						<f:facet name="header">
							<h:outputText value="End Date"></h:outputText>
						</f:facet>
						<h:outputText value="#{participant.coachingPlanObj.endDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column
						sortBy="#{participant.coachingPlanObj.coachingPlanStatusTypeId}"
						filterBy="#{participant.coachingPlanObj.coachingPlanStatusTypeId}"
						filterMatchMode="exact" styleClass="column-header-align-top"
						style="width: 110px; text-align: center"
						rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe and !projectManagementControllerBean.renderAssignments}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="Status"></h:outputText>
						</f:facet>
						<div
							class="status-#{participant.coachingPlanObj.coachingPlanStatusTypeId+1}" />
					</p:column>
					<p:column sortBy="#{participant.consultants}"
						filterBy="#{participant.consultants}"
						rendered="#{projectManagementControllerBean.renderAssignments}"
						styleClass="column-header-align-top">
						<f:facet name="header">
							<h:outputText value="Assigned Consultant(s)" />
						</f:facet>
						<h:outputText
							value="#{(empty participant.consultants) ? 'not assigned' : participant.consultantsToString()}" />
					</p:column>

				</p:dataTable>
			</div>

			<!-- DIALOGS -->

			<h:outputScript library="js" name="pdiNhImportPoll.js" />

			<p:dialog header="Import Participants" widgetVar="importParticipants"
				resizable="false" width="940" modal="true">
				<p:outputPanel id="dlgImportParticipants">
					<pdinh:importParticipants />
					<p:separator />
					<p:commandButton value="Close" styleClass="submit-dialog-button"
						onclick="importParticipants.hide()" type="button" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog header="Select Existing Participants"
				id="selectExistingPpt" widgetVar="selectExistingParticipants"
				resizable="false"
				onHide="availableParticipantsTable.clearFilters(); availableParticipantsTable.unselectAllRows();"
				modal="true" width="940">
				<p:outputPanel id="dlgAddExistingParticipants">
					<pdinh:projectParticipants />
					<p:separator />
					<p:commandButton value="Add Participants"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,selectExistingParticipants)"
						actionListener="#{projectManagementControllerBean.handleProjectParticipantsSave}"
						update="tblProjectManagement pnlToolbar updatePDAPpt" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:confirmDialog header="PDA Participant Update Failed"
				id="updatePDAPpt" widgetVar="updatePDAPptDlg" resizable="false"
				modal="true" width="400"
				visible="#{projectParticipantsViewBean.updatePDAError}"
				message="Participants were added to the project, but the attempt to update records in PDA failed.">
				<p:commandButton value="OK"
					actionListener="#{projectParticipantsControllerBean.resetPDAError}"
					oncomplete="updatePDAPptDlg.hide()" />
			</p:confirmDialog>

			<p:dialog id="editUserDlg" widgetVar="editUserDlg"
				header="Participant Information" modal="true" resizable="false"
				width="940" dynamic="true" onShow="participantInfoTabs.select(0)">
				<p:outputPanel id="editUser">
					<pdinh:participantPanel />
					<p:separator />
					<p:commandButton id="savePptButton"
						styleClass="submit-dialog-button"
						value="#{participantInfoViewBean.bottomButtonLabel}"
						disabled="#{participantInfoViewBean.saveButtonDisabled}"
						oncomplete="handleCompletionRequest(xhr,status,args,editUserDlg)"
						actionListener="#{projectManagementControllerBean.handleParticipantInfoSave}"
						update="tblProjectManagement pnlToolbar editUser savePptButton" />
					<p:commandButton value="Close" type="button"
						styleClass="submit-dialog-button" onclick="editUserDlg.hide()" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />

				</p:outputPanel>
			</p:dialog>

			<p:dialog widgetVar="scoreParticipantDlg" header="Score Participant"
				modal="true" resizable="false" width="940">
				<p:outputPanel id="scoreParticipantPanel">
					<pdinh:scoreFromXml />
					<p:separator></p:separator>
					<p:commandButton styleClass="submit-dialog-button" value="Track"
						oncomplete="handleCompletionRequest(xhr,status,args,scoreParticipantDlg)"
						actionListener="#{projectManagementControllerBean.handleTrack}"
						update="scoreParticipantPanel" process="scoreParticipantPanel" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog id="scoreFromXmlUserDlg" widgetVar="scoreFromXmlUserDlg"
				header="Participant Information" modal="true" resizable="false"
				dynamic="true" width="940">
				<p:outputPanel id="scoreUser">
					<pdinh:scoreFromXml />
					<p:separator />
					<p:commandButton styleClass="submit-dialog-button"
						value="#{participantInfoViewBean.bottomButtonLabel}"
						oncomplete="handleCompletionRequest(xhr,status,args,scoreFromXmlUserDlg)"
						actionListener="#{projectManagementControllerBean.handleParticipantInfoSave}"
						update="tblProjectManagement pnlToolbar scoreFromXmlUserDlg" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog widgetVar="setCoachAndTimeFrameDlg"
				header="Coaching Plan Settings" modal="true" resizable="false"
				width="940">
				<p:outputPanel id="setCoachAndTimeFrame">
					<p:messages id="coachMsgs" showDetail="true" />
					<pdinh:setCoachAndTimeFrame
						saveButtonId=":frmProjectManagement:saveSetCoachAndTimeFrameButton" />
					<p:separator />
					<p:commandButton value="Cancel" styleClass="submit-dialog-button"
						onclick="setCoachAndTimeFrameDlg.hide()" type="button" />
					<p:commandButton id="saveSetCoachAndTimeFrameButton"
						styleClass="submit-dialog-button"
						value="#{participantInfoViewBean.bottomButtonLabel}"
						oncomplete="handleCompletionRequest(xhr,status,args,setCoachAndTimeFrameDlg)"
						actionListener="#{projectManagementControllerBean.handleCoachingPlanSave}"
						disabled="#{coachingPlanInfoViewBean.disableSave}"
						update="coachMsgs tblProjectManagement" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog id="projectNormsDlg" widgetVar="projectNormsDlg"
				header="#{projectManagementViewBean.normHeaderTitle}" modal="true"
				resizable="false" width="940">
				<p:outputPanel id="projectNorms">
					<pdinh:projectNorms />
					<p:separator />
					<p:commandButton styleClass="submit-dialog-button" value="Save"
						oncomplete="handleCompletionRequest(xhr,status,args,projectNormsDlg)"
						actionListener="#{projectManagementControllerBean.handleProjectNormsSave}"
						update="tblProjectManagement pnlToolbar projectNormsDlg projectNorms" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>
			<p:dialog widgetVar="activateInstruments"
				header="Activate Instruments" modal="true" resizable="false"
				width="940">
				<p:outputPanel id="dlgActivateInstruments">
					<pdinh:activateInstruments />
					<p:separator />
					<p:commandButton value="Activate Instruments"
						oncomplete="handleCompletionRequest(xhr,status,args,activateInstruments)"
						styleClass="submit-dialog-button"
						actionListener="#{projectManagementControllerBean.handleActivateInstruments}"
						update="tblProjectManagement pnlToolbar" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

				<p:outputPanel id="reportWizard">
				<pdinh:reportWizard/>
			</p:outputPanel>

			<p:outputPanel id="reportUpload">
				<pdinh:reportUpload />
			</p:outputPanel>

			<p:outputPanel id="selfRegistrationConfiguration">
				<kf:selfRegistrationConfiguration updateOnSave=":frmProjectManagement:pnlProjectInformation"/>
			</p:outputPanel>

			<p:dialog modal="true" header="Project Documents"
				widgetVar="projectDocuments" resizable="false" width="940">
				<p:outputPanel id="projectDocumentsSetupDisplay">
					<pdinh:documentsPanel id="cmpProjectDocs"
						viewBean="#{projectDocumentsViewBean}"
						controllerBean="#{projectDocumentsControllerBean}" />
					<p:separator />
					<p:commandButton value="Save" styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,projectDocuments)"
						actionListener="#{projectManagementControllerBean.handleProjectDocumentsSave}"
						update="pnlProjectInformation" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog modal="true" header="Export Status" widgetVar="exportDlg"
				resizable="false" width="940">
				<p:outputPanel id="dlgExport">
					<pdinh:export />
				</p:outputPanel>
			</p:dialog>

			<p:dialog modal="true" header="Select Email Template"
				widgetVar="selectEmailTemplate" closable="false"
				closeOnEscape="true" width="940" position="center" resizable="false">
				<p:outputPanel id="dlgSelectEmailTemplate">
					<pdinh:selectEmailTemplate />
					<p:separator />
					<p:commandButton value="Cancel" styleClass="submit-dialog-button"
						onclick="selectEmailTemplate.hide()" type="button" />
					<p:commandButton id="btnSend" value="Send Email"
						actionListener="#{projectManagementControllerBean.handleSendEmails}"
						oncomplete="handleCompletionRequest(xhr,status,args,selectEmailTemplate)"
						styleClass="submit-dialog-button"
						update="tblProjectManagement pnlToolbar" partialSubmit="true"
						process="dlgSelectEmailTemplate" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>
			<p:dialog header="Select Consultant" widgetVar="assignConsultant"
				modal="true" resizable="false" closable="false" closeOnEscape="true"
				showEffect="fade" width="600">
				<p:outputPanel id="dlgAssignConsultant">
					<pdinh:assignConsultant />
					<p:separator />
					<p:commandButton value="Cancel" styleClass="submit-dialog-button"
						onclick="assignConsultant.hide()" update="dlgAssignConsultant"
						partialSubmit="true" process="@this">
					</p:commandButton>
					<p:commandButton value="Save" styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,assignConsultant)"
						actionListener="#{projectManagementControllerBean.handleAssignConsultant}"
						update="tblProjectManagement pnlToolbar" partialSubmit="true"
						process="dlgAssignConsultant" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog modal="true" header="Export Credentials"
				widgetVar="exportCredentials" closable="false" closeOnEscape="true"
				width="940" position="center" resizable="false">
				<p:outputPanel id="dlgExportCredentials">
					<pdinh:exportCredentials
						list="#{projectManagementViewBean.selectedParticipants}" />
					<p:separator />
					<p:commandButton value="Close" styleClass="submit-dialog-button"
						onclick="exportCredentials.hide()" type="button" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog header="Configuration"
				widgetVar="generateBulkUploadTemplate" modal="true" closable="false"
				resizable="false" closeOnEscape="true" width="550" showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="dlgGenerateBulkUploadTemplate">
					<pdinh:generateBulkUploadTemplate
						viewBean="#{generateBulkUploadTemplateViewBean}" />
					<p:separator />
					<p:commandButton value="Cancel" styleClass="submit-dialog-button"
						type="button" onclick="generateBulkUploadTemplate.hide()" />
					<p:commandButton value="Download" ajax="false"
						styleClass="submit-dialog-button"
						onclick="PrimeFaces.monitorDownload(startBulkUploadTemplateDownload, stopBulkUploadTemplateDownload); generateBulkUploadTemplate.hide()">
						<p:fileDownload
							value="#{generateBulkUploadTemplateControllerBean.download()}" />
				  	</p:commandButton>
				</p:outputPanel>
			</p:dialog>
			<p:dialog header="Confirm retake" widgetVar="lowConfRetake"
				modal="true" resizable="false" closable="true" closeOnEscape="true"
				showEffect="fade" width="480">
				<p:outputPanel layout="block" id="retakeParticipantsList">
					<h:outputText
						value="Retake will discard current instrument responses and set status to Not Started. Do you really want the selected Participant(s) to retake this instrument?"></h:outputText>
					<br />
					<h:outputText style="font-style:italic;"
						value="Note: Only users with a 'red' low confidence score can retake the assessment."></h:outputText>
					<ui:repeat
						value="#{projectManagementViewBean.selectedParticipants}" var="p">
						<p:outputPanel
							rendered="#{projectManagementControllerBean.getViaEdgePartConf(p.userId) == 'red' and (p.courseStatuses['ve_both'].status) == 3}">
							<br />
							<p:commandButton id="removeBtn"
								actionListener="#{projectManagementControllerBean.removeSelectedParticipant(p)}"
								update=":frmProjectManagement:retakeParticipantsList :frmProjectManagement:tblProjectManagement"
								icon="ui-icon-circle-minus" />
							<p:tooltip for="removeBtn" value="unselect this user"></p:tooltip>
							<p:spacer />
							<b><h:outputText value="#{p.firstName} "></h:outputText> <h:outputText
									value="#{p.lastName}"></h:outputText></b>
						</p:outputPanel>
					</ui:repeat>
					<p:commandButton widgetVar="retakeBtnNo" value="No"
						styleClass="submit-dialog-button" onclick="lowConfRetake.hide();"
						type="button" />
					<p:commandButton widgetVar="retakeBtnYes" value="Yes"
						styleClass="submit-dialog-button"
						actionListener="#{projectManagementControllerBean.handleRepeatViaEdge(projectManagementViewBean.selectedParticipants)}"
						update=":frmProjectManagement:retakeParticipantsList :frmProjectManagement:tblProjectManagement :frmProjectManagement:dlgSelectEmailTemplate  :frmProjectManagement:messages"
						onstart="retakeBtnYes.disable(); retakeBtnNo.disable();"
						onsuccess="retakeBtnYes.enable(); retakeBtnNo.enable(); lowConfRetake.hide(); selectEmailTemplate.show();"
						onerror="retakeBtnYes.disable(); lowConfRetake.hide();" />
					<pdinh:ajaxStatus styleClass="ajax-status-in-dialog" layout="block" />
				</p:outputPanel>
			</p:dialog>


			<!-- CONFIRM DIALOGS -->

			<p:confirmDialog header="Warning"
				widgetVar="confirmImportParticipants"
				message="Warning, once you add a participant to this project, the Instruments and Project Set-up 1 will be locked. Therefore, confirm your project set-up is complete and reviewed. Do you still want to add participants?"
				width="550">
				<p:commandButton value="No" styleClass="submit-dialog-button"
					onclick="confirmImportParticipants.hide();" type="button" />
				<p:commandButton value="Yes" styleClass="submit-dialog-button"
					actionListener="#{importParticipantControllerBean.initForImport}"
					update="dlgImportParticipants"
					oncomplete="confirmImportParticipants.hide();importParticipants.show()" />
			</p:confirmDialog>

			<p:confirmDialog header="Warning" widgetVar="confirmRemovePart"
				message="You are removing the selected participant(s) from the project.  Are you are sure you want to do this?"
				width="550">
				<p:commandButton value="No" styleClass="submit-dialog-button"
					onclick="confirmRemovePart.hide();" type="button" />
				<p:commandButton value="Yes" styleClass="submit-dialog-button"
					actionListener="#{projectManagementControllerBean.handleDeleteParticipants}"
					update="tblProjectManagement pnlToolbar"
					oncomplete="confirmRemovePart.hide(); projectManagementTable.clearFilters();" />
				<pdinh:ajaxStatus styleClass="ajax-status-in-confirm-dialog"
					layout="block" />
			</p:confirmDialog>

			<p:confirmDialog header="Warning"
				widgetVar="confirmAddSingleParticipant"
				message="Warning, once you add a participant to this project, the Instruments and Project Set-up 1 will be locked. Therefore, confirm your project set-up is complete and reviewed. Do you still want to add participants?"
				width="550">
				<p:commandButton value="No" styleClass="submit-dialog-button"
					onclick="confirmAddSingleParticipant.hide();" type="button" />
				<p:commandButton value="Yes" styleClass="submit-dialog-button"
					actionListener="#{projectManagementControllerBean.handleParticipantInfoInitForNew}"
					update="editUser"
					oncomplete="confirmAddSingleParticipant.hide();editUserDlg.show()" />
			</p:confirmDialog>

			<p:confirmDialog header="Warning"
				widgetVar="confirmSelectExistingParticipants"
				message="Warning, once you add a participant to this project, the Instruments and Project Set-up 1 will be locked. Therefore, confirm your project set-up is complete and reviewed. Do you still want to add participants?"
				width="550">
				<p:commandButton value="No" styleClass="submit-dialog-button"
					onclick="confirmSelectExistingParticipants.hide();" type="button" />
				<p:commandButton value="Yes" styleClass="submit-dialog-button"
					actionListener="#{projectManagementControllerBean.handleProjectParticipantsInitForSelection}"
					update="dlgAddExistingParticipants"
					oncomplete="confirmSelectExistingParticipants.hide();selectExistingParticipants.show()" />
			</p:confirmDialog>

			<p:growl id="messages" life="3000" />

		</h:form>
	</ui:define>
</ui:composition>
</html>