<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<h:outputScript library="js" name="reportCenter.js" target="head"/>
	<f:metadata>
		<f:viewParam name="projectId"
			value="#{reportCenterViewBean.projectId}" />
		<f:viewParam name="initRepository"
			value="#{reportCenterViewBean.initRepository}" />
		<f:viewParam name="requestId"
			value="#{reportCenterViewBean.requestId}" />
		<f:event type="preRenderView"
			listener="#{reportCenterControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">

		<h:form id="frmReportCenter" >
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Project Management" url="projectManagement.xhtml?faces-redirect=true" rendered="#{not empty sessionBean.selectedProject}" />
				<p:menuitem value="Report Center" url="reportCenter.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav reportCenterStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<p:outputPanel
				id="outputMainPanelError"
				styleClass="main-content"
				rendered="#{not reportCenterViewBean.mainContentRendered}">
				<p:messages globalOnly="true" showDetail="true"/>
			</p:outputPanel>
			<p:outputPanel
				id="outputMainPanel"
				styleClass="main-content"
				rendered="#{reportCenterViewBean.mainContentRendered}">
				<p:messages globalOnly="true" showDetail="true"/>
				<p:outputPanel id="pageTitleBar">
					<p:panelGrid columns="1" styleClass="float-right">
						<p:panelGrid columns="2" rendered="#{not reportCenterViewBean.userContext}">
							<p:outputLabel value="Projects" styleClass="label"
								for="lstProjects" rendered="#{not reportCenterViewBean.userContext}"/>
							<p:selectOneMenu id="lstProjects"
								value="#{sessionBean.selectedProject}"
								rendered="#{not reportCenterViewBean.userContext}">
								<f:selectItem itemLabel="All Projects" itemValue=""/>
								<f:selectItems var="project" value="#{sessionBean.projects}"
									itemValue="#{project.projectId}" itemLabel="#{project.name}" />
								<p:ajax
									listener="#{reportCenterControllerBean.handleChangeProject}"
									onstart="pleaseWaitDialog.show();"
									oncomplete="pleaseWaitDialog.hide()"
									update="@form"
									process="@this"
									partialSubmit="true"/>
							</p:selectOneMenu>
						</p:panelGrid>
						<p:outputPanel styleClass="float-right">
							<kf:systemHeartbeat
								viewBean="#{systemHeartbeatViewBean}"
								controllerBean="#{systemHeartbeatControllerBean}"
								polling="false"
								pollingInterval="30"
								viewType="button"
								showBulkUpload="false"
								showReporting="true"/>
						</p:outputPanel>
					</p:panelGrid>
					<h:panelGrid columns="1" styleClass="float-left">
						<h:outputText value="#{sessionBean.company.coName.concat((reportCenterViewBean.projectContext) ? ': '.concat(sessionBean.project.name) : '')}" styleClass="h2" />
						<h:panelGrid columns="2">
							<h:outputText value="#{reportCenterViewBean.pageTitle}" styleClass="h4"/>
							<p:commandButton
								id="changeContext"
								value="( change )"
								type="button"
								styleClass="clear-button clear-button-grey"
								rendered="#{reportCenterViewBean.changeContextRendered}"/>
						</h:panelGrid>
					</h:panelGrid>
					<div style="clear:both"/>

					<p:menu overlay="true" trigger="changeContext" my="left top" at="left bottom">
					    <p:menuitem
					    	value="Client"
					    	actionListener="#{reportCenterControllerBean.changeClientContext}"
					    	rendered="#{reportCenterViewBean.changeClientContextRendered}"
					    	update="@form"
					    	process="@this"
					    	partialSubmit="true"/>
					    <p:menuitem
					    	value="Project"
					    	actionListener="#{reportCenterControllerBean.changeProjectContext}"
					    	rendered="#{reportCenterViewBean.changeProjectContextRendered}"
					    	update="@form"
					    	process="@this"
					    	partialSubmit="true"/>
					</p:menu>

				</p:outputPanel>

				<p:separator />

				<p:outputPanel id="pnlInformations">
					<p:panel id="pnlProjectInformation" header="Project Information"
						toggleable="true" rendered="#{reportCenterViewBean.projectContext}"
						collapsed="#{reportCenterViewBean.requestDetailsRendered}">

						<h:panelGrid border="0" columns="5">
							<h:outputText value="Project Name"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.projectName}" />
							<p:spacer width="20" />

							<h:outputText value="Target Level"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.targetLevel}" />


							<h:outputText value="Project ID"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.projectId}" />

							<p:spacer width="20" />
							<h:outputText value="Created By"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.createdBy}" />

							<h:outputText
								value="#{(reportCenterViewBean.hasProjectCodeLabel) ? 'Project Code' : 'Engagement ID'}"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.projectCode}" />

							<p:spacer width="20" />
							<h:outputText value="Created Date"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.createdDate}">
								<f:convertDateTime dateStyle="medium" />
							</h:outputText>


							<h:outputText value="Project Type"
								styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.projectType}" />
							<p:spacer width="20" />

							<h:outputText value="Due Date" styleClass="label min-label-width" />
							<h:outputText value="#{reportCenterViewBean.dueDate}">
								<f:convertDateTime dateStyle="medium" />
							</h:outputText>
						</h:panelGrid>

					</p:panel>
					<p:panel
						id="pnlUserInformation"
						header="User Information"
						toggleable="true"
						rendered="#{reportCenterViewBean.userContext}"
						collapsed="#{reportCenterViewBean.requestDetailsRendered}">

						<p:panelGrid >
							<p:row>
								<p:column><h:outputText value="Name" styleClass="label min-label-width" /></p:column>
								<p:column><h:outputText value="#{reportCenterViewBean.userName}" /></p:column>
							</p:row>
							<p:row>
								<p:column><h:outputText value="Email" styleClass="label min-label-width" /></p:column>
								<p:column><h:outputText value="#{reportCenterViewBean.userEmail}" /></p:column>
							</p:row>
							<p:row rendered="#{reportCenterViewBean.userPhones.size() gt 0}">
								<p:column><h:outputText value="Phone number(s)" styleClass="label min-label-width" /></p:column>
								<p:column>
									<ui:repeat value="#{reportCenterViewBean.userPhones}" var="item">
										<h:outputText value="#{item.number} " style="#{(item.primary) ? 'font-weight: bold' : 'font-weight: normal'}"/>
										<h:outputText value=" (#{item.phoneNumberType.name.toLowerCase()})"/><br/>
									</ui:repeat>
								</p:column>
							</p:row>
							<p:row>
								<p:column><h:outputText value="Language" styleClass="label min-label-width" /></p:column>
								<p:column><h:outputText value="#{reportCenterViewBean.userLang}" /></p:column>
							</p:row>
							<p:row>
								<p:column><h:outputText value="Delivery Office" styleClass="label min-label-width" /></p:column>
								<p:column><h:outputText value="#{reportCenterViewBean.userDeliveryOffice}" /></p:column>
							</p:row>
						</p:panelGrid>
					</p:panel>
				</p:outputPanel>
				<p:spacer height="10" />
				<p:remoteCommand
					name="tabSwitcher"
					update=":frmReportCenter:pnlDynamicContent, :frmReportCenter:pnlInformations, :frmReportCenter:pageTitleBar"
					actionListener="#{reportCenterControllerBean.handleShowQueue}" autoRun="true"
					rendered="#{reportCenterViewBean.tabSwitcherRendered}"/>

				<p:outputPanel id="pnlDynamicContent">
					<p:outputPanel id="pnlReportManager"
						rendered="#{reportCenterViewBean.reportManagerRendered}">
						<p:tabView id="tbvReportManager" widgetVar="tbvReportManager" styleClass="tab-view">
							<p:ajax
								event="tabChange"
								listener="#{reportCenterControllerBean.handleTabChange}"
								onstart="pleaseWaitDialog.show()"
								oncomplete="pleaseWaitDialog.hide()"
								update=":frmReportCenter:pnlDynamicContent"
								process="@this"
								partialSubmit="true"/>
							<p:tab id="queueTab" title="Queue">
								<p:outputPanel id="pnlRequestsToolbar">
									<p:toolbar styleClass="clear-toolbar" >
										<p:toolbarGroup align="left">
											<p:commandButton
												value="View Request Details"
												actionListener="#{reportCenterControllerBean.handleShowRequestDetails}"
												disabled="#{empty reportCenterViewBean.selectedRequestRecord}"
												update=":frmReportCenter:pnlDynamicContent, :frmReportCenter:pnlInformations, :frmReportCenter:pageTitleBar"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()" />
											<p:commandButton
												value="Refresh"
												actionListener="#{reportCenterControllerBean.refreshData}"
												onclick="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												update="@this, :frmReportCenter:tbvReportManager:tblQueue"
												process="@this"
												partialSubmit="true"/>
										</p:toolbarGroup>
										<p:toolbarGroup align="right">
											<shiro:hasPermission name="downloadReports">
												<p:commandButton
													value="Download"
													disabled="#{empty reportCenterViewBean.selectedRequestRecord or reportCenterViewBean.downloadAllDisabled}"
													actionListener="#{reportCenterControllerBean.downloadFromRequest}"
													onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
													ajax="false">
													<p:fileDownload
														value="#{reportCenterViewBean.reportDownload}" />
												</p:commandButton>
											</shiro:hasPermission>
											<shiro:hasPermission name="deleteReports">
												<p:commandButton
													value="Delete"
													disabled="#{empty reportCenterViewBean.selectedRequestRecord}"
													actionListener="#{reportCenterControllerBean.initDeleteSelectedRequest}"
													oncomplete="confirmDeleteRequest.show()"
													update="@this, :frmReportCenter:confirmDeleteRequestDialog"
													process="@this"
													partialSubmit="true"/>
											</shiro:hasPermission>
										</p:toolbarGroup>
									</p:toolbar>
								</p:outputPanel>

								<p:spacer height="12" width="10"/>

								<p:dataTable
									id="tblQueue"
									widgetVar="requests"
									var="requestVar"
									value="#{reportCenterViewBean.requestRecords}"
									selection="#{reportCenterViewBean.selectedRequestRecord}"
									filteredValue="#{reportCenterViewBean.filteredRequestRecords}"
									rowIndexVar="requestRecordIndex"
									selectionMode="single"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(reportCenterViewBean.requestRecords)}"
									paginator="true"
									rows="10"
									rowKey="#{requestVar.requestId}"
									sortBy="#{requestVar.requestId}"
									sortOrder="descending"
									paginatorPosition="bottom"
									dblClickSelect="true">

									<p:ajax event="rowUnselect"
										listener="#{reportCenterControllerBean.handleRequestRowUnselect}"
										update=":frmReportCenter:tbvReportManager:pnlRequestsToolbar"
										process="@this"
										partialSubmit="true"/>

									<p:ajax event="rowSelect"
										listener="#{reportCenterControllerBean.handleRequestRowSelect}"
										update=":frmReportCenter:tbvReportManager:pnlRequestsToolbar"
										process="@this"
										partialSubmit="true"/>

									<p:ajax event="rowDblselect"
										listener="#{reportCenterControllerBean.handleShowRequestDetails}"
										onstart="pleaseWaitDialog.show();"
										oncomplete="pleaseWaitDialog.hide();"
										update=":frmReportCenter:pnlDynamicContent, :frmReportCenter:pnlInformations, :frmReportCenter:pageTitleBar"
										process="@this"
										partialSubmit="true"/>

									<f:facet name="header">
										<h:outputText value="Search all fields: " />
										<p:inputText id="globalFilter" onkeyup="requests.filter()"
											style="width:150px; background: none; background-color:#FFF;" />
									</f:facet>

									<p:column filterBy="#{msg[requestVar.status]}"
										filterMatchMode="exact"
										filterOptions="#{reportCenterViewBean.statusOptions}"
										filterStyleClass="column-header-filter"
										styleClass="column-header-align-top align-center"
										style="width: 100px">
										<f:facet name="header">
											<h:outputText value="Status" />
										</f:facet>
										<kf:reportStatusIcon value="#{requestVar.status}"
											tableRef="requests" rowId="#{requestRecordIndex}" />
									</p:column>

									<p:column sortBy="#{requestVar.requestName}"
										filterBy="#{requestVar.principal}" filterMatchMode="contains"
										styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Request Name" />
										</f:facet>
										<h:outputText value="#{requestVar.requestName}" />
									</p:column>

									<p:column sortBy="#{requestVar.principal}"
										filterBy="#{requestVar.principal}" filterMatchMode="contains"
										styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Requested By" />
										</f:facet>
										<h:outputText value="#{requestVar.principal}" />
									</p:column>

									<p:column sortBy="#{requestVar.requestTime}"
										styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Request Time" />
										</f:facet>
										<h:outputText value="#{requestVar.requestTime}">
											<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a" />
										</h:outputText>
									</p:column>

									<p:column sortBy="#{requestVar.participantCount}"
										filterBy="#{requestVar.participantCount}"
										filterMatchMode="exact" styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Participant Count" />
										</f:facet>
										<h:outputText value="#{requestVar.participantCount}" />
									</p:column>

									<p:column sortBy="#{requestVar.reportRequestCount}"
										filterBy="#{requestVar.reportRequestCount}"
										filterMatchMode="exact" styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Report Count" />
										</f:facet>
										<h:outputText value="#{requestVar.reportRequestCount}" />
									</p:column>

									<p:column sortBy="#{requestVar.priority}"
										filterBy="#{requestVar.priority}" filterMatchMode="contains"
										styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Priority" />
										</f:facet>
										<h:outputText
											value="#{reportCenterControllerBean.resolvePriority(requestVar.priority)}" />
									</p:column>
								</p:dataTable>
							</p:tab>


							<!-- ############################# -->
							<!--     START REPOSITORY TAB      -->
							<!-- ############################# -->


							<p:tab id="repositoryTab" title="Repository" titleStyleClass="float-right">

								<!-- REPOSITORY (REPORTS) VIEW TOOLBAR -->

								<p:outputPanel id="pnlReportsRepositoryToolbar"
									rendered="#{reportCenterViewBean.viewType eq '1'}">
									<p:toolbar styleClass="record-nav">
										<p:toolbarGroup>
											<p:spacer width="12"/>
											<p:outputLabel value="Max Records"/>
											<p:spacer width="5"/>
											<h:selectOneMenu
												value="#{reportCenterViewBean.maxRecords}">
												<f:selectItems var="record" value="#{reportCenterViewBean.maxRecordsList}"
													itemValue="#{record.id}" itemLabel="#{record.name}" />
												<p:ajax event="change"
													listener="#{reportCenterControllerBean.changeMaxRecords}"
													update=":frmReportCenter:tbvReportManager"
													onstart="pleaseWaitDialog.show()"
													oncomplete="pleaseWaitDialog.hide()"
													process="@this"
													partialSubmit="true"/>
											</h:selectOneMenu>
											<p:spacer width="16" height="12"/>
											<p:commandButton icon="ui-icon-triangle-1-w"
												disabled="#{!(reportCenterViewBean.reportsPage gt 0)}"
												actionListener="#{reportCenterControllerBean.getPrevReportsPage}"
												update="pnlReportsRepositoryToolbar tblReportsRepository"
												title="Previous #{reportCenterViewBean.maxRecords} Records"
												styleClass="icon-button"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true">
											</p:commandButton>
											<p:spacer width="5" height="12"/>
											<h:outputText
												value="Showing #{(reportCenterViewBean.reportsPage * reportCenterViewBean.maxRecords) + 1} - #{(reportCenterViewBean.reportsPage * reportCenterViewBean.maxRecords) + reportCenterViewBean.reportRecordCount} of #{reportCenterViewBean.totalRecordCount}"/>
											<p:spacer width="12"/>
											<p:commandButton icon="ui-icon-triangle-1-e"
												disabled="#{!(reportCenterViewBean.reportRecordCount lt reportCenterViewBean.totalRecordCount)}"
												actionListener="#{reportCenterControllerBean.getNextReportsPage}"
												update="pnlReportsRepositoryToolbar tblReportsRepository"
												title="Next #{reportCenterViewBean.maxRecords} Records"
												styleClass="icon-button"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true">
											</p:commandButton>
										</p:toolbarGroup>
									</p:toolbar>

									<p:spacer height="10" width="10"/>

									<p:toolbar styleClass="clear-toolbar">
										<p:toolbarGroup align="left">
											<p:commandButton
												value="#{(reportCenterViewBean.selectAll) ? 'Select All' : 'Deselect All'}"
												disabled="#{reportCenterViewBean.selectAllDisabled}"
												actionListener="#{reportCenterControllerBean.selectUnselectAll}"
												update="@this, tblReportsRepository, pnlReportsRepositoryToolbar"
												process="@this"
												partialSubmit="true" />
											<p:commandButton value="Refresh"
												actionListener="#{reportCenterControllerBean.refreshData}"
												onclick="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												update="@this, tblRequestsRepository"
												process="@this"
												partialSubmit="true"/>
										</p:toolbarGroup>
										<p:toolbarGroup align="right">
											<shiro:hasPermission name="downloadReports">
												<p:commandButton value="Download Selected"
													actionListener="#{reportCenterControllerBean.downloadSelectedReports}"
													disabled="#{empty reportCenterViewBean.selectedRepositoryRecords or reportCenterViewBean.downloadReportDisabled}"
													update="@this" process="@this" partialSubmit="true"
													ajax="false"
													onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)">
													<p:fileDownload
														value="#{reportCenterViewBean.reportDownload}" />
												</p:commandButton>
											</shiro:hasPermission>
											<p:commandButton value="More Info..."
												actionListener="#{reportCenterControllerBean.viewReportDetails}"
												disabled="#{empty reportCenterViewBean.selectedRepositoryRecord or reportCenterViewBean.moreInfoDisabled}"
												onsuccess="reportDetailsDlg.show()"
												update="@this, :frmReportCenter:pnlReportDetailsDialog"
												process="@this"
												partialSubmit="true"/>
											<p:commandButton value="Recreate"
												actionListener="#{reportCenterControllerBean.resubmitSelectedReports}"
												disabled="#{empty reportCenterViewBean.selectedRepositoryRecords or reportCenterViewBean.recreateDisabled}"
												oncomplete="recreateReports.show();"
												update="@this, :frmReportCenter:pnlRecreateReports"
												process="@this"
												partialSubmit="true"/>
											<shiro:hasPermission name="deleteReports">
												<p:commandButton value="Delete Selected"
													disabled="#{empty reportCenterViewBean.selectedRepositoryRecords}"
													actionListener="#{reportCenterControllerBean.initDeleteSelectedReports}"
													oncomplete="confirmDeleteReports.show()"
													update="@this, :frmReportCenter:confirmDeleteReportsDialog"
													process="@this"
													partialSubmit="true"/>
											</shiro:hasPermission>

										</p:toolbarGroup>
									</p:toolbar>

								</p:outputPanel>

								<!-- REPOSITORY (REQUESTS) VIEW TOOLBAR -->
								<p:outputPanel id="pnlRequestsRepositoryToolbar"
									rendered="#{reportCenterViewBean.viewType eq '0'}">
									<p:toolbar styleClass="record-nav">
										<p:toolbarGroup>
											<p:spacer width="12"/>
											<p:outputLabel value="Max Records"/>
											<p:spacer width="5"/>
											<h:selectOneMenu
												value="#{reportCenterViewBean.maxRecords}">
												<f:selectItems var="record" value="#{reportCenterViewBean.maxRecordsList}"
													itemValue="#{record.id}" itemLabel="#{record.name}" />
												<p:ajax event="change"
													listener="#{reportCenterControllerBean.changeMaxRecords}"
													update=":frmReportCenter:tbvReportManager"
													onstart="pleaseWaitDialog.show()"
													oncomplete="pleaseWaitDialog.hide()"
													process="@this"
													partialSubmit="true"/>
											</h:selectOneMenu>
											<p:spacer width="16" height="12"/>
											<p:commandButton
												icon="ui-icon-triangle-1-w"
												disabled="#{!(reportCenterViewBean.page gt 0)}"
												actionListener="#{reportCenterControllerBean.getPrevPage}"
												update="pnlRequestsRepositoryToolbar tblRequestsRepository"
												title="Previous #{reportCenterViewBean.maxRecords} Records"
												styleClass="icon-button"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true">
											</p:commandButton>
											<p:spacer width="5" height="12"/>
											<h:outputText
												value="Showing #{(reportCenterViewBean.page * reportCenterViewBean.maxRecords) + 1} - #{(reportCenterViewBean.page * reportCenterViewBean.maxRecords) + reportCenterViewBean.requestRecordCount} of #{reportCenterViewBean.totalRequestCount}"></h:outputText>
											<p:spacer width="12"/>
											<p:commandButton icon="ui-icon-triangle-1-e"
												disabled="#{!(reportCenterViewBean.requestRecordCount lt reportCenterViewBean.totalRequestCount)}"
												actionListener="#{reportCenterControllerBean.getNextPage}"
												update="pnlRequestsRepositoryToolbar tblRequestsRepository"
												title="Next #{reportCenterViewBean.maxRecords} Records"
												styleClass="icon-button"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true">
											</p:commandButton>
										</p:toolbarGroup>
									</p:toolbar>
									<p:spacer height="10" width="10"/>
									<p:toolbar styleClass="clear-toolbar">
										<p:toolbarGroup align="left">
											<p:commandButton value="View Request Details"
												actionListener="#{reportCenterControllerBean.handleShowRequestDetails}"
												disabled="#{empty reportCenterViewBean.selectedRepositoryRequestRecord}"
												update=":frmReportCenter:pnlDynamicContent, :frmReportCenter:pnlInformations, :frmReportCenter:pageTitleBar"
												onstart="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true"/>
											<p:commandButton
												value="Refresh"
												actionListener="#{reportCenterControllerBean.refreshData}"
												onclick="pleaseWaitDialog.show()"
												oncomplete="pleaseWaitDialog.hide()"
												process="@this"
												partialSubmit="true"
												update="@this, tblRequestsRepository"/>
										</p:toolbarGroup>
										<p:toolbarGroup align="right">
											<shiro:hasPermission name="downloadReports">
												<p:commandButton value="Download"
													disabled="#{empty reportCenterViewBean.selectedRepositoryRequestRecord or reportCenterViewBean.downloadAllDisabled}"
													actionListener="#{reportCenterControllerBean.downloadFromRequest}"
													ajax="false"
													onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)">
													<p:fileDownload value="#{reportCenterViewBean.reportDownload}" />
												</p:commandButton>
											</shiro:hasPermission>
											<shiro:hasPermission name="deleteReports">
												<p:commandButton
													value="Delete"
													disabled="#{empty reportCenterViewBean.selectedRepositoryRequestRecord}"
													actionListener="#{reportCenterControllerBean.initDeleteSelectedRequest}"
													oncomplete="confirmDeleteRequest.show()"
													update="@this, :frmReportCenter:confirmDeleteRequestDialog"
													process="@this"
													partialSubmit="true"/>
											</shiro:hasPermission>
										</p:toolbarGroup>
									</p:toolbar>
								</p:outputPanel>

								<p:spacer height="10"/>

								<!-- REPOSITORY (REQUESTS) VIEW DATATABLE -->
								<p:dataTable
									id="tblRequestsRepository"
									widgetVar="requestsRepository"
									rendered="#{reportCenterViewBean.viewType eq '0'}"
									var="requestVar"
									value="#{reportCenterViewBean.repositoryRequestRecords}"
									paginator="true" rows="10"
									selection="#{reportCenterViewBean.selectedRepositoryRequestRecord}"
									filteredValue="#{reportCenterViewBean.filteredRepositoryRequestRecords}"
									rowIndexVar="requestRecordIndex" selectionMode="single"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(reportCenterViewBean.repositoryRequestRecords)}"
									rowKey="#{requestVar.requestId}"
									sortBy="#{requestVar.requestId}" sortOrder="descending"
									paginatorPosition="bottom"
									dblClickSelect="true">

									<p:ajax event="rowSelect"
										listener="#{reportCenterControllerBean.handleRepoRequestRowSelect}"
										update=":frmReportCenter:tbvReportManager:pnlRequestsRepositoryToolbar"
										partialSubmit="true" process="@this" />

									<p:ajax event="rowUnselect"
										listener="#{reportCenterControllerBean.handleRepoRequestRowUnselect}"
										update=":frmReportCenter:tbvReportManager:pnlRequestsRepositoryToolbar"
										partialSubmit="true" process="@this" />

									<p:ajax listener="#{reportCenterControllerBean.handleShowRequestDetails}" event="rowDblselect"
										update=":frmReportCenter:pnlDynamicContent, :frmReportCenter:pnlInformations, :frmReportCenter:pageTitleBar"
										process="@this"
										partialSubmit="true"
										onstart="pleaseWaitDialog.show();"
										oncomplete="pleaseWaitDialog.hide();"/>

									<f:facet name="header">

										<p:commandButton
											value="Filters"
											styleClass="tbl-header-btn float-left"
											onclick="filterDialog.show()"/>

										<p:commandButton
											id="resetFilters"
											value="Reset Filters"
											styleClass="tbl-header-btn float-left"
											actionListener="#{reportCenterControllerBean.resetFilters}"
											disabled="#{reportCenterViewBean.resetFiltersDisabled}"
											onstart="pleaseWaitDialog.show()"
											oncomplete="pleaseWaitDialog.hide()"
											update="@this, tblRequestsRepository, :frmReportCenter:pnlFilterDialog"
											process="@this"
											partialSubmit="true"/>

										<h:outputText value="Search all fields: " />
										<p:inputText id="globalFilter" onkeyup="requestsRepository.filter()"
											style="width:150px; background: none; background-color:#FFF;" />

										<p:outputPanel styleClass="float-right view-switcher">
											<p:panelGrid columns="2" styleClass="table-margin-none">
												<h:outputText value="View:"/>
												<h:selectOneMenu style="width:150px;"
													id="lstView2" value="#{reportCenterViewBean.viewType}">
													<f:selectItem itemLabel="Requests" itemValue="0" />
													<f:selectItem itemLabel="Reports" itemValue="1" />
													<f:ajax
														listener="#{reportCenterControllerBean.handleViewTypeSelect}"
														update=":frmReportCenter:tbvReportManager:pnlRequestsRepositoryToolbar, :frmReportCenter:tbvReportManager:tblRequestsRepository, :frmReportCenter:tbvReportManager:tblReportsRepository"
														render=":frmReportCenter:tbvReportManager :frmReportCenter:tbvReportManager:tblReportsRepository:lstView1" />
												</h:selectOneMenu>
											</p:panelGrid>
										</p:outputPanel>

									</f:facet>
									<p:column filterBy="#{msg[requestVar.status]}"
										filterMatchMode="exact"
										filterOptions="#{reportCenterViewBean.statusOptions}"
										filterStyleClass="column-header-filter"
										styleClass="column-header-align-top align-center"
										style="width: 100px">
										<f:facet name="header">
											<h:outputText value="Status" />
										</f:facet>
										<kf:reportStatusIcon value="#{requestVar.status}"
											tableRef="requestsRepository" rowId="#{requestRecordIndex}" />
									</p:column>

									<p:column sortBy="#{requestVar.requestName}"
										filterBy="#{requestVar.requestName}" filterMatchMode="contains"
										styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Request Name" />
										</f:facet>
										<h:outputText value="#{requestVar.requestName}" />
									</p:column>

									<p:column sortBy="#{requestVar.principal}"
										filterBy="#{requestVar.principal}" filterMatchMode="contains"
										styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Requested By" />
										</f:facet>
										<h:outputText value="#{requestVar.principal}" />
									</p:column>

									<p:column sortBy="#{requestVar.requestTime}"
										styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Request Time" />
										</f:facet>
										<h:outputText value="#{requestVar.requestTime}">
											<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a" />
										</h:outputText>
									</p:column>

									<p:column sortBy="#{requestVar.participantCount}"
										filterBy="#{requestVar.participantCount}"
										filterMatchMode="exact" styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Participant Count" />
										</f:facet>
										<h:outputText value="#{requestVar.participantCount}" />
									</p:column>

									<p:column sortBy="#{requestVar.reportRequestCount}"
										filterBy="#{requestVar.reportRequestCount}"
										filterMatchMode="exact" styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Report Count" />
										</f:facet>
										<h:outputText value="#{requestVar.reportRequestCount}" />
									</p:column>
								</p:dataTable>

								<!-- REPOSITORY (REPORTS) VIEW DATATABLE -->

								<p:dataTable
									id="tblReportsRepository"
									widgetVar="reportsRepository"
									rendered="#{reportCenterViewBean.viewType eq '1'}"
									var="repositoryRecord"
									value="#{reportCenterViewBean.repositoryRecords}"
									selection="#{reportCenterViewBean.selectedRepositoryRecords}"
									filteredValue="#{reportCenterViewBean.filteredRepositoryRecords}"
									rowIndexVar="repositoryRecordIndex"
									selectionMode="multiple"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(reportCenterViewBean.repositoryRecords)}"
									rowKey="#{repositoryRecord.requestId}"
									sortBy="#{repositoryRecord.requestId}"
									sortOrder="descending"
									paginatorPosition="bottom"
									paginator="true"
									rows="10">

									<p:ajax event="rowSelect"
										listener="#{reportCenterControllerBean.handleRepositoryRowSelect}"
										update=":frmReportCenter:tbvReportManager:pnlReportsRepositoryToolbar"
										partialSubmit="true" process="@this" />

									<p:ajax event="rowUnselect"
										listener="#{reportCenterControllerBean.handleRepositoryRowUnselect}"
										update=":frmReportCenter:tbvReportManager:pnlReportsRepositoryToolbar"
										partialSubmit="true" process="@this" />

									<f:facet name="header">

										<p:commandButton
											value="Filters"
											styleClass="tbl-header-btn float-left"
											onclick="filterDialog.show()"/>

										<p:commandButton
											id="resetFilters"
											value="Reset Filters"
											styleClass="tbl-header-btn float-left"
											actionListener="#{reportCenterControllerBean.resetFilters}"
											disabled="#{reportCenterViewBean.resetFiltersDisabled}"
											onstart="pleaseWaitDialog.show()"
											oncomplete="pleaseWaitDialog.hide()"
											update="@this, tblReportsRepository, :frmReportCenter:pnlFilterDialog"
											process="@this"
											partialSubmit="true"/>

										<p:outputPanel style="display:inline;">
											<h:outputText value="Search all fields: " />
											<p:inputText
												id="globalFilter"
												onkeyup="reportsRepository.filter()"
												style="width:150px; background: none; background-color:#FFF;" />
										</p:outputPanel>

										<p:outputPanel styleClass="float-right view-switcher">
											<p:panelGrid columns="2" styleClass="table-margin-none">
												<h:outputText value="View:"/>
												<h:selectOneMenu style="width:150px;"
													id="lstView1" value="#{reportCenterViewBean.viewType}">
													<f:selectItem itemLabel="Requests" itemValue="0" />
													<f:selectItem itemLabel="Reports" itemValue="1" />
													<f:ajax
														listener="#{reportCenterControllerBean.handleViewTypeSelect}"
														update=":frmReportCenter:tbvReportManager:pnlRequestsRepositoryToolbar :frmReportCenter:tbvReportManager:tblRequestsRepository :frmReportCenter:tbvReportManager:tblReportsRepository"
														render=":frmReportCenter:pnlReportManager  :frmReportCenter:tbvReportManager:tblRequestsRepository:lstView2" />
												</h:selectOneMenu>
											</p:panelGrid>
										</p:outputPanel>
									</f:facet>

									<p:ajax event="rowSelect"
										listener="#{reportCenterControllerBean.handleRepositoryRowSelect}"
										update=":frmReportCenter:tbvReportManager:pnlReportsRepositoryToolbar"
										partialSubmit="true" process="@this" />

									<p:column
										sortBy="#{repositoryRecord.contentType}"
										styleClass="column-header-align-top align-center"
										style="width: 100px">
										<f:facet name="header">
											<h:outputText value="Type" />
										</f:facet>
										<kf:reportStatusIcon value="#{repositoryRecord.contentType}"
											tableRef="repository" rowId="#{repositoryRecordIndex}" />
									</p:column>

									<p:column sortBy="#{repositoryRecord.reportName}"
										filterBy="#{repositoryRecord.reportName}"
										filterMatchMode="contains" styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Report Type" />
										</f:facet>
										<h:outputText value="#{repositoryRecord.reportName}" />
									</p:column>

									<p:column
										sortBy="#{reportCenterControllerBean.getPptGroupLabel(repositoryRecord)}"
										filterBy="#{reportCenterControllerBean.getPptGroupLabel(repositoryRecord)}"
										filterMatchMode="contains" styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Participant/Group Name" />
										</f:facet>
										<h:outputText
											value="#{reportCenterControllerBean.getPptGroupLabel(repositoryRecord)}" />
									</p:column>

									<p:column
										sortBy="#{reportCenterControllerBean.getLanguageLabel(repositoryRecord.reportLang)}"
										filterBy="#{reportCenterControllerBean.getLanguageLabel(repositoryRecord.reportLang)}"
										filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
										<f:facet name="header">
											<h:outputText value="Language" />
										</f:facet>
										<h:outputText
											value="#{reportCenterControllerBean.getLanguageLabel(repositoryRecord.reportLang)}" />
									</p:column>

									<p:column sortBy="#{repositoryRecord.targetLevel}"
										filterBy="#{repositoryRecord.targetLevel}"
										filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
										<f:facet name="header">
											<h:outputText value="Target Level" />
										</f:facet>
										<h:outputText value="#{repositoryRecord.targetLevel}" />
									</p:column>

									<p:column
										sortBy="#{reportCenterControllerBean.getReportProjectLabel(repositoryRecord)}"
										filterBy="#{reportCenterControllerBean.getReportProjectLabel(repositoryRecord)}"
										filterMatchMode="contains" styleClass="column-header-align-top" style="width: 350px">
										<f:facet name="header">
											<h:outputText value="Project Name(s)" />
										</f:facet>
										<h:outputText
											value="#{reportCenterControllerBean.getReportProjectLabel(repositoryRecord)}" />
									</p:column>

									<p:column
										sortBy="#{repositoryRecord.requestTime}"
										styleClass="column-header-align-top align-center">
										<f:facet name="header">
											<h:outputText value="Date Created" />
										</f:facet>
										<h:outputText value="#{repositoryRecord.requestTime}">
											<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a" />
										</h:outputText>

									</p:column>

									<p:column
										sortBy="#{repositoryRecord.requestedBy}"
										filterBy="#{repositoryRecord.requestedBy}"
										filterMatchMode="contains" styleClass="column-header-align-top">
										<f:facet name="header">
											<h:outputText value="Requested By" />
										</f:facet>
										<h:outputText value="#{repositoryRecord.requestedBy}" />
									</p:column>
								</p:dataTable>
							</p:tab>
						</p:tabView>

					</p:outputPanel>

					<!-- REQUEST DETAILS VIEW -->
					<p:outputPanel
						id="pnlReportRequestDetails"
						rendered="#{reportCenterViewBean.requestDetailsRendered}">
						<pdinh:reportRequestDetails id="rptRequestDetails"/>
					</p:outputPanel>

				</p:outputPanel>

			</p:outputPanel>

			<!-- Begin Dialogs -->

			<p:dialog
				id="filterDlg"
				widgetVar="filterDialog"
				modal="true"
				header="Filter"
				resizable="false"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="pnlFilterDialog">

					<p:panelGrid border="1" columns="2">
						<p:outputLabel for="dateFrom" value="Date Range" styleClass="label"/>
						<p:calendar
							id="dateFrom"
							value="#{reportCenterViewBean.fromDate}"
							showOn="button"
							size="25"
							styleClass="calendar"
							pattern="dd-MMM-yyyy"
							maxdate="#{reportCenterViewBean.today}"/>

						<p:spacer width="10" height="24" />
						<p:calendar
							id="dateTo"
							value="#{reportCenterViewBean.toDate}"
							showOn="button"
							size="25"
							styleClass="calendar"
							pattern="dd-MMM-yyyy"
							maxdate="#{reportCenterViewBean.today}"	/>

						<p:outputLabel for="autoCompPart" value="Participant" styleClass="label"/>
						<p:autoComplete
							id="autoCompPart"
							var="participant"
							queryDelay="900"
							value="#{reportCenterViewBean.autoCompPart}"
							autocomplete="off"
							forceSelection="true"
							itemValue="#{participant}"
							converter="#{reportCenterViewBean.participantConverter}"
							converterMessage="Conversion Failed"
							completeMethod="#{reportCenterViewBean.autoCompPartComplete}"
							itemLabel="#{participant.firstName.concat(' ').concat(participant.lastName)}"
							size="30">
							<p:ajax event="itemSelect"
								listener="#{reportCenterViewBean.autoCompValueSelect}"
								update="@this"
								process="@this"
								partialSubmit="true"/>
							<p:ajax event="itemUnselect"
								listener="#{reportCenterViewBean.autoCompValueUnselect}"
								update="@this"
								process="@this"
								partialSubmit="true" />
						</p:autoComplete>

					</p:panelGrid>
					<p:separator/>
					<p:commandButton
						value="Clear"
						styleClass="submit-button-left"
						actionListener="#{reportCenterViewBean.clearFilterDialog}"
						update="pnlFilterDialog"
						process="@this, pnlFilterDialog"
						partialSubmit="true"/>
					<p:commandButton
						value="Cancel"
						styleClass="submit-button-right"
						oncomplete="filterDialog.hide()"
						actionListener="#{reportCenterViewBean.clearFilterDialog}"
						update="@this, pnlFilterDialog"
						process="@this, pnlFilterDialog"
						partialSubmit="true"/>
					<p:commandButton
						value="Filter"
						styleClass="submit-button-right"
						actionListener="#{reportCenterControllerBean.filter}"
						onstart="pleaseWaitDialog.show();"
						oncomplete="filterDialog.hide(); pleaseWaitDialog.hide();"
						update="@this, :frmReportCenter:tbvReportManager:tblReportsRepository, :frmReportCenter:tbvReportManager:tblRequestsRepository"
						process="@this, pnlFilterDialog"
						partialSubmit="true"/>
				</p:outputPanel>
			</p:dialog>


			<p:dialog
				widgetVar="reportDetailsDlg"
				header="Report Details"
				modal="true"
				resizable="false"
				width="600"
				closable="false"
				showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="pnlReportDetailsDialog">
					<pdinh:reportDetails id="reportDetailsComposite"
						reportRepresentation="#{reportCenterViewBean.selectedDetailRecord}" />
				</p:outputPanel>
				<p:separator />
				<p:commandButton
					value="Close"
					onclick="reportDetailsDlg.hide()"
					styleClass="submit-dialog-button"
					type="button"/>
			</p:dialog>

			<p:dialog
				widgetVar="recreateReports"
				header="Recreate Reports"
				modal="true"
				resizable="false"
				closable="false"
				width="540"
				showEffect="fade"
				hideEffect="fade">
				<p:outputPanel id="pnlRecreateReports">
					<p:messages for="recreateReports" showDetail="true"/>
					<p:panel styleClass="borderless-panel">
						<h:panelGrid columns="1">
							<p:panelGrid columns="1">
								<h:outputText
									value="You selected #{reportCenterViewBean.selectedRepositoryRecords.size()} report#{reportCenterViewBean.selectedRepositoryRecords.size() gt 1 ? 's' : ''} to be recreated."
									rendered="#{reportCenterViewBean.currentTabId eq 'repositoryTab'}"/>
								<h:outputText
									value="You selected #{reportCenterViewBean.selectedDetailRecords.size()} report#{reportCenterViewBean.selectedDetailRecords.size() gt 1 ? 's' : ''} to be recreated."
									rendered="#{reportCenterViewBean.currentTabId ne 'repositoryTab'}"/>
							</p:panelGrid>
							<p:panelGrid columns="2">
								<p:outputLabel
									for="requestName"
									value="Request Name"
									styleClass="label">
										<h:outputText value="*" styleClass="asterisk-red nowrap"/>
									</p:outputLabel>
								<p:inputText
									id="requestName"
									widgetVar="requestNameVar"
									value="#{reportCenterViewBean.recreateRequestName}"
									disabled="#{reportCenterViewBean.recreateRequestNameDisabled}"
									maxlength="100"
									size="50"
									onfocus="putCursorAtEnd(this);"
									onblur="removeInvalidCharacters(this, 6);">
									<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u1FFF\u2C00-\uD7FF:`'\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
								</p:inputText>
							</p:panelGrid>
						</h:panelGrid>
					</p:panel>
					<p:separator/>
					<p:commandButton
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="recreateReports.hide()"
						type="button"/>
					<p:commandButton
						id="recreateBtn"
						value="Recreate"
						styleClass="submit-dialog-button"
						disabled="#{reportCenterViewBean.recreateInDialogDisabled}"
						actionListener="#{reportCenterControllerBean.resubmitReports}"
						onstart="pleaseWaitDialog.show();"
						oncomplete="(!args.notValid) ? confirmDeleteReports.show() : ''; handleCompletionRequest(xhr,status,args,recreateReports); pleaseWaitDialog.hide();"
						update="@this, pnlRecreateReports, confirmDeleteReportsDialog"
						process="@this, pnlRecreateReports"
						partialSubmit="true"/>
				</p:outputPanel>

			</p:dialog>

			<p:confirmDialog
				id="confirmDeleteReportsDialog"
				closable="false"
				header="Confirm Delete"
				widgetVar="confirmDeleteReports"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText
						value="Are you sure you want to delete #{reportCenterViewBean.selectedRepositoryRecords.size()} report record#{reportCenterViewBean.selectedRepositoryRecords.size() gt 1 ? 's' : ''}?"
						rendered="#{reportCenterViewBean.currentTabId eq 'repositoryTab'}"/>
					<h:outputText
						value="Are you sure you want to delete #{reportCenterViewBean.selectedDetailRecords.size()} report record#{reportCenterViewBean.selectedDetailRecords.size() gt 1 ? 's' : ''}?"
						rendered="#{reportCenterViewBean.currentTabId ne 'repositoryTab'}"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmDeleteReports.hide()"
					type="button"/>
				<p:commandButton
					value="Yes"
					icon="ui-icon-trash"
					actionListener="#{reportCenterControllerBean.deleteSelectedReports}"
					styleClass="submit-dialog-button"
					onstart="pleaseWaitDialog.show(); confirmDeleteReports.hide();"
					oncomplete="pleaseWaitDialog.hide();"
					update=":frmReportCenter:pnlReportRequestDetails :frmReportCenter:tbvReportManager:tblReportsRepository"
					process="@this"
					partialSubmit="true"/>
			</p:confirmDialog>

			<p:confirmDialog
				id="confirmDeleteRequestDialog"
				closable="false"
				header="Confirm Delete"
				widgetVar="confirmDeleteRequest"
				width="600"
				showEffect="fade"
				hideEffect="fade">
				<f:facet name="message">
					<h:outputText
						value="Are you sure you want to delete selected request from the queue?"
						rendered="#{reportCenterViewBean.currentTabId eq 'queueTab'}"/>
					<h:outputText
						value="Are you sure you want to delete selected request from the repository?"
						rendered="#{reportCenterViewBean.currentTabId eq 'repositoryTab'}"/>
				</f:facet>
				<p:commandButton
					value="No"
					styleClass="submit-dialog-button"
					onclick="confirmDeleteRequest.hide()"
					type="button"/>
				<p:commandButton
					value="Yes"
					icon="ui-icon-trash"
					actionListener="#{reportCenterControllerBean.deleteSelectedRequest}"
					styleClass="submit-dialog-button"
					onstart="pleaseWaitDialog.show(); confirmDeleteRequest.hide();"
					oncomplete="pleaseWaitDialog.hide();"
					update="@this, :frmReportCenter:tbvReportManager:tblQueue, :frmReportCenter:tbvReportManager:pnlRequestsToolbar, :frmReportCenter:tbvReportManager:tblRequestsRepository, :frmReportCenter:tbvReportManager:pnlRequestsRepositoryToolbar"
					process="@this"
					partialSubmit="true"/>
			</p:confirmDialog>


		</h:form>
	</ui:define>
</ui:composition>
</html>