<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{emailTemplateListControllerBean.initForView}" />
	</f:metadata>
	<ui:define name="content">
		<h:form>
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Email Templates"
					url="emailTemplatesList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<!-- <pdinh:ajaxStatus></pdinh:ajaxStatus> -->
			<!-- 			<div class="main-nav-tab-container"> -->
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav emailTemplatesListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="Email Templates"></h:outputText>
				</h4>
				<p:separator></p:separator>
				<p:outputPanel id="emailTemplatesToolbar">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:commandButton value="Edit Template"
								disabled="#{emailTemplateListControllerBean.disableTemplateEdit}"
								actionListener="#{emailTemplateListControllerBean.initEditTemplate}"
								update="editTemplatePanel" oncomplete="editTemplateWidg.show()" />
							<p:commandButton value="Clone Template"
								disabled="#{emailTemplateListControllerBean.disableTemplateEdit}"
								actionListener="#{emailTemplateListControllerBean.initCloneTemplate}"
								update="cloneTemplatePanel"
								oncomplete="cloneTemplateWidg.show()" />
							<p:commandButton value="New Template"
								actionListener="#{emailTemplateListControllerBean.initAddTemplate}"
								update="newTemplatePanel" oncomplete="newTemplateWidg.show()" />
						</p:toolbarGroup>
					</p:toolbar>
				</p:outputPanel>
				<p:spacer height="10"></p:spacer>
				<p:outputPanel id="emailTemplatesList">
					<p:dataTable selectionMode="single"
						onRowSelectUpdate="emailText emailTemplatesToolbar"
						onRowUnselectUpdate="emailText emailTemplatesToolbar"
						rowSelectListener="#{emailTemplateListControllerBean.handleCurrentTemplateChange}"
						rowUnselectListener="#{emailTemplateListControllerBean.handleCurrentTemplateUnselect}"
						value="#{emailTemplateViewBean.emailTemplates}"
						var="emailTemplate">
						<p:column sortBy="#{emailTemplate.title}"
							filterBy="#{emailTemplate.title}">
							<f:facet name="header">
								<h:outputText value="Name" />
							</f:facet>
							<h:outputText value="#{emailTemplate.title}" />
						</p:column>
						<p:column sortBy="#{emailTemplate.style}"
							filterBy="#{emailTemplate.style}">
							<f:facet name="header">
								<h:outputText value="Style" />
							</f:facet>
							<h:outputText value="#{emailTemplate.style}" />
						</p:column>
						<p:column sortBy="#{emailTemplate.type}"
							filterBy="#{emailTemplate.type}">
							<f:facet name="header">
								<h:outputText value="Type" />
							</f:facet>
							<h:outputText value="#{emailTemplate.type}" />
						</p:column>
						<p:column sortBy="#{emailTemplate.isTemplate}"
							filterBy="#{emailTemplate.isTemplate}">
							<f:facet name="header">
								<h:outputText value="Is Template" />
							</f:facet>
							<h:outputText value="#{emailTemplate.isTemplate>0?'Yes':'No'}" />

						</p:column>
					</p:dataTable>
				</p:outputPanel>
				<p:outputPanel id="emailText">
					<p:spacer height="10"></p:spacer>
					<p:panel
						header="Preview #{emailTemplateListControllerBean.currentTemplate.title} Email"
						visible="#{emailTemplateListControllerBean.showEmailPreview}">
						<p:toolbar>
							<p:toolbarGroup align="left">
								<p:commandButton value="Edit Translation"
									disabled="#{emailTemplateListControllerBean.disableTranslationEdit}"
									actionListener="#{emailTemplateListControllerBean.initEditTranslation}"
									update="editTranslationPanel"
									oncomplete="editTranslationDialogWidg.show()" />
								<p:commandButton value="Add Translation"
									actionListener="#{emailTemplateListControllerBean.initAddTranslation}"
									update="addTranslationPanel"
									oncomplete="addTranslationDialogWidg.show()" />
							</p:toolbarGroup>
						</p:toolbar>
						<p:spacer height="10"></p:spacer>
						<div style="float: left; width: 200px">
							<h:outputText value="Select Language" />
							<br />
							<h:selectOneListbox id="emailLangSelect"
								value="#{emailTemplateViewBean.currentLanguage}"
								valueChangeListener="#{emailTemplateListControllerBean.handleLanguageChange}">
								<f:selectItems var="listItem"
									value="#{emailTemplateViewBean.currentEmailLangs}"
									itemValue="#{listItem.id}" itemLabel="#{listItem.name}" />
								<f:ajax render="emailText"
									listener="#{emailTemplateViewBean.getEmailBody}" />
							</h:selectOneListbox>
						</div>
						<div style="float: left">
							<h:outputText value="Subject: " styleClass="label" />
							<h:outputText value="#{emailTemplateViewBean.emailSubject}"></h:outputText>
							<br />
							<p:spacer height="10" />
							<pre style="width: 550px">
							<h:outputText value="#{emailTemplateViewBean.emailBody}" />
						</pre>
						</div>
						<div style="float: none; clear: both" />
					</p:panel>
				</p:outputPanel>
			</div>
			<p:dialog header="Edit Template" widgetVar="editTemplateWidg"
				width="560" resizable="false" modal="true">
				<p:outputPanel id="editTemplatePanel">
					<pdinh:editEmailTemplateDetails />
					<p:separator></p:separator>
					<p:commandButton styleClass="submit-dialog-button"
						actionListener="#{emailTemplateListControllerBean.handleUpdateTemplate}"
						value="Save" update="emailTemplatesList"
						onclick="editTemplateWidg.hide()" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog  header="Clone Template" widgetVar="cloneTemplateWidg"
					width="560" resizable="false" modal="true">
					<p:outputPanel id="cloneTemplatePanel">
						<pdinh:cloneTemplate />
						<p:separator />
						<p:commandButton styleClass="submit-dialog-button"
							actionListener="#{emailTemplateListControllerBean.handleCloneTemplate}"
							value="Save" update="emailTemplatesList"
							onclick="cloneTemplateWidg.hide()" />
					</p:outputPanel>
				</p:dialog>

				<p:dialog  header="New Template" widgetVar="newTemplateWidg"
					width="560" resizable="false" modal="true">
					<p:outputPanel id="newTemplatePanel">
						<pdinh:newEmailTemplate />
						<p:separator />
						<p:commandButton styleClass="submit-dialog-button"
							actionListener="#{emailTemplateListControllerBean.handleAddTemplate}"
							value="Save" onclick="newTemplateWidg.hide()" />
					</p:outputPanel>
				</p:dialog>

				<p:dialog  header="Edit Translation"
					widgetVar="editTranslationDialogWidg" width="860" resizable="false"
					modal="true">
					<p:outputPanel id="editTranslationPanel">
						<pdinh:editEmailTranslation></pdinh:editEmailTranslation>
						<p:separator />
						<p:commandButton styleClass="submit-dialog-button"
							actionListener="#{emailTemplateListControllerBean.handleUpdateTranslation}"
							value="Save" update="emailText"
							onclick="editTranslationDialogWidg.hide()" />
					</p:outputPanel>
				</p:dialog>

				<p:dialog  header="Add Translation"
					widgetVar="addTranslationDialogWidg" width="860" resizable="false"
					modal="true">
					<p:outputPanel id="addTranslationPanel">
						<pdinh:addEmailTranslation />
						<p:separator></p:separator>
						<p:commandButton styleClass="submit-dialog-button"
							actionListener="#{emailTemplateListControllerBean.handleAddTranslation}"
							value="Save" update="emailText"
							onclick="addTranslationDialogWidg.hide()" />
					</p:outputPanel>
				</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>