<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">

	<f:metadata>
		<f:event type="preRenderView"
			listener="#{superUserListControllerBean.initView}" />
	</f:metadata>
	<ui:define name="content">
	<h:form id="remoteTokenCommandForm">
		<p:remoteCommand name="runTokenService" 
			actionListener="#{superUserListControllerBean.handleLoginCommand}" 
			update=":token"
			oncomplete="submitLoginForm()">
		</p:remoteCommand>
	</h:form>
		<p:outputPanel id="pnlLogin">
			<form 
				id="salogin" 
				name="salogin"
				action="#{sessionBean.abydProperties.getProperty('nhlnUrl')}/checkpass.asp"
				method="post" target="_blank">

				<h:inputHidden 
					id="username"
					value="#{superUserListViewBean.selectedSuperUser.username}"/>
				<h:inputHidden 
					id="token"
					value="#{superUserListViewBean.token}"/>
				<h:inputHidden id="netcd" value="0"/>
				<h:inputHidden id="login" value="login"/>
			</form>
		</p:outputPanel>
	
		<h:form id="frmSuperAdmins">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
				<p:menuitem value="Super Admins"
					url="superUserList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<!-- <pdinh:ajaxStatus></pdinh:ajaxStatus> -->
			<!-- 			<div class="main-nav-tab-container"> -->
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav superUserListStyleClass="tab-selected" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				<h2>
					<h:outputText value="#{sessionBean.company.coName}"></h:outputText>
				</h2>
				<h4>
					<h:outputText value="Super Admin List"></h:outputText>
				</h4>
				<p:separator/>
				<p:toolbar>
					<p:toolbarGroup align="left">
						<p:outputPanel id="pnlToolbar">
							<!-- JJB - Hardwired. Need to add to resource and figure out how to login. -->
							<p:commandButton id="btnLogin" value="Login" type="button"
								disabled="#{superUserListControllerBean.loginDisabled}"
								ajax="true" onclick="getToken()" />
						</p:outputPanel>
					</p:toolbarGroup>
				</p:toolbar>
				<p:spacer height="10"/>
				<p:dataTable 
					id="tblSuperUserList"
					value="#{superUserListViewBean.superUsers}" 
					var="superUser"
					widgetVar="superUsersTable" 
					paginator="true" 
					rows="10"
					selectionMode="single"
					selection="#{superUserListViewBean.selectedSuperUser}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(superUserListViewBean.superUsers)}"
					paginatorAlwaysVisible="false"
					rowKey="#{superUser.userId}">

					<p:ajax event="rowSelect" listener="#{superUserListControllerBean.handleRowSelect}" update=":frmSuperAdmins:pnlToolbar :pnlLogin"/>
					<p:ajax event="rowUnselect" listener="#{superUserListControllerBean.handleRowUnselect}" update=":frmSuperAdmins:pnlToolbar :pnlLogin"/>
					
<!-- AV: No need for it since we have only one column
					<f:facet name="header">
						<p:outputPanel>
							<h:outputText value="Search all fields: " />
							<p:inputText id="globalFilter" onkeyup="superUsersTable.filter()"
								style="width:150px; background: none; background-color:#FFF;" />
						</p:outputPanel>
					</f:facet>
-->
					<p:column sortBy="#{superUser.lastName}" filterBy="#{superUser}">
						<f:facet name="header">
							<h:outputText value="Super Admin" />
						</f:facet>
						<h:outputText value="#{superUser}" />
					</p:column>
				</p:dataTable>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>