<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{sysAdminControllerBean.initView}" />
	</f:metadata>
	<ui:debug />
	<ui:define name="content">
		<h:form id="frmSysAdmin">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav sysAdminStyleClass="tab-selected"
						projectListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						participantListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						reportCenterStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						globalEmailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						emailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						superUserListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						fieldDictionaryStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						clipboardStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						disabled="#{sessionBean.company==null}" />
				</p:outputPanel>
			</div>
			
			<p:ajaxStatus 
				onstart="pleaseWaitDialog.show()" 
				onsuccess="pleaseWaitDialog.hide()"/>
				
			<p:growl id="growl"></p:growl>
				
			<p:outputPanel 
				id="pnlMain" 
				styleClass="main-content"
				layout="block">
				<p:messages id="messages" globalOnly="true" redisplay="false"/>
				<h4>
					<h:outputText value="System Administration"/>
				</h4>
				<p:separator/>
				
				<p:spacer height="10" width="10"/>
				
				<p:tabMenu
					id="tabMenu"
					activeIndex="#{sysAdminViewBean.activeIndex}" 
					styleClass="tab-menu">
					<p:menuitem 
						value="PALMS Users"
						actionListener="#{sysAdminControllerBean.handlePalmsUsers}"
						process="@this"
						update="pnlMain"
						partialSubmit="true">
					</p:menuitem>
					<p:menuitem 
						value="System Status"
						actionListener="#{sysAdminControllerBean.handleSystemStatus}"
						update="pnlMain"
						process="@this"
						partialSubmit="true">
					</p:menuitem>
				
				</p:tabMenu>
				
				<p:panel 
					id="pnlPalmsUsers" 
					styleClass="borderless-panel"
					rendered="#{sysAdminViewBean.palmsUsersRendered}">
					<p:spacer height="10"/>
					<p:outputPanel id="pnlToolbar">
						<p:toolbar>
							<p:toolbarGroup align="left">
								<shiro:hasPermission name="assignInternalRoles">
									<p:commandButton
										id="btnAssignRoles"
										value="Assign Roles"
										onsuccess="assignRolesDlg.show()"
										disabled="#{sysAdminViewBean.assignRolesButtonDisabled}"
										update="assignRolesDlgPanel"
										actionListener="#{sysAdminControllerBean.handleInitRolesDlg}"
										partialSubmit="true"
										process="@this"
										global="false"
										icon="ui-icon-newwin"/>
								</shiro:hasPermission>
								<shiro:hasPermission name="viewInternalRoles">
									<p:separator/>
									<p:commandButton
										id="btnCompareRoles"
										value="Compare Roles"
										actionListener="#{sysAdminControllerBean.handleCompareRoles}"
										disabled="#{sysAdminViewBean.compareRolesButtonDisabled}"
										update="pnlMain"
										partialSubmit="true"
										process="@this tblSubjectList"/>
								</shiro:hasPermission>
								<shiro:hasPermission name="reinitializeRoles">
									<p:separator/>
									<p:commandButton
										id="btnReinitializeRoles"
										value="Re-Init System Roles"
										actionListener="#{sysAdminControllerBean.handleReinitRoles}"
										disabled="#{sysAdminViewBean.reinitRolesButtonDisabled}"
										update="growl"
										partialSubmit="true"
										process="@this tblSubjectList"/>
								</shiro:hasPermission>
									<p:separator/>
									<shiro:hasPermission name="manageLinkedAccounts">
										<p:commandButton
											id="btnLinkedAccounts"
											value="Setup Linked Account"
											actionListener="#{sysAdminControllerBean.handleInitLinkedAccounts}"
											disabled="#{sysAdminViewBean.linkedAccountButtonDisabled}"
											update="linkedAccountDialogPanel"
											partialSubmit="true"
											process="@this tblSubjectList"
											onsuccess="linkedAccountDlg.show()"
											global="false"
											icon="ui-icon-newwin"/>
									</shiro:hasPermission>
							</p:toolbarGroup>
							<p:toolbarGroup align="right">
								<shiro:hasPermission name="viewInternalAuditLog">
									<p:commandButton 
										id="btnAuditLog" 
										value="Show Audit Log"
										onsuccess="auditLogDlg.show()"
										actionListener="#{sysAdminControllerBean.handleInitAuditLog}"
										disabled="#{sysAdminViewBean.auditLogButtonDisabled}" 
										update="auditLogDlgPanel"
										partialSubmit="true"
										process="@this tblSubjectList"
										icon="ui-icon-newwin"/>
								</shiro:hasPermission>
								
							</p:toolbarGroup>
						</p:toolbar>
					</p:outputPanel>
					<p:spacer height="10"/>
					<p:dataTable 
						id="tblSubjectList"
						global="false"
						border="0" 
						value="#{sysAdminViewBean.subjects}"
						widgetVar="subjectsTable" 
						var="subject" 
						rows="10" 
						paginator="true"
						selectionMode="multiple"
						selection="#{sysAdminViewBean.selectedSubjects}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(sysAdminViewBean.subjects)}"
						rowKey="#{subject.username}#{subject.realm_id}"
						paginatorPosition="bottom">
						
						<p:ajax 
							event="rowSelect" 
							listener="#{sysAdminControllerBean.handleRowSelect}"
							global="false" 
							update=":frmSysAdmin:pnlToolbar"/>
						
						<p:ajax 
							event="rowUnselect" 
							listener="#{sysAdminControllerBean.handleRowUnselect}"
							global="false"
							update=":frmSysAdmin:pnlToolbar"/>
						<p:ajax
							event="filter"
							global="false"/>
						<p:ajax
							event="page"
							global="false"/>
						
						<f:facet name="header">
							<p:outputPanel styleClass="search-all-fields-table">
								<table>
									<tr>
										<td style="width: 25%; text-align: left">
											&nbsp;
										</td>
										<td style="width: 23%; text-align: right">
											<h:outputText
												value="Search all fields:"/>									
										</td>	
										<td style="width: 27%; text-align: left">
											<p:inputText
												id="globalFilter"
												onkeyup="subjectsTable.filter()"
												style="width:150px; background: none; background-color:#FFF;">
											</p:inputText>
										</td>
										<td style="width: 12%; text-align: right">
											<shiro:hasPermission name="viewInternalRoles">
												<h:outputText value="View:" styleClass="label" />
											</shiro:hasPermission>	
										</td>
										<td style="width: 13%; text-align: right">
											<shiro:hasPermission name="viewInternalRoles">
												<p:selectOneMenu
													id="roleSelectMenu"
													widgetVar="roleSelectMenu"
													value="#{sysAdminViewBean.selectedRoleId}"
													update="messages"
													process="@this"
													valueChangeListener="#{sysAdminControllerBean.handleGetUsersInRole}"
													style="text-align: left">
													<f:selectItem 
														itemLabel="View Users By Role..." 
														itemValue="0"/>
													<f:selectItems 
														value="#{sysAdminViewBean.roles}" 
														var="role"
														itemLabel="#{role.label}" 
														itemValue="#{role.role_id}"/>
													<p:ajax update="tblSubjectList" oncomplete="subjectsTable.filter()"/>
												</p:selectOneMenu>
											</shiro:hasPermission>
										</td>
									</tr>
								</table>
							</p:outputPanel>					
						</f:facet>
						
						<p:column 
							id="colUsername" 
							sortBy="#{subject.username}"
							filterBy="#{subject.username}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px">
							
							<f:facet name="header">
								<h:outputText value="Logon ID" />
							</f:facet>
							
							<h:outputText value="#{subject.username}" />
						
						</p:column>
						
						<p:column 
							id="colUser" 
							sortBy="#{subject.firstLastEmail}"
							filterBy="#{subject.firstLastEmail}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px">
							
							<f:facet name="header">
								<h:outputText value="User" />
							</f:facet>
							
							<h:outputText value="#{subject.firstLastEmail}" />
						
						</p:column>
	
						<p:column 
							id="colCountry" 
							sortBy="#{subject.country}" 
							filterBy="#{subject.country}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px">
							
							<f:facet name="header">
								<h:outputText value="Country" />
							</f:facet>
							
							<h:outputText value="#{subject.country}" />
						
						</p:column>
						
						<p:column 
							id="colDomain" 
							sortBy="#{subject.realmName}" 
							filterBy="#{subject.realmName}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px">
							
							<f:facet name="header">
								<h:outputText value="Domain" />
							</f:facet>
							
							<h:outputText value="#{subject.realmName}" />
						
						</p:column>
						
						<p:column 
							id="colLocation" 
							sortBy="#{subject.location}"
							filterBy="#{subject.location}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px">
							
							<f:facet name="header">
								<h:outputText value="Location" />
							</f:facet>
							
							<h:outputText value="#{subject.location}" />
						
						</p:column>
						<p:column 
							id="colLinkedId" 
							sortBy="#{subject.linked_id}"
							filterBy="#{subject.linked_id}" 
							filterMatchMode="contains" 
							styleClass="column-header-align-top" 
							style="width: 150px"
							rendered="#{sysAdminViewBean.linkedIdColumnRendered}">
							
							<f:facet name="header">
								<h:outputText value="Linked User Id" />
							</f:facet>
							
							<h:outputText value="#{subject.linked_id}" />
						
						</p:column>
					</p:dataTable>	
					<p:spacer height="20"/>
					<p:outputPanel 
						id="pnlCompareRoles"
						rendered="#{sysAdminViewBean.renderedCompareRoles}"
						layout="block">
						
						<p:fieldset legend="Compare Roles">
						
							<p:spacer height="10" width="10"/>
							
							<p:messages 
								id="assigmentMsgs" 
								for="tblCompareRoles"/>
								
							<p:dataTable
								id="tblCompareRoles"
								border="0"
								var="subj"
								value="#{sysAdminViewBean.subjectsWithRoles}"
								paginator="false"
								resizableColumns="true"
								rowKey="#{subj.username}">
			
									<p:column 
										id="colFirstLastEmail" 
										sortBy="#{subj.firstLastEmail}"
										styleClass="column-header-align-top" 
										style="width:30%"
										headerText="User">
			
										<h:outputText value="#{subj.firstLastEmail}" />
			
									</p:column>
									<p:columns 
										value="#{sysAdminViewBean.roleColumns}" 
										var="column" 
										headerText="#{column.header}"
										styleClass="column-header-align-top"
										style="text-align:center; white-space: normal">
										<p:graphicImage
											rendered="#{subj.hasRole(column.roleName)}" 
											value="#{resource['images/action_check.png']}" />
									</p:columns>
									<f:facet name="footer">
										<p:outputPanel 
											layout="block"
											style="text-align:left; padding-top: 10px">
											<p:commandButton
												id="btnClearSelection"
												value="Clear Comparison List"
												actionListener="#{sysAdminControllerBean.handleResetCompareRoles}"
												update=":frmSysAdmin:pnlMain"
												global="false"
												partialSubmit="true"
												process="@this"/>
										</p:outputPanel>
									</f:facet>
							</p:dataTable>
						</p:fieldset>	
					</p:outputPanel>
				</p:panel>
				
				<p:panel
					id="pnlSystemStatus"
					styleClass="borderless-panel" style="width: 900px"
					rendered="#{sysAdminViewBean.systemStatusRendered}">
					<p:spacer height="10"/>
					<p:panel header="System Status">
						<kf:systemHeartbeat 
							viewBean="#{systemHeartbeatViewBean}" 
							controllerBean="#{systemHeartbeatControllerBean}" 
							polling="false"
							pollingInterval="30"
							viewType="panel"
							showBulkUpload="true"
							showReporting="true"/>
				</p:panel>	
				</p:panel>
				
				
				
			</p:outputPanel>
			<p:dialog 
				id="auditLogDlg" 
				widgetVar="auditLogDlg" 
				width="900" 
				height="550"
				header="Audit Log" 
				modal="true"
				resizable="false"
				closeOnEscape="true">
				<p:outputPanel id="auditLogDlgPanel">
					<pdinh:auditLog/>
					<p:separator/>
					<p:commandButton 
						id="closeAuditLogButton"
						value="Close" 
						styleClass="submit-dialog-button"
						oncomplete="auditLogDlg.hide()"
						global="false"/>
				</p:outputPanel>
			</p:dialog>
			<p:dialog 
				id="assignRolesDlg" 
				widgetVar="assignRolesDlg" 
				header="Role Assignment" 
				modal="true"
				resizable="false"
				closeOnEscape="true"
				width="600">
				<p:outputPanel id="assignRolesDlgPanel">
					<pdinh:editRoles/>
					<p:separator/>
					<p:commandButton 
						id="cancelRoleButton"
						value="Cancel" 
						styleClass="submit-dialog-button"
						oncomplete="assignRolesDlg.hide()"
						global="false"/>
					<p:commandButton 
						id="saveRolesButton"
						value="Save" 
						styleClass="submit-dialog-button"
						onsuccess="assignRolesDlg.hide()"
						actionListener="#{sysAdminControllerBean.handleSaveRoles}"
						update="tblCompareRoles"/>
					<p:defaultCommand target="saveRolesButton"/>	
				</p:outputPanel>
			</p:dialog>
			<p:dialog
				id="linkedAccountDlg"
				widgetVar="linkedAccountDlg"
				header="Setup Linked Account"
				modal="true"
				resizable="false"
				closeOnEscape="true">
				<p:outputPanel id="linkedAccountDialogPanel">
					<pdinh:linkedAccount id="linkedAccountComposite"/>
				</p:outputPanel>
				<p:separator/>
				
				<!-- oncomplete="roleSelectMenu.selectValue(sysAdminViewBean.selectedRoleId)" -->
			</p:dialog>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>