<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">
		<h:form id="frmClientList">
			<p:breadCrumb styleClass="breadcrumb">
				<p:menuitem value="Home" url="clientList.xhtml?faces-redirect=true" />
			</p:breadCrumb>
			<div class="client-header">
				<p:outputPanel id="pnlProjectNav">
					<pdinh:projectNav clientListStyleClass="tab-selected"
						projectListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						participantListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						globalEmailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						emailTemplatesListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						superUserListStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						clipboardStyleClass="#{sessionBean.company==null?'tab-disabled':'tab'}"
						disabled="#{sessionBean.company==null}" />
				</p:outputPanel>
			</div>
			<div class="main-content">
				You are not authorized to view this page.  Go back from whence you came
			</div>
		</h:form>
	
	</ui:define>
</ui:composition>
</html>