<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:shiro="http://shiro.apache.org/tags">
<f:view contentType="text/html"/>
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
		<title>Korn Ferry - PALMS Administration</title>
	</f:facet>
	<h:outputStylesheet library="theme" name="skin.css" target="head" />
	<h:outputStylesheet library="application" name="main.css" target="head" />
	<h:outputScript library="js" name="common.js" />
	<h:outputScript library="js" name="openwindow.js" />
</h:head>
<h:body>
	<div id="header">
		<ui:insert name="header">
			<h:form id="defaultForm">
			
					<!-- no longer calling idleListener for redirect, only via login button on dialog do we redirect -->
					<p:idleMonitor 
					timeout="${(request.session.maxInactiveInterval*1000)-60000}" 
					onidle="timeoutDialog.show()"/> 
					<div class="header">
						<div style="float: left; margin-left:20px;">
								<h:panelGrid columns="2">
									<h:graphicImage alt="Korn Ferry Logo" value="#{resource['images/kf-big.png']}" />
									<h:outputText value="PALMS Administration" styleClass="system-name"/>
								</h:panelGrid>	
						</div>
					<div class="header-link-button" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink 
							style="color: #eeeeee;" 
							rendered="#{sessionBean.loggedIn}" 
							id="btnLogout" 
							value="Logout #{sessionBean.username}" 
							type="submit" action="#{sessionBean.navLogout}"/>
					</div>
					<div class="header-link-button" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink 
							style="color: #eeeeee; font-weight:bold" 
							id="btnRefresh" value="Refresh" 
							type="submit" 
							actionListener="#{sessionBean.handleRefresh}" 
							rendered="#{sessionBean.loggedIn}">
							<f:param name="queryString" value="#{request.queryString}" />
						</h:commandLink>	
					</div>
					<shiro:hasPermission name="accessClassicTools">	
						<div class="header-link-button" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
							<h:outputLink 
								id="btnClassicTools" 
								style="color: #eeeeee; 
								font-weight:bold" 
								value="#{sessionBean.abydProperties.getProperty('legacyToolsUrl')}" 
								target="_blank">
								<h:outputText value="Classic Tools"/>
							</h:outputLink>
						</div>
						<div class="headerLinkSeporator"/>
					</shiro:hasPermission>
					<shiro:hasPermission name="loginAuthorization">
						<div class="header-link-button" style="visibility:#{(sessionBean.loggedIn)? 'visible' : 'hidden; width:0px; padding:0px;'}">
							<p:commandLink id="authLink"
								style="color: #eeeeee; font-weight:bold"
								action="#{sessionBean.handleClickAuthLink}"
								ajax="false">
								<h:outputText value="Authorization"/>
							</p:commandLink>
						</div>
					</shiro:hasPermission>
					<div class="header-link-button" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<p:commandLink id="lrmLink"
							style="color: #eeeeee; font-weight:bold"
							action="#{sessionBean.handleClickLrmLink}"
							ajax="false">
							<h:outputText value="PDA System"/>
						</p:commandLink>
					</div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<div id="content" style="margin: 0px">
		<ui:insert name="content" />
	</div>
	<div id="footer" style="margin-left: 10px;">
		<ui:insert name="footer">
			<!-- <h:outputLabel value="PDI Ninth House - Copyright 2011"	style="text-align: center; font-family: Arial; font-style:italic; font-weight: normal; font-size: 10px" /> -->
<!-- 			   <h:outputText value="IdleMonitor in ${(request.session.maxInactiveInterval*1000)-30000} miliseconds       request.session.maxInactiveInterval is ${request.session.maxInactiveInterval}" /> -->
			
		</ui:insert>	
	</div>
	<p:dialog  
		header="Login required..." 
		widgetVar="timeoutDialog" 
		closable="true"
		resizable="false"
        modal="true" 
        width="420">  
    	
		<h:outputText 
			value="You have been idle for ${(request.session.maxInactiveInterval / 60 / 60)} hours and have been logged off for security purposes. New information cannot be saved until logged in."/>
		<br/>
		<br/>
		Click <b>Login</b> to leave this page or close this dialog to stay on this page and then refresh the browser when ready to login.
		<br/>
		
		<p:separator/>
		<h:panelGroup style="float:right;">
			<h:form><p:commandButton rendered="${applicationScope.startupConfigBean.configProperties.get('loginEnabled')}" styleClass="submit-dialog-button" value="Login" onclick="window.location = 'login.xhtml'"/>
			<p:commandButton id="btnSSO" type="button" styleClass="submit-dialog-button" value="SSO" onclick="window.location = '${request.contextPath}/sso/audience'"/></h:form>
		</h:panelGroup>
	</p:dialog> 
	
	

	<p:dialog 
		modal="true"
		widgetVar="pleaseWaitDialog"
		header="Please wait..." 
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="244">
		<p:outputPanel 
			id="progressBar" 
			styleClass="please-wait-dialog"
			layout="block">
			<p:graphicImage  value="#{resource['images/ajaxloadingbar.gif']}" cache="false"/>
		</p:outputPanel>	
	</p:dialog>		

	<p:dialog 
		modal="true"
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="270"		
		widgetVar="reportStatusDialog" 
		styleClass="please-wait-dialog"
		header="Generating Reports, Please Wait...">
		<p:graphicImage value="#{resource['images/ajaxloadingbar.gif']}" />
	</p:dialog>	
	
	<p:dialog 
		modal="true"
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="270"		
		widgetVar="generateBulkUploadTemplateStatusDialog" 
		styleClass="please-wait-dialog"
		header="Generating Template, Please Wait...">
		<p:graphicImage value="#{resource['images/ajaxloadingbar.gif']}" />
	</p:dialog>	

	<p:dialog 
		modal="true"
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="270"		
		widgetVar="downloadDialog" 
		styleClass="please-wait-dialog"
		header="Downloading, Please Wait...">
		<p:graphicImage value="#{resource['images/ajaxloadingbar.gif']}" />
	</p:dialog>	

	
</h:body>
</html>
