<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">
	
	<f:view contentType="text/html"/>
	
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>Field Dictionary</title>
		</f:facet>
		<h:outputStylesheet library="theme" name="skin.css" target="head" />
		<h:outputStylesheet library="application" name="main.css" target="head" />
		<h:outputScript library="js" name="common.js" />
		<h:outputScript library="js" name="openwindow.js" />
	</h:head>
	<h:body style="overflow-x:hidden;">
		<ui:insert name="header">
			<h:form id="defaultForm">
					<p:idleMonitor 
						timeout="${(request.session.maxInactiveInterval*1000)-60000}" 
						onidle="timeoutDialog.show()"/> 
			</h:form>
		</ui:insert>	
		<ui:insert name="content"/>
		<ui:insert name="footer" />	
	<p:dialog  
		header="Login required..." 
		widgetVar="timeoutDialog" 
		closable="true"
		resizable="false"
        modal="true" 
        width="420">  
    	
		<h:outputText 
			value="You have been idle for ${(request.session.maxInactiveInterval / 60 / 60)} hours and have been logged off for security purposes. New information cannot be saved until logged in."/>
		<br/>
		<br/>
		Click <b>Login</b> to leave this page or close this dialog to stay on this page and then refresh the browser when ready to login.
		<br/>
		
		<p:separator/>
		<h:panelGroup style="float:right;">
			<h:form><p:commandButton rendered="${applicationScope.startupConfigBean.configProperties.get('loginEnabled')}" styleClass="submit-dialog-button" value="Login" onclick="window.location = 'login.xhtml'"/>
			<p:commandButton id="btnSSO" type="button" styleClass="submit-dialog-button" value="SSO" onclick="window.location = '${request.contextPath}/sso/audience'"/></h:form>
		</h:panelGroup>
	</p:dialog> 
	
	<p:dialog 
		modal="true"
		widgetVar="pleaseWaitDialog"
		header="Please wait..." 
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="244">
		<p:outputPanel 
			id="progressBar" 
			styleClass="please-wait-dialog"
			layout="block">
			<p:graphicImage  value="#{resource['images/ajaxloadingbar.gif']}" cache="false"/>
		</p:outputPanel>	
	</p:dialog>		

	<p:dialog 
		modal="true"
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="270"		
		widgetVar="reportStatusDialog" 
		styleClass="please-wait-dialog"
		header="Generating reports, please wait...">
		<p:graphicImage value="#{resource['images/ajaxloadingbar.gif']}" />
	</p:dialog>	
	
	</h:body>
</html>
