<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:shiro="http://shiro.apache.org/tags">
<f:view contentType="text/html"/>
<h:head>
<f:facet name="first">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
	<title>Korn Ferry - PALMS Administration</title>
</f:facet>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<div id="header">
		<ui:insert name="header">
			<h:form id="defaultForm">
				<p:idleMonitor 
						timeout="${(request.session.maxInactiveInterval*1000)-60000}" 
						onidle="timeoutDialog.show()"/> 
					<div class="header">
						<div style="float: left; margin-left:20px;">
								<h:panelGrid columns="2">
									<h:graphicImage alt="Korn Ferry Logo" value="#{resource['images/kf-big.png']}" />
									<h:outputText value="PALMS Administration" styleClass="system-name"/>
								</h:panelGrid>	
						</div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<div id="content" style="margin: 0px">
		<ui:insert name="content" />
	</div>
	<div id="footer" style="margin-left: 10px;">
		<ui:insert name="footer">
			<!-- <h:outputLabel value="PDI Ninth House - Copyright 2011"	style="text-align: center; font-family: Arial; font-style:italic; font-weight: normal; font-size: 10px" /> -->
<!-- 			   <h:outputText value="IdleMonitor in ${(request.session.maxInactiveInterval*1000)-30000} miliseconds       request.session.maxInactiveInterval is ${request.session.maxInactiveInterval}" /> -->
			
		</ui:insert>	
	</div>
	<p:dialog  
			header="View Expired..." 
			widgetVar="timeoutDialog" 
			closable="false"
			resizable="false"
	        modal="true" 
	        width="420">  
	    	
			<h:outputText 
				value="Are you still there?"/>
			<br/>
			<br/>
			Please click refresh to continue, or close the page to exit.
			<br/>
			<p:separator/>
			<h:panelGroup style="float:right;">
				<h:form><p:commandButton styleClass="submit-dialog-button" value="Refresh" onclick="location.reload(true);"/>
				
				</h:form>
			</h:panelGroup>
		</p:dialog> 
	
	<p:dialog 
		modal="true"
		widgetVar="pleaseWaitDialog"
		header="Please wait..." 
		draggable="false" 
		closable="false"
		showEffect="fade"
		hideEffect="fade"
		resizable="false"
		width="244">
		<p:outputPanel 
			id="progressBar" 
			styleClass="please-wait-dialog"
			layout="block">
			<p:graphicImage  value="#{resource['images/ajaxloadingbar.gif']}" cache="false"/>
		</p:outputPanel>	
	</p:dialog>		
</h:body>
</html>
