<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

  <composite:interface>
		<composite:attribute name="consent" type="java.lang.Object"/>
		<composite:attribute name="consentLanguageChange" required="true" method-signature="void handleConsentLanguageChange()"/>
  </composite:interface>

  <composite:implementation>
	<p:outputPanel id="componentContent" rendered="#{not empty cc.attrs.consent}">
		<p:panel header="Information" style="margin-top: 6px">
			<h:panelGrid columns="14">

				<h:outputText value="Reconsent:" styleClass="label"/>
				<h:outputText value="#{(cc.attrs.consent.major) ? 'Yes' : 'No'}"/>
				<p:spacer width="20px" height="10px"/>
				<h:outputText value="Custom:" styleClass="label"/>
				<h:outputText value="#{(cc.attrs.consent.custom) ? 'Yes' : 'No'}"/>
				<p:spacer width="20px" height="10px"/>
				<h:outputText value="Version:" styleClass="label"/>
				<h:outputText value="#{cc.attrs.consent.version}"/>
				<p:spacer width="20px" height="10px"/>
				<h:outputText value="Created:" styleClass="label"/>
				<h:outputText value="#{cc.attrs.consent.created}">
					<f:convertDateTime pattern="dd-MMM-yyyy"/>
				</h:outputText>
				<p:spacer width="20px" height="10px"/>

				<shiro:hasPermission name="assignAdminRoles">
					<h:outputText value="Id:" styleClass="label"/>
					<h:outputText value="#{cc.attrs.consent.id}"/>
				</shiro:hasPermission>

			</h:panelGrid>
			<p:separator/>
			<h:panelGrid columns="2" columnClasses="height-20">
				<h:outputText value="Language:" styleClass="label"/>
				<p:outputPanel>
			        <p:inplace id="event" label="#{cc.attrs.consent.currentTexts[0].languageName}" effectSpeed="fast" event="click">
			            <h:selectOneMenu value="#{cc.attrs.consent.currentTexts[0].languageCode}">
			                <f:selectItems value="#{cc.attrs.consent.availableInLanguages}" var="lang" itemLabel="#{lang.name}" itemValue="#{lang.code}" />
			                <p:ajax
			                	event="change"
			                	listener="#{cc.attrs.consentLanguageChange}"
			                	process="@this"
			                	update="componentContent"
			                	partialSubmit="true" />
			            </h:selectOneMenu>
			        </p:inplace>
		        </p:outputPanel>
			</h:panelGrid>

		</p:panel>
		<p:spacer height="13px" width="100%"/>
		<p:tabView value="#{cc.attrs.consent.currentTexts}" var="text" styleClass="tab-view">
			<p:tab title="#{(text.constant eq 'IN_US') ? 'Within the United States' :
							(text.constant eq 'OUT_OF_US') ? 'Outside the United States' :
							(text.constant eq 'GLOBAL') ? 'Global' : text.constant}">
					<p:scrollPanel style="height: 256px" mode="native">
						<p:outputPanel style="width: 95%">
							<h:outputText value="#{text.text}" escape="false"/>
						</p:outputPanel>
					</p:scrollPanel>
			</p:tab>
		</p:tabView>
	</p:outputPanel>

  </composite:implementation>

</html>