<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">


<composite:interface>
	<composite:attribute name="history" type="java.util.List"/>
</composite:interface>

<composite:implementation>
	<p:outputPanel id="pnlConsentHistory">
		<p:dataTable
			id="tblConsentHistory"
			rowIndexVar="index"
			var="record"
			value="#{cc.attrs.history}"
			paginator="true"
			rows="10"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			paginatorPosition="bottom"
			style="font-size: 9pt !important">

			<p:column sortBy="#{record.consentId}" styleClass="column-header-align-top align-center">
				<f:facet name="header">
					<h:outputText value="Consent Id" />
				</f:facet>
				<h:outputText value="#{record.consentId}" />
			</p:column>

			<p:column sortBy="#{record.consentVersion}" styleClass="column-header-align-top align-center">
				<f:facet name="header">
					<h:outputText value="Version" />
				</f:facet>
				<h:outputText value="#{record.consentVersion}" />
			</p:column>

			<p:column sortBy="#{record.consentTextId}" styleClass="column-header-align-top align-center">
				<f:facet name="header">
					<h:outputText value="Text Id" />
				</f:facet>
				<h:outputText value="#{record.consentTextId}" />
			</p:column>

			<p:column sortBy="#{record.consentTextLanguage}" styleClass="column-header-align-top">
				<f:facet name="header">
					<h:outputText value="Language" />
				</f:facet>
				<h:outputText value="#{record.consentTextLanguage}" />
			</p:column>

			<p:column sortBy="#{(record.accepted) ? 'ACCEPTED' : 'DECLINED'}" styleClass="column-header-align-top align-center">
				<f:facet name="header">
					<h:outputText value="Status" />
				</f:facet>
				<h:outputText value="#{(record.accepted) ? 'ACCEPTED' : 'DECLINED'}" />
			</p:column>

			<p:column sortBy="#{record.date}" styleClass="column-header-align-top align-center">
				<f:facet name="header">
					<h:outputText value="Date" />
				</f:facet>
				<h:outputText value="#{record.date}">
					<f:convertDateTime pattern="dd-MMM-yyyy (hh:mm)"/>
				</h:outputText>
			</p:column>


		</p:dataTable>
	</p:outputPanel>
</composite:implementation>
</html>