<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<p:panel id="numberField" header="Field Configuration" rendered="#{cc.attrs.showPanel}">	
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column>
					<h:outputLabel for="minNumber" value="Minimum Number: " styleClass="label" />
				</p:column>
				<p:column>
		    		<p:spinner id="minNumber" value="#{cc.attrs.field.minimum}" min="-9223372036854775808" max="9223372036854775807" disabled="#{cc.attrs.disablePanel}"/>
				</p:column>
				
				<p:column>
					<h:outputLabel for="defaultNumber" value="Default Number: " styleClass="label" />
				</p:column>
				<p:column>
					<p:inputText id="defaultNumber" value="#{customFieldViewBean.field.defaultValue}" maxlength="100" disabled="#{cc.attrs.disablePanel}"
						onblur="removeInvalidCharacters(this, 3);">
						<pe:keyFilter regEx="/^\d*$/" preventPaste="false" />
					</p:inputText>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<h:outputLabel for="maxNumber" value="Maximum Number: " styleClass="label" />
				</p:column>
				<p:column colspan="3">
		    		<p:spinner id="maxNumber" value="#{cc.attrs.field.maximum}" min="-9223372036854775808" max="9223372036854775807" disabled="#{cc.attrs.disablePanel}"/>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:panel>
</composite:implementation>
</html>