<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<p:panel id="singleLineTextbox" header="Field Configuration" styleClass="margin-top-5px" rendered="#{cc.attrs.showPanel}">	
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column>
					<h:outputLabel for="minCharacters" value="Minimum Characters:" styleClass="label" />
				</p:column>
				<p:column>
		    		<p:spinner id="minCharacters" value="#{cc.attrs.field.minimum}" min="1" max="4000" maxlength="4" disabled="#{cc.attrs.disablePanel}"
		    			onblur="removeInvalidCharacters(this, 4);">
		    			<pe:keyFilter regEx="/\d+/" preventPaste="false" />
		    		</p:spinner>
				</p:column>
				
				<p:column>
					<h:outputLabel for="defaultSingle" value="Default Text:" styleClass="label"  />
				</p:column>
				<p:column>
					<p:inputText id="defaultSingle" value="#{cc.attrs.field.defaultValue}" maxlength="4000" styleClass="width-350px" disabled="#{cc.attrs.disablePanel}"
						onblur="removeInvalidCharacters(this, 2);">
						<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s]$/" preventPaste="false" />
					</p:inputText>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<h:outputLabel for="maxCharacters" value="Maximum Characters:" styleClass="label" />
				</p:column>
				<p:column colspan="3">
		    		<p:spinner id="maxCharacters" value="#{cc.attrs.field.length}" min="1" max="4000" maxlength="4" disabled="#{cc.attrs.disablePanel}"
		    			onblur="removeInvalidCharacters(this, 4);">
		    			<pe:keyFilter regEx="/\d+/" preventPaste="false" />
		    		</p:spinner>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:panel>
</composite:implementation>
</html>