<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
 	<composite:attribute name="panelStyleClass" default="" type="java.lang.String"/>
 	<composite:attribute name="panelBackgroundStyleClass" default="panel-background" type="java.lang.String"/>
  	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="floatButtonBar" default="false" type="java.lang.Boolean"/>
</composite:interface>

<composite:implementation>
	<f:metadata>
 		<f:event type="preRenderView" 
			listener="#{customFieldControllerBean.initView}" />
	</f:metadata>
	<p:panel id="customFieldPanel" header="#{fieldDictionaryViewBean.customFieldHeader}" 
		styleClass="#{cc.attrs.panelStyleClass}" rendered="#{cc.attrs.showPanel}">
		
		<script type="text/javascript">
			
			<!-- Need to do this via javascript because there are focus issues when using PrimeFaces 'update' attribute. -->
			function copyFieldLabel() {
				var internalFieldLabel = document.getElementById("#{p:component('internalFieldLabel')}");			
				var externalFieldLabel = document.getElementById("#{p:component('externalFieldLabel')}");
	
				if ("#{customFieldViewBean.languageCode}" == "en") {
					if (isBlank(externalFieldLabel.value)) {
						externalFieldLabel.value = internalFieldLabel.value;
					}
				}
			}
		</script>
		
		<p:toolbar styleClass="margin-bottom">
		   	<p:toolbarGroup align="left">
				<p:panelGrid columns="1" styleClass="width-auto" columnClasses="#{cc.attrs.panelBackgroundStyleClass}">
		        	<h:outputText value="#{customFieldViewBean.field.existing or customFieldViewBean.editOnly ? 'Edit Field' : 'Create Information Field'}" styleClass="Label"/>
		        </p:panelGrid>
			</p:toolbarGroup>
		   	<p:toolbarGroup align="right">
				<p:panelGrid columns="2" styleClass="width-auto" 
					columnClasses="#{cc.attrs.panelBackgroundStyleClass} padding-none padding-right-5px, #{cc.attrs.panelBackgroundStyleClass} padding-none">
					<h:outputLabel for="customFieldlanguage" value="Switch Language" styleClass="label" />
					
					<p:selectOneMenu id="customFieldlanguage" value="#{customFieldViewBean.languageCode}" 
							disabled="#{customFieldViewBean.editOnly}">
						<f:selectItems value="#{customFieldViewBean.languages}"
							var="language" itemLabel="#{language.label}" itemValue="#{language.code}"/> 
						<p:ajax event="valueChange" listener="#{customFieldControllerBean.handleSelectLanguage}" 
							process="@this" update="customFieldPanel" />
					</p:selectOneMenu>
				</p:panelGrid>
			</p:toolbarGroup>
		</p:toolbar>

		<p:messages id="messages" autoUpate="true"/>												
		
		<h:panelGroup id="fieldPanel" layout="block">
			<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
				<p:row>
					<p:column>
						<h:outputLabel for="internalFieldLabel" value="Internal Field Label:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
						<pdinh:helpLink messageKey="InternalFieldLabel"/> 
					</p:column>
					
					<p:column>
						<p:inputText id="internalFieldLabel" value="#{customFieldViewBean.field.name}" maxlength="400" 
							onblur="removeInvalidCharacters(this, 1);copyFieldLabel();" 
							styleClass="width-180px" disabled="#{customFieldViewBean.editOnly or customFieldViewBean.field.existing}">

							<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
						</p:inputText>
					</p:column>
					
					<p:column>
						<h:outputLabel for="externalFieldLabel" value="External Field Label:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
						<pdinh:helpLink messageKey="ExternalFieldLabel"/> 
					</p:column>
					
					<p:column>
						<p:inputText id="externalFieldLabel" value="#{customFieldViewBean.field.translatedLabel}" maxlength="400" 
						    onblur="removeInvalidCharacters(this, 1);"
							styleClass="width-180px" disabled="#{customFieldViewBean.editOnly or customFieldViewBean.field.existing}">
							
							<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
						</p:inputText>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column>
						<h:outputLabel for="fieldCode" value="Import Template Column Name:" styleClass="label">
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
						<pdinh:helpLink messageKey="InternalShortFieldLabel"/> 
					</p:column>
					
					<p:column>
						<p:inputText id="fieldCode" value="#{customFieldViewBean.field.code}" maxlength="50" styleClass="width-180px" 
						    onblur="removeInvalidCharacters(this, 2);"
							disabled="#{customFieldViewBean.editOnly or customFieldViewBean.field.existing}">
							
							<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s]$/" preventPaste="false" />
						</p:inputText>
					</p:column>
					
					<p:column>
						<h:outputLabel for="description" value="Description:" styleClass="label" />
					</p:column>
					
					<p:column>
						<p:inputText id="description" value="#{customFieldViewBean.field.description}" 
							maxlength="255" styleClass="width-180px"  disabled="#{customFieldViewBean.editOnly or customFieldViewBean.field.existing}"/>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column>
						<h:outputLabel for="inputType" value="Input Type:" styleClass="label" />
					</p:column>
					
					<p:column colspan="3">
						<p:selectOneMenu id="inputType" value="#{customFieldViewBean.field.inputType}" styleClass="width-180px"
						 	disabled="#{customFieldViewBean.editOnly or customFieldViewBean.field.existing}">
							<f:selectItem itemLabel="Single Line Textbox" itemValue="1" />
							<f:selectItem itemLabel="Multiple Line Textbox" itemValue="2" />
							<f:selectItem itemLabel="One Choice" itemValue="3" />
							<f:selectItem itemLabel="Yes/No Choice" itemValue="5" />
							<f:selectItem itemLabel="Number" itemValue="7" />
							<f:selectItem itemLabel="Date" itemValue="8" />
								<p:ajax event="valueChange" listener="#{customFieldControllerBean.handleSelectInputType}" 
									process="@this" update="inputTypePanel" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				
				<p:row rendered="#{!customFieldViewBean.field.internal}">
					<p:column>
						<h:outputLabel for="required" value="Required to Answer: " styleClass="label" />
					</p:column>
					<p:column colspan="3">
						<p:selectBooleanCheckbox id="required" value="#{customFieldViewBean.field.required}"/>
					</p:column>
				</p:row>
				
				<p:row rendered="#{!customFieldViewBean.field.internal}">
					<p:column>
						<h:outputLabel for="importTemplate" value="Include in Import Template: " styleClass="label" />
					</p:column>
					<p:column colspan="3">
						<p:selectBooleanCheckbox id="importTemplate" value="#{customFieldViewBean.field.includeInImportTemplate}"/>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column>
						<h:outputLabel for="includeInAllProjects" value="User Information Field: " styleClass="label" />
						<pdinh:helpLink messageKey="IncludeInAllProjectsLabel"/> 
					</p:column>
					<p:column colspan="3">
						<p:selectBooleanCheckbox id="includeInAllProjects" value="#{customFieldViewBean.field.addedToAllProjects}"/>
					</p:column>
				</p:row>
			</p:panelGrid>
	
			<p:outputPanel id="inputTypePanel">
				<kf:customField_SingleLineTextbox field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.singleLineTextbox}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
					
				<kf:customField_MultiLineTextbox field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.multipleLineTextbox}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
					
				<kf:customField_OneChoice field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.oneChoice}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
					
				<kf:customField_YesNoChoice field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.yesNoChoice}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
					
				<kf:customField_Number field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.numberInput}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
					
				<kf:customField_Date field="#{customFieldViewBean.field}" showPanel="#{customFieldViewBean.field.calendar}"
					disablePanel="#{customFieldViewBean.editOnly}"/>
			</p:outputPanel>
			
			<p:spacer height="10" rendered="#{cc.attrs.showPanel}"/>
			
			<kf:importTransformations view="#{customFieldViewBean}" controller="#{customFieldControllerBean}" disablePanel="false" 
					showPanel="#{cc.attrs.showPanel}"/>
				
			<kf:importMapping view="#{customFieldViewBean}" controller="#{customFieldControllerBean}" disablePanel="false" 
					showPanel="#{cc.attrs.showPanel}"/>
			
		</h:panelGroup>
		
		<p:panel id="changeLogPanel" rendered="#{customFieldViewBean.showChangeLog}">
			<p:separator/>
			<p:spacer height="10"/>				
			<p:dataTable id="changeTable" var="change" value="#{customFieldViewBean.field.changes}" emptyMessage="No changes">
	
				<p:column style="width:20%">
					<f:facet name="header">
						<h:outputText value="Change Date" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{change.date}" />
	  			</p:column>
	 			
				<p:column style="width:20%">
					<f:facet name="header">
						<h:outputText value="Action" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{change.action}" />
	 			</p:column>
	 			
				<p:column style="width:20%">
					<f:facet name="header">
						<h:outputText value="Choice" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{change.choice}" />
	 			</p:column>
				
				<p:column style="width:20%">
					<f:facet name="header">
						<h:outputText value="Original Value" styleClass="label" />
					</f:facet>
					<h:outputText value="#{change.originalValue}" />
				</p:column>
				
				<p:column style="width:20%">
					<f:facet name="header">
						<h:outputText value="New Value" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{change.newValue}" />
				</p:column>
			</p:dataTable>
		</p:panel>
	</p:panel>
	
	<p:spacer height="50" rendered="#{cc.attrs.showPanel and cc.attrs.floatButtonBar}"/>
	<p:outputPanel layout="block" styleClass="footer-toolbar" rendered="#{cc.attrs.showPanel and cc.attrs.floatButtonBar}">
		<p:outputPanel layout="block" styleClass="float-left" style="margin: 10px 0px 10px 25px">
	        <p:commandButton id="deleteField" value="Delete Field" onclick="confirmDeleteField.show()" 
	        	process="@form" rendered="#{customFieldViewBean.field.notEmpty and !customFieldViewBean.editOnly}"/> 
	        	
	        <p:commandButton id="changeLog" value="Change Log" actionListener="#{customFieldControllerBean.handleChangelog}" 
	        	process="@form" update="@form" diabled="${customFieldViewBean.field.isEmpty() or customFieldViewBean.field.isNew()}" 
	        	rendered="#{customFieldViewBean.field.oneChoice or customFieldViewBean.field.yesNoChoice and !customFieldViewBean.editOnly}}"/> 
		</p:outputPanel>
		
		<p:outputPanel layout="block" styleClass="float-right" style="margin: 10px 40px 10px 0px">
	        <p:commandButton id="saveField" value="Save" actionListener="#{customFieldControllerBean.handleSaveField}" 
	        	process="@form" update="@form"/> 
	        	
	        <p:commandButton id="cancelField" value="Cancel" actionListener="#{customFieldControllerBean.handleCancelField}" 
	        	process="@form" update="@form"/> 
		</p:outputPanel>
	</p:outputPanel>
	
	<p:separator rendered="#{cc.attrs.showPanel and !cc.attrs.floatButtonBar}"/>
	<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-100-percent padding-none margin-top-5px" 
		rendered="#{cc.attrs.showPanel and !cc.attrs.floatButtonBar}">
		<p:row>
			<p:column width="50%" styleClass="align-left padding-none">
	        <p:commandButton id="deleteField2" value="Delete Field" onclick="confirmDeleteField.show()" 
	        	process="@form" rendered="#{customFieldViewBean.field.notEmpty and !customFieldViewBean.editOnly}"/> 
	        	
	        <p:commandButton id="changeLog2" value="Change Log" actionListener="#{customFieldControllerBean.handleChangelog}" 
	        	process="@form" update="@form" diabled="${customFieldViewBean.field.isEmpty() or customFieldViewBean.field.isNew()}" 
	        	rendered="#{customFieldViewBean.field.oneChoice or customFieldViewBean.field.yesNoChoice and !customFieldViewBean.editOnly}}"/> 
			</p:column>
			
			<p:column width="50%" styleClass="align-right padding-none">
	        <p:commandButton id="saveField2" value="Save" actionListener="#{customFieldControllerBean.handleSaveField}" 
	        	process="@form" update="@form"/> 
	        	
	        <p:commandButton id="cancelField2" value="Cancel" actionListener="#{customFieldControllerBean.handleCancelField}" 
	        	process="@form" update="@form"/> 
			</p:column>
		</p:row>
	</p:panelGrid>
	
	<p:confirmDialog
		header="Confirm Delete Field"
		widgetVar="confirmDeleteField"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to delete this Field?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmDeleteField.hide();"
				type="button">
			
			</p:commandButton>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmDeleteField.hide();"
				actionListener="#{customFieldControllerBean.handleDeleteField}"
				update="@form"
				process="@this">
			
			</p:commandButton>
	</p:confirmDialog>
</composite:implementation>
</html>