<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<p:panel id="oneChoiceField" header="Field Configuration" rendered="#{cc.attrs.showPanel}">	
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column style="width: 80px;">
					<h:outputLabel for="choiceType" value="Choice Type:" styleClass="label nowrap" />
				</p:column>
				
				<p:column>
					<p:selectOneMenu id="choiceType" value="#{cc.attrs.field.choiceType}" disabled="#{cc.attrs.disablePanel}">
						<f:selectItem itemLabel="Dropdown" itemValue="1" />
						<f:selectItem itemLabel="Radio button" itemValue="2" />
					</p:selectOneMenu>
				</p:column>
			</p:row>
		</p:panelGrid>
		
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-100-percent">
			<p:row>
				<p:column colspan="2" styleClass="valign-top margin-none padding-none"> 
					<p:panelGrid id="choiceOptionTable" cellpadding="0" cellspacing="0" styleClass="width-100-percent margin-none padding-none">
					<p:row>
						<p:column style="width: 20px;" styleClass="valign-top margin-none padding-none">
							<p:panelGrid cellpadding="0" cellspacing="0" columns="1" style="width: 20px;" styleClass="table-margin-none table-padding-none">
								<p:commandLink id="moveTop" process="@form" update="choiceOptionTable" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default do-not-print"
										actionListener="${customFieldControllerBean.handleMoveChoiceTop}" disabled="#{customFieldViewBean.disableMoveChoiceTop}">  
									<h:outputText title="Move to Top" styleClass="ui-icon ui-icon-arrowstop-1-n" />  
								</p:commandLink> 
								
								<p:commandLink id="moveUp" process="@form" update="choiceOptionTable" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default do-not-print"
										actionListener="${customFieldControllerBean.handleMoveChoiceUp}" disabled="#{customFieldViewBean.disableMoveChoiceUp}">  
									<h:outputText title="Move Up" styleClass="ui-icon ui-icon-arrow-1-n" />  
								</p:commandLink>  
								
								<p:commandLink id="moveDown" process="@form" update="choiceOptionTable" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default do-not-print"
										actionListener="${customFieldControllerBean.handleMoveChoiceDown}" disabled="#{customFieldViewBean.disableMoveChoiceDown}">  
									<h:outputText title="Move Down" styleClass="ui-icon ui-icon-arrow-1-s" />  
								</p:commandLink> 
								 
								<p:commandLink id="moveBottom" process="@form" update="choiceOptionTable" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default do-not-print"
										actionListener="${customFieldControllerBean.handleMoveChoiceBottom}" disabled="#{customFieldViewBean.disableMoveChoiceBottom}">  
									<h:outputText title="Move to Bottom" styleClass="ui-icon ui-icon-arrowstop-1-s" />  
								</p:commandLink>  
							</p:panelGrid>
						</p:column>
				
						<p:column style="border: 1px solid #aaaaaa !important;" styleClass="valign-top margin-none padding-none">	
							<p:dataTable id="choiceTable" var="choice" value="#{cc.attrs.field.listValues}" rowKey="#{choice.id}" selectionMode="single" 
							 	emptyMessage="No Choices defined." styleClass="table-no-header table-border-none margin-none width-100-percent"
							 	selection="#{customFieldViewBean.selectedChoice}" disabled="#{cc.attrs.disablePanel}">
						
								<p:ajax event="rowSelect" listener="#{customFieldControllerBean.handleSelectChoice}" process="@this" update="@form" />
							 	
								<p:column style="width: 80px;" styleClass="align-left">
									<h:outputText value="Choice Option #{choice.sequenceOrder}:" styleClass="label nowrap" >
										<h:outputText value="*" styleClass="asterisk-red"/>
									</h:outputText>
								</p:column>
								
								<p:column styleClass="align-left">
			                 		<p:inputText id="choiceLabel" value="#{choice.listValue}" styleClass="width-100-percent" maxlength="100"
			                 			disabled="#{cc.attrs.disablePanel}" onblur="removeInvalidCharacters(this, 2);">
										<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s]$/" preventPaste="false" />
			                 		</p:inputText>
								</p:column>
						
								<p:column id="colDelete" style="width: 20px; text-align: center">
									<p:commandLink disabled="#{cc.attrs.disablePanel}"
										actionListener="#{customFieldControllerBean.handleRemoveChoice}" process="@this"  update="@form" title="Delete Choice">
											<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>
											<f:attribute name="choiceId" value="#{choice.id}" />
									</p:commandLink>
								</p:column>
						
								<p:column style="width: 80px;" styleClass="align-left">
									<h:outputText value="Translated Label: " styleClass="label nowrap" />
								</p:column>
								
								<p:column styleClass="align-left">
										<p:inputText id="choiceTranslatedLabel" value="${choice.translatedLabel}" 
											maxlength="100" styleClass="width-99-percent" disabled="#{cc.attrs.disablePanel}"
											onblur="removeInvalidCharacters(this, 2);">
											<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s]$/" preventPaste="false" />
										</p:inputText>
								</p:column>
											
							</p:dataTable>
						</p:column>
					</p:row>
					</p:panelGrid>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column colspan="2">
					<p:outputPanel layout="block">
						<p:commandButton id="btnAddChoice"
							value="Add Choice"
							disabled="#{cc.attrs.disablePanel}"
							actionListener="#{customFieldControllerBean.handleAddChoice}"
							update="@form" process="@form"
							icon="icon-add"
							styleClass="clear-button">
						</p:commandButton>
					</p:outputPanel>			
				</p:column>
			</p:row>
			
			<p:row>
				<p:column style="width: 80px;">
					<h:outputLabel for="defaultChoice" value="Default Choice:" styleClass="label nowrap" />
				</p:column>
				
				<p:column>
					<p:selectOneMenu id="defaultChoice" value="#{cc.attrs.field.defaultChoice}" disabled="#{cc.attrs.disablePanel}">
						<f:selectItem itemLabel="#{msg['dropdown.default.value']}" itemValue="0" />
						<f:selectItems value="#{cc.attrs.field.listValues}"
							var="choice" itemLabel="Choice Option #{choice.sequenceOrder}" itemValue="#{choice.id}"/>
					</p:selectOneMenu>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:panel>
</composite:implementation>
</html>