<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>  
  	<composite:attribute name="formId" required="true" type="java.lang.String"/>
	<composite:attribute name="viewBean" required="true" type="java.lang.Object"/>
  	<composite:attribute name="controllerBean" required="true" type="java.lang.Object"/>
  	<composite:attribute name="disabled" default="false" type="java.lang.String"/>
  	<composite:attribute name="enableSaveButton" default="enableSaveButton();" type="java.lang.String"/>
</composite:interface>
<composite:implementation>
	<f:subview id="#{cc.attrs.formId}" rendered="#{cc.attrs.viewBean.renderCustomForm}">			
	    <pe:dynaForm id="dynaForm" value="#{cc.attrs.viewBean.dynaFormModel}" var="field" styleClass="custom-form">
	        <pe:dynaFormControl>  
	            <h:outputText value="#{field}" disabled="#{cc.attrs.disabled}"/>  
	        </pe:dynaFormControl>  
	
	        <pe:dynaFormControl type="label" for="lbl">
	            <h:outputText id="lbl" value="#{field.fieldLabel}" styleClass="label nowrap"/>
	        </pe:dynaFormControl>
	        
	        <pe:dynaFormControl type="text_box" for="text_box">
	            <p:inputText id="text_box" value="#{field.value}" maxlength="#{field.fieldLength}" 
	            	styleClass="custom-text-box" disabled="#{cc.attrs.disabled}" label="#{field.fieldLabel}"
	            	onchange="#{cc.attrs.enableSaveButton}"/>
	        </pe:dynaFormControl>
	
	        <pe:dynaFormControl type="text_area" for="text_area">
	            <p:inputTextarea id="text_area" value="#{field.value}" maxlength="#{field.fieldLength}" 
	            	rows="#{field.minimum}" cols="47" autoResize="false" styleClass="custom-text-area" disabled="#{cc.attrs.disabled}"
	            	label="#{field.fieldLabel}" onchange="#{cc.attrs.enableSaveButton}"/>
	        </pe:dynaFormControl>
	        
	        <pe:dynaFormControl type="spinner" for="spinner">
	            <p:spinner id="spinner" value="#{field.value}" min="#{field.minimum}" max="#{field.maximum}" 
	            	styleClass="custom-spinner" disabled="#{cc.attrs.disabled}" label="#{field.fieldLabel}" 
	            	onchange="#{cc.attrs.enableSaveButton}"/>
	        </pe:dynaFormControl>
	
	        <pe:dynaFormControl type="booleanchoice" for="booleanchoice">  
	            <h:selectBooleanCheckbox id="booleanchoice" value="#{field.value}" disabled="#{cc.attrs.disabled}"
	                style="vertical-align:middle;" styleClass="custom-boolean-choice" label="#{field.fieldLabel}"
	                onchange="#{cc.attrs.enableSaveButton}"/>  
	        </pe:dynaFormControl> 
	
	        <pe:dynaFormControl type="radiochoice" for="radiochoice">  
	            <h:selectOneRadio id="radiochoice" value="#{field.value}" styleClass="custom-radio-choice" disabled="#{cc.attrs.disabled}"
	            	label="#{field.fieldLabel}" onchange="#{cc.attrs.enableSaveButton}">  
	                <f:selectItems value="#{field.selectItems}"/>  
	            </h:selectOneRadio>  
	        </pe:dynaFormControl>  

	        <pe:dynaFormControl type="radiochoice_WithUpdate" for="radiochoice_WithUpdate">  
	            <p:selectOneRadio id="radiochoice_WithUpdate" value="#{field.value}" styleClass="custom-radio-choice" disabled="#{cc.attrs.disabled}"
	            	label="#{field.fieldLabel}" onchange="#{cc.attrs.enableSaveButton}">  
	                <f:selectItems value="#{field.selectItems}"/>  
					<p:ajax process="@this" update="#{cc.attrs.formId}" listener="#{cc.attrs.controllerBean.handleCustomRadioChange}" />
	            </p:selectOneRadio>  
	        </pe:dynaFormControl>  
	         
	        <pe:dynaFormControl type="select" for="select" styleClass="border-none">
	 			<p:selectOneMenu id="select" value="#{field.value}" styleClass="custom-select" disabled="#{cc.attrs.disabled}"
	 				label="#{field.fieldLabel}" onchange="#{cc.attrs.enableSaveButton}">
					<f:selectItems value="#{field.selectItems}"/>
				</p:selectOneMenu>
			</pe:dynaFormControl>        
	         
	        <pe:dynaFormControl type="select_WithUpdate" for="select_WithUpdate" styleClass="border-none">
	 			<p:selectOneMenu id="select_WithUpdate" value="#{field.value}" styleClass="custom-select" disabled="#{cc.attrs.disabled}"
	 				label="#{field.fieldLabel}" onchange="#{cc.attrs.enableSaveButton}">
					<f:selectItems value="#{field.selectItems}"/>
					<p:ajax process="@this" update="#{cc.attrs.formId}" listener="#{cc.attrs.controllerBean.handleCustomSelectChange}" />
				</p:selectOneMenu>
			</pe:dynaFormControl>
			
	        <pe:dynaFormControl type="calendar" for="calendar">
				<p:calendar id="calendar" value="#{field.value}" pattern="dd-MMM-yyyy" showOn="button" 
					disabled="#{cc.attrs.disabled}" styleClass="custom-calendar" label="#{field.fieldLabel}"
					onblur="#{cc.attrs.enableSaveButton}"/>
			</pe:dynaFormControl>
			 
	        <f:facet name="buttonBar">
	            <p:commandButton value="#{msg['SAVE_BUTTON']}" action="#{cc.attrs.controllerBean.handleCustomFormSubmit}"
	            	process="#{cc.attrs.formId}" update="@form" rendered="#{cc.attrs.viewBean.renderCustomButtonBar}"/>
	        </f:facet>
	    </pe:dynaForm>
	</f:subview>
</composite:implementation>
</html>