<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<p:panel id="dateField" header="Field Configuration" rendered="#{cc.attrs.showPanel}">	
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column>
					<h:outputLabel for="defaultDate" value="Default Date: " styleClass="label" />
				</p:column>
				<p:column>
					<p:calendar id="defaultDate" value="#{cc.attrs.field.defaultDate}"
						label="Default Date" pattern="dd-MMM-yyyy" showOn="button" disabled="#{cc.attrs.disablePanel}"/>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:panel>
</composite:implementation>
</html>