<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
  	<composite:attribute name="languageCode" required="true" type="java.lang.String"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
</composite:interface>

<composite:implementation>
	<p:panel id="customFieldSummary" rendered="#{cc.attrs.showPanel}">
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column styleClass="width-180px">
					<h:outputLabel for="fieldLabel" value="Internal Field Label: " styleClass="label" />
				</p:column>
				<p:column styleClass="width-180px">
					<h:outputText id="fieldLabel" value="#{cc.attrs.field.name}" />
				</p:column>
				
				<p:column>
					<h:outputText for="translatedLabel" value="External Field Label: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="translatedLabel" value="#{cc.attrs.field.translatedLabel}" />
				</p:column>
			</p:row>
	
			<p:row>
				<p:column styleClass="width-180px">
					<h:outputLabel for="code" value="Import Template Column Name: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="code" value="#{cc.attrs.field.code}" />
				</p:column>
				
				<p:column>
					<h:outputText for="description" value="Description: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="description" value="#{cc.attrs.field.description}" />
				</p:column>
			</p:row>
						
			<p:row>
				<p:column styleClass="width-180px">
					<h:outputLabel for="inputType" value="Input Type: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="inputType" value="#{cc.attrs.field.inputTypeName}"/>
				</p:column>

				<p:column>
					<h:outputLabel for="required" value="Required to Answer: " styleClass="label" rendered="#{!cc.attrs.field.internal}" />
				</p:column>
				<p:column>
					<h:outputText id="required" value="#{cc.attrs.field.required ? 'Yes' : 'No'}" rendered="#{!cc.attrs.field.internal}"/>
				</p:column>
			</p:row>			
						
			<p:row>
				<p:column styleClass="width-180px">
					<h:outputLabel for="includeInAllProjects" value="User Information Field: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="includeInAllProjects" value="#{cc.attrs.field.addedToAllProjects ? 'Yes' : 'No'}"/>
				</p:column>
				
				<p:column>
					<h:outputLabel for="importTemplate" value="Include in Import Template: " styleClass="label" rendered="#{!cc.attrs.field.internal}" />
				</p:column>
				<p:column>
					<h:outputText id="importTemplate" value="#{cc.attrs.field.includeInImportTemplate ? 'Yes' : 'No'}" rendered="#{!cc.attrs.field.internal}"/>
				</p:column>
			</p:row>			
		
			<p:row>
				<p:column styleClass="valign-top">
					<h:outputLabel for="fieldTransformations" value="Field Transformations: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top">
					<ui:repeat id="fieldTransformations" value="#{cc.attrs.field.fieldTransformations}" var="fieldTransformation" varStatus="status">
						<div><h:outputText value="#{fieldTransformation.name}"/></div>
			 		</ui:repeat>	
				</p:column>
				<p:column colspan="2"></p:column>
			</p:row>					
			
			<p:row>
				<p:column styleClass="valign-top">
					<h:outputLabel for="fieldAlias" value="Field Aliases: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top">
					<ui:repeat id="fieldAlias" value="#{cc.attrs.field.fieldNameAliases}" var="fieldAlias" varStatus="status">
						<div><h:outputText value="#{fieldAlias.aliasName}"/></div>
			 		</ui:repeat>	
				</p:column>
				<p:column colspan="2"></p:column>
			</p:row>					
			
			<p:row rendered="${cc.attrs.field.hasWhatChangedMsg()}">
				<p:column styleClass="valign-top">
					<h:outputLabel for="whatChanged" value="What Changed: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top" colspan="3">
					<h:outputText id="whatChanged" value="#{cc.attrs.field.whatChangedMsg}"/>
				</p:column>
			</p:row>					
		</p:panelGrid>
		<p:separator/>
	
		<kf:customField_SingleLineTextbox_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}" rendered="#{cc.attrs.showPanel and cc.attrs.field.singleLineTextbox}"/>
		<kf:customField_MultiLineTextbox_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}"  rendered="#{cc.attrs.showPanel and cc.attrs.field.multipleLineTextbox}"/>
		<kf:customField_OneChoice_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}"  rendered="#{cc.attrs.showPanel and cc.attrs.field.oneChoice}"/>
		<kf:customField_YesNoChoice_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}"  rendered="#{cc.attrs.showPanel and cc.attrs.field.yesNoChoice}"/>
		<kf:customField_Number_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}"  rendered="#{cc.attrs.showPanel and cc.attrs.field.numberInput}"/>
		<kf:customField_Date_Summary field="#{cc.attrs.field}" languageCode="#{cc.attrs.languageCode}"  rendered="#{cc.attrs.showPanel and cc.attrs.field.calendar}"/>
	</p:panel>
</composite:implementation>
</html>