<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
 	<composite:attribute name="languageCode" required="true" type="java.lang.String"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
</composite:interface>
<composite:implementation>
	<p:panelGrid id="singleLineTextbox" cellpadding="0" cellspacing="0" styleClass="width-auto" rendered="#{cc.attrs.showPanel}">
		<p:row>
			<p:column styleClass="width-180px">
				<h:outputLabel for="minCharacters" value="Minimum Characters: " styleClass="label" />
			</p:column>
			<p:column>
	    		<h:outputText id="minCharacters" value="#{cc.attrs.field.minimum}"/>
			</p:column>
		</p:row>
		
		<p:row>
			<p:column styleClass="width-180px">
				<h:outputLabel for="maxCharacters" value="Maximum Characters: " styleClass="label" />
			</p:column>
			<p:column>
	    		<h:outputText id="maxCharacters" value="#{cc.attrs.field.length}"/>
			</p:column>
		</p:row>
		
		<p:row>
			<p:column styleClass="width-180px">
				<h:outputLabel for="defaultSingle" value="Default Value: " styleClass="label" />
			</p:column>
			<p:column>
				<h:outputText id="defaultSingle" value="#{cc.attrs.field.defaultValue}"/>
			</p:column>
		</p:row>
	</p:panelGrid>
</composite:implementation>
</html>