<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.CustomFieldDto"/>
 	<composite:attribute name="languageCode" required="true" type="java.lang.String"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
</composite:interface>
<composite:implementation>
	<p:panelGrid id="oneChoiceFieldSummary" cellpadding="0" cellspacing="0" styleClass="width-100-percent" rendered="#{cc.attrs.showPanel}">
		<p:row>
			<p:column styleClass="width-80px">
				<h:outputLabel for="choiceType" value="Choice Type: " styleClass="label nowrap" />
			</p:column>
			<p:column>
				<h:outputText id="choiceType" value="#{cc.attrs.field.choiceTypeName}"/>
			</p:column>
		</p:row>

		<p:row>
			<p:column colspan="2" style="border: 1px solid #aaaaaa !important;" styleClass="valign-top margin-none padding-none">
				<p:dataTable id="choiceTable" var="choice" value="#{cc.attrs.field.listValues}" 
				 	emptyMessage="No Choices defined." styleClass="table-no-header table-border-none margin-none width-100-percent" tableStyleClass="width-auto">
			
					<p:column styleClass="align-left width-80px">
						<h:outputText value="Choice Option #{choice.sequenceOrder}:" styleClass="label nowrap" />
					</p:column>
					
					<p:column styleClass="align-left">
                 		<h:outputText id="choiceLabel" value="#{choice.listValue}" styleClass="nowrap"/>
					</p:column>
			
					<p:column styleClass="align-left width-80px">
						<h:outputText value="Translated Label: " styleClass="label nowrap" />
					</p:column>
					
					<p:column styleClass="align-left">
						<h:outputText id="choiceTranslatedLabel" value="${choice.translatedLabel}" styleClass="nowrap" />
					</p:column>
								
				</p:dataTable>
			</p:column>
		</p:row>
		
		<p:row>
			<p:column styleClass="width-80px">
				<h:outputLabel for="defaultChoice" value="Default Choice: " styleClass="label nowrap" />
			</p:column>
			<p:column>
				<h:outputText id="defaultChoice" value="#{cc.attrs.field.defaultChoiceName}"/>
			</p:column>
		</p:row>
	</p:panelGrid>
</composite:implementation>
</html>