<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
	<composite:attribute name="value" type="java.lang.String"/>
	<composite:attribute name="tableRef" type="java.lang.String"/>
	<composite:attribute name="rowId" type="int"/>
	<composite:attribute name="details" type="java.lang.String"/>
</composite:interface>

<composite:implementation>

		<script type="text/javascript">
			function selectTableRow(dataTableElt, rowIndex) {
				var paginator = dataTableElt.getPaginator();
				var previousRecs = paginator.cfg.page * paginator.cfg.rows;
				dataTableElt.unselectAllRows();
				dataTableElt.selectRow(rowIndex - previousRecs);
			}
		</script>
		
		<!-- Upload In Progress -->
		<p:graphicImage 
			value="#{resource['images/import_status/upload_in_progress.png']}" 
			height="16" width="16"
			title="#{msg['UPLOAD_IN_PROGRESS']}"
			rendered="#{cc.attrs.value eq 'UPLOAD_IN_PROGRESS'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Validation Pending -->
		<p:graphicImage 
			value="#{resource['images/import_status/validation_pending.png']}" 
			height="16" width="16"
			title="#{msg['VALIDATION_PENDING']}"
			rendered="#{cc.attrs.value eq 'VALIDATION_PENDING'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
		
		<!-- Validation In Progress -->
		<p:graphicImage 
			value="#{resource['images/import_status/validation_in_progress.png']}" 
			height="16" width="16"
			title="#{msg['VALIDATION_IN_PROGRESS']}"
			rendered="#{cc.attrs.value eq 'VALIDATION_IN_PROGRESS'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
		
		<!-- Validation Complete -->
		<p:graphicImage 
			value="#{resource['images/import_status/validation_complete.png']}" 
			height="16" width="16"
			title="#{msg['VALIDATION_COMPLETE']}"
			rendered="#{cc.attrs.value eq 'VALIDATION_COMPLETE'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Import Pending -->
		<p:graphicImage 
			value="#{resource['images/import_status/import_pending.png']}" 
			height="16" width="16"
			title="#{msg['IMPORT_PENDING']}"
			rendered="#{cc.attrs.value eq 'IMPORT_PENDING'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
	
		<!-- Import In Progress -->
		<p:graphicImage 
			value="#{resource['images/import_status/import_in_progress.png']}" 
			height="16" width="16"
			title="#{msg['IMPORT_IN_PROGRESS']}"
			rendered="#{cc.attrs.value eq 'IMPORT_IN_PROGRESS'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
		
		<!-- Import Complete -->
		<p:graphicImage 
			value="#{resource['images/import_status/import_complete.png']}" 
			height="16" width="16"
			title="#{msg['IMPORT_COMPLETE']}"
			rendered="#{cc.attrs.value eq 'IMPORT_COMPLETE'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>		

		<!-- Cancelled -->
		<p:graphicImage 
			value="#{resource['images/import_status/cancelled.png']}" 
			height="16" width="16"
			title="#{msg['CANCELLED']}"
			rendered="#{cc.attrs.value eq 'CANCELLED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Error -->
		<p:graphicImage 
			value="#{resource['images/import_status/error.png']}" 
			height="16" width="16"
			title="#{msg['ERROR']} - #{cc.attrs.details}"
			rendered="#{cc.attrs.value eq 'ERROR'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>



</composite:implementation>
</html>