<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="view" required="true" type="com.kf.uffda.view.FieldViewBean"/>
  	<composite:attribute name="controller" required="true" type="com.pdinh.presentation.controller.FieldControllerBean"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<script type="text/javascript">
	function hideAliasDialog() {
		if (typeof addFieldNameAliasDialog != 'undefined') { 
			addFieldNameAliasDialog.hide();
		}
	}
	</script>
	<p:panel id="importMapping" header="Import Mapping" rendered="#{cc.attrs.showPanel}">	
		<p:dataTable 
			id="fieldNameAliases" 
			var="fieldAlias" 
			value="#{cc.attrs.view.field.fieldNameAliases}" 
			emptyMessage="No Aliases defined." 
			styleClass="margin-top-5px" 
			rowKey="#{fieldAlias.id}">
			
			<p:column style="width:80%" styleClass="align-left">
				<f:facet name="header">
					<h:outputText value="Field Alias" styleClass="label" />
				</f:facet>
 				<h:outputText value="#{fieldAlias.aliasName}" />
  			</p:column>
  	
			<p:column id="colEdit" width="2%" styleClass="align-center">
				<p:commandLink actionListener="#{cc.attrs.controller.handleEditSelectedAlias}"
					process="@form" oncomplete="updateAddAliasPanel(); addFieldNameAliasDialog.show()" title="Edit Alias" >
						<p:graphicImage value="#{resource['images/action_edit_document.png']}" styleClass="noBorder"/>	
						<f:attribute name="fieldAliasId" value="#{fieldAlias.id}" />
				</p:commandLink>
			</p:column>
			
			<p:column id="colDelete" width="2%" styleClass="align-center">
				<p:commandLink actionListener="#{cc.attrs.controller.handleDeleteSelectedAlias}"
					oncomplete="confirmRemoveAliasDlg.show()" process="@form" title="Remove Alias">
						<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
						<f:attribute name="fieldAliasId" value="#{fieldAlias.id}" />
				</p:commandLink>
			</p:column>	
		</p:dataTable>
		
		<p:spacer height="10"/>
		<p:separator/>
		<p:spacer height="5"/>
		
		<p:outputPanel layout="block" styleClass="add-new-button-panel">
			<p:commandLink actionListener="#{cc.attrs.controller.handleNewSelectedAlias}" process="@form"
				oncomplete="updateAddAliasPanel(); addFieldNameAliasDialog.show()" title="Add Alias">
				<p:graphicImage value="#{resource['images/action_add.png']}" styleClass="noBorder"/>	
				<h:outputText value=" Add Alias"  styleClass="clear-button label"/>
			</p:commandLink>
		</p:outputPanel>			
	</p:panel>
	<p:confirmDialog
		header="Confirm Remove Alias"
		widgetVar="confirmRemoveAliasDlg"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to remove this Alias?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmRemoveAliasDlg.hide();"
				type="button">
			
			</p:commandButton>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmRemoveAliasDlg.hide();"
				actionListener="#{cc.attrs.controller.handleRemoveAlias}"
				update="fieldNameAliases"
				process="@this">
			
			</p:commandButton>
	</p:confirmDialog>
	<p:dialog
		id="addFieldNameAliasDlg"
		header="Add/Edit Alias"
		widgetVar="addFieldNameAliasDialog"
		showEffect="fade"
		hideEffect="fade"
		width="400"
		modal="true"
		closable="false">

		<p:outputPanel id="addAliasPanel" layout="block">
			<p:messages for="addAliasPanel" autoUpate="true"/>												
			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="aliasNameInput" value="Field Alias:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column>
						<p:inputText id="aliasNameInput" value="#{cc.attrs.view.aliasName}" maxlength="100" styleClass="width-200px"
							onblur="removeInvalidCharacters(this, 1);" >

							<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
						</p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
	
			<p:separator/>
			
			<p:commandButton 
				value="Cancel" 
				styleClass="submit-dialog-button"
				onclick="addFieldNameAliasDialog.hide()"/>
				
			<p:commandButton 
				value="Save"
				styleClass="submit-dialog-button" 
				actionListener="#{cc.attrs.controller.handleSaveAlias}"
				update="addAliasPanel fieldNameAliases"/>
		</p:outputPanel>
	</p:dialog>
	<p:remoteCommand name="updateAddAliasPanel" process="@this" update="addAliasPanel"/>
</composite:implementation>
</html>