<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="view" required="true" type="com.kf.uffda.view.FieldViewBean"/>
  	<composite:attribute name="controller" required="true" type="com.pdinh.presentation.controller.FieldControllerBean"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>
<composite:implementation>
	<script type="text/javascript">
		function hideValueDialog() {
			if (typeof addValueDialog != 'undefined') { addValueDialog.hide(); }
		}
		function hideValueMapDialog() {
			if (typeof addValueMapDialog != 'undefined') { addValueMapDialog.hide(); }
		}
	</script>
	<p:panel id="transformationPanel" header="Import Transformations" rendered="#{cc.attrs.showPanel}">	
		<p:outputPanel rendered="#{!cc.attrs.view.showAddTransformation}" layout="block" styleClass="margin-top-5px width-100-percent">
			<p:dataTable 
				id="fieldTransformations" 
				var="fieldTransformation" 
				value="#{cc.attrs.view.field.fieldTransformations}" 
				emptyMessage="No transformations defined." 
				styleClass="width-100-percent" 
				rowKey="#{fieldTransformation.id}"
				rendered="#{!cc.attrs.view.showAddTransformation}">
				
				<p:column style="width:80%" styleClass="align-left">
					<f:facet name="header">
						<h:outputText value="Field Transformation" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{fieldTransformation.name}" />
	  			</p:column>
	  	
				<p:column id="colEdit" width="2%" styleClass="align-center">
					<p:commandLink actionListener="#{cc.attrs.controller.handleEditTransformation}"
						process="@form" update="@form" title="Edit Transformation" >
							<p:graphicImage value="#{resource['images/action_edit_document.png']}" styleClass="noBorder"/>	
							<f:attribute name="fieldTransformationId" value="#{fieldTransformation.id}" />
					</p:commandLink>
				</p:column>
				
				<p:column id="colDelete" width="2%" styleClass="align-center">
					<p:commandLink actionListener="#{cc.attrs.controller.handleDeleteTransformation}"
						oncomplete="confirmRemoveTransformationDlg.show()" process="@form" title="Remove Transformation">
							<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
							<f:attribute name="fieldTransformationId" value="#{fieldTransformation.id}" />
					</p:commandLink>
				</p:column>	
			</p:dataTable>
			
			<p:spacer height="10"/>
			<p:separator/>
			<p:spacer height="10"/>

			<p:commandLink actionListener="#{cc.attrs.controller.handleAddTransformation}"
				process="@form" update="@form" title="Add Transformation" >
				<p:graphicImage value="#{resource['images/action_add.png']}" styleClass="noBorder"/>	
				<h:outputText value=" Add Transformation"  styleClass="clear-button label"/>
			</p:commandLink>
		</p:outputPanel>
		
		<p:panel id="addTransformationPanel" header="Add/Edit Transformation" rendered="#{cc.attrs.view.showAddTransformation}">	
			<p:panelGrid styleClass="width-auto" >
				<p:row>
					<p:column styleClass="align-left width-100px">
						<h:outputLabel for="transformationTypeInput" value="Transformation:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column stleClass="align-left">
						<p:selectOneMenu id="transformationTypeInput" value="#{cc.attrs.view.selectedTransformationTypeId}" >
							<f:selectItem itemLabel="#{msg['dropdown.default.value']}" itemValue="0" />
							<f:selectItems value="#{cc.attrs.view.transformationTypes}"
								var="transformationType" itemLabel="#{transformationType.name}" itemValue="#{transformationType.id}"/>
								<p:ajax event="change" 
									process="addTransformationPanel" update="addTransformationPanel" 
									listener="#{cc.attrs.controller.handleTransformationTypeChange}"/>
						</p:selectOneMenu>
					</p:column>
				</p:row>
				
				<p:row rendered="#{cc.attrs.view.showValueMap}">
					<p:column styleClass="align-left width-100px">
						<h:outputLabel for="valueMapInput" value="Value Map:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column styleClass="align-left">
						<p:selectOneMenu id="valueMapInput" value="#{cc.attrs.view.selectedValueMapId}" >
							<f:selectItem itemLabel="#{msg['dropdown.default.value']}" itemValue="0" />
							<f:selectItems value="#{cc.attrs.view.valueMaps}"
								var="valueMap" itemLabel="#{valueMap.name}" itemValue="#{valueMap.id}"/>
								<p:ajax event="change" 
									process="addTransformationPanel" update="addTransformationPanel" 
									listener="#{cc.attrs.controller.handleValueMapChange}"/>
						</p:selectOneMenu>
						
						<p:commandLink actionListener="#{cc.attrs.controller.handleAddValueMap}"
							oncomplete="addValueMapDialog.show()" process="@form" update="addValueMapPanel" title="Add a Value Map" 
							style="margin-left: 5px; padding-bottom: 5px;">
							<p:graphicImage value="#{resource['images/action_add.png']}" styleClass="noBorder"/>	
						</p:commandLink>
						
						<p:commandLink actionListener="#{cc.attrs.controller.handleEditValueMap}" disabled="${cc.attrs.view.selectedValueMapId == 0}"
							oncomplete="addValueMapDialog.show()" process="@form" update="addValueMapPanel" title="Edit the Value Map" 
							style="margin-left: 5px; padding-bottom: 5px;">
							<p:graphicImage value="#{resource['images/action_edit_document.png']}" styleClass="noBorder"/>	
							<f:attribute name="valueMapId" value="#{cc.attrs.view.selectedValueMapId}" />
						</p:commandLink>
						
						<p:commandLink actionListener="#{cc.attrs.controller.handleDeleteValueMap}" disabled="${cc.attrs.view.selectedValueMapId == 0}"
							oncomplete="confirmRemoveValueMapDlg.show()" process="@form" title="Remove the Value Map" 
							style="margin-left: 5px; padding-bottom: 5px;">
							<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
							<f:attribute name="valueMapId" value="#{cc.attrs.view.selectedValueMapId}" />
						</p:commandLink>
					</p:column>
				</p:row>
				
				<p:row rendered="#{cc.attrs.view.showValueList}">
					<p:column colspan="2" styleClass="align-left">
						<p:panel id="valuesPanel" header="Values">	
							<p:dataTable 
								id="valueMapValues" 
								var="value" 
								value="#{cc.attrs.view.selectedValueMap.fieldValueMapValues}" 
								emptyMessage="No values defined." 
								styleClass="margin-top-5px width-100-percent"
								rowKey="#{fieldTransformation.id}">
								
								<p:column style="width:48%" styleClass="border-1px">
									<f:facet name="header">
										<h:outputText value="From Value" styleClass="label" />
									</f:facet>
					 				<h:outputText value="#{value.fromValue}" />
					  			</p:column>
					  	
								<p:column style="width:48%" styleClass="border-1px">
									<f:facet name="header">
										<h:outputText value="To Value" styleClass="label" />
									</f:facet>
					 				<h:outputText value="#{value.toValue}" />
					  			</p:column>
	
								<p:column id="colEdit" width="2%" styleClass="align-center border-1px">
									<p:commandLink actionListener="#{cc.attrs.controller.handleEditValue}"
										oncomplete="updateAddValuePanel(); addValueDialog.show();" process="@form" title="Edit Value" >
											<p:graphicImage value="#{resource['images/action_edit_document.png']}" styleClass="noBorder"/>	
											<f:attribute name="valueId" value="#{value.id}" />
									</p:commandLink>
								</p:column>
								
								<p:column id="colDelete" width="2%" styleClass="align-center border-1px">
									<p:commandLink actionListener="#{cc.attrs.controller.handleDeleteValue}"
										oncomplete="confirmRemoveValueDlg.show()" process="@form" title="Remove Value">
											<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
											<f:attribute name="valueId" value="#{value.id}" />
									</p:commandLink>
								</p:column>	
							</p:dataTable>
							
							<p:spacer height="10"/>
							<p:separator/>
							<p:spacer height="5"/>
							
							<p:outputPanel layout="block" styleClass="add-new-button-panel">
								<p:commandLink actionListener="#{cc.attrs.controller.handleAddValue}"
									oncomplete="addValueDialog.show()" process="@form" update="addValuePanel" title="Add Value">
									<p:graphicImage value="#{resource['images/action_add.png']}" styleClass="noBorder"/>	
									<h:outputText value=" Add Value"  styleClass="clear-button label"/>
								</p:commandLink>
							</p:outputPanel>			
						</p:panel>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column colspan="2">
						<p:separator/>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="2" styleClass="align-right">
						<p:commandButton id="saveTransformation" value="Save" 
							disabled="#{!cc.attrs.view.transformationSaveAllowed}"
							actionListener="#{cc.attrs.controller.handleSaveTransformation}"
							process="@form" update="@form"/>
							
						<p:commandButton id="cancelTransformation" value="Cancel" 
							actionListener="#{cc.attrs.controller.handleCancelTransformation}"
							process="@form" update="@form"/>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:panel>
	</p:panel>
		
	<p:spacer height="10" rendered="#{cc.attrs.showPanel}"/>
	
	<p:confirmDialog
		header="Confirm Remove Transformation"
		widgetVar="confirmRemoveTransformationDlg"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to remove this Transformation?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmRemoveTransformationDlg.hide();"
				type="button"/>
				
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmRemoveTransformationDlg.hide();"
				actionListener="#{cc.attrs.controller.handleRemoveTransformation}"
				update="fieldTransformations"
				process="@this"/>
	</p:confirmDialog>
		
	<p:confirmDialog
		header="Confirm Remove Value"
		widgetVar="confirmRemoveValueDlg"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to remove this Value?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmRemoveValueDlg.hide();"
				type="button"/>
				
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="updateAddTransformationPanel(); confirmRemoveValueDlg.hide();"
				actionListener="#{cc.attrs.controller.handleRemoveValue}"
				process="@this"/>
	</p:confirmDialog>
		
	<p:confirmDialog
		header="Confirm Remove Value Map"
		widgetVar="confirmRemoveValueMapDlg"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to remove this Value Map?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmRemoveValueMapDlg.hide();"
				type="button"/>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmRemoveValueMapDlg.hide();"
				actionListener="#{cc.attrs.controller.handleRemoveValueMap}"
				process="@this" update="@form"/>
	</p:confirmDialog>
	
	<p:dialog
		id="addValueDlg"
		header="Add/Edit Value"
		widgetVar="addValueDialog"
		showEffect="fade"
		hideEffect="fade"
		width="500"
		modal="true"
		closable="false">
		<p:outputPanel id="addValuePanel" layout="block">
			<p:messages for="addValuePanel" autoUpate="true"/>												
			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="fromValueInput" value="From Value:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column>
						<p:inputText id="fromValueInput" value="#{cc.attrs.view.fromValue}" maxlength="255" styleClass="width-300px"/>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="toValueInput" value="To Value:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column>
						<p:inputText id="toValueInput" value="#{cc.attrs.view.toValue}" maxlength="255" styleClass="width-300px"/>
					</p:column>
				</p:row>
			</p:panelGrid>
	
			<p:separator/>
			
			<p:commandButton 
				value="Cancel" 
				styleClass="submit-dialog-button"
				onclick="addValueDialog.hide()"/>
				
			<p:commandButton 
				value="Save"
				styleClass="submit-dialog-button" 
				actionListener="#{cc.attrs.controller.handleSaveValue}"
				process="addValuePanel" update="addValuePanel"
				oncomplete="updateAddTransformationPanel(); "/>
		</p:outputPanel>
	</p:dialog>
	
	<p:dialog
		id="addValueMapDlg"
		header="Add/Edit Value Map"
		widgetVar="addValueMapDialog"
		showEffect="fade"
		hideEffect="fade"
		width="500"
		modal="true"
		dynamic="true"
		closable="false">
		<p:outputPanel id="addValueMapPanel" layout="block">
			<p:messages for="addValueMapPanel" autoUpate="true"/>												
			<p:panelGrid>
				<p:row>
					<p:column>
						<h:outputLabel for="nameInput" value="Name:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column>
						<p:inputText id="nameInput" value="#{cc.attrs.view.name}" maxlength="100" styleClass="width-300px"
							onblur="removeInvalidCharacters(this, 1);" >

							<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u00FC:'`\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
						</p:inputText>
					</p:column>
				</p:row>
				
				<p:row>
					<p:column>
						<h:outputLabel for="descriptionInput" value="Description:" styleClass="label" >
							<h:outputText value="*" styleClass="asterisk-red"/>
						</h:outputLabel>
					</p:column>
					
					<p:column>
						<p:inputText id="descriptionInput" value="#{cc.attrs.view.description}" maxlength="255" styleClass="width-300px"/>
					</p:column>
				</p:row>
			</p:panelGrid>
	
			<p:separator/>
			
			<p:commandButton 
				value="Cancel" 
				styleClass="submit-dialog-button"
				onclick="addValueMapDialog.hide()"/>
				
			<p:commandButton 
				value="Save"
				styleClass="submit-dialog-button" 
				actionListener="#{cc.attrs.controller.handleSaveValueMap}"
				process="addValueMapPanel" update="addValueMapPanel"
				oncomplete="updateAddTransformationPanel();"/>
		</p:outputPanel>
	</p:dialog>
	
	<p:remoteCommand name="updateAddTransformationPanel" process="@this" update="addTransformationPanel"/>
	<p:remoteCommand name="updateAddValuePanel" process="@this" update="addValuePanel"/>
	
</composite:implementation>
</html>