<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<composite:interface>
	<composite:attribute name="disablePanel" type="java.lang.Boolean" default="false"/>
</composite:interface>

<composite:implementation>
<shiro:hasPermission name="viewParticipantInfoFields">
	<p:spacer height="10"/>				
	<p:outputPanel id="projectFieldsPanel">								
		<p:panel id="pnlProjectFields" header="Participant Information Fields" widgetVar="w_pnlProjectFields">
							
			<p:dataTable 
				id="projectFields" 
				var="field" 
				value="#{projectFieldsViewBean.fields}" 
				emptyMessage="No Fields defined." 
				styleClass="margin-top-5px" 
				rowKey="#{field.id}">
				
				<p:column style="width:2%">
					<p:rowToggler />
				</p:column>
				
				<p:column style="width:65%" styleClass="align-left valign-middle">
					<f:facet name="header">
						<h:outputText value="Field Label" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{field.name}" title="#{field.fieldTypeName}"/>
	  			</p:column>
	  			
				<p:column style="width:10%" styleClass="align-center valign-middle">
					<f:facet name="header">
						<h:outputText value="Input Type" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{field.inputTypeName}" styleClass="nowrap"/>
	 			</p:column>
	 			
				<p:column styleClass="align-center valign-middle" style="width:7%">
					<f:facet name="header">
						<h:outputText value="Field Type" styleClass="label" />
					</f:facet>
	 				<h:outputText value="#{field.fieldTypeName}" styleClass="nowrap" />
	 			</p:column>
				
				<p:column style="width:7%" styleClass="align-center valign-middle">
					<f:facet name="header">
						<h:outputText value="Include in" styleClass="label" /><br/>
						<h:outputText value="Import Template" styleClass="label" />
					</f:facet>
					<p:selectBooleanCheckbox id="importTemplate" value="#{field.includeInImportTemplate}" 
						disabled="#{field.locked or cc.attrs.disablePanel or !projectFieldsControllerBean.editable}">
						<p:ajax listener="#{projectFieldsControllerBean.saveChangedField}" oncomplete="confirmIncludeInImportTemplateChange.show()" />
						<f:attribute name="fieldId" value="#{field.id}" />	
					</p:selectBooleanCheckbox>
	 			</p:column>
	 			
				<p:column style="width:7%" styleClass="align-center valign-middle">
					<f:facet name="header">
						<h:outputText value="Req'd Answer" styleClass="label" />
	 					<pdinh:helpLink messageKey="fieldDictionaryRequired"/>
					</f:facet>
					<p:selectBooleanCheckbox id="required" value="#{field.required}" 
						disabled="#{field.locked or !field.editable or cc.attrs.disablePanel or !projectFieldsControllerBean.editable}">
						<p:ajax listener="#{projectFieldsControllerBean.saveChangedField}" oncomplete="confirmRequiredAnswerChange.show()" />
						<f:attribute name="fieldId" value="#{field.id}" />	
					</p:selectBooleanCheckbox>
	 			</p:column>
		
				<p:column id="colDelete" width="2%" styleClass="align-center valign-middle">
					<f:facet name="header">
						<pdinh:helpLink messageKey="fieldDictionaryEdit"/>
					</f:facet>
					<h:graphicImage 
						value="#{resource['images/login.png']}" 
						height="16" width="16"
						title="Not Editable"
						rendered="#{!field.deletable}"/>
	
					<p:commandLink
						actionListener="#{projectFieldsControllerBean.saveSelectedField}" oncomplete="confirmRemoveField.show()" 
						rendered="#{field.deletable}" process="@this" title="Remove Field" 
						disabled="#{cc.attrs.disablePanel or !projectFieldsControllerBean.editable}">
							<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
							<f:attribute name="fieldId" value="#{field.id}" />
					</p:commandLink>
				</p:column>	
				
				<p:rowExpansion>
					<kf:standardFieldSummary field="#{field}" languageCode="#{projectFieldsViewBean.languageCode}" 
						showPanel="#{field.standardField}"/>
						
					<kf:customFieldSummary field="${projectFieldsViewBean.getCustomField(field)}" 
						languageCode="#{projectFieldsViewBean.languageCode}" showPanel="#{field.customField}"/>
					</p:rowExpansion>
			</p:dataTable>
			<shiro:hasPermission name="editParticipantInfoFields">
				<p:spacer height="15"/>
				<p:separator/>
				<p:spacer height="10"/>
				
				<p:outputPanel 
					layout="block" 
					styleClass="add-new-button-panel">
					<h:panelGrid columns="2">
						<p:lightBox iframe="true" width="900px" height="490px" onHide="closeFieldsDictionary()" widgetVar="externalFieldLightBox" 
								styleClass="lightbox-button do-not-print">
						    <h:outputLink value="fieldDictionary.xhtml" disabled="#{cc.attrs.disablePanel}" >
								<p:graphicImage value="#{resource['images/action_add.png']}" styleClass="noBorder"/>	
								<h:outputText value=" Add Field to Project"  styleClass="clear-button"/>
								<f:param name="internal" value="false" />	
						    </h:outputLink>
						</p:lightBox>
					</h:panelGrid>
				</p:outputPanel>			
			</shiro:hasPermission>
		</p:panel>
	</p:outputPanel>
	
	<p:remoteCommand name="closeFieldsDictionary" process="@this" update="pnlProjectFields"/>
	
	<p:confirmDialog
		header="Confirm Remove Field"
		widgetVar="confirmRemoveField"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to remove this Field from the project?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmRemoveField.hide();"
				type="button">
			
			</p:commandButton>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmRemoveField.hide();"
				actionListener="#{projectFieldsControllerBean.handleRemoveField}"
				update="projectFields"
				process="@this">
			
			</p:commandButton>
	</p:confirmDialog>
	
	<p:confirmDialog
		header="Confirm Required to Answer change"
		widgetVar="confirmRequiredAnswerChange"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to change the Required to Answer value?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				oncomplete="confirmRequiredAnswerChange.hide();"
				actionListener="#{projectFieldsControllerBean.handleRevertRequiredToAnswer}"
				process="@form"
				update="@form"/>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmRequiredAnswerChange.hide();"
				update="@form"
				actionListener="#{projectFieldsControllerBean.handleUpdateRequiredToAnswer}"
				process="@form"/>
	</p:confirmDialog>
	
	<p:confirmDialog
		header="Confirm Include in Import Template change"
		widgetVar="confirmIncludeInImportTemplateChange"
		width="500"
		closable="false"
		showEffect="fade"
		hideEffect="fade">
			<f:facet name="message">
				<h:outputText value="Are you sure you want to change the Include in Import Template value?" escape="false"/>
			</f:facet>
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				oncomplete="confirmIncludeInImportTemplateChange.hide();"
				actionListener="#{projectFieldsControllerBean.handleRevertImportTemplateChange}"
				process="@form"
				update="@form"/>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				oncomplete="confirmIncludeInImportTemplateChange.hide();"
				update="@form"
				actionListener="#{projectFieldsControllerBean.handleUpdateImportTemplateChange}"
				process="@form"/>
	</p:confirmDialog>
</shiro:hasPermission>
</composite:implementation>
</html>