<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
	<composite:attribute name="value" type="java.lang.String"/>
	<composite:attribute name="tableRef" type="java.lang.String"/>
	<composite:attribute name="rowId" type="int"/>
</composite:interface>

<composite:implementation>

		<script type="text/javascript">
			function selectTableRow(dataTableElt, rowIndex) {
				var paginator = dataTableElt.getPaginator();
				var previousRecs = paginator.cfg.page * paginator.cfg.rows;
				dataTableElt.unselectAllRows();
				dataTableElt.selectRow(rowIndex - previousRecs);
			}
		</script>
		
		<!-- Report Requested -->
		<p:graphicImage 
			value="#{resource['images/report_status/report_requested.png']}" 
			height="16" width="16"
			title="#{msg['REQUESTED'].concat(' - ').concat(msg['REQUESTED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'REQUESTED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Report Queued -->
		<p:graphicImage 
			value="#{resource['images/report_status/report_queued.png']}" 
			height="16" width="16"
			title="#{msg['QUEUED'].concat(' - ').concat(msg['QUEUED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'QUEUED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Queueing Failed -->
		<p:graphicImage 
			value="#{resource['images/report_status/queueing_failed.png']}" 
			height="16" width="16"
			title="#{msg['QUEUEING_FAILED'].concat(' - ').concat(msg['QUEUEING_FAILED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'QUEUEING_FAILED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>		
		
		<!-- Request Processing -->
		<p:graphicImage 
			value="#{resource['images/report_status/request_processing.png']}" 
			height="16" width="16"
			title="#{msg['PROCESSING'].concat(' - ').concat(msg['PROCESSING_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'PROCESSING'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
		
		<!-- Report Generated -->
		<p:graphicImage 
			value="#{resource['images/report_status/report_generated.png']}" 
			height="16" width="16"
			title="#{msg['GENERATED'].concat(' - ').concat(msg['GENERATED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'GENERATED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Report Stored -->
		<p:graphicImage 
			value="#{resource['images/report_status/stored.png']}" 
			height="16" width="16"
			title="#{msg['STORED'].concat(' - ').concat(msg['STORED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'STORED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
	
		<!-- Error Occurred -->
		<p:graphicImage 
			value="#{resource['images/report_status/error.png']}" 
			height="16" width="16"
			title="#{msg['ERROR'].concat(' - ').concat(msg['ERROR_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'ERROR'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
		
		<!-- Request Cancelled -->
		<p:graphicImage 
			value="#{resource['images/report_status/cancelled.png']}" 
			height="16" width="16"
			title="#{msg['CANCELLED'].concat(' - ').concat(msg['CANCELLED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'CANCELLED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Request Cancelled -->
		<p:graphicImage 
			value="#{resource['images/report_status/report_deleted.png']}" 
			height="16" width="16"
			title="#{msg['DELETED'].concat(' - ').concat(msg['DELETED_STATUS_DESCRIPTION'])}"
			rendered="#{cc.attrs.value eq 'DELETED'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
			
		<!-- PDF Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/pdf.png']}" 
			height="16" width="16"
			title="PDF Report"
			rendered="#{cc.attrs.value eq 'application/pdf'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>
			
		<!-- Excel (xls) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/xls.png']}" 
			height="16" width="16"
			title="Excel Report"
			rendered="#{cc.attrs.value eq 'application/x-excel' or cc.attrs.value eq 'application/vnd.ms-excel'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Excel (xlsx) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/xlsx.png']}" 
			height="16" width="16"
			title="Excel Report"
			rendered="#{cc.attrs.value eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- Excel (xlsm) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/xlsm.png']}" 
			height="16" width="16"
			title="Excel Macro-Enabled Report"
			rendered="#{cc.attrs.value eq 'application/vnd.ms-excel.sheet.macroEnabled.12'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- MS Word (doc) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/doc.png']}" 
			height="16" width="16"
			title="MS Word Report"
			rendered="#{cc.attrs.value eq 'application/msword'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- MS Word (docx) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/docx.png']}" 
			height="16" width="16"
			title="MS Word Report"
			rendered="#{cc.attrs.value eq 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- PowerPoint (ppt) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/ppt.png']}" 
			height="16" width="16"
			title="PowerPoint Report"
			rendered="#{cc.attrs.value eq 'application/vnd.ms-powerpoint'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

		<!-- PowerPoint (pptx) Downloadable Report -->
		<p:graphicImage 
			value="#{resource['images/report_status/pptx.png']}" 
			height="16" width="16"
			title="PowerPoint Report"
			rendered="#{cc.attrs.value eq 'application/vnd.openxmlformats-officedocument.presentationml.presentation'}"
			onclick="selectTableRow(#{cc.attrs.tableRef}, #{cc.attrs.rowId})"/>

</composite:implementation>
</html>