<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

	<composite:interface>
		<composite:attribute name="updateOnSave" type="java.lang.String"/>
	</composite:interface>

  <composite:implementation>
  		<p:dialog
  			header="Self-Registration Configuration"
  			widgetVar="selfRegDlg"
			width="750"
			modal="true"
			resizable="false"
			closable="false"
			closeOnEscape="true"
			focus="enabled">

			<p:outputPanel id="selfRegConfigPanel">
				<p:messages for="global" showDetail="true" autoUpdate="true"/>
				<p:panel id="information" style="margin-top: 7px" styleClass="borderless-panel">

					<h:panelGrid columns="2" border="0" columnClasses="width-120 nowrap, height-40">
						<h:outputLabel value="Registration URL: " styleClass="label"/>
						<p:inplace event="click">
							<p:inputTextarea 
								value="#{selfRegConfigViewBean.configuration.selfRegistrationUrl}" readonly="true" style="width: 555px; height: 28px">
								<p:ajax event="blur" update="information" process="information" partialSubmit="true" global="false"/>
							</p:inputTextarea>
						</p:inplace>
					</h:panelGrid>
					
					<h:panelGrid columns="2" columnClasses="width-120 nowrap, width-100-percent align-right">
						<p:spacer height="10" width="100%"/>
						<p:outputPanel>
							<p:commandButton
								value="Open"
								actionListener="#{selfRegConfigControllerBean.openRegistrationUrl}"
								process="@this"
								update="@this"
								partialSubmit="true"/>
							<p:commandButton
								value="Reset"
								onclick="confirmResetUrl.show()"
								type="button"/>
						</p:outputPanel>
					</h:panelGrid>


				</p:panel>
				<p:panel id="settings" header="Settings" width="100%">
					<p:messages id="validationMsgs" for="validation" showDetail="true" autoUpdate="true"/>
					<h:panelGrid columns="3" columnClasses="width-120 height-20, empty height-20, width-120 height-20, empty height-20">

						<p:outputLabel for="enabled" value="Enabled: " styleClass="label"/>
						<h:selectBooleanCheckbox id="enabled" value="#{selfRegConfigViewBean.enabled}"/>
						<p:spacer width="100%" height="20"/>
						<p:outputLabel for="limit" value="Registration Limit: " styleClass="label"/>
							
						<h:panelGrid columns="6">
							<p:spinner
								id="limit"
								value="#{selfRegConfigViewBean.limit}"
								disabled="#{selfRegConfigViewBean.unlimited}"
								max="1000"
								min="1"
								maxlength="4"
								stepFactor="1"
								size="1">
							</p:spinner>
							<p:spacer width="20px" height="10px"/>
							<p:outputLabel for="unlimited" value="Unlimited:" styleClass="label"/>
							<h:selectBooleanCheckbox id="unlimited" value="#{selfRegConfigViewBean.unlimited}">
								<p:ajax event="change" process="@this" update="limit" partialSubmit="true" global="false"/>
							</h:selectBooleanCheckbox>
							<p:spacer width="20px" height="10px"/>

							<h:outputText value="(Already Registered: #{selfRegConfigViewBean.configuration.registrationCount})" styleClass="italic"/>
							
						</h:panelGrid>
						<p:spacer width="100%" height="20"/>

						<h:outputLabel value="Allowed Email Domains: " styleClass="label"/>
							<h:panelGrid columns="2">
								<p:inputText id="domain" size="50" value="#{selfRegConfigViewBean.domain}" autocomplete="off">
									<p:ajax event="keyup" process="@this, add" update="validationMsgs, add" partialSubmit="true" global="false"/>
								</p:inputText>
								<p:commandButton
									id="add"
									styleClass="clear-button"
									icon="icon-add"
									value="Add"
									actionListener="#{selfRegConfigControllerBean.addDomain()}"
									disabled="#{empty selfRegConfigViewBean.domain}"
									update=" settings"
									process="settings"
									partialSubmit="true"/>
								</h:panelGrid>	
					</h:panelGrid>

					<h:panelGrid columns="1" columnClasses="height-20">
						<p:outputPanel id="domains">
							<p:dataTable
								var="domain"
								value="#{selfRegConfigViewBean.domains}"
								paginator="false"
								scrollable="#{(selfRegConfigViewBean.domains.size() lt 6) ? false : true}"
								scrollHeight="121"
								rowIndexVar="index"
								style="width: 690px"
								tableStyleClass="blah">
								<p:column styleClass="column-header-align-top valign-middle">
									<f:facet name="header">
										<h:outputText value="Allowed Domains" />
									</f:facet>
									<h:outputText value="#{domain}"/>
								</p:column>
								<p:column styleClass="column-header-align-top align-center valign-middle" style="width: 20px">
									<f:facet name="header">
										<h:outputText value=""/>
									</f:facet>
									<p:commandButton
										styleClass="clear-button icon-button-small"
										icon="icon-delete"
										actionListener="#{selfRegConfigControllerBean.removeDomain(index)}"
										update="@this, :#{cc.clientId}:settings"
										process="@this, :#{cc.clientId}:settings"
										partialSubmit="true"/>
								</p:column>


							</p:dataTable>
						</p:outputPanel>
					</h:panelGrid>
				</p:panel>
			</p:outputPanel>
			<p:spacer height="10px" width="100%"/>
			<p:separator/>
			<p:commandButton
				value="Cancel"
				type="button"
				styleClass="submit-dialog-button"
				onclick="selfRegDlg.hide()"
				global="false"/>
			<p:commandButton
				value="Save"
				actionListener="#{selfRegConfigControllerBean.saveSettings}"
				styleClass="submit-dialog-button"
				oncomplete="handleCompletionRequest(xhr,status,args,selfRegDlg)"
				process="@this, selfRegConfigPanel"
				update="@this, #{cc.attrs.updateOnSave}"
				partialSubmit="true"/>
			<pdinh:ajaxStatus
				styleClass="ajax-status-in-dialog"
				layout="block"/>

		</p:dialog>

		<p:confirmDialog
			header="Warning"
			widgetVar="confirmResetUrl"
			message="Warning, once you reset Self-Registration URL nobody who received previous URL will be able to register. New URL would need to be provided for those users. Are you sure you want to do that?"
			width="550"
			showEffect="fade"
			hideEffect="fade"
			closable="false">
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button"
				onclick="confirmResetUrl.hide();"
				type="button" />
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button"
				actionListener="#{selfRegConfigControllerBean.resetUrl()}"
				update=":#{cc.clientId}:information"
				process="@this"
				partialSubmit="true"
				onclick="confirmResetUrl.hide();" />
		</p:confirmDialog>

  </composite:implementation>

</html>