<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
 	<composite:attribute name="panelStyleClass" default="" type="java.lang.String"/>
 	<composite:attribute name="panelBackgroundStyleClass" default="panel-background" type="java.lang.String"/>
  	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
	<composite:attribute name="floatButtonBar" default="false" type="java.lang.Boolean"/>
  	<composite:attribute name="disabled" default="false" type="java.lang.Boolean"/>
</composite:interface>

<composite:implementation>
	<f:metadata>
 		<f:event type="preRenderView" 
			listener="#{standardFieldControllerBean.initView}" />
	</f:metadata>
	<p:panel id="standardFieldPanel" header="Form Field" 
		styleClass="#{cc.attrs.panelStyleClass}" rendered="#{cc.attrs.showPanel}">
		
		<p:panel id="headerFieldPanel" header="Edit Field" 
			styleClass="#{cc.attrs.panelStyleClass} border-none" rendered="#{cc.attrs.showPanel}">

			<p:messages id="messages" autoUpate="true"/>												
			
			<h:panelGroup id="fieldPanel" layout="block">
				<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
					<p:row>
						<p:column>
							<h:outputLabel for="fieldLabel" value="Internal Field Label:" styleClass="label" />
						</p:column>
						
						<p:column>
							<h:outputText id="fieldLabel" value="#{standardFieldViewBean.field.name}" />
						</p:column>
					
						<p:column>
							<h:outputLabel for="externalFieldLabel" value="External Field Label:" styleClass="label" />
						</p:column>
						
						<p:column>
							<h:outputText id="externalFieldLabel" value="#{standardFieldViewBean.field.translatedLabel}" maxlength="100"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="inputType" value="Input Type:" styleClass="label" />
						</p:column>
						
						<p:column>
							<h:outputText id="inputType" value="#{standardFieldViewBean.field.inputTypeName}"/>
						</p:column>
						<p:column colspan="2"></p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="required" value="Required to Answer: " styleClass="label" />
						</p:column>
						<p:column>
							<p:selectBooleanCheckbox id="required" value="#{standardFieldViewBean.field.required}" disabled="true"/>
						</p:column>
						<p:column colspan="2"></p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="importTemplate" value="Include in Import Template: " styleClass="label" />
						</p:column>
						<p:column>
							<p:selectBooleanCheckbox id="importTemplate" value="#{standardFieldViewBean.field.includeInImportTemplate}" disabled="true"/>
						</p:column>
						<p:column colspan="2"></p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="importType" value="Used For: " styleClass="label" />
						</p:column>
						<p:column>
							<ui:repeat id="importType" value="#{standardFieldViewBean.field.fieldGroupNames}" var="name" varStatus="status">
								<div><h:outputText value="#{name}"/></div>
					 		</ui:repeat>	
						</p:column>
						<p:column colspan="2"></p:column>
					</p:row>					
				</p:panelGrid>
			</h:panelGroup>
		</p:panel>
		
		<kf:importTransformations view="#{standardFieldViewBean}" controller="#{standardFieldControllerBean}" disablePanel="false" 
				showPanel="#{cc.attrs.showPanel}"/>
		
		<kf:importMapping view="#{standardFieldViewBean}" controller="#{standardFieldControllerBean}" disablePanel="false" 
				showPanel="#{cc.attrs.showPanel}"/>
	</p:panel>
	
	<p:spacer height="50" rendered="#{cc.attrs.showPanel and cc.attrs.floatButtonBar}"/>
	<p:outputPanel layout="block" styleClass="footer-toolbar" rendered="#{cc.attrs.showPanel and cc.attrs.floatButtonBar}">		
		<p:outputPanel layout="block" styleClass="float-right" style="margin: 10px 40px 10px 0px">
	        <p:commandButton id="saveField" value="Save" actionListener="#{standardFieldControllerBean.handleSaveField}" 
	        	process="@form" update="@form"/> 
	        	
	        <p:commandButton id="cancelField" value="Cancel" actionListener="#{standardFieldControllerBean.handleCancelField}" 
	        	process="@form" update="@form"/> 
		</p:outputPanel>
	</p:outputPanel>
	
	<p:separator rendered="#{cc.attrs.showPanel and !cc.attrs.floatButtonBar}"/>
	<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-100-percent padding-none margin-top-5px" 
		rendered="#{cc.attrs.showPanel and !cc.attrs.floatButtonBar}">
		<p:row>
			<p:column width="50%" styleClass="align-left padding-none"></p:column>
			<p:column width="50%" styleClass="align-right padding-none">
	        <p:commandButton id="saveField2" value="Save" actionListener="#{standardFieldControllerBean.handleSaveField}" 
	        	process="@form" update="@form"/> 
	        	
	        <p:commandButton id="cancelField2" value="Cancel" actionListener="#{standardFieldControllerBean.handleCancelField}" 
	        	process="@form" update="@form"/> 
			</p:column>
		</p:row>
	</p:panelGrid>
</composite:implementation>
</html>