<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
   	<composite:attribute name="field" required="true" type="com.kf.uffda.dto.FieldDto"/>
  	<composite:attribute name="languageCode" required="true" type="java.lang.String"/>
	<composite:attribute name="showPanel" default="true" type="java.lang.Boolean"/>
</composite:interface>

<composite:implementation>
	<p:panel id="standardFieldSummary" rendered="#{cc.attrs.showPanel}">
		<p:panelGrid cellpadding="0" cellspacing="0" styleClass="width-auto">
			<p:row>
				<p:column>
					<h:outputLabel for="fieldLabel" value="Internal Field Label: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="fieldLabel" value="#{cc.attrs.field.name}" />
				</p:column>
			</p:row>
						
			<p:row>
				<p:column>
					<h:outputLabel for="inputType" value="Input Type: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="inputType" value="#{cc.attrs.field.inputTypeName}"/>
				</p:column>
			</p:row>
			
			<p:row>
				<p:column>
					<h:outputLabel for="required" value="Required to Answer: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="required" value="#{cc.attrs.field.required ? 'Yes' : 'No'}"/>
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<h:outputLabel for="importTemplate" value="Include in Import Template: " styleClass="label" />
				</p:column>
				<p:column>
					<h:outputText id="importTemplate" value="#{cc.attrs.field.includeInImportTemplate ? 'Yes' : 'No'}"/>
				</p:column>
			</p:row>				
			
			<p:row>
				<p:column styleClass="valign-top">
					<h:outputLabel for="fieldGroups" value="Used For: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top">
					<ui:repeat id="fieldGroups" value="#{cc.attrs.field.fieldGroupNames}" var="name" varStatus="status">
						<div><h:outputText value="#{name}"/></div>
			 		</ui:repeat>	
				</p:column>
			</p:row>					
			
			<p:row>
				<p:column styleClass="valign-top">
					<h:outputLabel for="fieldTransformations" value="Field Transformations: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top">
					<ui:repeat id="fieldTransformations" value="#{cc.attrs.field.fieldTransformations}" var="fieldTransformation" varStatus="status">
						<div><h:outputText value="#{fieldTransformation.name}"/></div>
			 		</ui:repeat>	
				</p:column>
			</p:row>					
			
			<p:row>
				<p:column styleClass="valign-top">
					<h:outputLabel for="fieldAlias" value="Field Aliases: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top">
					<ui:repeat id="fieldAlias" value="#{cc.attrs.field.fieldNameAliases}" var="fieldAlias" varStatus="status">
						<div><h:outputText value="#{fieldAlias.aliasName}"/></div>
			 		</ui:repeat>	
				</p:column>
			</p:row>					
			
			<p:row rendered="${cc.attrs.field.hasWhatChangedMsg()}">
				<p:column styleClass="valign-top">
					<h:outputLabel for="whatChanged" value="What Changed: " styleClass="label" />
				</p:column>
				<p:column styleClass="valign-top" colspan="3">
					<h:outputText id="whatChanged" value="#{cc.attrs.field.whatChangedMsg}"/>
				</p:column>
			</p:row>					
		</p:panelGrid>
	</p:panel>
</composite:implementation>
</html>