<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">
	

<composite:interface>
	<composite:attribute name="viewBean" type="java.lang.Object"/>
	<composite:attribute name="controllerBean" type="java.lang.Object"/>
	<composite:attribute name="polling" type="java.lang.Boolean" default="false"/>
	<composite:attribute name="pollingInterval" type="java.lang.Integer" default="5"/>
	<composite:attribute name="viewType" type="java.lang.String" default="button"/>
	<composite:attribute name="showBulkUpload" type="java.lang.Boolean" default="true"/>
	<composite:attribute name="showReporting" type="java.lang.Boolean" default="false"/>
</composite:interface>

<composite:implementation>
		<p:outputPanel id="pnlSystemStatusButton" rendered="#{cc.attrs.viewType eq 'button'}">
				<p:commandButton 
					value="System Status"
					actionListener="#{cc.attrs.controllerBean.checkHeartbeat(cc.attrs.showBulkUpload, cc.attrs.showReporting)}"
					onstart="pleaseWaitDialog.show();"
					oncomplete="pleaseWaitDialog.hide(); systemStatus.show()"
					styleClass="clear-button"
					iconPos="right"
					icon="#{cc.attrs.controllerBean.allHealthy(cc.attrs.showBulkUpload, cc.attrs.showReporting)}"
					process="@this" partialSubmit="true" update="@this, pnlSystemStatusDialog">
				</p:commandButton>
		</p:outputPanel>
		<p:outputPanel id="pnlSystemStatusPanel" rendered="#{cc.attrs.viewType eq 'panel'}">
			<p:panelGrid style="padding: 5px 20px">
					<p:row>
					<p:column styleClass="align-center system-status-status">
						<h:outputText value="Status" styleClass="label"/>
						</p:column>
					<p:column styleClass="align-center system-status-component-name">
						<h:outputText value="System Component" styleClass="label"/>
						</p:column>
					<p:column styleClass="align-center system-status-component-name">
						<h:outputText value="Application" styleClass="label"/>
						</p:column>
					<p:column styleClass="align-center system-status-status-time">
						<h:outputText value="Status Change Time" styleClass="label"/>
					</p:column>
					<p:column styleClass="align-center system-status-status">
						<p:spacer width="5" height="5"/>	
					</p:column>
					</p:row>
			</p:panelGrid>	
			<p:separator/>
			<ui:repeat var="systemStatus" value="#{cc.attrs.viewBean.systemStatus}" varStatus="s">
				<p:panelGrid 
					styleClass="#{(not s.last) ? 'system-status-table' : ''}" 
					rendered="#{(systemStatus.application eq 'BULK_UPLOAD' and cc.attrs.showBulkUpload) or (systemStatus.application eq 'REPORT_CENTER' and cc.attrs.showReporting)}"
					style="padding: 5px 20px">
					<p:row>
						<p:column styleClass="align-center system-status-status">
							<p:graphicImage 
								value="#{resource['images/heartbeat/good.png']}" 
								height="16" width="16"
								title="#{systemStatus.systemComponentName} is up."
								rendered="#{systemStatus.running}"/>
							<p:graphicImage 
								value="#{resource['images/heartbeat/bad.png']}" 
								height="16" width="16"
								title="#{systemStatus.systemComponentName} is down."
								rendered="#{not systemStatus.running}"/>
						</p:column>
						<p:column styleClass="system-status-component-name">
							<h:outputText value="#{systemStatus.systemComponentName}"/>
						</p:column>
						<p:column styleClass="align-center system-status-component-name">
							<h:outputText value="#{systemStatus.applicationLabel}"/>
						</p:column>						
						<p:column styleClass="align-center system-status-status-time">
							<h:outputText value="#{systemStatus.statusChangeTime}" rendered="#{not empty systemStatus.statusChangeTime}">
								<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
							</h:outputText>
							<h:outputText value="--" rendered="#{empty systemStatus.statusChangeTime}"/>
						</p:column>
						<p:column styleClass="align-center system-status-status">
							<p:commandButton 
								id="info"
								actionListener="#{cc.attrs.controllerBean.showDetails(systemStatus)}"
								rendered="#{not empty systemStatus.details}"
								styleClass="clear-button icon-button-small"
								update=":#{cc.attrs.clientId}:pnlSystemStatusPanel"
								process="@this"
								partialSubmit="true"
								icon="icon-details"
								global="false"/>
						</p:column>
					</p:row>
					<p:row rendered="#{not empty systemStatus.details and systemStatus.detailsVisible}">
						<p:column style="padding: 0px; border-bottom: none !important;" >
							<p:spacer width="5" height="5"/>
						</p:column>
						<p:column colspan="3" style="padding: 0px; border-bottom: none !important;" >
							<p:scrollPanel mode="native" style="#{(systemStatus.statusDetails.size() gt 1) ? 'height: 125px' : ''}; padding: 10px">
								<ui:repeat var="records" value="#{systemStatus.statusDetails}" varStatus="statusOne">
									<table style="background-color: #eeeeee" width="100%">
										<ui:repeat var="record" value="#{records}" varStatus="statusTwo">
											<tr>
												<td style="padding-right: 10px" class="align-right">
													<h:outputText value="#{record.name}" styleClass="label"/>
												</td>
												<td>
													<h:outputText value="#{record.value}" />
												</td>
											</tr>
										</ui:repeat>
									</table>
									<p:separator rendered="#{not statusOne.last}"/>						
								</ui:repeat>
							</p:scrollPanel>			    
						</p:column>
					</p:row>
				</p:panelGrid>	
			</ui:repeat>
			<p:separator/>
			<p:spacer height="10" width="5"/>
			<p:outputPanel styleClass="align-right">
				<p:commandButton 
					value="Recheck"
					actionListener="#{cc.attrs.controllerBean.checkHeartbeat(cc.attrs.showBulkUpload, cc.attrs.showReporting)}"
					process="@this" 
					partialSubmit="true" 
					update="@this, pnlSystemStatusPanel"/>
			</p:outputPanel>	
			
			</p:outputPanel>
	
		<p:dialog
			id="systemStatusDialog"
			header="System Status"
			widgetVar="systemStatus"
			showEffect="fade"
			hideEffect="fade"
			width="800"
			modal="true"
			closable="true"
			resizable="false"
			rendered="#{cc.attrs.viewType eq 'button'}">
			
			<p:outputPanel id="pnlSystemStatusDialog">
				<p:panel styleClass="borderless-panel">
					<p:panelGrid style="padding: 5px 20px">
						<p:row>
							<p:column styleClass="align-center system-status-status">
								<h:outputText value="Status" styleClass="label"/>
							</p:column>
							<p:column styleClass="system-status-component-name">
								<h:outputText value="System Component" styleClass="label"/>
							</p:column>
							<p:column styleClass="align-center system-status-component-name">
								<h:outputText value="Application" styleClass="label"/>
							</p:column>
							<p:column styleClass="align-center system-status-status-time">
								<h:outputText value="Status Change Time" styleClass="label"/>
							</p:column>
							<p:column styleClass="align-center system-status-status">
								<p:spacer width="5" height="5"/>	
							</p:column>
						</p:row>
					</p:panelGrid>	
					<p:separator/>
					<ui:repeat var="systemStatus" value="#{cc.attrs.viewBean.systemStatus}" varStatus="s">
						<p:panelGrid 
							styleClass="#{(not s.last) ? 'system-status-table' : ''}" 
							rendered="#{(systemStatus.application eq 'BULK_UPLOAD' and cc.attrs.showBulkUpload) or (systemStatus.application eq 'REPORT_CENTER' and cc.attrs.showReporting)}"
							style="padding: 5px 20px">
						<p:row>
								<p:column styleClass="align-center system-status-status">
								<p:graphicImage 
									value="#{resource['images/heartbeat/good.png']}" 
									height="16" width="16"
										title="#{systemStatus.systemComponentName} is up."
										rendered="#{systemStatus.running}"/>
								<p:graphicImage 
									value="#{resource['images/heartbeat/bad.png']}" 
									height="16" width="16"
										title="#{systemStatus.systemComponentName} is down."
										rendered="#{not systemStatus.running}"/>
							</p:column>
								<p:column styleClass="system-status-component-name">
									<h:outputText value="#{systemStatus.systemComponentName}"/>
							</p:column>
								<p:column styleClass="align-center system-status-component-name">
									<h:outputText value="#{systemStatus.applicationLabel}"/>
								</p:column>						
								<p:column styleClass="align-center system-status-status-time">
									<h:outputText value="#{systemStatus.statusChangeTime}" rendered="#{not empty systemStatus.statusChangeTime}">
									<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a"/>
								</h:outputText>
									<h:outputText value="--" rendered="#{empty systemStatus.statusChangeTime}"/>
							</p:column>
								<p:column styleClass="align-center system-status-status">
									<p:commandButton 
										id="info"
										actionListener="#{cc.attrs.controllerBean.showDetails(systemStatus)}"
										rendered="#{not empty systemStatus.details}"
										styleClass="clear-button icon-button-small"
										update=":#{cc.attrs.clientId}:pnlSystemStatusDialog"
										process="@this"
										partialSubmit="true"
										icon="icon-details"/>
							</p:column>
							</p:row>
							<p:row rendered="#{not empty systemStatus.details and systemStatus.detailsVisible}">
								<p:column style="padding: 0px; border-bottom: none !important;" >
									<p:spacer width="5" height="5"/>
							</p:column>
								<p:column colspan="3" style="padding: 0px; border-bottom: none !important;" >
									<p:scrollPanel mode="native" style="#{(systemStatus.statusDetails.size() gt 1) ? 'height: 125px' : ''}; padding: 10px">
										<ui:repeat var="records" value="#{systemStatus.statusDetails}" varStatus="statusOne">
											<table style="background-color: #eeeeee" width="100%">
												<ui:repeat var="record" value="#{records}" varStatus="statusTwo">
													<tr>
														<td style="padding-right: 10px" class="align-right">
															<h:outputText value="#{record.name}" styleClass="label"/>
														</td>
														<td>
															<h:outputText value="#{record.value}" />
														</td>
													</tr>
												</ui:repeat>
											</table>
											<p:separator rendered="#{not statusOne.last}"/>						
										</ui:repeat>
									</p:scrollPanel>			    
							</p:column>
							</p:row>
						</p:panelGrid>	
					</ui:repeat>
					
					<p:separator/>
		
					<p:commandButton 
						value="Recheck"
						actionListener="#{cc.attrs.controllerBean.checkHeartbeat(cc.attrs.showBulkUpload, cc.attrs.showReporting)}"
						process="@this" 
						partialSubmit="true" 
						update="pnlSystemStatusButton, pnlSystemStatusDialog"
						styleClass="submit-dialog-button" />
					<pdinh:ajaxStatus 
						styleClass="ajax-status-in-dialog" 
						layout="block" />
						
				</p:panel>
			</p:outputPanel>
				
		</p:dialog>

		
		<p:poll 
			interval="#{cc.attrs.pollingInterval}" 
			rendered="#{cc.attrs.polling}" 
			listener="#{cc.attrs.controllerBean.checkHeartbeat(cc.attrs.showBulkUpload, cc.attrs.showReporting)}" 
			update="#{(cc.attrs.viewType eq 'button') ? 'pnlSystemStatusButton, pnlSystemStatusDialog' : 'pnlSystemStatusPanel'}"
			global="false"/>


</composite:implementation>
</html>