body {
	margin: 0px !important;
	padding: 0px !important;
	font-family: Arial, Verdana, sans-serif;
	background-color: #ffffff !important;
}

form {
	margin: 0px !important;
	padding: 0px !important;
}

.max-width {
	width: 940px !important;
}

.max-height {
	height: 575px !important;
}

.tbl-header-btn .ui-button-text{
	padding-bottom: 0.2em !important;
    padding-top: 0.3em !important;
}
 pre {
	overflow-x: auto !important; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap !important; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap !important; /* Opera 4-6 */
	white-space: -o-pre-wrap !important; /* Opera 7 */
	word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

.italic {
	font-style: italic !important;
}

.bold {
	font-weight: bold !important;
}

button.ui-datepicker-current {
	display: none;
}
.record-nav{
	color: #000000 !important;
	background: none !important;
	background-color: #eeeeee !important;
	border: none !important;
}

.record-nav .ui-button-icon-only .ui-button-text{
	padding:.25em;
	text-indent: -1e+7px;
}

.please-wait-dialog{
	text-align: center;
}
.main-content {
	position:relative;
	background-color: #ffffff !important;
	margin: 30px 25px;
	min-width: 944px;
}

a {
	font-size: 10pt !important;
}
a:link {
	text-decoration: none !important;
}
a:visited {
	text-decoration: none !important;
}
a:hover {
	text-decoration: none !important;
}
a:active {
	text-decoration: none !important;
}

a.underlined:link {
	text-decoration: underline !important;
}
a.underlined:visited {
	text-decoration: underline !important;
}
a.underlined:hover {
	text-decoration: underline !important;
}
a.underlined:active {
	text-decoration: underline !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.submit-dialog-button {
	float: right;
	margin: 6px 2px 6px 6px;
}

.submit-button-right {
	float: right;
	margin: 6px 2px 6px 6px;
}

.submit-button-left {
	float: left;
	margin: 6px 2px 6px 6px;
}

h2 {
	font-size: 20pt !important;
	font-weight: normal !important;
	color: #00735b !important;
	margin-top: 9px !important;
	margin-bottom: 0px !important;
	margin-right: 0px !important;
	padding: 0px !important;
}

h4 {
	font-size: 14pt !important;
	font-weight: normal !important;
	color: #009a72 !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	padding-top: 0px !important;
}

.h2 {
	font-size: 20pt !important;
	font-weight: normal !important;
	color: #00735b !important;
}

.h4 {
	font-size: 14pt !important;
	font-weight: normal !important;
	color: #009a72 !important;
}


.header {
	min-width: 994px;
	height: 56px !important;
	margin: 0px;
	padding-top: 16px !important;
	background-color: #000;
}

.system-name {
	color: #FFF;
	font-weight: bold;
	font-size: 1.125em;
	padding-left: 20px;
}

.header-link-button {
	float: right;
	padding-right: 20px;
	padding-left: 10px;
	margin-top: 12px;
}

.headerLinkSeporator{
	float:right;
	width:2px;
	background-color: #1abc9c;
}

.uppNavLinks {
	color: #eeeeee;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
}



.title {
	font-size: 12pt !important;
	font-weight: bold !important;
}

.label-min-width {
	font-size: 1em !important;
	font-weight: bold !important;
	width: 160px !important;
	display: inline-block;
}

.label-with-wrap {
	font-size: 1em !important;
	font-weight: bold !important;
	white-space: normal !important;
}

.labelLarge {
	font-size: 10pt !important;
	font-weight: bold !important;
}

.label {
	font-size: 9pt !important;
	font-weight: bold !important;
}

.min-label-width{
	display:block;
	width:120px;
}
.errorLabel {
	color: #ff0000;
	font-size: 9pt !important;
	font-weight: bold !important;
}

.noBorder {
	border: none !important;
}

.status-0 {
	width: 24px !important;
	height: 11px !important;
	margin:0 auto;
	background-image: url(#{resource['images/status/instrument_not_activated.png']}) !important;
}

.status-1 {
	width: 24px !important;
	height: 11px !important;
	margin:0 auto;
	background-image: url(#{resource['images/status/instrument_not_started.png']}) !important;
}

.status-2 {
	width: 24px !important;
	height: 11px !important;
	margin:0 auto;
	background-image: url(#{resource['images/status/instrument_started.png']}) !important;
}

.status-3 {
	width: 24px !important;
	height: 11px !important;
	margin:0 auto;
	background-image: url(#{resource['images/status/instrument_completed.png']}) !important;

}

.instrument-column-header {
 	width: 55px !important;
 	vertical-align: top !important;
 	text-align: center !important;
 	font-size: 7pt !important;
}

.instrument-column-header-filter {
	width: 48px !important;
	font-size: 7pt !important;
}

.instrument-column-header-aggregate {
 	width: 48px !important;
 	background: #dddddd !important;
 	vertical-align: top !important;
 	text-align: center !important;
 	font-size: 7pt !important;
}

.column-header-align-top-center {
	width: 48px !important;
	vertical-align: top !important;
	text-align: center !important;
	font-size: 7pt !important;
}

.column-header-align-top {
	vertical-align: top !important;
}

.client-header {
	min-width: 994px;
	height: 45px !important;
	width: 100% !important;
	margin: 0px !important;
	background-color: #616968;
}

.tab {
	font-size: 10pt !important;
	color:#FFFFFF;
	width:100%;
	height:100%;
	background:none;
	border:none;
	cursor:pointer;
	text-align: center !important;
	white-space:nowrap;
}

.tab-background {
	background-color: #a0a5a4 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-disabled {
	color: #bdc3c7 !important;
	font-size: 10pt !important;
	width:100%; height:100%;
	background:none;
	border:none;
	text-align: center !important;
	white-space:nowrap;
}

.tab-disabled-background {
	background: #ecf0f1 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-selected {
	color: #000;
	width:100%; height:100%;
	font-weight:bold;
	font-size: 10pt !important;
	text-align: center !important;
	background:none;
	border:none;
	white-space:nowrap;
}

.tab-selected-background {
	background: #ffffff !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tabBtn{
	float: left;
	margin-right: 5px;
	align: right !important;
}

/*


.column-header-align-top-center {
	width: 48px !important;
	vertical-align: top !important;
	text-align: center !important;
	font-size: 7pt !important;
}

.column-header-align-top {
	vertical-align: top !important;
}

.client-header {
	min-width: 994px;
	height: 50px !important;
	width: 100% !important;
	margin: 0px !important;
	background: #c8bcb2 url("#{resource['primefaces-pdinh:images/ui-bg_highlight-soft_80_c8bcb2_1x100.png']}") 50% 50% repeat-x;
}

.tab {
	font-size: 9pt !important;
	font-weight:bold;
	color:#f8f0ea;
	width:100%; height:100%;
	background:none;
	border:none;
	cursor:pointer;
	text-align: center !important;
	white-space:nowrap;
}

.tab-background {
	background-color: #b3a496 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-disabled {
	color: #D8CFC6 !important;
	font-size: 9pt !important;
	font-weight:bold;
	width:100%; height:100%;
	background:none;
	border:none;
	text-align: center !important;
	white-space:nowrap;
}

.tab-disabled-background {
	background: #C8BFB6 !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tab-selected {
	color:#22505f;
	width:100%; height:100%;
	font-weight:bold;
	font-size: 9pt !important;
	text-align: center !important;
	background:none;
	border:none;
	white-space:nowrap;
}

.tab-selected-background {
	background: #ffffff !important;
	width: 130px !important;
	height: 30px !important;
	text-align: center !important;
}

.tabBtn{
	float: left;
	margin-right: 5px;
	align: right !important;
}

*/

/*
.main-nav-tab-container {
	min-width: 994px;
	height: 41px;
	background-repeat: repeat-x;
	background-image: url(#{ resource [ 'images/mainTabBarBG.png' ]}) !important;
}

.main-nave-tab-margin {
	position: absolute;
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 904px;
}
*/

.breadcrumb {
	min-width: 982px;
	border: none !important;
	background: none !important;
	background-color: #009a72 !important;
	height: 24px !important;
	padding-top: 10px !important;
	font-weight: normal !important;
}

.breadcrumb .ui-menuitem-text {
	margin-right: 0.5em !important;
}

.singleLine {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	display: block;
	position: relative; }
}

.multiLine {
    white-space: normal !important;
}

.text-align-center {
	text-align: center !important;
}

.panelgrid-content-align-top {
    vertical-align: top !important;
}

.panelgrid-hide-border {
	border-style: hidden !important;
}

.ajax-status-in-dialog {
	float: left;
	margin: 9px 0 0 0;
}

.ajax-status-in-confirm-dialog {
	float: left;
	margin: 9px 0 0 9px;
}

.search-all-fields-table table * {
	border: none !important;
}

.custom-error-msg {
	color: #cd0a0a;
	background-color:#fef1ec;
	margin: 5px 5px 10px 5px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #cd0a0a;
}

/****** Project Management menu *******/

.prj-mngt-menubutton h3 {
 	border: none !important;
    background: none !important;
    background-color: #ffffff !important;
}

.prj-mngt-menubutton a {
    font-size: 14pt !important;
	font-weight: normal !important;
	color: #009a72 !important;
    outline: none !important;
}

.prj-mngt-menubutton div.ui-widget-content {
 	border: none !important;
 	background: none !important;
    background-color: #ffffff !important;
}

.prj-mngt-menuitem .ui-menuitem-text {
    font-size: 14pt !important;
	font-weight: normal !important;
	color: #009a72 !important;
	padding-left:  32px;
}

/********************************/


/*** Tab View styling **********/
.tab-view li.ui-state-default {
	background: none !important;
	background-color: #a0a5a4 !important;
    border: 1px solid #a0a5a4 !important;
}

.tab-view ul.ui-widget-header {
	background: none !important;
	background-color: #616968 !important;
}

.tab-view li.ui-state-default a {
	color: #FFFFFF !important;
}

.tab-view li.ui-state-active {
	background: none !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.tab-view li.ui-state-active a {
	color: #000000 !important;
	font-weight: bold !important;
}

/* TABLE VIEW KF BLUE */

.tab-view-blue li.ui-state-default {
	background: none !important;
	background-color: #0098db !important;
    border: 1px solid #0098db !important;
}

.tab-view-blue ul.ui-widget-header {
	background: none !important;
	background-color: #00759d !important;
}

.tab-view-blue li.ui-state-default a {
	color: #FFFFFF !important;
}

.tab-view-blue li.ui-state-active {
	background: none !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.tab-view-blue li.ui-state-active a {
	color: #000000 !important;
	font-weight: bold !important;
}

/* TABLE VIEW KF GREEN */

.tab-view-green li.ui-state-default {
	background: none !important;
	background-color: #009a72 !important;
    border: 1px solid #009a72 !important;
}

.tab-view-green ul.ui-widget-header {
	background: none !important;
	background-color: #00735b !important;
}

.tab-view-green li.ui-state-default a {
	color: #FFFFFF !important;
}

.tab-view-green li.ui-state-active {
	background: none !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.tab-view-green li.ui-state-active a {
	color: #000000 !important;
	font-weight: bold !important;
}


/******************************/

/*** Tab Menu styling **********/

.tab-menu .ui-state-default {
	background: none !important;
    background-color: #a0a5a4 !important;
    border: 1px solid #a0a5a4 !important;
}

.tab-menu .ui-state-active {
	background: none !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.tab-menu .ui-state-default a {
	color: #FFFFFF !important;
}

.tab-menu .ui-state-active a {
	color: #000000 !important;
	font-weight: bold !important;
}

.tab-menu .ui-tabmenuitem {
	top: 2px !important;
}

.tab-menu .ui-menuitem-text {
	margin-left: 1em !important;
	margin-right: 1em !important;
}

.tab-menu .ui-widget-header {
	background: none !important;
	background-color: #616968 !important;
}


/******************************/

.row-errors {
	color: red !important;
	background-image: none !important;
}

.row-complete {
	color: #979797 !important;
	background-image: none !important;
}

/****** Email Rules Setup ****/

.icon-delete {
	background-image: url(#{ resource [ 'images/action_delete.png' ]}) !important;
}

.icon-edit {
	background-image: url(#{ resource [ 'images/action_edit.png' ]}) !important;
}

.icon-add {
	background-image: url(#{ resource [ 'images/action_add.png' ]}) !important;
}

.icon-reset {
	background-image: url(#{ resource [ 'images/reset.png' ]}) !important;
}

.icon-rule-status {
	background-image: url(#{ resource [ 'images/application.png' ]}) !important;
}

.icon-rule-add-template {
	background-image: url(#{ resource [ 'images/action_add_document.png' ]}) !important;
}

.icon-rule-edit-template {
	background-image: url(#{ resource [ 'images/action_edit_document.png' ]}) !important;
}

.icon-question-frame {
	background-image: url(#{ resource [ 'images/question-frame.png' ]}) !important;
}

.icon-excel {
	background-image: url(#{ resource [ 'images/icons/excel_16x16.png' ]}) !important;
}

.toolbar-link-button {
	color: #FFFFFF !important;
	font-weight: bold !important;
	text-decoration: underline !important;
}

/* clear-toolbar */

.clear-toolbar {
	background-color: none !important;
	background: none !important;
	border: none !important;
}

.clear-toolbar .ui-separator {
	border: none !important;
	height: none !important;
	color: none !important;
	background: none !important;
}

.clear-toolbar .ui-icon-grip-dotted-vertical {
	background-position: 0px -224px !important;
}


/* blue-toolbar */

.blue-toolbar  {
	background: none !important;
	background-color: #0098db !important;
	border: none !important;
}

.blue-toolbar .ui-separator {
	border: none !important;
	height: none !important;
	color: none !important;
	background: none !important;
}

.blue-toolbar .ui-icon-grip-dotted-vertical {
	background-position: 0px -224px !important;
}


.clear-button {
	background: none !important;
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
}

.clear-button.ui-state-default {
	color: #000 !important;
}

.clear-button-grey.ui-state-default {
	color: #ccc !important;
}

.clear-button.ui-state-focus, .clear-button-grey.ui-state-focus {
	color: #00735b !important;
}

.clear-button.ui-state-hover, .clear-button-grey.ui-state-hover {
	color: #009a72 !important;
}

.clear-button.ui-state-active, .clear-button-grey.ui-state-active {
	color: #00735b !important;
}

.icon-button.ui-button-icon-only {
	width: 2em;
	height: 2em;
}

.icon-button-small.ui-button-icon-only {
	width: 1em;
	height: 1em;
}

.icon-button-smaller.ui-button-icon-only {
	width: 0.5em;
	height: 0.5em;
}

.scroll-schedule-table {
	height:100px;
}

.schedule-estimated-date {
	color: #9e9e9e;
	font-style:italic;
	font-size: 8pt;
}

.schedule-table {
	width: 680px;
}

.schedule-table tr td {
	border-bottom: 1px dotted #CCCCCC;
}

.ui-scrollpanel {
	border: none !important;
}

.citeria-table {
	width: 180px;
}

.add-new-button-panel {
	margin-left: 10px;
}

.email-rule-ppts-instructions {
	font-size: 8pt;
	color: #9e9e9e;
	text-align: left;
	font-style:italic;
}

/****** Email Rules Data Table ****/

.email-rule-expansion {
	background: none !important;
}

.email-rule-expansion > td {
	padding: 20px  0px !important;
	border: none !important;
	background-color: #ffffff !important;
}

.email-rule-expansion table {
 	width: 70% !important;
	float: left;
	margin-left: 2% !important;
	background-color: #ffffff;
}

.email-rule-expansion td {
	border: none !important;
	border-bottom: 1px dotted #d8d3cd !important;
}

.email-rule-detailes-table-header {
	background-color: #d8d3cd !important;
	border-bottom: 2px solid #b0a599 !important;
}

/*** Email Rule Schedule Status ***/

.schedule-status-current {
	color: #000000 !important;
	background-color:  #eefbec !important;
	background-image: none !important;
}

.schedule-status-complete {
	color: #000000 !important;
	background-color:  #bffab4 !important;
	background-image: none !important;
}

.schedule-status-error {
	color: #000000 !important;
	background-color:  #fab4d0 !important;
	background-image: none !important;
}

.teammember-table tr td {
	border-bottom: 1px dotted #CCCCCC;
}

/****** Email Log Data Table ****/

.email-log-expansion {
	background: none !important;
}

.email-log-expansion > td {
	padding: 20px  0px !important;
	border: none !important;
	background-color: #ffffff !important;
}

.email-log-expansion table {
	width: 70% !important;
	float: left;
	margin-left: 2% !important;
	background-color: #ffffff;
}

.email-log-expansion td {
	border: none !important;
	border-bottom: 1px dotted #d8d3cd !important;
	vertical-align: top !important;
}

/****** Email Log end ****/

.email-rule-detailes-table-header {
	background-color: #d8d3cd !important;
	border-bottom: 2px solid #b0a599 !important;
}


.vertical-align-top {
	vertical-align:top !important;
}

.vertical-align-middle {
	vertical-align:middle !important;
}

.text-align-right {
	text-align:right !important;
}

.ui-editor, .ui-editor > iframe, .ui-editor > textarea {
    width: 99.5% !important;
}

.email-template-table tr td {
	border: 1px thin gray !important;
}

.calendar button {
	background:none !important;
	border:none !important;
	margin:0px !important;
	padding:0px !important;
}

/*** Data Table Style ***/

.new-data-table .ui-widget-header {
	background: none !important;
	background-color: #b0a599 !important;
	border: 1px solid #d8d3cd !important;
}

.new-data-table .ui-state-active {
	background: none !important;
	background-color: #c9c9c9 !important;
	border: 1px solid #b0a599 !important;
}

.new-data-table .ui-state-hover {
	background: none !important;
	background-color: #d8b9ec !important;
	border: 1px solid #b0a599 !important;
}

.new-data-table tr {
	background-image: none !important;
}

.new-data-table th {
	background-image: none !important;
}

.document-panel-left-column {
	vertical-align:top !important;
	width: 70% !important;
}

.document-panel-right-column {
	vertical-align:top !important;
	width: 30% !important;
}

.characters-couter {
	font-size: 7pt;
	color: #9e9e9e;
	text-align: right;
	font-style: italic;
}

.small-text {
	font-size: 8pt !important;
}

.tiny-text {
	font-size: 7pt !important;
}

.accordion-panel h3.ui-state-active {
	background: none !important;
    background-color: #b0a599 !important;
    border: 1px solid #b0a599 !important;
}

.accordion-panel h3 span.ui-icon-triangle-1-s {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/collapse.png' ]}) !important;
}

.accordion-panel h3 span.ui-icon-triangle-1-e {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/expand.png' ]}) !important;
}

.email-preview h2, .email-preview h4 {
	font-family: inherit !important;
	font-weight: bold !important;
	color: #000000 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.email-preview h2 {
	font-size: 1.5em !important;
}

.email-preview h4 {
	font-size: 1em !important;
}

.projectListItemClosed {
	color: #ababab;
}

.width-hundred-pct {
	width: 100% !important;
}

.error-text {
	color: #ff0000 !important;
}

.good-text {
	color: #000000 !important;
}

.asterisk-red {
	color: #ff0000;
	padding-left: 5px !important;
}

.column-header-filter {
 	vertical-align: top !important;
 	background: #FFFFFF !important;
 	height: 23px !important;
}

.help-panel {
	max-width: 350px;
	text-align: left !important;
	color: black !important;
	white-space: normal !important;
	padding: 17px !important;
}

.help-text {
	font-size: 9pt !important;
	font-weight: normal !important;
	text-align: left !important;
	color: black !important;
	white-space: normal !important;
}

.help-icon-adj-button {
	padding-top: 3px !important;
}

.padding-top-2px {
	padding-top: 2px !important;
}

.no-scroll-dialog .ui-dialog-content {
	overflow: hidden !important;
}

.no-background, .no-background .ui-widget-content {
	background: none !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

.valign-top {
	vertical-align: top !important;
}

.valign-middle {
	vertical-align: middle !important;
}

.valign-bottom {
	vertical-align: bottom !important;
}

.checkbox-cell {
	width: 8px !important;
}
/* viaEdge confidence indicators, show when prework status == 2 or 3 (started, complete) */
.veConf-green-3, .veConf-green-2{
	background-color: #32cd32;
	margin:0 auto;
	height:11px;
	width:24px;
	text-align: center;
}
.veConf-yellow-3, .veConf-yellow-2{
	background-color: #ffff00;
	margin:0 auto;
	height:11px;
	width:24px;
	text-align: center;
}
.veConf-red-3, .veConf-red-2{
	background-color: #ff0000;
	margin:0 auto;
	height:11px;
	width:24px;
	text-align: center;
}

.margin-none {
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.margin-auto {
	margin: auto !important;
}

.margin-top {
	margin-top: 10px !important;
}

.margin-top-5px {
	margin-top: 5px !important;
}

.margin-top-15px {
	margin-top: 15px !important;
}

.margin-top-none {
	margin-top: 0px !important;
}

.margin-bottom {
	margin-bottom: 10px !important;
}

.margin-bottom-5px {
	margin-bottom: 5px !important;
}

.margin-bottom-none {
	margin-bottom: 0px !important;
}

.margin-top-bottom {
	margin-top: 5px !important;
	margin-bottom: 15px !important;
}

.margin-Left-10px {
	margin-left: 10px !important;
}

.padding-none {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

.padding-left-right-none {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.padding-right-5px {
	padding-right: 5px !important;
}

.padding-left-5px {
	padding-left: 5px !important;
}

.padding-left-10px {
	padding-left: 10px !important;
}

.padding-4px {
	padding-top: 4px !important;
	padding-right: 4px !important;
	padding-bottom: 4px !important;
	padding-left: 4px !important;
}

.display-block {
	display: block;
}

.display-empty {
	display: ;
}

.display-none {
	display: none;
}

.width-auto {
	width: auto !important;
}

.width-350px {
	width: 350px  !important;
}

.width-300px {
	width: 300px  !important;
}

.width-250px {
	width: 250px  !important;
}

.width-200px {
	width: 200px  !important;
}

.width-180px {
	width: 180px  !important;
}

.width-150px {
	width: 150px  !important;
}

.width-100px {
	width: 100px  !important;
}

.width-80px {
	width: 80px  !important;
}

.width-100-percent {
	width: 100% !important;
}

.width-99-percent {
	width: 99% !important;
}

.width-98-percent {
	width: 98% !important;
}

.nowrap {
	white-space: nowrap !important;
}

.wrap-text {
	white-space: normal !important;
}

.panel-background {
	background: none !important;
	background-color: #616968 !important;
	color: white !important;
}

.panel-overflow > .ui-panel-content {
	overflow-x:auto !important;
}

.panel-nopadding {
	padding-bottom: 0.2em !important;
}

.panel-nopadding > .ui-panel-content {
	padding: 0px !important;
}

.horizontal-scrolling {
	display:block !important;
	overflow-y:initial !important;
	overflow-x:auto !important;
}

.scrollable {
	display:block !important;
	overflow-y:auto !important;
	overflow-x:auto !important;
}

.custom-form {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	border-spacing: 0px !important;
	padding-top: 2px !important;
	padding-right: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	width: auto !important;
}

.custom-form tbody {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.custom-form td {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	padding-top: 3px !important;
	padding-right: 3px !important;
	padding-bottom: 3px !important;
	padding-left: 3px !important;
}

.custom-text-box {
	width: 200px  !important;
}

.custom-text-area {
}

.custom-spinner {
}

.custom-boolean-choice {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.custom-radio-choice {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.custom-radio-choice td {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.custom-select {
	width: 300px  !important;
}

.custom-calendar {
}

.lightbox-button {
	display: inline-block;
	position: relative;
}

.table-no-header table thead tr {
	display: none;
}

.table-no-header-border table thead th {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	border-collapse: initial !important;
}

.table-no-header-border .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	border-collapse: initial !important;
	background: inherit !important;
	padding: 4px 4px !important;
}

.table-border-none {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	border-collapse: initial !important;
}

.table-border-none tbody {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.table-border-none td {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
}

.table-margin-none {
	margin: 0px !important;
}

.table-margin-none tbody {
	margin: 0px !important;
}

.table-margin-none td {
	margin: 0px !important;
}

.table-padding-none {
	padding: 0px !important;
}

.table-padding-none tbody {
	padding: 0px !important;
}

.table-padding-none td {
	padding: 0px !important;
}

.footer-toolbar {
	bottom: 0px;
	position: fixed;
	width: 100%;
	min-width: 920px;
	height: 50px;
	background-color: #FFFFFF;

	box-shadow: 0px -1px 30px #5E5E5E;
	-moz-box-shadow: 0px -1px 30px #5E5E5E;
	-webkit-box-shadow: 0px -1px 30px #5E5E5E;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#5E5E5E, Strength=10, Direction=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#5E5E5E, Strength=10, Direction=0)";
}

.header-toolbar {
	top: 0px;
	position: fixed;
	background-color: #000;
	width: 100%;
	min-width: 920px;
	height: 72px;

	box-shadow: 0px -1px 30px #5E5E5E;
	-moz-box-shadow: 0px -1px 30px #5E5E5E;
	-webkit-box-shadow: 0px -1px 30px #5E5E5E;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#5E5E5E, Strength=10, Direction=180);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#5E5E5E, Strength=10, Direction=180)";
}

.noBorder {
	border: none !important;
}

.border-none {
	border: 0px !important;
	border-width: 0px !important;
	border-style: none !important;
	border-collapse: initial !important;
}

.border-1px {
	border: 1px solid #aaaaaa !important;
}

.pe-dynaform-label {
	font-weight: bold !important;
	text-align: left !important;
	white-space: nowrap !important;
}

.pe-dynaform-buttonbar-bottom {
	text-align: left !important;
}

.pe-dynaform-cell input, .pe-dynaform-cell textarea, .pe-dynaform-cell select {
}

.pe-dynaform-cell[colspan] input, .pe-dynaform-cell[colspan] textarea, .pe-dynaform-cell[colspan] select {
	width: auto !important;
}

/* Do not print support */
@media print {
	.do-not-print {display: none !important;}
	.print-only {}
}

@media screen {
	.do-not-print {}
	.print-only {display: none !important;}
}

.borderless-panel {
	border: none !important;
}
.file-upload-gray {
	width: 605px;
}

.file-upload-gray div.ui-widget-header {
	background: none !important;
	background-color: #626a69 !important;
}


.import-history-expansion {
	background: none !important;
}

.import-history-expansion .import-history-expansion-table > td {
	padding: 20px  0px !important;
	border: none !important;
	background-color: #ffffff !important;
}

.import-history-expansion .import-history-expansion-table table {
 	width: 70% !important;
	float: left;
	margin-left: 2% !important;
	background-color: #ffffff;
}

.import-history-expansion .import-history-expansion-table td {
	border: none !important;
	border-bottom: 1px dotted #d8d3cd !important;
}

.import-history-expansion-table.orange-header td[role="columnheader"] {
	background: none !important;
	background-color: #c75400 !important;
}

.import-history-expansion-table.blue-header td[role="columnheader"] {
	background: none !important;
	background-color:#00759d !important;
}

.import-history-expansion-table.green-header td[role="columnheader"] {
	background: none !important;
	background-color: #00735b !important;
}

.import-history-expansion-table.pink-header td[role="columnheader"] {
	background: none !important;
	background-color: #750060 !important;
}

.orange-button {
	background: #c75400 !important;
	border: 1px solid #ec6b10 !important;
	margin:0px !important;
	padding:0px !important;
	color: #FFFFFF !important;
}

.orange-button-bold {
	background: #c75400 !important;
	border: 1px solid #ec6b10 !important;
	margin:0px !important;
	padding:0px !important;
	color: #FFFFFF !important;
	font-weight: bold !important;
}

.icon-good {
	background-image: url(#{resource['images/heartbeat/good.png']}) !important;
}

.icon-bad {
	background-image: url(#{resource['images/heartbeat/bad.png']}) !important;
}

.icon-status-unknown {
	background-image: url(#{resource['images/heartbeat/status-unknown.png']}) !important;
}

.icon-details {
	background-image: url(#{resource['images/heartbeat/information.png']}) !important;
}


.import-statistics-table tr td {
	border-bottom: 1px dotted #CCCCCC !important;
}

.import-statistics-table-label {
	width: 25%;
}

.import-statistics-table-value {
	width: 75%;
}

.not-recent-log {
	color: #454d4c;
	background: #eee ;
}

.system-status-table tr td {
	border-bottom: 1px dotted #CCCCCC !important;
}

.system-status-status {
	width: 60px !important;
}

.system-status-component-name {
	width: 150px !important;
}

.system-status-status-time {
	width: 150px !important;
}

.view-switcher > table > tbody .ui-widget-content {
	background: none !important;
	color: #FFFFFF !important;
}

.kf-green-panel > .ui-widget-header {
	background: none !important;
	background-color: #009a72 !important;
}

.kf-green-dark-panel > .ui-widget-header {
	background: none !important;
	background-color: #00735b !important;
}

.kf-gray-panel > .ui-widget-header {
	background: none !important;
	background-color: #626a69 !important;
}

.kf-blue-panel > .ui-widget-header {
	background: none !important;
	background-color: #0098db !important;
}

.kf-blue-dark-panel > .ui-widget-header {
	background: none !important;
	background-color: #00759d !important;
}

.kf-orange-panel > .ui-widget-header {
	background: none !important;
	background-color: #0098db !important;
}

.width-120 {
	width: 120px !important;
}

.width-160 {
	width: 160px !important;
}

.width-420 {
	width: 400px !important;
}

.height-10 {
	height: 10px !important;
}

.height-15 {
	height: 15px !important;
}

.height-20 {
	height: 20px !important;
}

.height-25 {
	height: 25px !important;
}

.height-30 {
	height: 30px !important;
}

.height-35 {
	height: 35px !important;
}

.height-40 {
	height: 40px !important;
}

.yellow {
	background-color: yellow !important;
}