<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="header">

	</ui:define>
	<ui:define name="content">
	    <center>
			<h:form id="createuser">
			<p:panelGrid columns="2">
				
				<f:facet name="header">
					Create New User
				</f:facet>
				
				<h:outputLabel for="txtUserName" value="Username: *"/>
				<h:inputText id="txtUserName" value="#{ldapLoginFormBean.userObj.uid.attrVal}"/>
				
				<h:outputLabel for="txtGivenName" value="Given Name: "/>
				<h:inputText id="txtGivenName" value="#{ldapLoginFormBean.userObj.firstName.attrVal}"/>
				
				<h:outputLabel for="txtSurName" value="Sur Name: "/>
				<h:inputText id="txtSurName" value="#{ldapLoginFormBean.userObj.lastName.attrVal}"/>
				
				<h:outputLabel for="txtCn" value="Common Name: "/>
				<h:inputText id="txtCn" value="#{ldapLoginFormBean.userObj.commonName.attrVal}"/>
				
				<h:outputLabel for="txtEmail" value="Email"/>
				<h:inputText id="txtEmail" value="#{ldapLoginFormBean.userObj.email.attrVal}"/>
				
				<h:outputLabel for="orgSelect" value="Organizational Unit"/>
				<h:selectOneMenu id="orgSelect"
 					value="#{ldapLoginFormBean.selectedOrg}">
  					<f:selectItems
   						value="#{ldapLoginFormBean.adminOrgNames}" />
   				</h:selectOneMenu>
		
				
				<h:outputLabel for="txtDescription" value="Description: "/>
				<p:inputTextarea rows="2" cols="50" maxlength="100" counterTemplate="{0} characters remaining." id="txtDescription" value="#{ldapLoginFormBean.userObj.description.attrVal}"/>
				
				<f:facet name="footer">  
			        <p:commandButton id="submit" type="submit" action="#{ldapLoginFormBean.handleCreateUser}" ajax="false" value="Create User" icon="ui-icon-check" style="margin:0"/>  
		    	</f:facet> 
				
			</p:panelGrid>
			</h:form>
		</center>
	</ui:define>
	<ui:define name="footer">
	
	</ui:define>
</ui:composition>
</html>