<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:shiro="http://shiro.apache.org/tags">
	
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{dashboardControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<h:form>
	<p:tabMenu activeIndex="0">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>


		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<shiro:user id="txtCommonNamee">
			<shiro:principal/>
		</shiro:user>
		<!-- h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/-->
		<!-- h:outputText id="txtCommonNamee" value="#{dashboardViewBean.cn}"/> -->


	<div style="float: none; clear: both"></div>
	<h:outputText value="You are logged in with the following Roles: "/>
	<shiro:hasPermission name="viewRoles">
	<p:panelGrid>
		<f:facet name="header">
			Roles
		</f:facet>
		<p:row>
			<p:column>
				<p:dataList value="#{sessionBean.roleContext.roles}" var="role" itemType="square">
					#{role.label} - (#{role.name}) - #{role.description} 
				</p:dataList>
			</p:column>
		</p:row>
	</p:panelGrid>
	</shiro:hasPermission>
		<!-- p:panelGrid>
		<f:facet name="header">
			Permissions
		</f:facet>
		<p:row>
			<p:column>
				<p:dataList value="#{dashboardViewBean.userPermissions}" var="permission" itemType="square">
					#{permission} 
				</p:dataList>
			</p:column>
		</p:row>
	</p:panelGrid-->
	<p:panel id="permissionPanel" header="All System Permissions" style="margin-left: 20%; margin-right: 20%" >
		<p:contextMenu for="pTable" disabled="#{dashboardViewBean.contextMenuDisabled}">
			<p:menuitem value="Show Roles" 
				actionListener="#{dashboardControllerBean.getRolesForPermissions}"
				oncomplete="rolesDialog.show()"
				update="rTable rTablePanel"/>
			<p:menuitem value="Show Permission Groups" 
				actionListener="#{dashboardControllerBean.getPermissionGroupsForPermissions}"
				oncomplete="pgrpDialog.show()"
				update="pgTable pgTablePanel"/>
		</p:contextMenu>
		<h:outputText value="Right click on Permission for more options..."/>
		<p:dataTable id="pTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{dashboardViewBean.selectedPermission}"
			value="#{dashboardViewBean.permissions}" var="perm"
			rowKey="#{perm.permission_id}"
			filteredValue = "#{dashboardViewBean.filteredPermissions}"
			>
			<p:ajax event="rowSelect" listener="#{dashboardControllerBean.handlePermissionSelect}" />

			
			<p:column id="colPermLabel" sortBy="#{perm.label}"
				filterBy="#{perm.label}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Label" />
				</f:facet>
				<h:outputText value="#{perm.label}" />
			</p:column>
			<p:column id="colPermName" sortBy="#{perm.name}"
				filterBy="#{perm.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{perm.name}" />
			</p:column>
			<p:column id="colPermDesc" sortBy="#{perm.description}"
				filterBy="#{perm.description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 200px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{perm.description}" />
			</p:column>

			</p:dataTable>
		</p:panel>

		<p:dialog widgetVar="rolesDialog" id="rolesDialog"
				modal="true"
				header="Role Membership"
				
				closable="true"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
			<p:panel id="rTablePanel">
				<p:spacer height="10"></p:spacer>
				<h:outputLabel for="permNameText" value="Selected Permission:  "></h:outputLabel>
				<h:outputText id="permNameText" value="#{dashboardViewBean.selectedPermission.name}"></h:outputText>
				
				<p:dataTable id="rTable" border="0"
					paginator="true" rows="10" 
					selection="#{dashboardViewBean.selectedRole}"
					value="#{dashboardViewBean.rolesWPermission}" var="role"
					rowKey="#{role.role_id}"
					>
			
					<p:column id="colRoleLabel" sortBy="#{role.label}"
						 styleClass="column-header-align-top" style="width: 100px">
						<f:facet name="header">
							<h:outputText value="Label" />
						</f:facet>
						<h:outputText value="#{role.label}" />
					</p:column>
					<p:column id="colRoleName" sortBy="#{role.name}"
						styleClass="column-header-align-top" style="width: 100px">
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{role.name}" />
					</p:column>
					<p:column id="colRoleDesc" sortBy="#{role.description}"
						styleClass="column-header-align-top" style="width: 200px">
						<f:facet name="header">
							<h:outputText value="Description" />
						</f:facet>
						<h:outputText value="#{role.description}" />
					</p:column>
				
				
				</p:dataTable>
			</p:panel>
		</p:dialog>
		
		<p:dialog widgetVar="pgrpDialog" id="pgrpDialog"
				modal="true"
				header="Permission Group Membership"
				
				closable="true"
				closeOnEscape="true"
				width="940"
				position="center"
				resizable="false">
			<p:panel id="pgTablePanel">
				<p:spacer height="10"></p:spacer>
				<h:outputLabel for="permNameText2" value="Selected Permission:  "></h:outputLabel>
				<h:outputText id="permNameText2" value="#{dashboardViewBean.selectedPermission.name}"></h:outputText>
				
				<p:dataTable id="pgTable" border="0"
					paginator="true" rows="10" 
					selection="#{dashboardViewBean.selectedPermissionGroup}"
					value="#{dashboardViewBean.permGrpsWPermission}" var="pgrp"
					rowKey="#{pgrp.role_id}"
					>
			
					<p:column id="colPgrpLabel" sortBy="#{pgrp.label}"
						 styleClass="column-header-align-top" style="width: 100px">
						<f:facet name="header">
							<h:outputText value="Label" />
						</f:facet>
						<h:outputText value="#{pgrp.label}" />
					</p:column>
					<p:column id="colPgrpeName" sortBy="#{pgrp.name}"
						styleClass="column-header-align-top" style="width: 100px">
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<h:outputText value="#{pgrp.name}" />
					</p:column>
					<p:column id="colPgrpDesc" sortBy="#{role.description}"
						styleClass="column-header-align-top" style="width: 200px">
						<f:facet name="header">
							<h:outputText value="Description" />
						</f:facet>
						<h:outputText value="#{pgrp.description}" />
					</p:column>
				
				
				</p:dataTable>
			</p:panel>
		</p:dialog>

</h:form>
</h:body>
</html>