<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:viewParam name="subjId" value="#{manageEntitiesViewBean.subjectId}"/>
		<f:viewParam name="realmId" value="#{manageEntitiesViewBean.realmId}"/>
		<f:event type="preRenderView"
			listener="#{manageEntitiesControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
<h:form id="form">
	<p:tabMenu activeIndex="5">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
		<!-- p:menuitem value="Manage Entities" rendered="#{sessionBean.renderEntitiesTab}" url="manageEntities.xhtml"/-->
	</p:tabMenu>

<center>
		<p:outputLabel for="txtCommonNamee" value="Entity Access For: "/>
		<p:outputLabel id="txtCommonNamee" value="#{manageEntitiesViewBean.subject.principal}"/>
		<p:outputLabel id="txtRealmName" value="(#{manageEntitiesViewBean.realm.realm_name})"/>
		
		<ui:debug/>
</center>

	<div style="float: none; clear: both"></div>
	
	<p:growl id="growl" sticky="false" showDetail="true"/>
	
	<p:confirmDialog id="confirmDialog" message="Are you sure you want to delete this entity, and all children?"
		header="Confirm Entity Delete" severity="alert" widgetVar="confirmation" width="25%">
		<p:commandButton id="confirm" value="Yes indeedy" oncomplete="confirmation.hide()"
			actionListener="#{manageEntitiesControllerBean.handleDeleteEntity}"
			update="entityTable"/>
		<p:commandButton id="decline" value="Cease and Desist!" onclick="confirmation.hide()" type="button"/>
	</p:confirmDialog>
	
	<p:panel id="entityPanel" header="Manage Entity Access" style="margin-left: 5%; margin-right: 5%" >
		<p:toolbar id="topToolbar">
			<p:toolbarGroup id="pnlSearchToolbar">
					<p:commandButton id="editEntityButton" value="Edit Entity" disabled="#{manageEntitiesViewBean.editEntityButtonDisabled}" 
						actionListener="#{manageEntitiesControllerBean.handleEditEntity}" 
						onsuccess="editEntityDlg.show()"
						oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
						update="entityRolesPanel"/>
					<p:commandButton id="deleteEntityButton" value="Delete Entity" 
						disabled="#{manageEntitiesViewBean.deleteEntityButtonDisabled}" 
						onclick="confirmation.show()"
						/>
	
			</p:toolbarGroup>	
			<p:toolbarGroup id="addEntityGroup" align="right">
				<p:commandButton id="addCompanyButton" value="Add Company"
					disabled="#{manageEntitiesViewBean.addCompanyButtonDisabled}"
					actionListener="#{manageEntitiesControllerBean.handleCompanyInit}"
					oncomplete="addCompanyEntityDlg.show()"
					update="addCoPanel"/>
				
				<p:commandButton id="addProjectButton" value="Add Project"
					actionListener="#{manageEntitiesControllerBean.addProjectInit}"
					oncomplete="addProjectEntityDlg.show()"
					update="addPrjPanel"/>
				<p:commandButton id="addUserButton" value="Add Project User"
					actionListener="#{manageEntitiesControllerBean.addProjectUserInit}"
					oncomplete="addProjectUserEntityDlg.show()"
					update="addPrjUserPanel"
				/>
			</p:toolbarGroup>
		</p:toolbar>		
		<p:separator></p:separator>
		<p:dataTable id="entityTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{manageEntitiesViewBean.selectedEntity}"
			value="#{manageEntitiesViewBean.entities}" var="entity"
			rowKey="#{entity.authorized_entity_id}"
			rowStyleClass="#{((entity.accessStartDate gt manageEntitiesViewBean.now) or (entity.accessEndDate lt manageEntitiesViewBean.now)) ? 'inactive' : null}"
			>
			<p:ajax event="rowSelect" global="false" listener="#{manageEntitiesControllerBean.handleEntitySelect}" 
				update=":form:editEntityButton :form:deleteEntityButton :form:entityDetailGrid"/>
			<p:column id="colId" sortBy="#{entity.authorized_entity_id}"
				filterBy="#{entity.authorized_entity_id}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="ID" />
				</f:facet>
				<h:outputText value="#{entity.authorized_entity_id}" />
			</p:column>
			<p:column id="colEntityId" sortBy="#{entity.entity_id}"
				filterBy="#{entity.entity_id}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Entity ID" />
				</f:facet>
				<h:outputText value="#{entity.entity_id}" />
			</p:column>
			<p:column id="colDescription" sortBy="#{entity.description}"
				filterBy="#{entity.description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{entity.description}" />
			</p:column>
			<p:column id="colParentId" sortBy="#{entity.parentEntity.authorized_entity_id}"
				filterBy="#{entity.parentEntity.authorized_entity_id}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Parent ID" />
				</f:facet>
				<h:outputText value="#{entity.parentEntity.authorized_entity_id}" />
			</p:column>
			<p:column id="colEntityType" sortBy="#{entity.entityType.entity_type_name}"
				filterBy="#{entity.entityType.entity_type_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Entity Type" />
				</f:facet>
				<h:outputText value="#{entity.entityType.entity_type_name}" />
			</p:column>
			<p:column id="colEntityRule" sortBy="#{entity.entityRule.entity_rule_name}"
				filterBy="#{entity.entityRule.entity_rule_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Entity Rule" />
				</f:facet>
				<h:outputText value="#{entity.entityRule.entity_rule_name}" />
			</p:column>
			<p:column id="colTimeBound" sortBy="#{entity.timeBound}"
				filterBy="#{entity.timeBound}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Time Bound" />
				</f:facet>
				<h:outputText value="#{entity.timeBound}" />
				
			</p:column>
		</p:dataTable>
		<p:outputLabel value="Entities with bold and italic formatting are not currently active"></p:outputLabel>
	</p:panel>
		<p:ajaxStatus onstart="waitDlg.show();" onsuccess="waitDlg.hide();" ></p:ajaxStatus>
		<p:dialog id="waitDlg" widgetVar="waitDlg" modal="true" closable="false" header="Please Wait..." height="30" width="157">
		
			<p:graphicImage value="/resources/images/ajax-loader.gif" /> 
		</p:dialog>
		<p:dialog id="editEntityDlg" widgetVar="editEntityDlg" width="50%" modal="true" header="Edit Entity Details">
			<p:wizard widgetVar="wiz" flowListener="#{manageEntitiesControllerBean.handleFlowEntityWizard}">
				<p:tab id="entityDetailTab" title="Details" >
					<p:messages errorClass="error"/>
					<p:panelGrid id="entityDetailGrid">
						<p:row>
							<p:column>
								<h:outputLabel for="entityIdText" value="Entity ID"></h:outputLabel>
							</p:column>
							<p:column>
								<h:outputText id="entityIdText" value="#{manageEntitiesViewBean.selectedEntity.entity_id}"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="entityTypeText" value="Entity Type"></h:outputLabel>
							</p:column>
							<p:column>
								<h:outputText id="entityTypeText" value="#{manageEntitiesViewBean.selectedEntity.entityType.entity_type_name}"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="selectRule" value="Entity Rule"></h:outputLabel>
							</p:column>
							<p:column>
								<p:selectOneMenu id="selectRule" widgetVar="selectRuleWidget" value="#{manageEntitiesViewBean.selectedRuleId}"
									>
									<!-- p:ajax update="getSubjectsButton" global="false"/-->
									<f:selectItem itemLabel="Select One" itemValue=""/>
									<f:selectItems value="#{manageEntitiesViewBean.rules}" var="rule"
										itemLabel="#{rule.entity_rule_name}" itemValue="#{rule.entity_rule_id}"/>
						
								</p:selectOneMenu>
								<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="selectTimeBound" value="Time Bound?"></h:outputLabel>
							</p:column>
							<p:column>
								<p:selectOneMenu id="selectTimeBound" widgetVar="selectTimeBoundWidget" value="#{manageEntitiesViewBean.selectedTimeBoundValueEdit}"
									>
									<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleTimeSelectEdit}" 
										update="selectStartTime selectEndTime" global="false"/>
									<f:selectItem itemLabel="true" itemValue="true"/>
									<f:selectItem itemLabel="false" itemValue="false"/>
									
						
								</p:selectOneMenu>
								<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="selectStartTime" value="Start Time"></h:outputLabel>
							</p:column>
							<p:column>
								<p:calendar id="selectStartTime" value="#{manageEntitiesViewBean.startTime}" 
									disabled="#{manageEntitiesViewBean.startTimeDisabled}"
									pattern="MM/dd/yyyy HH:mm"/>
								<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="selectEndTime" value="End Time"></h:outputLabel>
							</p:column>
							<p:column>
								<p:calendar id="selectEndTime" value="#{manageEntitiesViewBean.endTime}" 
									disabled="#{manageEntitiesViewBean.endTimeDisabled}"
									pattern="MM/dd/yyyy HH:mm"/>
								<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
							</p:column>
						</p:row>
					</p:panelGrid>
					<p:separator></p:separator>
					<p:toolbar id="saveCancelToolbar">
						<p:toolbarGroup id="saveToolbar1" align="right">
							<p:commandButton id="cancelEditEntityButton1" value="Cancel" 
								oncomplete="editEntityDlg.hide()"
								/>
							<p:commandButton id="saveEntityButton1" value="Save" disabled="#{manageEntitiesViewBean.editEntityButtonDisabled}" 
								actionListener="#{manageEntitiesControllerBean.handleSaveEntity}" 
								oncomplete="editEntityDlg.hide()"
								update="entityTable"/>
							
						</p:toolbarGroup>
					</p:toolbar>
					<p:separator></p:separator>
				</p:tab>
				<p:tab id="entityRolesTab" title="Entity Roles">
					<p:panel id="entityRolesPanel">
						<p:messages errorClass="error"/>
						<h:panelGrid id="entityRolesPanelGrid">
							<p:pickList id="pickRoles" value="#{manageEntitiesViewBean.entityRoleLists}"  
		            			var="role"  
		            			widgetVar="roleWidget"
		            			converter="#{manageEntitiesControllerBean.roleConverter}"  
		            			converterMessage="Conversion Failed"
		            			itemValue="#{role}"
		            			styleClass="ui.picklist-list-source" >
		            			<p:ajax event="transfer" listener="#{manageEntitiesControllerBean.handleRoleTransfer}" update="growl" />
		            			<p:column id="raDataColumn">
		            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
		            			</p:column>
		            			<p:tooltip for="raDataColumn"></p:tooltip>
		            			<f:facet name="sourceCaption">Available Roles</f:facet>
		            			<f:facet name="targetCaption">Selected Roles</f:facet>
		            		</p:pickList>
						</h:panelGrid>
						<p:separator></p:separator>
						<p:toolbar id="saveCancelToolbar2">
							<p:toolbarGroup id="saveToolbar" align="right">
								<p:commandButton id="cancelEditEntityButton" value="Cancel" 
									oncomplete="editEntityDlg.hide()"
									/>
								<p:commandButton id="saveEntityButton" value="Save" disabled="#{manageEntitiesViewBean.editEntityButtonDisabled}" 
									actionListener="#{manageEntitiesControllerBean.handleSaveEntity}" 
									oncomplete="editEntityDlg.hide()"
									update="entityTable"/>
								
							</p:toolbarGroup>
						</p:toolbar>
					</p:panel>
				</p:tab>
			</p:wizard>
		</p:dialog>
		<p:dialog id="addCompanyEntityDlg" widgetVar="addCompanyEntityDlg" modal="true" width="50%" header="Add Company Entity Access">
			<p:panel>
			<p:panelGrid id="addCoPanel">
				<p:row>
					<p:column>
						<h:outputLabel for="selectCo" value="Select Company"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectCo" widgetVar="selectCoWidget" value="#{manageEntitiesViewBean.selectedCompanyId}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleCoSelect}" global="false"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.nonPermittedCompanies}" var="co"
								itemLabel="#{co.coName}" itemValue="#{co.companyId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectCoRule" value="Entity Rule"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectCoRule" widgetVar="selectCoRuleWidget" value="#{manageEntitiesViewBean.selectedCompanyEntityRuleId}"
							>
							<!-- p:ajax event="change" listener="#{manageEntitiesControllerBean.handleRuleSelect}" global="false"/-->
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.rules}" var="rule"
								itemLabel="#{rule.entity_rule_name}" itemValue="#{rule.entity_rule_id}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectCoTimeBound" value="Time Bound?"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectCoTimeBound" widgetVar="selectCoTimeBoundWidget" value="#{manageEntitiesViewBean.selectedTimeBoundValueCo}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleTimeSelectCo}" 
								update="selectCoStartTime selectCoEndTime" global="false"/>
							<f:selectItem itemLabel="true" itemValue="true"/>
							<f:selectItem itemLabel="false" itemValue="false"/>
							
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectCoStartTime" value="Start Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectCoStartTime" value="#{manageEntitiesViewBean.startTime}" 
							disabled="#{manageEntitiesViewBean.startTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectCoEndTime" value="End Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectCoEndTime" value="#{manageEntitiesViewBean.endTime}" 
							disabled="#{manageEntitiesViewBean.endTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				</p:panelGrid>
				<p:separator></p:separator>
				<p:toolbar id="saveCancelToolbar3">
					<p:toolbarGroup id="saveToolbar3" align="right">
						<p:commandButton id="cancelEditEntityButton3" value="Cancel" 
							oncomplete="addCompanyEntityDlg.hide()"
							/>
						<p:commandButton id="saveEntityButton3" value="Save" 
							actionListener="#{manageEntitiesControllerBean.handleCreateCoEntity}" 
							oncomplete="addCompanyEntityDlg.hide()"
							update="entityTable"/>
						
					</p:toolbarGroup>
				</p:toolbar>
				</p:panel>
			
		</p:dialog>
		<p:dialog id="addProjectEntityDlg" widgetVar="addProjectEntityDlg" modal="true" width="50%" header="Add Project Entity Access">
			<p:panel>
			<p:panelGrid id="addPrjPanel">
				<p:row>
					<p:column>
						<h:outputLabel for="selectCo2" value="Select Company"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectCo2" widgetVar="selectCoWidget2" value="#{manageEntitiesViewBean.selectedCompanyIdPrjDlg}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleCoSelectforPrj}" update="selectPrj" global="true"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.permittedCompanies}" var="co"
								itemLabel="#{co.coName}" itemValue="#{co.companyId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrj" value="Select Project"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrj" widgetVar="selectPrjWidget" value="#{manageEntitiesViewBean.selectedPrjId}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handlePrjSelect}" global="false"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.availableProjects}" var="prj"
								itemLabel="#{prj.name}" itemValue="#{prj.projectId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjRule" value="Entity Rule"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrjRule" widgetVar="selectPrjRuleWidget" value="#{manageEntitiesViewBean.selectedProjectEntityRuleId}"
							>
							<!-- p:ajax update="getSubjectsButton" global="false"/-->
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.rules}" var="rule"
								itemLabel="#{rule.entity_rule_name}" itemValue="#{rule.entity_rule_id}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjTimeBound" value="Time Bound?"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrjTimeBound" widgetVar="selectPrjTimeBoundWidget" value="#{manageEntitiesViewBean.selectedTimeBoundValuePrj}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleTimeSelectPrj}" 
								update="selectPrjStartTime selectPrjEndTime" global="false"/>
							<f:selectItem itemLabel="true" itemValue="true"/>
							<f:selectItem itemLabel="false" itemValue="false"/>
							
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjStartTime" value="Start Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectPrjStartTime" value="#{manageEntitiesViewBean.startTime}" 
							disabled="#{manageEntitiesViewBean.startTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjEndTime" value="End Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectPrjEndTime" value="#{manageEntitiesViewBean.endTime}" 
							disabled="#{manageEntitiesViewBean.endTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				</p:panelGrid>
				<p:separator></p:separator>
				<p:toolbar id="saveCancelToolbar4">
					<p:toolbarGroup id="saveToolbar4" align="right">
						<p:commandButton id="cancelEditEntityButton4" value="Cancel" 
							oncomplete="addProjectEntityDlg.hide()"
							/>
						<p:commandButton id="saveEntityButton4" value="Save" 
							actionListener="#{manageEntitiesControllerBean.handleCreatePrjEntity}" 
							oncomplete="addProjectEntityDlg.hide()"
							update="entityTable"/>
						
					</p:toolbarGroup>
				</p:toolbar>
				</p:panel>
			
		</p:dialog>
		<p:dialog id="addProjectUserEntityDlg" widgetVar="addProjectUserEntityDlg" modal="true" width="50%" header="Add Project User Entity Access">
			<p:panel>
			<p:panelGrid id="addPrjUserPanel">
				<p:row>
					<p:column>
						<h:outputLabel for="selectCo3" value="Select Company"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectCo3" widgetVar="selectCoWidget3" value="#{manageEntitiesViewBean.selectedCompanyIdPrjUserDlg}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleCoSelectforPrjUser}" update="selectPrj2" global="true"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.permittedCompanies}" var="co"
								itemLabel="#{co.coName}" itemValue="#{co.companyId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrj2" value="Select Project"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrj2" widgetVar="selectPrjWidget2" value="#{manageEntitiesViewBean.selectedPrjIdPrjUserDlg}"
							>
							<p:ajax update="selectPrjUser" event="change" listener="#{manageEntitiesControllerBean.handlePrjSelectforPrjUser}" global="false"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.availableProjects}" var="prj"
								itemLabel="#{prj.name}" itemValue="#{prj.projectId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjUser" value="Select Project User"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrjUser" widgetVar="selectPrjUserWidget" value="#{manageEntitiesViewBean.selectedPrjUserId}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handlePrjUserSelect}" global="false"/>
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.availableProjectUsers}" var="prjuser"
								itemLabel="#{prjuser.user.firstname} #{prjuser.user.lastname}" itemValue="#{prjuser.rowId}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjUserRule" value="Entity Rule"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrjUserRule" widgetVar="selectPrjRuleWidget" value="#{manageEntitiesViewBean.selectedProjectUserEntityRuleId}"
							>
							<!-- p:ajax update="getSubjectsButton" global="false"/-->
							<f:selectItem itemLabel="Select One" itemValue=""/>
							<f:selectItems value="#{manageEntitiesViewBean.rules}" var="rule"
								itemLabel="#{rule.entity_rule_name}" itemValue="#{rule.entity_rule_id}"/>
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjUserTimeBound" value="Time Bound?"></h:outputLabel>
					</p:column>
					<p:column>
						<p:selectOneMenu id="selectPrjUserTimeBound" widgetVar="selectPrjUserTimeBoundWidget" value="#{manageEntitiesViewBean.selectedTimeBoundValuePrjUser}"
							>
							<p:ajax event="change" listener="#{manageEntitiesControllerBean.handleTimeSelectPrjUser}" 
								update="selectPrjUserStartTime selectPrjUserEndTime" global="false"/>
							<f:selectItem itemLabel="true" itemValue="true"/>
							<f:selectItem itemLabel="false" itemValue="false"/>
							
				
						</p:selectOneMenu>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjUserStartTime" value="Start Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectPrjUserStartTime" value="#{manageEntitiesViewBean.startTime}" 
							disabled="#{manageEntitiesViewBean.startTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="selectPrjUserEndTime" value="End Time"></h:outputLabel>
					</p:column>
					<p:column>
						<p:calendar id="selectPrjUserEndTime" value="#{manageEntitiesViewBean.endTime}" 
							disabled="#{manageEntitiesViewBean.endTimeDisabled}"
							pattern="MM/dd/yyyy HH:mm"/>
						<!-- h:outputText id="entityRuleText" value="#{manageEntitiesViewBean.selectedEntity.entityRule.entity_rule_name}"/-->
					</p:column>
				</p:row>
				</p:panelGrid>
				<p:separator></p:separator>
				<p:toolbar id="saveCancelToolbar5">
					<p:toolbarGroup id="saveToolbar5" align="right">
						<p:commandButton id="cancelEditEntityButton5" value="Cancel" 
							oncomplete="addProjectUserEntityDlg.hide()"
							/>
						<p:commandButton id="saveEntityButton5" value="Save" 
							actionListener="#{manageEntitiesControllerBean.handleCreatePrjUserEntity}" 
							oncomplete="addProjectUserEntityDlg.hide()"
							update="entityTable"/>
						
					</p:toolbarGroup>
				</p:toolbar>
				</p:panel>
			
		</p:dialog>
	</h:form>
</h:body>
</html>