<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{manageTemplatesControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
<h:form id="form">
	<p:tabMenu activeIndex="3">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>

<center>
		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/>
		<!-- h:outputText id="txtCommonNamee" value="#{dashboardViewBean.cn}"/> -->
		<ui:debug/>
</center>

	<div style="float: none; clear: both"></div>
	<p:panel id="roleTemplatePanel" header="Role Templates" style="margin-left: 20%; margin-right: 20%" >

		<p:dataTable id="roleTemplateTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{manageTemplatesViewBean.selectedRoleTemplate}"
			value="#{manageTemplatesViewBean.roleTemplates}" var="roletemplate"
			rowKey="#{roletemplate.role_template_id}"
			>
			<p:ajax event="rowSelect" listener="#{manageTemplatesControllerBean.handleRoleTemplateSelect}" update=":form:editRoleTemplateButton :form:deleteRoleTemplateButton :form:roleGroupsButton"/>
			<p:column id="rowToggler" style="width: 35px">
				<p:rowToggler/>
			</p:column>
			
			<p:column id="colRoleTemplateLabel" sortBy="#{roletemplate.role_template_label}"
				filterBy="#{roletemplate.role_template_label}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Label" />
				</f:facet>
				<h:outputText value="#{roletemplate.role_template_label}" />
			</p:column>
			<p:column id="colRoleTemplateName" sortBy="#{roletemplate.role_template_name}"
				filterBy="#{roletemplate.role_template_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{roletemplate.role_template_name}" />
			</p:column>
			<p:column id="colRoleTemplateDesc" sortBy="#{roletemplate.role_template_description}"
				filterBy="#{roletemplate.role_template_description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 250px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{roletemplate.role_template_description}" />
			</p:column>
			<p:column id="colRoleTemplateCreatedBy" sortBy="#{roletemplate.created_by}"
				filterBy="#{roletemplate.created_by}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Created By" />
				</f:facet>
				<h:outputText value="#{roletemplate.created_by}" />
			</p:column>
			<p:rowExpansion>
				<p:panelGrid id="allowedRolesGrid" columns="1" cellpadding="4" >
					<p:dataList id="pGrpList" value="#{roletemplate.allowedRoles}" var="role" itemType="square">
						#{role.label}
					</p:dataList>

				</p:panelGrid>
			</p:rowExpansion>
			</p:dataTable>
			<p:separator></p:separator>
			<p:toolbar>
				<p:toolbarGroup id="pnlRoleTemplateToolbar" align="left">
					<p:commandButton id="editRoleTemplateButton" value="Edit" disabled="#{manageTemplatesViewBean.editDisabled}"
						actionListener="#{manageTemplatesControllerBean.handleEditRoleTemplate}"
						onsuccess="roleTemplateWizardDlg.show()"
						oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
					/>
	 				<p:commandButton id="deleteRoleTemplateButton" value="Delete" 
	 					update="roleTemplatePanel growl" 
	 					actionListener="#{manageTemplatesControllerBean.handleDeleteRoleTemplate}" 
	 					disabled="#{manageTemplatesViewBean.deleteDisabled}"/>
	 					
					<p:commandButton id="createRoleTemplateWzrdSubmit" value="Create"
						actionListener="#{manageTemplatesControllerBean.handleCreateRoleTemplate}"
						onsuccess="roleTemplateWizardDlg.show()"
						update="roleTemplatePanel"
						oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
						disabled="#{manageTemplatesViewBean.createButtonDisabled}"
					/>
				</p:toolbarGroup>
				<p:toolbarGroup id="roleGroupToolbar" align="right">
					<p:commandButton id="roleGroupsButton" value="Role Groups..."
						disabled="#{manageTemplatesViewBean.roleGroupsButtonDisabled}"
						actionListener="#{manageTemplatesControllerBean.handleRoleGroupsInit}"
						update="selectTabPanelGrid"
						onsuccess="roleGroupsDlg.show()"
						oncomplete="roleGroupsWizard.loadStep(roleGroupsWizard.cfg.steps[0],true)"
						/>
				</p:toolbarGroup>
			</p:toolbar>
			<!-- h:outputText value="Edit Role Button client id: #{p:component('editRoleButton')}" /-->
	</p:panel>
	<div style="float: none; clear: both"></div>
	
	
	<div style="float: none; clear: both"></div>
	<p:growl id="growl" sticky="false" showDetail="true"/>

	<p:dialog id="roleTemplateWizardDlg" widgetVar="roleTemplateWizardDlg" width="750" header="Create New Role Template" modal="true">
		
		
		<p:wizard widgetVar="wiz" flowListener="#{manageTemplatesControllerBean.handleFlowProcessEvent}">
			<p:tab id="selectRolesTab" title="Allowed Roles">
				<p:panel header="Select Allowed Roles">
					<h:messages errorClass="error"/>
					
					<h:panelGrid columns="1" id="wzrdSelectAllowedPanel" >
						<!-- Insert permission group picklist here -->
						<p:pickList id="pickAllowedRoles" value="#{manageTemplatesViewBean.createRoleTemplateLists}"  
	            			var="role"  
	            			widgetVar="roleWidget"
	            			converter="#{manageTemplatesControllerBean.roleConverter}"  
	            			converterMessage="Conversion Failed"
	            			itemValue="#{role}"
	            			itemLabel="#{role.label}"
	            			styleClass="ui.picklist-list-source" >
	            			<p:column id="raDataColumn">
	            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
	            			</p:column>
	            			<p:tooltip for="raDataColumn"></p:tooltip>
	            			<f:facet name="sourceCaption">Available Roles</f:facet>
	            			<f:facet name="targetCaption">Selected Roles</f:facet>
	            		</p:pickList>
	            		<!-- p:commandButton id="saveAllowedSubmit" value="Save Lists"
							actionListener="#{manageTemplatesControllerBean.handleSetNewRoleTemplateAllowedRoles}"
							update="growl"
						/-->
	
					</h:panelGrid>
				</p:panel>
			</p:tab>
			
			<p:tab id="selectDefaultRolesTab" title="Default Roles">
				<p:panel header="Select Default Roles">
					<h:messages errorClass="error"/>
					
					<h:panelGrid columns="1" id="wzrdSelectDefaultPanel" >
						<!-- Insert permission group picklist here -->
						<p:pickList id="pickDefaultRoles" value="#{manageTemplatesViewBean.createDefaultRoleTemplateLists}"  
	            			var="role"  
	            			widgetVar="roleWidget"
	            			converter="#{manageTemplatesControllerBean.roleConverter}"  
	            			converterMessage="Conversion Failed"
	            			itemValue="#{role}"
	            			itemLabel="#{role.label}"
	            			styleClass="ui.picklist-list-source" >
	            			<p:column id="rdDataColumn">
	            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
	            			</p:column>
	            			<p:tooltip for="rdDataColumn"></p:tooltip>
	            			<f:facet name="sourceCaption">Available Roles</f:facet>
	            			<f:facet name="targetCaption">Selected Roles</f:facet>
	            		</p:pickList>
	            		<!-- p:commandButton id="saveDefaultSubmit" value="Save Lists"
							actionListener="#{manageTemplatesControllerBean.handleSetNewRoleTemplateDefaultRoles}"
							update="growl"
						/-->
	
					</h:panelGrid>
				</p:panel>
			</p:tab>
			
			<p:tab id="roleTemplateDetailsTab" title="Role Template Details">
				<p:panel header="Details">
					<h:messages errorClass="error"/>
	
					<p:panelGrid >
						<p:row>
							<p:column>
								<h:outputLabel value="Name: "/>
							</p:column>
							<p:column>
								<h:inputText id="roleTemplateNameInputNew" 
									value="#{manageTemplatesViewBean.newRoleTemplate.role_template_name}"
									rendered="#{manageTemplatesViewBean.renderNameInputNew}" >
									<f:validator binding="#{roleTemplateNameValidator}"/>
								</h:inputText> 
								<h:inputText id="roleTemplateNameInputEdit" 
									value="#{manageTemplatesViewBean.newRoleTemplate.role_template_name}" 
									rendered="#{manageTemplatesViewBean.renderNameInputEdit}">
									<f:validator binding="#{roleTemplateNameValidator}"/>
								</h:inputText> 
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Label: "/>
							</p:column>
							<p:column>
								<h:inputText id="roleTemplateLabelInput" value="#{manageTemplatesViewBean.newRoleTemplate.role_template_label}"/>
						
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Description: "/>
							</p:column>
							<p:column>
								<h:inputTextarea id="roleTemplateDescriptionInput" value="#{manageTemplatesViewBean.newRoleTemplate.role_template_description}" rows="5" cols="50"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Created By: "/>
							</p:column>
							<p:column>
							 	<h:inputText id="roleCreatedByInput" value="#{sessionBean.uid}" readonly="true"/>
							</p:column>
						</p:row>
			
					</p:panelGrid>
				</p:panel>
			</p:tab>
			<p:tab id="confirmTab" title="Confirmation">
				<p:panel id="confirmPanel" header="Confirmation">
					<h:messages errorClass="error"/>
					<p:panelGrid >
						<p:row>
							<p:column>
								<p:panelGrid columns="2">
									<h:outputLabel for="roleTemplateNameOutput" value="Name: "/>
									<h:outputText id="roleTemplateNameOutput" value="#{manageTemplatesViewBean.newRoleTemplate.role_template_name}"/>
									
									<h:outputLabel for="roleTemplateLabelOutput" value="Label: "/>
									<h:outputText id="roleTemplateLabelOutput" value="#{manageTemplatesViewBean.newRoleTemplate.role_template_label}"/>
									
									<h:outputLabel for="roleTemplateDescriptionOutput" value="Description: "/>
									<h:outputText id="roleTemplateDescriptionOutput" value="#{manageTemplatesViewBean.newRoleTemplate.role_template_description}"/>
									
									
									<h:outputLabel for="roleTemplateCreatedByOutput" value="Created By: "/>
									<h:outputText id="roleTemplateCreatedByOutput" value="#{manageTemplatesViewBean.newRoleTemplate.created_by}"/>
								</p:panelGrid>
							</p:column>
							<p:column>
								<p:panelGrid >
									<f:facet name="header">
										<p:row>
											<p:column colspan="1">Allowed</p:column>
											<p:column colspan="1">Default</p:column>
										</p:row>
									</f:facet>
									<p:row>
										<p:column>
											<p:dataList id="allowedList" value="#{manageTemplatesViewBean.newRoleTemplate.allowedRoles}" var="role" itemType="square">
												#{role.label}
											</p:dataList>
										</p:column>
										<p:column>
											<p:dataList id="defaultList" value="#{manageTemplatesViewBean.newRoleTemplate.defaultRoles}" var="role" itemType="square">
												#{role.label}
											</p:dataList>
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2">
								<p:commandButton value="Save Role Template" update="growl roleTemplatePanel"
									actionListener="#{manageTemplatesControllerBean.handleSubmitNewRoleTemplate}"
									oncomplete="roleTemplateWizardDlg.hide()"
									rendered="#{manageTemplatesViewBean.renderSaveNewButton}"
									style="float:right"
									/>
								<p:commandButton value="Save Role Template Edits" update="growl roleTemplatePanel"
									actionListener="#{manageTemplatesControllerBean.handleCommitEditRoleTemplate}"
									oncomplete="roleTemplateWizardDlg.hide()"
									rendered="#{manageTemplatesViewBean.renderSaveEditButton}"
									style="float:right"
									/>
								<p:commandButton value="Cancel"
									onsuccess="roleTemplateWizardDlg.hide()"
									style="float:right"
									/>
							</p:column>
						</p:row>
					</p:panelGrid>
					
					
					
				</p:panel>
			</p:tab>
		</p:wizard>
	
	</p:dialog>
	
	<p:dialog id="roleGroupsDlg" widgetVar="roleGroupsDlg" width="750" header="Edit Role Groups" modal="true">
		<p:wizard widgetVar="roleGroupsWizard" flowListener="#{manageTemplatesControllerBean.handleFlowProcessEventRoleGroups}">
			<p:tab id="selectTab" title="Select Role Group">
				<p:panelGrid id="selectTabPanelGrid">
					<p:row>
						<p:column>
							<p:selectOneListbox id="roleGroupSelectBox" 
								value="#{manageTemplatesViewBean.selectedRoleGroupId}" 
								style="height:200px"
								valueChangeListener="#{manageTemplatesControllerBean.handleSelectRoleGroup}">
								<p:ajax update="roleGroupDetailsGrid"></p:ajax>
								<f:selectItem itemLabel="Create New..." itemValue=""/>
								<f:selectItems value="#{manageTemplatesViewBean.roleGroups}" var="group"
									itemLabel="#{group.roleGroupLabel}" itemValue="#{group.roleGroupId}"/>
							</p:selectOneListbox>
						</p:column>
						<p:column>
							<h:panelGrid id="roleGroupDetailsGrid">
								<f:facet name="header">
									<h:outputText value="Selected Role Group:" />
								</f:facet>
								<p:separator></p:separator>
								<h:outputText id="roleGroupDescriptionText" value="#{manageTemplatesViewBean.roleGroupDescription}"/>
								<p:commandButton id="deleteRoleGroupButton"
									value="Delete Group"
									rendered="#{manageTemplatesViewBean.deleteGroupButtonRendered}"
									actionListener="#{manageTemplatesControllerBean.deleteRoleGroup}"
									update="selectTabPanelGrid growl"
								
								/>
							</h:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:tab>
			<p:tab id="selectGroupRolesTab" title="Select Roles">
				<p:panel header="Select Roles">
					<h:messages errorClass="error"/>
					
					<h:panelGrid columns="1" id="wzrdSelectGroupRolesPanel" >
						<!-- Insert permission group picklist here -->
						<p:pickList id="pickGroupRoles" value="#{manageTemplatesViewBean.createRoleGroupLists}"  
	            			var="role"  
	            			widgetVar="roleWidget"
	            			converter="#{manageTemplatesControllerBean.roleConverter}"  
	            			converterMessage="Conversion Failed"
	            			itemValue="#{role}"
	            			itemLabel="#{role.label}"
	            			styleClass="ui.picklist-list-source" >
	            			<p:column id="groupRoleDataColumn">
	            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
	            			</p:column>
	            			<p:tooltip for="groupRoleDataColumn"></p:tooltip>
	            			<f:facet name="sourceCaption">Available Roles</f:facet>
	            			<f:facet name="targetCaption">Selected Roles</f:facet>
	            		</p:pickList>
	            		<!-- p:commandButton id="saveAllowedSubmit" value="Save Lists"
							actionListener="#{manageTemplatesControllerBean.handleSetNewRoleTemplateAllowedRoles}"
							update="growl"
						/-->
	
					</h:panelGrid>
				</p:panel>
			</p:tab>
			<p:tab id="selectEntityTypesTab" title="Select Entity Types">
				<p:panel header="Select Entity Types">
					<h:messages errorClass="error"/>
					
					<h:panelGrid columns="1" id="wzrdSelectEntityTypesPanel" >
						<!-- Insert permission group picklist here -->
						<p:pickList id="pickEntityTypes" value="#{manageTemplatesViewBean.entityTypeLists}"  
	            			var="type"  
	            			widgetVar="roleWidget"
	            			converter="#{manageTemplatesControllerBean.entityTypeConverter}"  
	            			converterMessage="Conversion Failed"
	            			itemValue="#{type}"
	            			itemLabel="#{type.entity_type_name}"
	            			styleClass="ui.picklist-list-source" >
	            			<p:column id="entityTypeDataColumn">
	            				<h:outputText value="#{type.entity_type_name}" title="(#{type.entity_type_code})" />
	            			</p:column>
	            			<p:tooltip for="entityTypeDataColumn"></p:tooltip>
	            			<f:facet name="sourceCaption">Available Types</f:facet>
	            			<f:facet name="targetCaption">Selected Types</f:facet>
	            		</p:pickList>
	            		<!-- p:commandButton id="saveAllowedSubmit" value="Save Lists"
							actionListener="#{manageTemplatesControllerBean.handleSetNewRoleTemplateAllowedRoles}"
							update="growl"
						/-->
	
					</h:panelGrid>
				</p:panel>
			</p:tab>
			<p:tab id="editDetailsTab" title="Edit Details">
				<p:panel id="roleGroupDetailsPanel" header="Details">
					<h:messages errorClass="error"/>
					<p:panelGrid columns="2">
							<h:outputLabel for="roleGroupNameInput" value="Name: "/>
							<h:inputText id="roleGroupNameInput" value="#{manageTemplatesViewBean.newRoleGroup.roleGroupName}"/>
							
							<h:outputLabel for="roleGroupLabelInput" value="Label: "/>
							<h:inputText id="roleGroupLabelInput" value="#{manageTemplatesViewBean.newRoleGroup.roleGroupLabel}"/>
							
							<h:outputLabel for="roleGroupDescriptionInput" value="Description: "/>
							<h:inputTextarea rows="5" cols="50" id="roleGroupDescriptionInput" value="#{manageTemplatesViewBean.newRoleGroup.roleGroupDescription}"/>
					</p:panelGrid>
					<p:toolbar>
						<p:toolbarGroup>
							<p:commandButton value="Save Role Group" update="growl roleTemplatePanel"
									actionListener="#{manageTemplatesControllerBean.handleSubmitNewRoleGroup}"
									oncomplete="roleGroupsDlg.hide()"
									style="float:right"
									/>
						</p:toolbarGroup>
					</p:toolbar>
				</p:panel>
			</p:tab>
		</p:wizard>
	</p:dialog>
</h:form>
</h:body>
</html>