<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{manageSubjectsControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
<h:form id="form">
	<p:tabMenu activeIndex="5">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>

<center>
		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/>
		<!-- h:outputText id="txtCommonNamee" value="#{dashboardViewBean.cn}"/> -->
		<ui:debug/>
</center>

	<div style="float: none; clear: both"></div>
	
	<p:panel id="realmPanel" header="Manage User Access Priveleges" style="margin-left: 5%; margin-right: 5%" >
		<p:messages></p:messages>
		
		<p:panelGrid columns="2">
			<h:outputLabel for="selectRealm" value="Select Realm"></h:outputLabel>
			<p:selectOneMenu id="selectRealm" widgetVar="selectRealmWidget" value="#{manageSubjectsViewBean.selectedRealmName}"
				valueChangeListener="#{manageSubjectsControllerBean.handleRealmSelect}" >
				<p:ajax update="getSubjectsButton, realmPanel" global="false"/>
				<f:selectItem itemLabel="Select One" itemValue=""/>
				<f:selectItems value="#{manageSubjectsViewBean.realms}" var="realm"
							itemLabel="#{realm.realm_label}" itemValue="#{realm.realm_id}"/>
				
			</p:selectOneMenu>
			<h:outputLabel id="selectSearchMethodLabel" for="selectSearchMethod" value="Select Search Method" rendered="#{manageSubjectsViewBean.selectSearchMethodRendered}"></h:outputLabel>
			<p:selectOneMenu id="selectSearchMethod" widgetVar="selectSearchMethodWidget" 
				value="#{manageSubjectsViewBean.selectedSearchAttr}"
				rendered="#{manageSubjectsViewBean.selectSearchMethodRendered}"
				valueChangeListener="#{manageSubjectsControllerBean.handleQuerySelect}">
				<p:ajax update="getSubjectsButton, realmPanel" global="true"/>
				<f:selectItem itemLabel="Realm Default" itemValue=""/>
				<f:selectItems value="#{manageSubjectsViewBean.queries}" var="query"
					itemLabel="#{query.name}" itemValue="#{query.realm_filter_id}"/>
				
			</p:selectOneMenu>
			<h:outputLabel id="selectCompanyLabel" for="selectCompany" value="Select Company" rendered="#{manageSubjectsViewBean.selectCompanyRendered}"></h:outputLabel>
			<p:selectOneMenu id="selectCompany" widgetVar="selectCompanyWidget" 
				value="#{manageSubjectsViewBean.selectedCompany}"
				rendered="#{manageSubjectsViewBean.selectCompanyRendered}"
				valueChangeListener="#{manageSubjectsControllerBean.handleCompanySelect}">
				<p:ajax update="getSubjectsButton" global="false"/>
				<!-- f:selectItem itemLabel="Realm Default" itemValue=""/-->
				<f:selectItems value="#{manageSubjectsViewBean.companies}" var="co"
					itemLabel="#{co.coName}" itemValue="#{co.companyId}"/>
				
			</p:selectOneMenu>
			<h:outputLabel id="emailTextInputLabel" for="emailTextInput" value="Partial Email" 
				rendered="#{manageSubjectsViewBean.emailInputRendered}"/>
			<p:inputText id="emailTextInput" value="#{manageSubjectsViewBean.emailInput}" 
				rendered="#{manageSubjectsViewBean.emailInputRendered}">
				<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u1FFF\u2C00-\uD7FF:`\.\-_\@]$/" preventPaste="false"/>
			
			
			</p:inputText>
				

		</p:panelGrid>
		<p:separator></p:separator>
			<p:toolbar>
				<p:toolbarGroup id="pnlSearchToolbar" align="left">
					<p:commandButton id="getSubjectsButton" value="Get Users" disabled="#{manageSubjectsViewBean.getSubjectsDisabled}" 
						actionListener="#{manageSubjectsControllerBean.handleGetSubjects}" 
						update="subjectTable, realmPanel"/>
						
					<p:commandButton id="initRealmMetadataButton" value="Init Metadata" disabled="#{manageSubjectsViewBean.initRealmMetadataDisabled}"
						onclick="confirmInitMetadata.show()"
						/>
					<p:commandButton id="updateRealmMetadataButton" value="Update Metadata" disabled="#{manageSubjectsViewBean.updateRealmMetadataDisabled}"
						onclick="confirmGetNewSubjects.show()"
						/>
	
	
				</p:toolbarGroup>	
				<p:toolbarGroup id="userAccessToolbar" align="right">
					<p:commandButton id="refreshMetadataButton"
						value="Refresh Metadata"
						disabled="#{manageSubjectsViewBean.refreshMetadataButtonDisabled}"
						actionListener="#{manageSubjectsControllerBean.handleRefreshMetadata}"
						update="subjectTable"/>
					<p:commandButton id="editRolesButton" value="Edit Roles" disabled="#{manageSubjectsViewBean.editRolesDisabled}" 
						actionListener="#{manageSubjectsControllerBean.handleEditRoles}" 
						onsuccess="editRolesDlg.show()"
						oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
						update="selectContextMenu"/>
					<p:commandButton id="createLinkedAccountButton" value="Create Linked Account" disabled="#{manageSubjectsViewBean.linkedAccountButtonDisabled}" 
						actionListener="#{manageSubjectsControllerBean.handleLinkedAccountDialogInit}" 
						onsuccess="linkedAccountDlgWidget.show()"
						update="linkAccountPanel"
						/>
					<p:commandButton id="navEntitiesButton" value="Manage Entity Access" disabled="#{manageSubjectsViewBean.navEntitiesButtonDisabled}" 
						action="#{manageSubjectsControllerBean.handleNavEntities}" 
						ajax="false"
						/>
				</p:toolbarGroup>
			</p:toolbar>		
		<p:separator></p:separator>
		<p:dataTable id="subjectTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{manageSubjectsViewBean.selectedRealmUser}"
			value="#{manageSubjectsViewBean.realmUsers}" var="extsubject"
			rowKey="#{extsubject.username}"
			>
			<!-- For updating add and delete role context buttons.  commented out below
			<p:ajax event="rowSelect" global="false" listener="#{manageSubjectsControllerBean.handleSubjectSelect}" 
				update=":form:editRolesButton :form:addRoleContextButton :form:deleteRoleContextButton :form:mngEntitiesButton :form:selectedSubjectContextMenu"/>
			-->	
			<p:ajax event="rowSelect" global="false" listener="#{manageSubjectsControllerBean.handleSubjectSelect}" 
				update=":form:editRolesButton :form:mngEntitiesButton :form:selectedSubjectContextMenu :form:createLinkedAccountButton :form:navEntitiesButton :form:refreshMetadataButton"/>
			<p:ajax event="filter" global="false"/>
			<p:column id="colUsername" sortBy="#{extsubject.username}"
				filterBy="#{extsubject.username}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Logon ID" />
				</f:facet>
				<h:outputText value="#{extsubject.username}" />
			</p:column>
			<p:column id="colFirstname" sortBy="#{extsubject.firstname}"
				filterBy="#{extsubject.firstname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="First Name" />
				</f:facet>
				<h:outputText value="#{extsubject.firstname}" />
			</p:column>

			<p:column id="colLastname" sortBy="#{extsubject.lastname}"
				filterBy="#{extsubject.lastname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Last Name" />
				</f:facet>
				<h:outputText value="#{extsubject.lastname}" />
			</p:column>
			
			<p:column id="colEmail" sortBy="#{extsubject.email}"
				filterBy="#{extsubject.email}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{extsubject.email}" />
			</p:column>
			<p:column id="colCountry" sortBy="#{extsubject.country}" 
				rendered="#{manageSubjectsViewBean.renderCountryColumn}"
				filterBy="#{extsubject.country}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Country" />
				</f:facet>
				<h:outputText value="#{extsubject.country}" />
			</p:column>
			<p:column id="colCompanyName" sortBy="#{extsubject.org_name}" 
				rendered="#{manageSubjectsViewBean.renderCompanyNameColumn}"
				filterBy="#{extsubject.org_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Company" />
				</f:facet>
				<h:outputText value="#{extsubject.org_name}" />
			</p:column>
			<p:column id="colLocation" sortBy="#{extsubject.location}"
				rendered="#{manageSubjectsViewBean.renderLocationColumn}"
				filterBy="#{extsubject.location}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Location" />
				</f:facet>
				<h:outputText value="#{extsubject.location}" />
			</p:column>
			<p:column id="colExtId" sortBy="#{extsubject.external_id}"
				rendered="#{manageSubjectsViewBean.renderExternalIdColumn}"
				filterBy="#{extsubject.external_id}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="External ID" />
				</f:facet>
				<h:outputText value="#{extsubject.external_id}" />
			</p:column>
			<p:column id="colTelephone" sortBy="#{extsubject.telephone}"
				rendered="#{manageSubjectsViewBean.renderTelephoneColumn}"
				filterBy="#{extsubject.telephone}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Telephone" />
				</f:facet>
				<h:outputText value="#{extsubject.telephone}" />
			</p:column>
			

			</p:dataTable>

			<p:contextMenu model="#{manageSubjectsViewBean.menuModel}" id="selectedSubjectContextMenu" for="subjectTable" style="width:180px"
				disabled="#{manageSubjectsViewBean.contextMenuDisabled}"/>
			<p:separator></p:separator>
			<p:toolbarGroup id="pnlSubjectToolbar">
				
				<!-- Hide these for now, until we support multiple role contexts
				<p:commandButton id="addRoleContextButton" value="Add Role Context" disabled="#{manageSubjectsViewBean.addContextDisabled}" 
					actionListener="#{manageSubjectsControllerBean.handleAddRoleContext}" 
					onsuccess="addContextDlg.show()"
					oncomplete="wiz2.loadStep(wiz2.cfg.steps[0],true)"
					update="contextDetailsTab"/>
				<p:commandButton id="deleteRoleContextButton" value="Delete Role Context" disabled="#{manageSubjectsViewBean.deleteContextDisabled}" 
					actionListener="#{manageSubjectsControllerBean.handleDeleteRoleContextInit}" 
					onsuccess="deleteContextDlg.show()"
					update="contextDetailsTab"/>
					 -->
				<p:commandButton id="mngEntitiesButton" value="Set Authorized Entities (deprecated)" disabled="#{manageSubjectsViewBean.entitiesButtonDisabled}" 
					actionListener="#{manageSubjectsControllerBean.handleEntityWizardDialogInit}" 
					onsuccess="entitiesDlgWidget.show()"
					update="selectCompanyPanelGrid confirmGrantAll"
					oncomplete="wiz3.loadStep(wiz3.cfg.steps[0],true)"/>
				
				

			</p:toolbarGroup>
			
	</p:panel>
	<div style="float: none; clear: both"></div>
<p:ajaxStatus onstart="waitDlg.show();" onsuccess="waitDlg.hide();" ></p:ajaxStatus>
<p:dialog id="waitDlg" widgetVar="waitDlg" modal="true" closable="false" header="Please Wait..." height="30" width="157">

	<p:graphicImage value="/resources/images/ajax-loader.gif" /> 
</p:dialog>
<p:dialog id="linkedAccountDialog" widgetVar="linkedAccountDlgWidget" width="750" header="Link Account" modal="true">
	
	<p:panel id="linkAccountPanel" header="Link with platform Account">
		<p:messages id="msgs"/>
		<h:outputText value="External Account: "></h:outputText><h:outputText value="#{manageSubjectsViewBean.selectedRealmUser.getUsername()}"/>
		<p:selectOneRadio id="createOrLinkRadio" 
			disabled="#{manageSubjectsViewBean.linkRadioDisabled}" 
			value="#{manageSubjectsViewBean.selectedLinkOption}" layout="custom">
			<f:selectItem itemLabel="Option 1" itemValue="1"></f:selectItem>
			<f:selectItem itemLabel="Option 2" itemValue="2"></f:selectItem>
			<p:ajax event="change" listener="#{manageSubjectsControllerBean.handleSelectLinkOption}"
				update="createLinkButton lookupByEmailButton"/>
			
		</p:selectOneRadio>
		<h:panelGrid columns="3">
			<p:radioButton id="opt1" for="createOrLinkRadio" itemIndex="0"/>
			<h:outputLabel for="opt1" value="Link to New Account"/>
			<h:inputHidden value="hidden"></h:inputHidden>
			
			<p:radioButton id="opt2" for="createOrLinkRadio" itemIndex="1"/>
			<h:outputLabel for="opt2" value="Link to Existing Account"/>
			<p:inputText id="usersIdInput" value="#{manageSubjectsViewBean.usersIdInput}">
				<p:ajax event="change" listener="#{manageSubjectsControllerBean.handleIdUpdate}"
					update="createLinkButton"/>
			</p:inputText>
			<p:commandButton id="lookupByEmailButton" value="lookup by Email" update="linkAccountPanel"
				actionListener="#{manageSubjectsControllerBean.lookupByEmail}"
				disabled="#{manageSubjectsViewBean.lookupByEmailButtonDisabled}"
				/>
			
		</h:panelGrid>
		<p:separator></p:separator>
		<p:commandButton id="createLinkButton" value="Create Link" update="growl" 
			actionListener="#{manageSubjectsControllerBean.handleSubmitLinkSubject}"
			disabled="#{manageSubjectsViewBean.linkRadioSubmitDisabled}" 
			onsuccess="linkedAccountDlgWidget.hide();"></p:commandButton>
		<p:commandButton id="refreshAccountButton" value="Refresh Linked Account" update="growl"
			actionListener="#{manageSubjectsControllerBean.handleRefreshAccount}"
			disabled="#{manageSubjectsViewBean.refreshAccountButtonDisabled}"
			onsuccess="linkedAccountDlgWidget.hide();"/>
	</p:panel>
</p:dialog>
<p:dialog id="entitiesDlg" widgetVar="entitiesDlgWidget" width="750" height="469" header="Editing Entity Access " modal="true">
	<p:wizard widgetVar="wiz3" flowListener="#{manageSubjectsControllerBean.handleFlowEntityWizard}">
		<p:tab id="selectCompanyTab" title="Select Companies">
			<p:panel id="selectCompanyPanel" header="Select Companies">
				<p:panelGrid id="selectCompanyPanelGrid" width="650">
					<p:row>
						<p:column colspan="2">
							<h:outputText value="#{manageSubjectsViewBean.selectedRealmUser.firstname} #{manageSubjectsViewBean.selectedRealmUser.lastname}"/>
							<p:pickList id="pickCompanies" value="#{manageSubjectsViewBean.companyLists}"  
		            			var="company"  
		            			widgetVar="companyWidget"
		            			converter="#{manageSubjectsControllerBean.companyConverter}"  
		            			converterMessage="Conversion Failed"
		            			showSourceFilter="true"
		            			showTargetFilter="true"
		            			filterMatchMode="contains"
		            			itemValue="#{company}"
		            			itemLabel="#{company.coName}"
		            			disabled="#{manageSubjectsViewBean.pickCompaniesDisabled}"
		            			>
		            			<p:ajax event="transfer" listener="#{manageSubjectsControllerBean.handleTransfer}" update="growl" />  
		            			<p:column id="coDataColumn" >
		            				<h:outputText value="#{company.coName}" title="(#{company.companyId})" />
		            			</p:column>
		            			<p:tooltip for="coDataColumn"></p:tooltip>
		            			<f:facet name="sourceCaption">All Companies</f:facet>
		            			<f:facet name="targetCaption">Authorized Companies</f:facet>
		            		</p:pickList>
						</p:column>
						
					</p:row>
					<p:separator></p:separator>
					
					
            		<p:separator></p:separator>
					<p:row>
						<p:column>
							<h:outputLabel for="selectContextMenu3" value="Switch Role Context"/>
						</p:column>
						<p:column >
								
								<p:selectOneMenu id="selectContextMenu3" widgetVar="selectContextMenuWidget3" 
										value="#{manageSubjectsViewBean.selectedContextId}"
										>
										<p:ajax listener="#{manageSubjectsControllerBean.handleContextSelect}" 
											update="selectCompanyPanelGrid"
											/>
										<f:selectItem itemLabel="Select One" itemValue=""/>
										<f:selectItems value="#{manageSubjectsViewBean.roleContexts}" var="context"
											itemLabel="#{context.role_context_name}" itemValue="#{context.role_context_id}"/>
								
								</p:selectOneMenu>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="grantAllAccessCheckbox" value="Grant Access to ALL Entities"/>
						</p:column>
						<p:column >
								
								<p:selectBooleanCheckbox id="grantAllAccessCheckbox" 
									widgetVar="grantAllAccessCheckbox"
									value="#{manageSubjectsViewBean.grantAll}"
									>
									<p:ajax update="confirmGrantAll" oncomplete="confirmGrantAll.show()" listener="#{manageSubjectsControllerBean.handleCheckGrantEvent}"/>
								</p:selectBooleanCheckbox>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="rulesTab" title="Company Access Rules">
			<p:panel id="rulesPanel" header="Entity Rules" height="350">
				<h:messages errorClass="error"/> 
				<p:panelGrid id="rulesPanelGrid" style="width: 100%">
					<p:row>
						<p:column colspan="3">
							
							<p:dataTable id="companyRuleTable" selectionMode="multiple" border="0"
								
								selection="#{manageSubjectsViewBean.selectedAllowedCompanies}"
								value="#{manageSubjectsViewBean.allowedCompanies}" var="co"
								rowKey="#{co.companyId}"
								>
								<p:ajax event="rowSelect" global="false" listener="#{manageSubjectsControllerBean.handleCoSelect}" 
									update=":form:applyRuleButton"/>
								<p:column id="colConame" sortBy="#{co.coname}"
									filterBy="#{co.coname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
									<f:facet name="header">
										<h:outputText value="Company Name" />
									</f:facet>
									<h:outputText value="#{co.coname}" />
								</p:column>
								<p:column id="colCompId" sortBy="#{co.companyId}"
									filterBy="#{co.companyId}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
									<f:facet name="header">
										<h:outputText value="Company Id" />
									</f:facet>
									<h:outputText value="#{co.companyId}" />
								</p:column>
								<p:column id="colCoId" sortBy="#{co.entityRuleName}"
									filterBy="#{co.entityRuleName}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
									<f:facet name="header">
										<h:outputText value="Active Rule" />
									</f:facet>
									<h:outputText value="#{co.entityRuleName}" />
								</p:column>
							</p:dataTable>
						</p:column>
					</p:row>
					<p:row >
						<p:column>
							<h:outputLabel for="selectEntityRuleMenu" value="Entity Rule: "/>
						</p:column>
						<p:column>
							
							<p:selectOneMenu id="selectEntityRuleMenu" widgetVar="selectEntityRuleMenu" 
										value="#{manageSubjectsViewBean.selectedEntityRuleId}"
										valueChangeListener="#{manageSubjectsControllerBean.handleEntityRuleSelect}" >
										
										<f:selectItem itemLabel="Select One" itemValue=""/>
										<f:selectItems value="#{manageSubjectsViewBean.entityRules}" var="rule"
											itemLabel="#{rule.entity_rule_name}" itemValue="#{rule.entity_rule_id}"/>
								
								</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton id="applyRuleButton" value="Apply to Selected" actionListener="#{manageSubjectsControllerBean.handleSetRules}"
								update="rulesPanel"/>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="selectEntitiesTab" title="Sub-Entities">
			<p:panel id="entityPanel" header="Select Authorized Entities" height="350">
				<p:panelGrid id="entityPanelGrid" width="650">
					<p:row>
						<p:column >
							<p:tree value="#{manageSubjectsViewBean.rootNode}" cache="true" var="entity" id="entityTree"
								selectionMode="checkbox"
								selection="#{manageSubjectsViewBean.selectedNodes}"
								dynamic="true"
								style="width: 600px; height: 275px">
								<p:ajax event="expand" listener="#{manageSubjectsControllerBean.handleNodeExpand}" update="entityTree"/>
								<p:ajax event="select" global="false" listener="#{manageSubjectsControllerBean.handleNodeSelect}" update="entityTree"/>
								<p:ajax event="collapse" listener="#{manageSubjectsControllerBean.handleNodeCollapse}" update="entityTree"/>
								<p:ajax event="unselect" global="false" listener="#{manageSubjectsControllerBean.handleNodeUnselect}" update="entityTree"/>
								
								<p:treeNode id="treeNodeCompany" type="company" icon="ui-icon ui-icon-home">
									<h:outputText value="#{entity.entityName}" />
								</p:treeNode>
								<p:treeNode id="treeNodeProject" type="project" icon="ui-icon ui-icon-suitcase">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeUser" type="user" icon="ui-icon ui-icon-person">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeContainer" type="container" expandedIcon="ui-icon ui-folder-open"
									collapsedIcon="ui-icon ui-icon-folder-collapsed">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeDefault" type="default" icon="ui-icon ui-icon-bullet">
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
							</p:tree>
						</p:column>
					</p:row>
		
					<p:separator></p:separator>
					<p:row>
						
						<p:column>
								<p:commandButton id="commitEntitiesButton" value="SAVE" 
									actionListener="#{manageSubjectsControllerBean.handleSaveSelectedAuthorizedEntities}"
									onsuccess="entitiesDlgWidget.hide()"
									style="float: right"
									update="growl">
								</p:commandButton>
							
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:panel>
		</p:tab>
	</p:wizard>
</p:dialog>
<p:dialog id="viewEntitiesDlg" widgetVar="viewEntitiesDlg" width="750" height="350" header="Authorized Entities" modal="true">
	<p:panel id="viewEntitiesPanel" >
		<p:panelGrid id="viewEntitiesPanelGrid" >
			<p:row>
				<p:column>
					<p:tree value="#{manageSubjectsViewBean.rootNodeView}" cache="false" var="entity" id="assignedEntityTree"
								selectionMode="single"
								selection="#{manageSubjectsViewBean.selectedNode}"
								dynamic="true"
								style="width: 600px; height: 275px">
								<p:ajax event="expand" listener="#{manageSubjectsControllerBean.handleNodeExpandForView}" update="assignedEntityTree"/>
								<!-- p:ajax event="select" global="false" listener="#{manageSubjectsControllerBean.handleNodeSelect}" update="assignedEntityTree"/-->
								<!-- p:ajax event="collapse" listener="#{manageSubjectsControllerBean.handleNodeCollapse}" update="assignedEntityTree"/-->
								<!-- p:ajax event="unselect" global="false" listener="#{manageSubjectsControllerBean.handleNodeUnselect}" update="assignedEntityTree"/-->
								
								<p:treeNode id="treeNodeCompany" type="company" icon="ui-icon ui-icon-home">
									<h:outputText value="#{entity.entityName}" />
								</p:treeNode>
								<p:treeNode id="treeNodeProject" type="project" icon="ui-icon ui-icon-suitcase">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeUser" type="user" icon="ui-icon ui-icon-person">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeContainer" type="container" expandedIcon="ui-icon ui-folder-open"
									collapsedIcon="ui-icon ui-icon-folder-collapsed">
								
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
								<p:treeNode id="treeNodeDefault" type="default" icon="ui-icon ui-icon-bullet">
									<h:outputText value="#{entity.entityName}"/>
								</p:treeNode>
							</p:tree>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:panel>
</p:dialog>

	<div style="float: none; clear: both"></div>
<p:dialog id="deleteContextDlg" widgetVar="deleteContextDlg" width="750" header="Delete Role Context" modal="true">
	<p:panel header="Delete Role Context">
		<p:panelGrid>
			<h:outputText value="Not Yet Implemented"/>
		</p:panelGrid>
	</p:panel>
</p:dialog>
<p:dialog id="editRolesDlg" widgetVar="editRolesDlg" width="750" header="Edit Roles Wizard" modal="true">
	<p:growl id="growl" sticky="false" showDetail="true"/>
	<p:wizard widgetVar="wiz" flowListener="#{manageSubjectsControllerBean.handleFlowProcessEvent}">
		<p:tab id="selectContextTab" title="Select Role Context">
			<p:panel header="Select Role Context to Edit">
				<h:messages errorClass="error"/>
				<h:panelGrid>
					<p:selectOneMenu id="selectContextMenu" widgetVar="selectContextMenuWidget" 
						value="#{manageSubjectsViewBean.selectedContextId}"
						>
						<p:ajax listener="#{manageSubjectsControllerBean.handleContextSelectForEditRolesDlg}" 
											update="selectContextTab"
											/>
						
						<f:selectItem itemLabel="Select One" itemValue=""/>
						<f:selectItems value="#{manageSubjectsViewBean.roleContexts}" var="context"
							itemLabel="#{context.role_context_name}" itemValue="#{context.role_context_id}"/>
				
					</p:selectOneMenu>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="selectRolesTab" title="Select Roles">
			<p:panel header="Select Roles">
				<h:messages errorClass="error"/>
				<h:panelGrid>
					<p:pickList id="pickRoles" value="#{manageSubjectsViewBean.contextRoleLists}"  
            			var="role"  
            			widgetVar="roleWidget"
            			converter="#{manageSubjectsControllerBean.roleConverter}"  
            			converterMessage="Conversion Failed"
            			itemValue="#{role}"
            			styleClass="ui.picklist-list-source" >
            			<p:ajax event="transfer" listener="#{manageSubjectsControllerBean.handleRoleTransfer}" update="growl" />
            			<p:column id="raDataColumn">
            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
            			</p:column>
            			<p:tooltip for="raDataColumn"></p:tooltip>
            			<f:facet name="sourceCaption">Available Roles</f:facet>
            			<f:facet name="targetCaption">Selected Roles</f:facet>
            		</p:pickList>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="confirmTab" title="Confirmation">
			<p:panel header="Confirm Roles">
				<p:dataList id="selectedRoles" value="#{manageSubjectsViewBean.selectedContext.roles}" var="role" itemType="square">
					#{role.label}
				</p:dataList>
				<p:separator></p:separator>
				<p:commandButton value="Save Roles" update="growl"
					actionListener="#{manageSubjectsControllerBean.handleSaveRoleContext}"
					oncomplete="editRolesDlg.hide()"
					/>
			</p:panel>
		</p:tab>
		
	
	</p:wizard>
</p:dialog>

<p:dialog id="importDlg" widgetVar="importDlg" width="750" header="Import Subjects" modal="true">
	<p:panelGrid id="importPanelGrid">
		<p:row>
			<p:column>
				<h:outputText value="Handle Importing Subjects from the Selected Realm here"></h:outputText>
			</p:column>
		</p:row>
		
	</p:panelGrid>
</p:dialog>


<p:dialog id="addContextDlg" widgetVar="addContextDlg" width="750" header="Add Role Context Wizard" modal="true">
	<p:growl id="growl2" sticky="true" showDetail="true"/>
	<p:wizard widgetVar="wiz2" flowListener="#{manageSubjectsControllerBean.handleFlowAddContext}">
		<p:tab id="contextDetailsTab" title="Details">
			<p:panel header="Set Role Context Details">
				<h:messages errorClass="error"/>
				<h:panelGrid>
					<p:row>
						<p:column>
							<h:outputLabel for="contextNameInput" value="Name "/>
						</p:column>
						<p:column>
							<h:inputText id="contextNameInput" value="#{manageSubjectsViewBean.newContext.role_context_name}"/>
								
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="makeDefaultInput" value="Make Default?"/>
						</p:column>
						<p:column>
							<h:selectOneRadio id="makeDefaultInput" value="#{manageSubjectsViewBean.newContext.isdefault}">
								<f:selectItem id="radioyes" itemLabel="yes" itemValue="true"/>
								<f:selectItem id="radiono" itemLabel="no" itemValue="false"/>
							</h:selectOneRadio>
						</p:column>
					</p:row>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="selectRolesTab2" title="Select Roles">
			<p:panel header="Select Roles">
				<h:messages errorClass="error"/>
				<h:panelGrid>
					<p:pickList id="pickRoles2" value="#{manageSubjectsViewBean.contextRoleLists}"  
            			var="role2"  
            			widgetVar="roleWidget2"
            			converter="#{manageSubjectsControllerBean.roleConverter}"  
            			converterMessage="Conversion Failed"
            			itemValue="#{role2}"
            			styleClass="ui.picklist-list-source" >
            			<p:column id="raDataColumn2">
            				<h:outputText value="#{role2.label}" title="(#{role2.name}) - #{role2.description}" />
            			</p:column>
            			<p:tooltip for="raDataColumn2"></p:tooltip>
            			<f:facet name="sourceCaption">Available Roles</f:facet>
            			<f:facet name="targetCaption">Selected Roles</f:facet>
            		</p:pickList>
				</h:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="confirmTab2" title="Confirmation">
			<p:panel header="Confirm Roles">
				<p:dataList id="selectedRoles2" value="#{manageSubjectsViewBean.newContext.roles}" var="role" itemType="square">
					#{role.label}
				</p:dataList>
				<p:separator></p:separator>
				<p:commandButton value="Save Context" update="growl"
					actionListener="#{manageSubjectsControllerBean.handleCreateRoleContext}"
					oncomplete="addContextDlg.hide()"
					/>
			</p:panel>
		</p:tab>
		
	
	</p:wizard>
</p:dialog>
<p:dialog id="auditLogDlg" widgetVar="auditLogDlg" width="850" header="Audit Log" modal="true">
	<p:panel header="View Audit Log">
		<p:dataTable id="auditLogTable" selectionMode="single" border="0"
								
				selection="#{manageSubjectsViewBean.selectedAuditEvent}"
				value="#{manageSubjectsViewBean.auditEvents}" var="event"
				rowKey="#{event.auditEventId}"
				scrollable="true"
				scrollHeight="380"
				filteredValue="#{manageSubjectsViewBean.filteredEvents}"
				>
				<!-- p:ajax event="rowSelect" global="false" listener="#{manageSubjectsControllerBean.handleCoSelect}" 
					update=":form:applyRuleButton"/-->
				<p:column id="colEventId" sortBy="#{event.auditEventId}"
					styleClass="column-header-align-top" style="width: 30px">
					<f:facet name="header">
						<h:outputText value="Event Id" />
					</f:facet>
					<h:outputText value="#{event.auditEventId}" />
				</p:column>
				<p:column id="colLevel" sortBy="#{event.level_string}"
					filterBy="#{event.level_string}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 50px">
					<f:facet name="header">
						<h:outputText value="Level" />
					</f:facet>
					<h:outputText value="#{event.level_string}" />
				</p:column>
				<p:column id="colTimestamp" sortBy="#{event.timestamp}"
					filterBy="#{event.timestamp}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
					<f:facet name="header">
						<h:outputText value="Time Stamp" />
					</f:facet>
					<h:outputText value="#{event.timestamp}" />
				</p:column>
				<p:column id="colMessage" sortBy="#{event.formatted_message}"
					filterBy="#{event.formatted_message}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 250px">
					<f:facet name="header">
						<h:outputText value="Event Message" />
					</f:facet>
					<h:outputText value="#{event.formatted_message}" />
				</p:column>
				<p:column id="colTargetSubject" sortBy="#{event.arg1}"
					filterBy="#{event.arg1}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 75px">
					<f:facet name="header">
						<h:outputText value="Target User" />
					</f:facet>
					<h:outputText value="#{event.arg1}" />
				</p:column>
				<p:column id="colEventType" sortBy="#{event.arg2}"
					filterBy="#{event.arg2}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 75px">
					<f:facet name="header">
						<h:outputText value="Entity Type" />
					</f:facet>
					<h:outputText value="#{event.arg2}" />
				</p:column>
			</p:dataTable>
	</p:panel>
	<p:panel header="Export Data">  
        <h:commandLink>  
            <p:graphicImage value="resources/images/icons/excel.png" />  
            <p:dataExporter type="xls" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
 
        <h:commandLink>  
            <p:graphicImage value="resources/images/icons/csv.png" />  
            <p:dataExporter type="csv" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
          
        <h:commandLink>  
            <p:graphicImage value="resources/images/icons/xml.png" />  
            <p:dataExporter type="xml" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
    </p:panel>
</p:dialog>
<p:confirmDialog id="confirmGrantAll" message="#{manageSubjectsViewBean.confirmGrantAllMessage}"
	header="Confirm All Entity Access Setting Change" severity="alert" widgetVar="confirmGrantAll" width="650">
		<p:commandButton id="confirm" value="Yes, Do it" 
			update="growl" oncomplete="confirmGrantAll.hide()" onsuccess="entitiesDlgWidget.hide()"
			actionListener="#{manageSubjectsControllerBean.handleGrantAllAccess}"
			rendered="#{manageSubjectsViewBean.renderConfirmButton}">
		</p:commandButton>
		<p:commandButton id="confirm2" value="Yes, Do it" 
			update="growl selectCompanyPanelGrid" oncomplete="confirmGrantAll.hide()"
			actionListener="#{manageSubjectsControllerBean.handleRevokeAllAccess}"
			rendered="#{manageSubjectsViewBean.renderConfirm2Button}">
		</p:commandButton>
		<p:commandButton id="decline" value="No, Cancel" update="growl" oncomplete="confirmGrantAll.hide()">
		</p:commandButton>
	</p:confirmDialog>
	
	<p:confirmDialog id="confirmInitMetadata" message="This action will delete all the cached subject metadata
	and re-insert new records using data retrieved from Active Directory.  This will take some time and may impact
	other applications using this data.  Are you sure you want to do this?"
	header="Confirm Initialize Subject Metadata" severity="alert" widgetVar="confirmInitMetadata" width="650">
		<p:commandButton id="confirmInit" value="Yes, Do it" 
			update="growl" oncomplete="confirmInitMetadata.hide()"
			actionListener="#{manageSubjectsControllerBean.handleInitRealmMetadata}"
			>
		</p:commandButton>
		
		<p:commandButton id="declineInit" value="No, Cancel" update="growl" oncomplete="confirmInitMetadata.hide()">
		</p:commandButton>
	</p:confirmDialog>
	
	<p:confirmDialog id="confirmGetNewSubjects" message="This action will add new Subject metadata for users newly
	added to this realm that are not yet shown in the list below.  Are you sure you want to do this?"
	header="Confirm Add Subject Metadata" severity="alert" widgetVar="confirmGetNewSubjects" width="650">
		<p:commandButton id="confirmUpdate" value="Yes, Do it" 
			update="growl" oncomplete="confirmGetNewSubjects.hide()"
			actionListener="#{manageSubjectsControllerBean.handleUpdateMetadata}"
			>
		</p:commandButton>
		
		<p:commandButton id="declineUpdate" value="No, Cancel" update="growl" oncomplete="confirmGetNewSubjects.hide()">
		</p:commandButton>
	</p:confirmDialog>
	
</h:form>
</h:body>
</html>