<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{manageRealmsControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
<h:form id="form">
	<p:tabMenu activeIndex="4">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>

<center>
		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/>
		<!-- h:outputText id="txtCommonNamee" value="#{dashboardViewBean.cn}"/> -->
		<ui:debug/>
</center>

	<div style="float: none; clear: both"></div>
	
	<p:panel id="realmPanel" header="Realms" style="margin-left: 5%; margin-right: 5%" >

		<p:dataTable id="realmTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{manageRealmsViewBean.selectedRealm}"
			value="#{manageRealmsViewBean.realms}" var="realm"
			rowKey="#{realm.realm_id}"
			>
			<p:ajax event="rowSelect" listener="#{manageRealmsControllerBean.handleRealmSelect}" update=":form:editRealmButton :form:deleteRealmButton"/>

			<p:column id="colRealmLabel" sortBy="#{realm.realm_label}"
				filterBy="#{realm.realm_label}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Label" />
				</f:facet>
				<h:outputText value="#{realm.realm_label}" />
			</p:column>

			<p:column id="colRealmName" sortBy="#{realm.realm_name}"
				filterBy="#{realm.realm_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{realm.realm_name}" />
			</p:column>
			<p:column id="colRealmDesc" sortBy="#{realm.realm_description}"
				filterBy="#{realm.realm_description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 250px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{realm.realm_description}" />
			</p:column>
			<p:column id="colRealmSupportsOrgs" sortBy="#{realm.supports_orgs}"
				filterBy="#{realm.supports_orgs}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Org Support" />
				</f:facet>
				<h:outputText value="#{realm.supports_orgs}" />
			</p:column>
			<p:column id="colRealmAuthClass" sortBy="#{realm.authorization_class}"
				filterBy="#{realm.authorization_class}" filterMatchMode="contains" styleClass="column-header-align-top" >
				<f:facet name="header">
					<h:outputText value="Authorization Class" />
				</f:facet>
				<h:outputText value="#{realm.authorization_class}" />
			</p:column>
			<p:column id="colRealmRoleTemplate" sortBy="#{realm.roleTemplate.role_template_name}"
				filterBy="#{realm.roleTemplate.role_template_name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Role Template" />
				</f:facet>
				<h:outputText value="#{realm.roleTemplate.role_template_name}" />
			</p:column>

			</p:dataTable>
			<p:separator></p:separator>
			<p:toolbarGroup id="pnlRealmToolbar">
				<p:commandButton id="editRealmButton" value="Edit" disabled="#{manageRealmsViewBean.editDisabled}" 
					actionListener="#{manageRealmsControllerBean.handleEditRealm}" 
					oncomplete="createRealmDlg.show()" update="createRealmDlg realmInputPanelGrid"
					onsuccess="wiz.loadStep(wiz.cfg.steps[0],true)"
					/>
 				<p:commandButton id="deleteRealmButton" value="Delete" 
 				 onclick="cd.show()"
 				 disabled="#{manageRealmsViewBean.deleteDisabled}" type="button"/>
				<p:commandButton id="createRealmSubmit" value="Create" 
					actionListener="#{manageRealmsControllerBean.handleCreateCommand}"
					onsuccess="createRealmDlg.show()"
					oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
					update="realmInputPart1Panel realmInputPart2Panel"
					disabled="#{manageRealmsViewBean.createButtonDisabled}"/>
				
			</p:toolbarGroup>
			
	</p:panel>
	<div style="float: none; clear: both"></div>
	
	
	<div style="float: none; clear: both"></div>


<p:dialog id="createRealmDlg" widgetVar="createRealmDlg" width="750" header="#{manageRealmsViewBean.realmDlgHeader}" modal="true">
	<p:growl id="growl" sticky="true" showDetail="true"/>
	<p:wizard widgetVar="wiz" flowListener="#{manageRealmsControllerBean.handleFlowProcessEvent}">
		<p:tab id="realmTabPart1" title="Part 1">
			<p:panel id="realmInputPart1Panel" header="Realm Input part 1">
				<p:panelGrid id="realmInputPanelGrid">
			
					<p:row>
						<p:column>
							<h:outputLabel value="Name: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmNameInputForNew" rendered="#{manageRealmsViewBean.renderInputForNew}" value="#{manageRealmsViewBean.newRealm.realm_name}">
								<f:validator binding="#{realmNameValidator}"/>
							</h:inputText>
							<h:inputText id="realmNameInputForEdit" rendered="#{manageRealmsViewBean.renderInputForEdit}" value="#{manageRealmsViewBean.newRealm.realm_name}">
								<f:validator binding="#{realmNameValidator}"/>
							</h:inputText>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmLabelInput" value="Label: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmLabelInput" value="#{manageRealmsViewBean.newRealm.realm_label}"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmClassInput" value="Authorization Class: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmClassInput" value="#{manageRealmsViewBean.newRealm.authorization_class}"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmDescriptionInput" value="Description: "/>
						</p:column>
						<p:column>
							<h:inputTextarea id="realmDescriptionInput" value="#{manageRealmsViewBean.newRealm.realm_description}" rows="5" cols="50"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="roleTemplateInput" value="Role Template: "/>
						</p:column>
						<p:column>
							<p:selectOneMenu id="roleTemplateInput" value="#{manageRealmsViewBean.sSelectedTemplate}" >
								<f:selectItem itemLabel="Select One" itemValue=""/>
								<f:selectItems value="#{manageRealmsViewBean.roleTemplates}" var="template"
									itemLabel="#{template.role_template_name}" itemValue="#{template.role_template_name}" required="true"/>
								
							</p:selectOneMenu>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmTypeInput" value="Realm Type: "/>
						</p:column>
						<p:column>
							<p:selectOneMenu id="realmTypeInput" value="#{manageRealmsViewBean.sSelectedType}" >
								<f:selectItem itemLabel="Select One" itemValue=""/>
								<f:selectItems value="#{manageRealmsViewBean.realmTypes}" var="type"
									itemLabel="#{type.realm_type_name}" itemValue="#{type.realm_type_name}" required="true"/>
								
							</p:selectOneMenu>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="supOrgInput" value="Supports Orgs?: "/>
						</p:column>
						<p:column>
							<h:selectOneRadio id="supOrgInput" value="#{manageRealmsViewBean.newRealm.supports_orgs}">
								<f:selectItem id="radioyes" itemLabel="yes" itemValue="1"/>
								<f:selectItem id="radiono" itemLabel="no" itemValue="0"/>
							</h:selectOneRadio>
						</p:column>
					</p:row>
			
								
				</p:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="realmTabPart2" title="Part 2">
			<p:panel id="realmInputPart2Panel" header="Realm Input part 2">
				<p:panelGrid id="realmInputPanelGrid2">
			
					<p:row>
						<p:column>
							<h:outputLabel value="Host Name: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmHostNameInput" value="#{manageRealmsViewBean.newRealm.host_name}" size="60"/>
							
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmHostPortInput" value="Host Port: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmHostPortInput" value="#{manageRealmsViewBean.newRealm.host_port}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmSubjectFilterInput" value="Default Filter: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmSubjectFilterInput" value="#{manageRealmsViewBean.newRealm.subject_filter}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmQueryUserInput" value="Query User Name: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmQueryUserInput" value="#{manageRealmsViewBean.newRealm.query_user}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmQueryUserPwInput" value="Query User Password: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmQueryUserPwInput" value="#{manageRealmsViewBean.newRealm.query_user_pw}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmBaseDomainInput" value="Base Domain: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmBaseDomainInput" value="#{manageRealmsViewBean.newRealm.ldap_base_domain}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmUserContextInput" value="User Context: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmUserContextInput" value="#{manageRealmsViewBean.newRealm.user_context}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmUserAttributesInput" value="User Attribute Names: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmUserAttributesInput" value="#{manageRealmsViewBean.newRealm.user_attribute_names}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmGroupContextInput" value="Group Context: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmGroupContextInput" value="#{manageRealmsViewBean.newRealm.group_context}" size="60"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel for="realmLinkedCompanyIdInput" value="Linked Company ID: "/>
						</p:column>
						<p:column>
							<h:inputText id="realmLinkedCompanyIdInput" value="#{manageRealmsViewBean.newRealm.linked_company_id}" size="60"/>
						</p:column>
					</p:row>
					
					
			
					<p:row>
						<p:column colspan="2">
							<p:toolbarGroup>
								<h:outputLabel for="submitnewrealm" value=" "/>
						        <p:commandButton rendered="#{manageRealmsViewBean.submitNewButtonRendered}" id="submitnewrealm" type="submit" oncomplete="if (!args.validationFailed) createRealmDlg.hide()" 
						        update="realmPanel growl"
						        action="#{manageRealmsControllerBean.handleSubmitNewRealm}" ajax="true" value="Save-New" icon="ui-icon-check" style="margin:0"/>  
						        <p:commandButton rendered="#{manageRealmsViewBean.submitEditButtonRendered}" id="submiteditrealm" type="submit" 
						        oncomplete="if (!args.validationFailed) createRealmDlg.hide()" 
						        update="realmPanel growl"
						        action="#{manageRealmsControllerBean.handleSubmitEditRealm}" ajax="true" 
						        value="Save-Edit" icon="ui-icon-check" style="float:right; margin:0"/> 
						        <p:commandButton value="Cancel"
								onsuccess="createRealmDlg.hide()"
								style="float:right"
								/>
					    	</p:toolbarGroup>
						</p:column>
					</p:row>
			
				</p:panelGrid>
			</p:panel>
		</p:tab>
	</p:wizard>
</p:dialog>
<p:dialog id="importDlg" widgetVar="importDlg" width="750" header="Import Subjects" modal="true">
	<p:panelGrid id="importPanelGrid">
		<p:row>
			<p:column>
				<h:outputText value="Handle Importing Subjects from the Selected Realm here"></h:outputText>
			</p:column>
		</p:row>
		
	</p:panelGrid>
</p:dialog>
<p:confirmDialog id="confirmDialog" message="Are you sure you want to delete this realm?  This will also delete
		any subjects, contexts, roles and authorized entities associated with members of this realm."
		header="Delete Realm Warning" severity="alert" widgetVar="cd" width="650">
		<p:commandButton value="Yes Delete" actionListener="#{manageRealmsControllerBean.handleDeleteRealm}" oncomplete="cd.hide()" update="realmPanel growl"/>
		<p:commandButton value="No Cancel" onclick="cd.hide()" type="button"/>
	
</p:confirmDialog>
</h:form>
</h:body>
</html>