<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{manageRolesControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<h:form id="form">
	<p:tabMenu activeIndex="2">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>

<center>
		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/>
		<!-- h:outputText id="txtCommonNamee" value="#{dashboardViewBean.cn}"/> -->
		<ui:debug/>
</center>

	<div style="float: none; clear: both"></div>
	<p:panel id="rolePanel" header="Roles" style="margin-left: 10%; margin-right: 10%" >

		<p:dataTable id="roleTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{manageRolesViewBean.selectedRole}"
			value="#{manageRolesViewBean.roles}" var="role"
			rowKey="#{role.role_id}"
			>
			<p:ajax event="rowSelect" listener="#{manageRolesControllerBean.handleRoleSelect}" update=":form:editRoleButton :form:deleteRoleButton"/>
			<p:column id="rowToggler" style="width: 35px">
				<p:rowToggler/>
			</p:column>
			
			<p:column id="colRoleLabel" sortBy="#{role.label}"
				filterBy="#{role.label}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 200px">
				<f:facet name="header">
					<h:outputText value="Label" />
				</f:facet>
				<h:outputText value="#{role.label}" />
			</p:column>
			<p:column id="colRoleName" sortBy="#{role.name}"
				filterBy="#{role.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 200px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{role.name}" />
			</p:column>
			<p:column id="colRoleDesc" sortBy="#{role.description}"
				filterBy="#{role.description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 300px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{role.description}" />
			</p:column>
			<p:column id="colRoleCreatedBy" sortBy="#{role.created_by}"
				filterBy="#{role.created_by}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Created By" />
				</f:facet>
				<h:outputText value="#{role.created_by}" />
			</p:column>
			<p:rowExpansion>
				<p:panelGrid id="permGroupGrid" columns="1" cellpadding="4" >
					<p:dataList id="pGrpList" value="#{role.permissionGroups}" var="permissionGroup" itemType="square">
						#{permissionGroup.label}
					</p:dataList>

				</p:panelGrid>
			</p:rowExpansion>
			</p:dataTable>
			<p:separator></p:separator>
			<p:toolbarGroup id="pnlRoleToolbar">
				<p:commandButton id="editRoleButton" value="Edit" disabled="#{manageRolesViewBean.editDisabled}"
					actionListener="#{manageRolesControllerBean.handleEditRole}"
					onsuccess="roleWizardDlg.show()"
					oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
					update="selectPGroupsTab roleDetailsTab"/>
 				<p:commandButton id="deleteRoleButton" value="Delete" update="rolePanel growl" 
 					actionListener="#{manageRolesControllerBean.handleDeleteRole}" 
 					disabled="#{manageRolesViewBean.deleteDisabled}"
 					/>
 				<p:commandButton id="createRoleWzrdSubmit" value="Create"
 					actionListener="#{manageRolesControllerBean.handleCreateInit}"
					onsuccess="roleWizardDlg.show()"
					update="rolePanel"
					oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
					disabled="#{manageRolesViewBean.createDisabled}"
					/>
			</p:toolbarGroup>
			<!-- h:outputText value="Edit Role Button client id: #{p:component('editRoleButton')}" /-->
	</p:panel>
	<div style="float: none; clear: both"></div>
	
	
	<div style="float: none; clear: both"></div>


<p:dialog id="roleWizardDlg" widgetVar="roleWizardDlg" width="750" header="Role Input Wizard" modal="true">
	<p:growl id="growl" sticky="true" showDetail="true"/>
	
	<p:wizard widgetVar="wiz" flowListener="#{manageRolesControllerBean.handleFlowProcessEvent}">
		<p:tab id="selectPGroupsTab" title="Permission Groups">
			<p:panel header="Select Permission Groups">
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="1" id="wzrdSelectGroupPanel" >
					<!-- Insert permission group picklist here -->
					<p:pickList id="pickPermGroups2" value="#{manageRolesViewBean.createRoleLists}"  
						showSourceFilter="true"
						filterMatchMode="contains"
            			var="permissionGroup"  
            			widgetVar="pGroupWidget"
            			converter="#{manageRolesControllerBean.permissionGroupConverter}"  
            			converterMessage="Conversion Failed"
            			itemValue="#{permissionGroup}"
            			itemLabel="#{permissionGroup.label}"
            			styleClass="ui.picklist-list-source" >
            			<p:column id="pgDataColumn">
            				<h:outputText value="#{permissionGroup.label}" title="(#{permissionGroup.name}) - #{permissionGroup.description}" />
            			</p:column>
            			<p:tooltip for="pgDataColumn"></p:tooltip>
            			<f:facet name="sourceCaption">Available Permission Groups</f:facet>
            			<f:facet name="targetCaption">Selected Permission Groups</f:facet>
            		</p:pickList>
            		<!-- p:commandButton id="createRoleSubmit" value="Save Lists"
						actionListener="#{manageRolesControllerBean.handleCreateRole}"
					/-->

				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		<p:tab id="roleDetailsTab" title="Role Details">
			<p:panel header="Details">
				<h:messages errorClass="error"/>

				<p:panelGrid >
					<p:row>
						<p:column>
							<h:outputLabel value="Name: "/>
						</p:column>
						<p:column>
							<h:inputText id="roleNameInputNew" value="#{manageRolesViewBean.newRole.name}" 
								rendered="#{manageRolesViewBean.renderRoleNameInputNew}">
								<f:validator binding="#{roleNameValidator}"/>
							</h:inputText> 
							<h:inputText id="roleNameInputEdit" value="#{manageRolesViewBean.newRole.name}" 
								rendered="#{manageRolesViewBean.renderRoleNameInputEdit}">
								<f:validator binding="#{roleNameValidator}"/>
							</h:inputText> 
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Label: "/>
						</p:column>
						<p:column>
							<h:inputText id="roleLabelInput" value="#{manageRolesViewBean.newRole.label}" required="true"/>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="roleDescriptionInput" value="Description: "/>
						</p:column>
						<p:column>
							<h:inputTextarea id="roleDescriptionInput" value="#{manageRolesViewBean.newRole.description}" rows="5" cols="50"/>	
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="roleTypeInput" value="Role Type: "/>
						</p:column>
						<p:column>
							<p:selectOneMenu id="roleTypeInput" value="#{manageRolesViewBean.sSelectedType}" 
								>
								<f:selectItem itemLabel="Select One" itemValue=""/>
								<f:selectItems value="#{manageRolesViewBean.roleTypes}" var="type"
									itemLabel="#{type.name}" itemValue="#{type.name}" required="true"/>
						
							</p:selectOneMenu>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="requiresLinkedIdInput" value="Requires Linked Id? "/>
						</p:column>
						<p:column>
							<h:selectOneRadio id="requiresLinkedIdInput" value="#{manageRolesViewBean.newRole.requires_linked_id}">
								<f:selectItem id="radioyes" itemLabel="yes" itemValue="true"/>
								<f:selectItem id="radiono" itemLabel="no" itemValue="false"/>
							</h:selectOneRadio>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel for="roleCreatedByInput" value="Created By: "/>
						</p:column>
						<p:column>
							<h:inputText id="roleCreatedByInput" value="#{sessionBean.uid}" readonly="true"/>	
						</p:column>
					</p:row>					
					
				</p:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="confirmTab" title="Confirmation">
			<p:panel id="confirmPanel" header="Confirmation">
				<h:messages errorClass="error"/>
				<p:panelGrid>
					<p:row>
						<p:column>
							<p:panelGrid columns="2">
								<h:outputLabel for="roleNameOutput" value="Name: "/>
								<h:outputText id="roleNameOutput" value="#{manageRolesViewBean.newRole.name}"/>
								
								<h:outputLabel for="roleLabelOutput" value="Label: "/>
								<h:outputText id="roleLabelOutput" value="#{manageRolesViewBean.newRole.label}"/>
								
								<h:outputLabel for="roleDescriptionOutput" value="Description: "/>
								<h:outputText id="roleDescriptionOutput" value="#{manageRolesViewBean.newRole.description}"/>
								
						
								<h:outputLabel for="roleRequiresLinkedIdOutput" value="Requires Linked Id: "/>
								<h:outputText id="roleRequiresLinkedIdOutput" value="#{manageRolesViewBean.newRole.requires_linked_id}"/>
						
								<h:outputLabel for="roleTypeOutput" value="Role Type: "/>
								<h:outputText id="roleTypeOutput" value="#{manageRolesViewBean.sSelectedType}"/>
		
								
								<h:outputLabel for="roleCreatedByOutput" value="Created By: "/>
								<h:outputText id="roleCreatedByOutput" value="#{manageRolesViewBean.newRole.created_by}"/>
							</p:panelGrid>
						</p:column>
						<p:column>
							<p:panelGrid columns="1">
								<p:dataList id="newPGrpList" value="#{manageRolesViewBean.newRole.permissionGroups}" var="permissionGroup" itemType="square">
									#{permissionGroup.label}
								</p:dataList>
							</p:panelGrid>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:commandButton value="Save Role" update="growl rolePanel"
								actionListener="#{manageRolesControllerBean.handleSubmitNewRole}"
								oncomplete="roleWizardDlg.hide()"
								rendered="#{manageRolesViewBean.renderSaveButton}"
								style="float:right"
								/>
							<p:commandButton value="Save Role Edits" update="growl rolePanel"
								actionListener="#{manageRolesControllerBean.handleSubmitEditRole}"
								oncomplete="roleWizardDlg.hide()"
								rendered="#{manageRolesViewBean.renderEditButton}"
								style="float:right"
								/>
							<p:commandButton value="Cancel"
								onsuccess="roleWizardDlg.hide()"
								style="float:right"
								/>
						</p:column>
					</p:row>
					
				</p:panelGrid>
				
			</p:panel>
		</p:tab>
	</p:wizard>

</p:dialog>
</h:form>
</h:body>
</html>