<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{permissionGroupsControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnPalmsAdmin" value="PALMS Admin" type="submit" action="#{sessionBean.handleClickPalmsAdminLink}"/>
					</div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<h:form id="form">
	<p:tabMenu activeIndex="1">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="#{sessionBean.renderProjectTab}" url="projectTeams.xhtml"/>
	</p:tabMenu>

<center>
		<h:outputLabel for="txtCommonNamee" value="Hello "/>
		<h:outputText id="txtCommonNamee" value="#{sessionBean.uid}"/>
		
</center>

	<div style="float: none; clear: both"></div>
	

	<div style="float: none; clear: both"></div>
	<p:panel id="pGrpPanel" header="Permission Groups" style="margin-left: 20%; margin-right: 20%" >

		<p:dataTable id="pGrpTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{permissionGroupsViewBean.selectedGroup}"
			value="#{permissionGroupsViewBean.permissionGroups}" var="permGrp"
			rowKey="#{permGrp.permission_group_id}"
			filteredValue = "#{permissionGroupsViewBean.filteredPermissionGroups}"
			>
			<p:ajax event="rowSelect" listener="#{permissionGroupsControllerBean.handlePermissionGroupSelect}" update=":form:editpgbutton :form:deletepgbutton"/>
			<p:column id="rowToggler">
				<p:rowToggler/>
			</p:column>
			
			<p:column id="colPermGrpLabel" sortBy="#{permGrp.label}"
				filterBy="#{permGrp.label}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Label" />
				</f:facet>
				<h:outputText value="#{permGrp.label}" />
			</p:column>
			<p:column id="colPermGrpName" sortBy="#{permGrp.name}"
				filterBy="#{permGrp.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{permGrp.name}" />
			</p:column>
			<p:column id="colPermGrpDesc" sortBy="#{permGrp.description}"
				filterBy="#{permGrp.description}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 200px">
				<f:facet name="header">
					<h:outputText value="Description" />
				</f:facet>
				<h:outputText value="#{permGrp.description}" />
			</p:column>
			<p:column id="colPermGrpCreatedBy" sortBy="#{permGrp.created_by}"
				filterBy="#{permGrp.created_by}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Created By" />
				</f:facet>
				<h:outputText value="#{permGrp.created_by}" />
			</p:column>
			<p:rowExpansion>
				<p:panelGrid id="permGrid" columns="1" cellpadding="4" >
					<p:dataList id="pGrpList" value="#{permGrp.permissions}" var="permission" itemType="square">
						#{permission.label}
					</p:dataList>

				</p:panelGrid>
			</p:rowExpansion>
			</p:dataTable>
			<p:separator></p:separator>
			<p:toolbarGroup id="pnlPGroupToolbar">
				<p:commandButton id="editpgbutton" value="Edit" update="selectPermissionsGrid pgDetailsPanelGrid"
					actionListener="#{permissionGroupsControllerBean.handleInitWizardEdit}"
					onsuccess="pgWizardDlg.show()"
					oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"
					disabled="#{permissionGroupsViewBean.editButtonDisabled}"
					
					/>
 				<p:commandButton id="deletepgbutton" value="Delete" update="growl pGrpPanel" 
 					actionListener="#{permissionGroupsControllerBean.handleDeletePermissionGroup}"
 					disabled="#{permissionGroupsViewBean.deleteButtonDisabled}" />
 				<p:commandButton id="createPgWzrdSubmit" value="Create" update="wzrdSelectPermissionPanel pgDetailsTab" onsuccess="pgWizardDlg.show()"
 					actionListener="#{permissionGroupsControllerBean.handleInitWizardCreate}"
 					disabled="#{permissionGroupsViewBean.createButtonDisabled}"/>
			</p:toolbarGroup>
	</p:panel>

<p:dialog id="pgWizardDlg" widgetVar="pgWizardDlg" width="750" header="Create New Role Wizard" modal="true">
	<p:growl id="growl" sticky="true" showDetail="true"/>
	
	<p:wizard widgetVar="wiz" flowListener="#{permissionGroupsControllerBean.handleFlowProcessEvent}">
		<p:tab id="selectPermissionsTab" title="Permissions">
			<p:panel id="selectPermissionsGrid" header="Select Permissions for Group">
				<h:messages errorClass="error"/>
				
				<h:panelGrid columns="1" id="wzrdSelectPermissionPanel" >
					<!-- Insert permission group picklist here -->
					<p:pickList id="pickPermissions" value="#{permissionGroupsViewBean.createPermissionsGroupLists}"  
            			var="permission"  
            			converter="#{permissionGroupsControllerBean.permissionConverter}"  
            			itemValue="#{permission}" itemLabel="#{permission.label}"
            			showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains">
            			<p:column id="pDataColumn">
            				<h:outputText value="#{permission.label}" title="(#{permission.name}) - #{permission.description}" />
            			</p:column>
            			<p:tooltip for="pDataColumn"></p:tooltip>
            			<f:facet name="sourceCaption">Available Permissions</f:facet>
            			<f:facet name="targetCaption">Selected Permissions</f:facet>
            		</p:pickList>  


				</h:panelGrid>
			</p:panel>
		</p:tab>
		
		<p:tab id="pgDetailsTab" title="Permission Group Details">
			<p:panel header="Details">
				<h:messages errorClass="error"/>

				<p:panelGrid id="pgDetailsPanelGrid" >
					<p:row>
						<p:column>
							<h:outputLabel value="Name: "/>
						</p:column>
						<p:column>
							<h:inputText id="grpNameInputforNew" rendered="#{permissionGroupsViewBean.renderGrpNameInputForNew}" value="#{permissionGroupsViewBean.newGroup.name}" required="true">
								<f:validator binding="#{permissionGroupNameValidator}"/>
							</h:inputText>
							<h:inputText id="grpNameInputforEdit" rendered="#{permissionGroupsViewBean.renderGrpNameInputForEdit}" value="#{permissionGroupsViewBean.newGroup.name}" required="true">
								<f:validator binding="#{permissionGroupNameValidator}"/>
							</h:inputText>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel value="Label: "/>
						</p:column>
						<p:column>
							<h:inputText id="grpLabelInput" value="#{permissionGroupsViewBean.newGroup.label}"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel value="Description: "/>
						</p:column>
						<p:column>
							<h:inputTextarea id="grpDescriptionInput" 
								value="#{permissionGroupsViewBean.newGroup.description}" rows="5" cols="50"/>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel value="Is Custom Group?: "/>
						</p:column>
						<p:column>
							<h:selectOneRadio id="grpCustomInput" value="#{permissionGroupsViewBean.newGroup.custom}">
								<f:selectItem id="radioyes" itemLabel="yes" itemValue="1"/>
								<f:selectItem id="radiono" itemLabel="no" itemValue="0"/>
							</h:selectOneRadio>
						</p:column>
					</p:row>
					
					<p:row>
						<p:column>
							<h:outputLabel value="Created By: "/>
						</p:column>
						<p:column>
							<h:inputText id="grpCreatedByInput" value="#{sessionBean.uid}" readonly="true"/>
						</p:column>
					</p:row>

				</p:panelGrid>
			</p:panel>
		</p:tab>
		<p:tab id="confirmTab" title="Confirmation">
			<p:panel id="confirmPanel" header="Confirmation">
				<h:messages errorClass="error"/>
				<p:panelGrid columns="2">
					<p:panelGrid columns="2">
						<h:outputLabel for="pgNameOutput" value="Name: "/>
						<h:outputText id="pgNameOutput" value="#{permissionGroupsViewBean.newGroup.name}"/>
						
						<h:outputLabel for="pgLabelOutput" value="Label: "/>
						<h:outputText id="pgLabelOutput" value="#{permissionGroupsViewBean.newGroup.label}"/>
						
						<h:outputLabel for="pgDescriptionOutput" value="Description: "/>
						<h:outputText id="pgDescriptionOutput" value="#{permissionGroupsViewBean.newGroup.description}"/>
						
				
						<h:outputLabel for="pgCustomOutput" value="Custom: "/>
						<h:outputText id="pgCustomOutput" value="#{permissionGroupsViewBean.newGroup.custom}"/>
				
						<h:outputLabel for="pgCreatedByOutput" value="Created By: "/>
						<h:outputText id="pgCreatedByOutput" value="#{sessionBean.uid}"/>
					</p:panelGrid>
					<p:panelGrid columns="1">
						<p:dataList id="newPGrpList" value="#{permissionGroupsViewBean.newGroup.permissions}" var="permission" itemType="square">
							#{permission.label}
						</p:dataList>
					</p:panelGrid>
				</p:panelGrid>
				
				<p:commandButton value="Save Group" update="growl pGrpPanel"
					actionListener="#{permissionGroupsControllerBean.handleSubmitNewGroup}"
					onsuccess="pgWizardDlg.hide()"
					style="float:right;"
					rendered="#{permissionGroupsViewBean.renderSaveGroupButton}"
					/>
				<p:commandButton value="Update Group" update="growl pGrpPanel"
					actionListener="#{permissionGroupsControllerBean.handleSubmitEditGroup}"
					onsuccess="pgWizardDlg.hide()"
					style="float:right;"
					rendered="#{permissionGroupsViewBean.renderEditGroupButton}"
					/>
				<p:commandButton value="Cancel"
					onsuccess="pgWizardDlg.hide()"
					style="float:right"
					/>
			</p:panel>
		</p:tab>
	</p:wizard>

</p:dialog>
</h:form>
</h:body>
</html>