<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<ui:composition template="/WEB-INF/facelet_templates/default.xhtml">
	<ui:define name="content">
		<h:form>
			<p:growl id="growl" sticky="false" showDetail="true"/>
			<p:focus for="txtUsername" />
			
			<div style="margin: 25px;">
			<p:panel header="Reset Password" style="position: absolute; top: 50%; left: 50%; width: 350px; margin-left: -175px; height: 170px; margin-top: -85px;">
				<h:outputText value="Your Password has expired. Please update your password."/>
				<p:separator></p:separator>			
				<h:panelGrid border="0" columns="2">
					<h:outputText value="New Password" styleClass="label" />
					<h:inputSecret id="txtUsername" value="#{LoginBean.newPassword}"
						style="width: 235px" maxlength="255" />
					<h:outputText value="Confirm Password" styleClass="label" />
					<h:inputSecret id="txtPassword" value="#{LoginBean.confirmPassword}"
						style="width: 235px" maxlength="64" />
				</h:panelGrid>
				<br/>
				<p:commandButton id="btnOK" value="OK" type="submit"
					action="#{LoginBean.resetPassword}" ajax="false" update="growl"/>
			</p:panel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>