<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	>	
	<f:view contentType="text/html"/>
	<f:metadata>
		<f:viewParam 
			name="path" 
			value="#{postToBean.path}"/>
		<f:viewParam 
			name="sys" 
			value="#{postToBean.sysName}"/>			
		<f:viewParam 
			name="returnTo" 
			value="#{postToBean.returnTo}"/>	
		<f:event
			type="preRenderView"
			listener="#{postToBean.init}" />
	</f:metadata>
	<h:head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Please wait...</title>
		<h:outputStylesheet library="theme" name="skin.css" target="head" />
		<h:outputStylesheet library="application" name="main.css" target="head" />
		<h:outputScript library="js" name="common.js" />
		<script type="text/javascript">
			$(document).ready(function(){
				post_to_location();
			})
		</script>
	</h:head>
	<h:body>
		<h:form id="frmPostToLocation">
			<p:remoteCommand 
				name="post_to_location"
				immediate="true"
				actionListener="#{postToBean.preparePost}" 
				oncomplete="pleaseWaitDialog.show(); postToExternalPage(xhr, status, args)">
			</p:remoteCommand>
			<p:dialog 
				modal="true"
				widgetVar="pleaseWaitDialog"
				header="Please wait..." 
				draggable="false" 
				closable="false"
				showEffect="fade"
				hideEffect="fade"
				resizable="false"
				width="244">
				<p:outputPanel 
					id="progressBar" 
					styleClass="please-wait-dialog"
					layout="block">
					<p:graphicImage  value="#{resource['images/ajaxloadingbar.gif']}" cache="false"/>
				</p:outputPanel>	
			</p:dialog>		
		</h:form>		
	</h:body>
</html>