<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(ldapLoginFormBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #fffffff;" rendered="#{ldapLoginFormBean.loggedIn}" id="btnLogout" value="Logout #{ldapLoginFormBean.username}" type="submit" action="#{ldapLoginFormBean.navLogout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(ldapLoginFormBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
	<p:panel id="pnlToolbar" >
		<p:toolbar>
			<p:toolbarGroup align="left">
			<h:form id="toolbarform">
				<p:commandButton value="Administer Users" rendered="#{ldapLoginFormBean.renderAddUser}"
					action="#{ldapLoginFormBean.handleNavAddUser}"
					ajax="false" />
				<p:commandButton value="Administer Clients" rendered="#{ldapLoginFormBean.renderAdministerClients}"
					action="#{ldapLoginFormBean.handleNavAdministerClients}"
					ajax="false" />
				
			</h:form>
			</p:toolbarGroup>
		</p:toolbar>
	</p:panel>
<center>
	<h:form id="profile">
	<p:panelGrid columns="2">
		
		<f:facet name="header">
			Your Profile Info
		</f:facet>
		
		<h:outputLabel for="txtLdapName" value="LDAP Unique Name: "/>
		<h:outputText id="txtLdapName" value="#{ldapLoginFormBean.ldapName}"/>
		
		<h:outputLabel for="txtUserName" value="Username: *"/>
		<h:inputText id="txtUserName" value="#{ldapLoginFormBean.username}"/>
		
		<h:outputLabel for="txtGivenName" value="Given Name: "/>
		<h:inputText id="txtGivenName" value="#{ldapLoginFormBean.givenName}"/>
		
		<h:outputLabel for="txtSurName" value="Sur Name: "/>
		<h:inputText id="txtSurName" value="#{ldapLoginFormBean.surName}"/>
		
		<h:outputLabel for="txtCn" value="Common Name: "/>
		<h:inputText id="txtCn" value="#{ldapLoginFormBean.cn}"/>
		
		<h:outputLabel for="txtHomePhone" value="Home Phone: "/>
		<h:inputText id="txtHomePhone" value="#{ldapLoginFormBean.homePhone}"/>
		
		<h:outputLabel for="txtAddress" value="Address: "/>
		<h:inputText id="txtAddress" value="#{ldapLoginFormBean.address}"/>
		
		<!-- h:outputLabel for="emailSelect" value="Email Addresses: "/>
		<h:selectOneMenu id="emailSelect"
 		value="#{ldapLoginFormBean.email}">
  			<f:selectItems
   			value="#{ldapLoginFormBean.email}" />
   		</h:selectOneMenu> -->
   		

		
		<h:outputLabel for="txtDescription" value="Description: "/>
		<p:inputTextarea rows="2" cols="50" maxlength="100" counterTemplate="{0} characters remaining." id="txtDescription" value="#{ldapLoginFormBean.description}"/>
		
		<f:facet name="footer">  
	        <p:commandButton id="submit" type="submit" action="#{ldapLoginFormBean.handleSaveProfile}" ajax="false" value="Save" icon="ui-icon-check" style="margin:0"/>  
    	</f:facet> 
		
	</p:panelGrid>
	</h:form>
	<h:form id="changepw">
	<p:panelGrid columns="2">
		
		<f:facet name="header">
			Update Password
		</f:facet>
		
		
   		<h:outputLabel for="pwInput" value="New Password: "/>
   		<h:inputSecret id="pwInput" value="#{ldapLoginFormBean.newPassword}"/>
   		
   		<h:outputLabel for="pwInputConfirm" value="Confirm Password: "/>
   		<h:inputSecret id="pwInputConfirm" value="#{ldapLoginFormBean.newPasswordConfirm}"/>

		<f:facet name="footer">  
	        <p:commandButton id="submitpw" type="submit" action="#{ldapLoginFormBean.handleUpdatePassword}" ajax="false" value="Save" icon="ui-icon-check" style="margin:0"/>  
    	</f:facet> 
		
	</p:panelGrid>
	</h:form>
	</center>
	<div style="float: none; clear: both"></div>
	<p:panel header="Security Role List" style="margin-left: 30%; margin-right: 30%">
		<p:dataList value="#{ldapLoginFormBean.securityRoles}" var="role" itemType="square">
			#{role}
		</p:dataList>
	</p:panel>
	
	<div style="float: none; clear: both"></div>
	<p:panel header="LDAP Group List" style="margin-left: 30%; margin-right: 30%">
		<p:dataList value="#{ldapLoginFormBean.groups}" var="group" itemType="square">
			<b>#{group.name.attrVal}: </b> #{group.description.attrVal}
		</p:dataList>
	</p:panel>
	
	<div style="float: none; clear: both"></div>
	<p:panel header="Object Class List" style="margin-left: 30%; margin-right: 30%">
		<p:dataList value="#{ldapLoginFormBean.objectClass}" var="oc" itemType="square">
			#{oc}
		</p:dataList>
	</p:panel>
	
	<p:panel id="attrTable" header="All user Attributes with values, and attribute definition info">
	<h:form>  
    	<p:dataTable var="attr" value="#{ldapLoginFormBean.allattrs}">  
	        <p:column headerText="Name">  
	            <h:outputText value="#{attr.attrName}" />  
	        </p:column>  
  
	        <p:column headerText="Value">  
	            <h:outputText value="#{attr.attrVal}" />  
	        </p:column>  
	  
	        <p:column headerText="Def Name">  
	            <h:outputText value="#{attr.defName}" />  
	        </p:column>  
  
	        <p:column headerText="Def Equality">  
	            <h:outputText value="#{attr.defEquality}" />  
	       </p:column>  
	       <p:column headerText="Def Substring">  
	            <h:outputText value="#{attr.defSubstr}" />  
	       </p:column>  
	       <p:column headerText="Origin">  
	            <h:outputText value="#{attr.defxOrigin}" />  
	       </p:column>  
	       <p:column headerText="Def ID">  
	            <h:outputText value="#{attr.defNumberidOid}" />  
	       </p:column>  
	   </p:dataTable>  
	</h:form>
	</p:panel>
	
</h:body>
</html>