<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{projectTeamsControllerBean.initView}" />
	</f:metadata>
	<div id="header">
		<ui:insert name="header">
			<h:form>
				
				<div class="header">
					<div style="float: left; margin-top:10px; margin-left:20px;">
							<h:graphicImage value="#{resource['images/titles/lockup.png']}" />
					</div>
					<div class="headerLinkBG" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}">
						<h:commandLink style="color: #E6E6E6;" rendered="#{sessionBean.loggedIn}" id="btnLogout" value="Logout #{sessionBean.uid}" type="submit" action="#{LoginBean.logout}"/>
					</div>
					
					<div class="headerLinkSeporator" style="visibility:#{(sessionBean.loggedIn)?'visible' : 'hidden; width:0px; padding:0px;'}"></div>
					
					<div class="headerLinkSeporator"></div>
					<div style="float: none; clear: both"></div>
				</div>
			</h:form>
		</ui:insert>	
	</div>
<h:form id="form">
	<p:tabMenu activeIndex="6">
		<p:menuitem value="Home" url="dashboard.xhtml"/>
		<p:menuitem value="Permission Groups" rendered="#{sessionBean.renderPermissionGroupTab}" url="managePermissionGroups.xhtml"/>
		<p:menuitem value="Roles" rendered="#{sessionBean.renderRoleTab}" url="manageRoles.xhtml"/>
		<p:menuitem value="Role Templates" rendered="#{sessionBean.renderRoleTemplateTab}" url="manageRoleTemplates.xhtml"/>
		<p:menuitem value="Realms" rendered="#{sessionBean.renderRealmTab}" url="manageRealms.xhtml"/>
		<p:menuitem value="Manage Access" rendered="#{sessionBean.renderSubjectTab}" url="manageSubjects.xhtml"/>
		<p:menuitem value="Project Teams" rendered="true" url="projectTeams.xhtml"/>
	</p:tabMenu>
	<div style="float: none; clear: both"></div>
	
	<p:panel id="realmPanel" header="Manage Project Teams" style="margin-left: 5%; margin-right: 5%" >
		<p:panelGrid columns="2">
			<h:outputLabel for="selectRealm" value="Select Realm"></h:outputLabel>
			<p:selectOneMenu id="selectRealm" widgetVar="selectRealmWidget" value="#{projectTeamsViewBean.selectedRealmName}"
				valueChangeListener="#{projectTeamsControllerBean.handleRealmSelect}" > 
				<p:ajax update="selectCompany searchRoleSubjectsButton" global="false"/>
				<f:selectItem itemLabel="Select One" itemValue=""/>
				<f:selectItems value="#{projectTeamsViewBean.realms}" var="realm"
							itemLabel="#{realm.realm_label}" itemValue="#{realm.realm_id}"/>
				
			</p:selectOneMenu>
			<h:outputLabel for="selectCompany" value="Select Company"></h:outputLabel>
			<p:selectOneMenu id="selectCompany" widgetVar="selectCompanyWidget" value="#{projectTeamsViewBean.selectedCompanyId}"
				valueChangeListener="#{projectTeamsControllerBean.handleCompanySelect}" disabled="#{projectTeamsViewBean.selectCompanyDisabled}">
				<p:ajax update="getProjectsButton" global="false"/>
				<f:selectItem itemLabel="Select One" itemValue=""/>
				<f:selectItems value="#{projectTeamsViewBean.companies}" var="company"
							itemLabel="#{company.coName}" itemValue="#{company.companyId}"/>
				
			</p:selectOneMenu>

		</p:panelGrid>
		<p:separator></p:separator>
			<p:toolbarGroup id="pnlSearchToolbar">
				<p:commandButton id="getProjectsButton" value="Get Projects" disabled="#{projectTeamsViewBean.getProjectsDisabled}" 
					actionListener="#{projectTeamsControllerBean.handleGetProjects}" 
					update="projectTable"/>
					
				<p:commandButton id="setProjectTeamButton" value="Project Team" disabled="#{projectTeamsViewBean.setTeamDisabled}" 
					actionListener="#{projectTeamsControllerBean.handleSetProjectTeam}" 
					onsuccess="setTeamDlg.show()" update="teamMemberTable currentTeamTable"
					oncomplete="wiz.loadStep(wiz.cfg.steps[0],true)"/>
				
				<p:commandButton id="searchRoleSubjectsButton" value="Subjects In Role" disabled="#{projectTeamsViewBean.searchSubjectsRoleDisabled}" 
					actionListener="#{projectTeamsControllerBean.handleSearchSubjectsRole}" 
					/> 

			</p:toolbarGroup>			
		<p:separator></p:separator>
		<p:dataTable id="projectTable" selectionMode="single" border="0"
			paginator="true" rows="10" 
			selection="#{projectTeamsViewBean.selectedProject}"
			value="#{projectTeamsViewBean.projects}" var="project"
			rowKey="#{project.projectId}"
			>
			<p:ajax event="rowSelect" global="false" listener="#{projectTeamsControllerBean.handleSubjectSelect}" 
				update=":form:setProjectTeamButton"/>
			
			<p:column id="colProjectname" sortBy="#{project.name}"
				filterBy="#{project.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{project.name}" />
			</p:column>
			<p:column id="colDatecreated" sortBy="#{project.dateCreated}"
				filterBy="#{project.dateCreated}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Date Created" />
				</f:facet>
				<h:outputText value="#{project.dateCreated}" />
			</p:column>
			<p:column id="colProjectCode" sortBy="#{project.projectCode}"
				filterBy="#{project.projectCode}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Project Code" />
				</f:facet>
				<h:outputText value="#{project.projectCode}" />
			</p:column>
			<p:column id="colUsercount" sortBy="#{project.usersCount}"
				filterBy="#{project.usersCount}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="User Count" />
				</f:facet>
				<h:outputText value="#{project.usersCount}" />
			</p:column>
			<p:column id="colTargetlevel" sortBy="#{project.targetLevelType.name}"
				filterBy="#{project.targetLevelType.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Target Level" />
				</f:facet>
				<h:outputText value="#{project.targetLevelType.name}" />
			</p:column>
			<p:column id="colProjectType" sortBy="#{project.projectType.name}"
				filterBy="#{project.projectType.name}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Project Type" />
				</f:facet>
				<h:outputText value="#{project.projectType.name}" />
			</p:column>

			

			</p:dataTable>
	</p:panel>
	<p:dialog id="setTeamDlg" widgetVar="setTeamDlg" width="850" header="Project Wizard" modal="true">
		<p:growl id="growl" sticky="false" showDetail="true"/>
		<p:wizard widgetVar="wiz" flowListener="#{projectTeamsControllerBean.handleFlowProcessEvent}">
			<p:tab id="currentTeamMembers" title="Current Team Members">
				<p:panel header="Current Project Team">
					<p:dataTable id="currentTeamTable" selectionMode="single" border="0"
						paginator="true" rows="10"
						selection="#{projectTeamsViewBean.selectedCurrentUser}"
						value="#{projectTeamsViewBean.currentTeamMembers}" var="user"
						rowKey="#{user.username}"
						>
						
						<p:ajax event="rowSelect" global="false" listener="#{projectTeamsControllerBean.handleMemberSelect}" 
							update=":form:removeMemberButton"/>
							
						<p:column id="colUsername" sortBy="#{user.username}"
							filterBy="#{user.username}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Username" />
							</f:facet>
							<h:outputText value="#{user.username}" />
						</p:column>
						<p:column id="colFirstname" sortBy="#{user.firstname}"
							filterBy="#{user.firstname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="First Name" />
							</f:facet>
							<h:outputText value="#{user.firstname}" />
						</p:column>
						<p:column id="colLastname" sortBy="#{user.lastname}"
							filterBy="#{user.lastname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Last Name" />
							</f:facet>
							<h:outputText value="#{user.lastname}" />
						</p:column>
					</p:dataTable>
					<p:separator></p:separator>
					<p:toolbarGroup id="removeToolbar">
						<p:commandButton id="removeMemberButton" value="Remove" disabled="#{projectTeamsViewBean.removeMemberDisabled}" 
							actionListener="#{projectTeamsControllerBean.handleRemoveMember}" 
							update="currentTeamTable"/>
					</p:toolbarGroup>
				</p:panel>
			</p:tab>
			<p:tab id="selectTeamMembers" title="Add Team Members">
				<p:panel header="Select Project Team">
					<p:dataTable id="teamMemberTable" selectionMode="multiple" border="0"
						paginator="true" rows="10" 
						selection="#{projectTeamsViewBean.selectedUsers}"
						value="#{projectTeamsViewBean.realmUsers}" var="user"
						rowKey="#{user.username}"
						>
						<p:column id="colUsername" sortBy="#{user.username}"
							filterBy="#{user.username}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Username" />
							</f:facet>
							<h:outputText value="#{user.username}" />
						</p:column>
						<p:column id="colFirstname" sortBy="#{user.firstname}"
							filterBy="#{user.firstname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="First Name" />
							</f:facet>
							<h:outputText value="#{user.firstname}" />
						</p:column>
						<p:column id="colLastname" sortBy="#{user.lastname}"
							filterBy="#{user.lastname}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Last Name" />
							</f:facet>
							<h:outputText value="#{user.lastname}" />
						</p:column>
					</p:dataTable>
				</p:panel>
			</p:tab>
			<p:tab id="selectTeamRoles" title="Select Team Roles">
				<p:panelGrid header="Select Team Roles">
					<p:row>
						<p:column width="300">
							<p:dataTable id="selectedTeamTable" selectionMode="single" border="0"
									paginator="true" rows="6" 
									selection="#{projectTeamsViewBean.selectedUser}"
									value="#{projectTeamsViewBean.selectedUsers}" var="user"
									rowKey="#{user.username}"
									>
									
									<p:ajax event="rowSelect" global="true" listener="#{projectTeamsControllerBean.handleSelectTeamMember}" 
									update=":form:pickRoles"/>
									
									<p:column id="colUsername" sortBy="#{user.username}"
									filterBy="#{user.username}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 100px">
									<f:facet name="header">
										<h:outputText value="Username" />
									</f:facet>
									<h:outputText value="#{user.username} (#{user.lastname},#{user.firstname})" />
								</p:column>
							</p:dataTable>
						</p:column>
						<p:column>
							<p:pickList id="pickRoles" value="#{projectTeamsViewBean.contextRoleLists}"  
		            			var="role"  
		            			widgetVar="roleWidget"
		            			converter="#{projectTeamsControllerBean.roleConverter}"  
		            			converterMessage="Conversion Failed"
		            			itemValue="#{role}"
		            			styleClass="ui.picklist-list-source"
		            			disabled ="#{projectTeamsViewBean.pickRolesDisabled}" >
		            			<p:ajax event="transfer" listener="#{projectTeamsControllerBean.handleTransferRole}" update="growl" /> 
		            			<p:column id="raDataColumn">
		            				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
		            			</p:column>
		            			<p:tooltip for="raDataColumn"></p:tooltip>
		            			<f:facet name="sourceCaption">Available Roles</f:facet>
		            			<f:facet name="targetCaption">Selected Roles</f:facet>
		            		</p:pickList>
		            		<p:toolbarGroup id="finishToolbar">
								<p:commandButton id="finishedButton" value="Finished" 
									 
									onclick="setTeamDlg.hide()"/>
							</p:toolbarGroup>
		            	</p:column>
	            	</p:row>
				</p:panelGrid>
			</p:tab>
		</p:wizard>
	</p:dialog>
	<p:ajaxStatus onstart="waitDlg.show();" onsuccess="waitDlg.hide();" ></p:ajaxStatus>
	<p:dialog id="waitDlg" widgetVar="waitDlg" modal="true" closable="false" header="Please Wait..." height="30" width="157">
	
		<p:graphicImage value="/resources/images/ajax-loader.gif" /> 
	</p:dialog>
</h:form>
</h:body>
</html>