<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui">
<f:view contentType="text/html"/>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="refresh" content="${request.session.maxInactiveInterval};url=login_timeout.xhtml"/> -->
<title>PDI Ninth House - Administrative Tools</title>
<h:outputStylesheet library="theme" name="skin.css" target="head" />
<h:outputStylesheet library="application" name="main.css" target="head" />
<h:outputScript library="js" name="common.js" />
<h:outputScript library="js" name="openwindow.js" />

</h:head>
<h:body>
	
	<div id="content" style="margin: 0px">
		<ui:insert name="content" />
	</div>
	<div id="footer" style="margin-left: 10px;">
		<ui:insert name="footer">
			<!-- <h:outputLabel value="PDI Ninth House - Copyright 2011"	style="text-align: center; font-family: Arial; font-style:italic; font-weight: normal; font-size: 10px" /> -->
		</ui:insert>	
	</div>
</h:body>
</html>
