/* DIALOG Box close button overide */
/* .ui-widget textarea, .ui-widget input{ */
/* 	padding-top:0.4em; */
/* 	padding-bottom:0.4em; */
/* } */
.ui-dialog .ui-dialog-titlebar-close {
	position: relative;
	right: 0em;
	top: 8;
	width: 18px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

/*
	.ui-dialog {
		max-height:98%;
		overflow: auto !important;
	}
*/

.ui-breadcrumb {
	padding-left:20px;
}
.ui-datatable th{
	vertical-align:top;
}
.ui-confirm-dialog-severity {
	margin-top: 0;
	left: 12px;
}
/*   */
.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px !important;
}
.ui-layout-pane-north{
	border:0;
	position:relative !important;
}
.ui-chkbox{
	margin-right:8px;  /* fix for IE7 and below NHN-2128  */
}
/* Input field overides */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #ffffff;
    color: #000000;
    box-shadow:none !important;
}
.ui-selectonemenu {
	border-collapse: collapse !important;
	min-width:110px;
}
/*old school input feilds*/
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #ffffff;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
    color: #313131;
}
.ui-panel {
 	padding-bottom: .8em !important; /* also IE7 fix for login panel, button floating over bottom edge */
}
.body{
	margin:0px;
	padding:0px;
}
.ui-layout-unit {
	padding: 0em !important;
}
.ui-layout-unit .ui-layout-unit-content {
	padding: 0em !important;
}
div#content{
	margin:0px !important;
}
.ui-growl-icon-close {
	left: 337px !important;
}
.ui-growl-item {
	padding: 20px 20px 20px 20px !important;
}
.ui-growl {   
    position:fixed !important;
	top: 20px !important;
	right: 20px !important;    
    width: 360px !important;
    z-index:9999 !important;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.ui-growl-item-container{opacity:0.97 !important; margin: 0 0 0px 0 !important;filter: alpha(opacity=95) important;}
.ui-growl-message {    width: 280px !important;}


/* Fix for icon and message description text  */
.ui-messages-info-summary, .ui-messages-warn-summary, 
.ui-messages-error-summary, .ui-messages-fatal-summary, 
.ui-message-info-summary, .ui-message-warn-summary, 
.ui-message-error-summary, .ui-message-fatal-summary {
	margin-left: 0px !important;
}

.ui-messages li {
   float: none;
   margin-left: 10px;
}

/* Make asteric red for required fields */
.ui-outputlabel-rfi {
	color: red;
}

/* Removes grey boarder around panelGrid */
.ui-panelgrid tr, .ui-panelgrid td {
	border: none !important;
}

.ui-datatable-scrollable-header {
	background: none !important;
	background-color: #ffffff !important;
}

.ui-tooltip {
	align: center !important;
}

.ui-datatable tbody td {
    white-space: normal !important;
}

.ui-icon-calendar {
    width: 16px;
    height: 16px;
    background-position: center center !important;
    background-image: url(#{ resource [ 'images/calendar-blue.png' ]}) !important;
}

.ui-selectonemenu {
	min-width: 0px !important;
}

/* Overriding Data Table expand/collapse toggler icon */

div.ui-row-toggler.ui-icon.ui-icon-circle-triangle-e {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/expand.png' ]}) !important;
}

div.ui-row-toggler.ui-icon.ui-icon-circle-triangle-s {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/collapse.png' ]}) !important;
}

/* Better align beradcrumb arrow and home icons */

li.ui-breadcrumb-chevron.ui-icon.ui-icon-triangle-1-e {
	background-position: -32px -15px;
}

.ui-icon-home {
    background-position: 0px -111px;
}

.ui-menuitem-text {
    float: none !important;
    white-space: nowrap;
    display: list-item;
    margin-right: 2em;
}

button.ui-button {
	margin-right: 0.3em !important;
}

.ui-menu {
	width: auto !important;
}

.ui-menu .ui-menuitem-link {
	width: auto !important;
}

.ui-menuitem-icon {
    padding-right: 3px !important;
}

/* Hiding minutes in calendar (done for email rules)*/
.ui-timepicker-div .ui_tpicker_minute_label, .ui-timepicker-div .ui_tpicker_minute  {
	display:none !important;
} 

.ui-expanded-row-content {
	background: none !important;
	background-color: #e1dfdd !important;
}

.ui-messages-error-icon {
   background-position: 5px 5px !important;
   background-image: url(#{ resource [ 'images/error.png' ]}) !important;
}

.ui-messages-info-icon {
   background-position: 5px 5px !important;
   background-image: url(#{ resource [ 'images/information.png' ]}) !important;
}

.ui-messages-warn-icon {
   background-position: 5px 5px !important;
   background-image: url(#{ resource [ 'images/warning.png' ]}) !important;
}

.ui-messages-fatal-icon {
   background-position: 5px 5px !important;
   background-image: url(#{ resource [ 'images/fatal_error.png' ]}) !important;
}

 .ui-fileupload-files .ui-fileupload-preview {
   padding: 0px !important;
 }
 
 .ui-fileupload-files td:nth-child(2) {
    word-break:break-all;
    width: 230px; 
 }
 
.ui-accordion-header.ui-state-active a  {
 	color: #FFFFFF !important;
 }

.ui-accordion-header .ui-icon-triangle-1-s {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/collapse.png' ]}) !important;
}

.ui-accordion-header .ui-icon-triangle-1-e {
	background-position: 0px 0px !important;
	background-image: url(#{ resource [ 'images/expand.png' ]}) !important;
}

.ui-accordion-header.ui-state-active {
 	background: none !important;
	background-color: #0098db !important; 	
}
 
.ui-radiobutton-box.ui-state-active {
	background: none !important;
	background-color: #FFFFFF !important; 
}

.ui-chkbox-box.ui-state-active {
	background: none !important;
	background-color: #FFFFFF !important; 
}
 