body { 
	margin: 0px !important;
	padding: 0px !important;
	background-color: #ffffff !important;
}

form {
	margin: 0px !important;
	padding: 0px !important;
}

 pre {
 	font-family: Verdana,Arial,sans-serif;
	overflow-x: auto !important; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap !important; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap !important; /* Opera 4-6 */
	white-space: -o-pre-wrap !important; /* Opera 7 */
	word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

.main-content {
	background-color: #ffffff !important;
	margin: 25px !important;
}	

a {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10pt !important;
}
a:link { 
	text-decoration: none !important;
}
a:visited {
	text-decoration: none !important;
}
a:hover {
	text-decoration: underline !important;
}
a:active { 
	text-decoration: none !important;
}

a.underlined:link { 
	text-decoration: underline !important;
}
a.underlined:visited {
	text-decoration: underline !important;
}
a.underlined:hover {
	text-decoration: underline !important;
}
a.underlined:active { 
	text-decoration: underline !important;
}
 
h2 {
	font-family: Verdana,Arial,sans-serif;
	font-size: 20pt !important;
	font-weight: normal !important;
	color: #22505F !important;
	margin-top: 9px !important;
	margin-bottom: 0px !important;
	margin-right: 0px !important;
	padding: 0px !important;
}

h4 {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14pt !important;
	font-weight: normal !important;
	color: #007A94 !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	padding-top: 0px !important;
}

.header {
	min-width:800px;
	height: 31px !important;
	width: 100% !important;
	margin: 0px !important;
	background-repeat: repeat-x !important;
	background-image: url(#{resource['images/header_gradient.png']}) !important; 
}	
.headerLinkBG {
	height:25px;
	float: right;
	padding-top:6px;
	padding-right: 10px;
	padding-left: 10px;
	background-repeat: repeat-x !important;
	background-image: url(#{resource['images/upperRightNavBG.png']}); !important;
}
.uppNavLinks{
	color: #eeeeee; 
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	}
.headerLinkSeporator{
	float:right;
	width:2px;
	height:31px;
	background-image: url(#{resource['images/upperRightNavSeporator.png']}) !important;
}
.client-header {
	height: 50px !important; 
	width: 100% !important; 
	margin: 0px !important; 
	background: #c8bcb2 url("#{resource['primefaces-pdinh:images/ui-bg_highlight-soft_80_c8bcb2_1x100.png']}") 50% 50% repeat-x; 
}	

.title {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12pt !important;
	font-weight: bold !important;
}	

.labelLarge {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10pt !important;
	font-weight: bold !important;
}

.label {
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt !important;
	font-weight: bold !important;
}

.errorLabel {
	color: #ff0000;
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt !important;
	font-weight: bold !important;
}

.ui-separator {
	height: 1px !important;
}

.noBorder {
	border: none !important;
}

.status-0 {
	width: 24px !important;
	height: 11px !important;
	background-image: url(#{resource['images/status/instrument_not_activated.png']}) !important;
}	

.status-1 {
	width: 24px !important;
	height: 11px !important;
	background-image: url(#{resource['images/status/instrument_not_started.png']}) !important;
}

.status-2 {
	width: 24px !important;
	height: 11px !important;
	background-image: url(#{resource['images/status/instrument_started.png']}) !important;
}	

.status-3 {
	width: 24px !important;
	height: 11px !important;
	background-image: url(#{resource['images/status/instrument_completed.png']}) !important;
}

.instrument-column-header {
 	width: 48px !important; 
 	vertical-align: top !important;
 	text-align: center !important;
 	font-size: 7pt !important;
}

.instrument-column-header-filter {
	width: 48px !important;
	font-size: 7pt !important;
}

.instrument-column-header-aggregate {
 	width: 48px !important; 
 	background: #dddddd !important;
 	vertical-align: top !important;
 	text-align: center !important;
 	font-size: 7pt !important;
}

.column-header-align-top-center {
	width: 48px !important;
	vertical-align: top !important;
	text-align: center !important;
	font-size: 7pt !important;
}

.column-header-align-top {
	vertical-align: top !important;
}	
.tab {
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt !important;
	font-weight:bold;
	color:#f8f0ea;
	width:100%; height:100%;
	background:none;
	border:none;
	cursor:pointer;
	text-align: center !important;
}
.tab-background {
	background-color: #b3a496 !important;
	width: 130px !important;
	height: 25px !important;
	text-align: center !important;
}

.tab-disabled {
	color: #D8CFC6 !important;
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt !important;
	font-weight:bold;
	width:100%; height:100%;
	background:none;
	border:none;
	text-align: center !important;
}

.tab-disabled-background {
	background: #C8BFB6 !important;
	width: 130px !important;
	height: 25px !important;
	text-align: center !important;
}

.tab-selected {
	font-family: Verdana,Arial,sans-serif;
	color:#22505f;
	width:100%; height:100%;
	font-weight:bold;
	font-size: 9pt !important;
	text-align: center !important;
	background:none;
	border:none;
}

.tab-selected-background {
	background: #ffffff !important;
	width: 130px !important;
	height: 25px !important;
	text-align: center !important;
}
.tabBtn{
	position: absolute;
	top: 25px; 
}
.ui-tree {
	margin: 0!important;
	border: 0!important;
	padding: 0!important;
}
.ui-chkbox{
	display: inline!important;
}
.ui-picklist-source {
	width: 265px !important;
}
.ui-picklist-target {
	width: 265px !important;
}
table .inactive td {
	font-style: italic !important;
	font-weight: bold !important;
}

