<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<composite:implementation>
	<p:dataTable 
		id="tblActivateInstruments" 
		var="participant" 
		value="#{projectManagementViewBean.selectedParticipants}"
		styleClass="text-align-center">
		
		<p:column>
			<f:facet name="header">
				<h:outputText value="Name"></h:outputText>
			</f:facet>
			<h:outputText value="#{participant.firstName} #{participant.lastName}"/>
		</p:column>
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('rv')}">
			<f:facet name="header">
				<h:outputText value="RV"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllRV}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxRV}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['rv'].activated}" disabled="#{!projectManagementControllerBean.renderRV(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('wg')}">
			<f:facet name="header">
				<h:outputText value="WGE"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllWGE}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxWGE}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['wg'].activated}" disabled="#{!projectManagementControllerBean.renderWGE(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('finex')}">
			<f:facet name="header">
				<h:outputText value="FIN"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllFIN}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxFIN}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['finex'].activated}" disabled="#{!projectManagementControllerBean.renderFIN(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>				
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('lvapm')}">
			<f:facet name="header">
				<h:outputText value="Peer Mtg"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllLVAPM}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxLVAPM}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['lvapm'].activated}" disabled="#{!projectManagementControllerBean.renderLVAPM(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>				
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('lvadr')}">
			<f:facet name="header">
				<h:outputText value="Direct Report Mtg"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllLVADR}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxLVADR}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['lvadr'].activated}" disabled="#{!projectManagementControllerBean.renderLVADR(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>				
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('lvabm')}">
			<f:facet name="header">
				<h:outputText value="Boss Mtg"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllLVABM}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxLVABM}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['lvabm'].activated}" disabled="#{!projectManagementControllerBean.renderLVABM(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>			
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('lvaci')}">
			<f:facet name="header">
				<h:outputText value="Consultant Int"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllLVACI}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxLVACI}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['lvaci'].activated}" disabled="#{!projectManagementControllerBean.renderLVACI(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('livsim')}">
			<f:facet name="header">
				<h:outputText value="Live Simulation"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllLIVSIM}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxLIVSIM}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['livsim'].activated}" disabled="#{!projectManagementControllerBean.renderLIVSIM(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>			
		<p:column rendered="#{projectManagementControllerBean.isAssessmentDayInstrument('bre')}">
			<f:facet name="header">
				<h:outputText value="Business Review Exercise"></h:outputText><br/>
				<h:selectBooleanCheckbox value="#{projectManagementControllerBean.selectAllBRE}">
					<f:ajax render="tblActivateInstruments" listener="#{projectManagementControllerBean.handleCheckboxBRE}"/>
				</h:selectBooleanCheckbox>
			</f:facet>
			<h:selectBooleanCheckbox value="#{participant.courseStatuses['bre'].activated}" disabled="#{!projectManagementControllerBean.renderBRE(participant.courseStatuses)}"></h:selectBooleanCheckbox>
		</p:column>			

		<p:column rendered="#{projectManagementControllerBean.displayAdobeSetup}">
			<f:facet name="header">
				<h:outputText value="AdobeConnect Room ID" id="adobeIdHeader"></h:outputText>
			</f:facet>
			<h:outputText value="#{projectManagementControllerBean.abydProperties.getProperty('lvaRoomIDPrefix')}#{participant.userId}"></h:outputText> 
		</p:column>
		<p:column rendered="#{projectManagementControllerBean.displayAdobeSetup}">
			<f:facet name="header">
				<h:outputText value="Test AdobeConnect" id="adobeTestHeader"></h:outputText>
			</f:facet>
			<h:outputLink value="http://pdininthhouse.adobeconnect.com/#{projectManagementControllerBean.abydProperties.getProperty('lvaRoomIDPrefix')}#{participant.userId}" target="_blank">
				<h:outputText value="Test"></h:outputText>
			</h:outputLink>
		</p:column>
	</p:dataTable>
	<p:spacer height="10"/>
	<h:panelGrid 
		columns="2" 
		rendered="#{projectManagementControllerBean.displayAdobeSetup}">
		<p:graphicImage 
			value="#{resource['images/icons/word_16x16.png']}" 
			styleClass="noBorder" />	 
		<h:outputLink 
			value="#{projectManagementViewBean.adobeConnectHelpFileUrl}" 
			target="_blank">
			Information about AdobeConnect Sessions
		</h:outputLink>
	</h:panelGrid>
	
</composite:implementation>
</html>