<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>
<composite:implementation>
	<h:panelGrid columns="2">
		<h:outputText value="Language" styleClass="label"/>
		<h:selectOneMenu id="newEmailTranslationLangSelect"
			value="#{emailTemplateViewBean.newLangCode}">
			<f:selectItems var="newLangListItem"
				value="#{emailTemplateViewBean.newLangs}"
				itemValue="#{newLangListItem.id}" itemLabel="#{newLangListItem.name}" />
		</h:selectOneMenu>
		<h:outputText value="Email Subject" styleClass="label"/>
		<h:inputText value="#{emailTemplateViewBean.newSubject}" maxlength="254" style="width: 400px"/>
	</h:panelGrid>
	<p:spacer height="20"></p:spacer>
	<div style="float: left; width: 550px">
		<h:outputText value="Email Body" styleClass="label" /><br/>
		<h:inputTextarea style="width: 500px; height: 350px"
			value="#{emailTemplateViewBean.newText}" />
	</div>
	<p:outputPanel style="float: left">
		<h:outputText value="Keywords" styleClass="label" /><h:outputText value=" (Triple-click to select)"/><br/>
		<h:dataTable var="copyPasteKeyword" value="#{emailTemplateViewBean.copyPasteKeywords}">
			<h:column>
				<h:outputText value="#{copyPasteKeyword}" />
			</h:column>
		</h:dataTable>
	</p:outputPanel>
	<div style="float: none; clear: both"/>
</composite:implementation>
</html>