<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>
</composite:interface>

<composite:implementation>

	<h:panelGrid columns="2">
		
		<h:outputText 
			value="Language" 
			styleClass="label min-label-width"/>
		
		<p:selectOneMenu 
			id="newEmailDialogLangSelect"
			widgetVar="newEmailDialogLangSelectWidg"
			value="#{editEmailTemplateDetailsCompViewBean.newLangCode}">
			<f:selectItem
				itemLabel="--- Select New Translation Language ---"  
				itemValue="-1" />	
			<f:selectItems 
				var="newLangListItem"
				value="#{editEmailTemplateDetailsCompViewBean.newLangs}"
				itemValue="#{newLangListItem.id}" 
				itemLabel="#{newLangListItem.name}"/>
				<p:ajax 				
					listener="#{editEmailTemplateDetailsCompControllerBean.handleNewLanguageChange}" 
					partialSubmit="true"
					process="@this"/>	
		</p:selectOneMenu>
	</h:panelGrid>
		
</composite:implementation>
</html>