<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   xmlns:composite="http://java.sun.com/jsf/composite"
   xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="useRoleAsFilter" type="java.lang.Boolean" default="false"/>
</composite:interface>

<composite:implementation>   

	<p:outputPanel id="pnlAddTeammember">
		
		<p:messages autoUpdate="true" globalOnly="true"/>
		
		<p:panelGrid columns="3">
			<p:outputLabel
				for="role"
				value="Role"
				styleClass="label" />		
			<p:selectOneMenu
				id="role"
				value="#{addTeammemberViewBean.roleId}"
				rendered="#{!cc.attrs.useRoleAsFilter}">
				<f:selectItem itemValue="-1" itemLabel="--- Please Select Role ---"/>
				<f:selectItems
					var="role"
					value="#{addTeammemberViewBean.roles}"
					itemValue="#{role.role_id}"
					itemLabel="#{role.label}"/>
				 <p:ajax listener="#{addTeammemberControllerBean.handleRoleSelect}"/>
			</p:selectOneMenu>
			<p:selectOneMenu
				id="roleWithFilter"
				value="#{addTeammemberViewBean.roleId}"
				rendered="#{cc.attrs.useRoleAsFilter}">
				<f:selectItem itemValue="-1" itemLabel="--- Please Select Role ---"/>
				<f:selectItems
					var="role"
					value="#{addTeammemberViewBean.roles}"
					itemValue="#{role.role_id}"
					itemLabel="#{role.label}"/>
				 <p:ajax 
				 	listener="#{addTeammemberControllerBean.handleRoleSelectWithFilter}"
				 	update="tblAvailableTeammembers"/>
			</p:selectOneMenu>
		</p:panelGrid>
			
		<p:spacer height="10"/>
		
		<p:dataTable 
			id="tblAvailableTeammembers"
			widgetVar="availableTeammembers"
			selectionMode="multiple"
			var="teammember"
			value="#{addTeammemberViewBean.teammembers}"
			selection="#{addTeammemberViewBean.selectedTeammembers}"
			filteredValue="#{addTeammemberViewBean.filteredTeammembers}"
			rowKey="#{teammember.username}"
			paginator="true" 
			rows="10"
			paginatorPosition="bottom">
		  
			<p:ajax 
				event="rowSelect" 
				listener="#{addTeammemberControllerBean.handleRowSelect}" 
				update=":#{cc.clientId}:pnlAddTeammember"/>
			   	
			<p:ajax 
				event="rowUnselect" 
				listener="#{addTeammemberControllerBean.handleRowUnselect}" 
				update=":#{cc.clientId}:pnlAddTeammember"/>
			   			       
			<p:column 
				sortBy="#{teammember.lastname}" 
				filterBy="#{teammember.lastname}" 
				filterMatchMode="contains"
				width="30%">
				<f:facet name="header">
					<h:outputText value="Last Name" />
				</f:facet>
			   <h:outputText value="#{teammember.lastname}" />
			</p:column>
			<p:column 
				sortBy="#{teammember.firstname}" 
				filterBy="#{teammember.firstname}" 
				filterMatchMode="contains"
				width="30%">
				<f:facet name="header">
					<h:outputText value="First Name" />
				</f:facet>			
			   <h:outputText value="#{teammember.firstname}" />
			</p:column>
			<p:column 
				sortBy="#{teammember.email}" 
				filterBy="#{teammember.email}" 
				filterMatchMode="contains"
				width="40%">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>				
			   <h:outputText value="#{teammember.email}" />
			</p:column>

		</p:dataTable>

	</p:outputPanel>		 
</composite:implementation>
</html>