<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="styleClass" type="java.lang.String"/>
	<composite:attribute name="layout" default="inline" type="java.lang.String" />
</composite:interface>

<composite:implementation>
	<p:ajaxStatus>  
		<f:facet name="start">
			<p:outputPanel 
				id="waitAnimation" 
				styleClass="#{cc.attrs.styleClass}"
				layout="#{cc.attrs.layout}">
				<h:graphicImage 
					value="#{resource['images/ui-anim_basic_20x20_2.gif']}" 
					height="20" width="20"/>
			</p:outputPanel>	
	    </f:facet>
	    <f:facet name="complete">  
	        <h:outputText value="" />  
	    </f:facet>  
	</p:ajaxStatus>  
</composite:implementation>
</html>