<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>

<composite:implementation>   
	<p:outputPanel id="pnlAssignConsultant">
		<p:panel  
			header="Available Consultants">
			<p:dataTable 
				id="tblAvailableConsultants"
				widgetVar="availableConsultantsTable"
				selectionMode="multiple"
				var="consultant"
				value="#{assignConsultantViewBean.consultants}"
				selection="#{assignConsultantViewBean.selectedConsultants}"
				filteredValue="#{assignConsultantViewBean.filteredConsultants}"
				paginator="true" 
				rows="5" 
				rowKey="#{consultant.username}"
				paginatorPosition="bottom">
			  
				<p:ajax 
					event="rowSelect" 
					listener="#{assignConsultantControllerBean.handleRowSelect}" 
					update=":#{cc.clientId}:btnAddToSelection"
					partialSubmit="true"
				   	process="@parent"/>
				   	
				<p:ajax 
					event="rowUnselect" 
					listener="#{assignConsultantControllerBean.handleRowUnselect}" 
					update=":#{cc.clientId}:btnAddToSelection"
				   	partialSubmit="true"
				   	process="@parent"/>	
				   			       
				<p:column 
					sortBy="#{consultant.lastname}" 
					filterBy="#{consultant.lastname}" 
					filterMatchMode="contains"
					headerText="Last name"
					width="30%">
				   <h:outputText value="#{consultant.lastname}" />
				</p:column>
				<p:column 
					sortBy="#{consultant.firstname}" 
					filterBy="#{consultant.firstname}" 
					filterMatchMode="contains"
					headerText="First name"
					width="30%">
				   <h:outputText value="#{consultant.firstname}" />
				</p:column>
				<p:column 
					sortBy="#{consultant.email}" 
					filterBy="#{consultant.email}" 
					filterMatchMode="contains"
					headerText="Email"
					width="40%">
				   <h:outputText value="#{consultant.email}" />
				</p:column>
			</p:dataTable>
			<p:spacer height="10"/>
			<p:outputPanel layout="block">
				<p:commandButton 
					id="btnAddToSelection" 
					value="Add To Selection"
				   	actionListener="#{assignConsultantControllerBean.handleAddToSelection}"
				   	disabled="#{assignConsultantViewBean.addToSelectionDisabled}"
				   	update="pnlAssignConsultant"
				   	partialSubmit="true"
				   	process="pnlAssignConsultant"/>
			</p:outputPanel>		
		</p:panel>
		<p:spacer height="10"/>
		<p:panel  header="Assigned Consultants">
			<p:scrollPanel  
				id="selectedConsultants" 
				style="height: #{assignConsultantViewBean.selections.size() > 2 ? '102px' : ''}" 
				mode="native">
				<table
					border="0" 
					cellpadding="2"
					class="teammember-table">
					<ui:repeat 
						var="record" 
						value="#{assignConsultantViewBean.selections}" 
						varStatus="status">
						<tr>
							<td width="99%">
								<h:outputText value="#{record.lastname}, #{record.firstname} (#{record.email})" />
							</td>
							<td width="1%" align="center">
								<p:commandButton 
									actionListener="#{assignConsultantControllerBean.remove(record)}"
									update=":#{cc.clientId}:tblAvailableConsultants :#{cc.clientId}:selectedConsultants"
									partialSubmit="true"
									process="@this"
									icon="icon-delete"
									styleClass="clear-button"/>
							 </td>									
						</tr>							
					</ui:repeat>
				</table>
				<h:outputText value="No assigned consultants" rendered="#{empty assignConsultantViewBean.selections}" />	
			</p:scrollPanel>		
			
		</p:panel>
	</p:outputPanel>	
</composite:implementation>
</html>