<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<composite:implementation>
	<p:tooltip />
	<p:panel toggleable="true" collapsed="true" toggleTitle="Expand/Collapse" header="View Search Terms">
		<p:dataList value="#{auditLogViewBean.searchStrings}" var="term" type="unordered">
			
			#{term}
		</p:dataList>
	
	</p:panel>
	<p:panel header="Audit Log Search Results">
		<p:dataTable id="auditLogTable" selectionMode="single" border="0"
								
				selection="#{auditLogViewBean.selectedEvent}"
				value="#{auditLogViewBean.auditEvents}" var="event"
				rowKey="#{event.auditEventId}"
				scrollable="true"
				scrollHeight="200"
				filteredValue="#{auditLogViewBean.filteredEvents}"
				resizableColumns="true"
				>
				<p:ajax event="filter" global="false"/>
				<!-- p:ajax event="rowSelect" global="false" listener="#{manageSubjectsControllerBean.handleCoSelect}" 
					update=":form:applyRuleButton"/-->
				<p:column id="colEventId" sortBy="#{event.auditEventId}"
					styleClass="column-header-align-top" >
					<f:facet name="header">
						<h:outputText value="Event Id" />
					</f:facet>
					<h:outputText value="#{event.auditEventId}" />
				</p:column>
				<!-- p:column id="colLevel" sortBy="#{event.level_string}"
					filterBy="#{event.level_string}" filterMatchMode="contains" styleClass="column-header-align-top" style="width: 50px">
					<f:facet name="header">
						<h:outputText value="Level" />
					</f:facet>
					<h:outputText value="#{event.level_string}" />
				</p:column-->
				<p:column id="colTimestamp" sortBy="#{event.timestamp}"
					filterBy="#{event.timestamp}" filterMatchMode="contains" 
					styleClass="column-header-align-top" >
					<f:facet name="header">
						<h:outputText value="Time Stamp" />
					</f:facet>
					<h:outputText value="#{event.timestamp}" />
				</p:column>
				<p:column id="colMessage" sortBy="#{event.formatted_message}"
					filterBy="#{event.formatted_message}" filterMatchMode="contains" 
					styleClass="column-header-align-top" 
					>
					<f:facet name="header">
						<h:outputText value="Event Message" />
					</f:facet>
					<h:outputText id="formattedMessage" value="#{event.formatted_message}" title="#{event.formatted_message}"/>
					
				</p:column>
				<p:column id="colPerformedBy" sortBy="#{event.arg0}"
					filterBy="#{event.arg0}" filterMatchMode="contains" 
					styleClass="column-header-align-top" >
					<f:facet name="header">
						<h:outputText value="Performed By" />
					</f:facet>
					<h:outputText value="#{event.arg0}" />
				</p:column>
				<p:column id="colOperation" sortBy="#{event.arg1}"
					filterBy="#{event.arg1}" filterMatchMode="contains" 
					styleClass="column-header-align-top" >
					<f:facet name="header">
						<h:outputText value="Operation" />
					</f:facet>
					<h:outputText value="#{event.arg1}" />
				</p:column>
				<p:column id="colPerformedOn" sortBy="#{event.arg2}"
					filterBy="#{event.arg2}" filterMatchMode="contains" 
					styleClass="column-header-align-top" >
					<f:facet name="header">
						<h:outputText value="Performed On" />
					</f:facet>
					<h:outputText value="#{event.arg2}" />
				</p:column>
			</p:dataTable>
	</p:panel>
	<p:panel header="Export Data">  
        <h:commandLink>  
            <p:graphicImage value="/resources/images/icons/excel.png" />  
            <p:dataExporter type="xls" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
 
        <h:commandLink>  
            <p:graphicImage value="/resources/images/icons/csv.png" />  
            <p:dataExporter type="csv" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
          
        <h:commandLink>  
            <p:graphicImage value="/resources/images/icons/xml.png" />  
            <p:dataExporter type="xml" target="auditLogTable" fileName="auditLog" />  
        </h:commandLink>  
    </p:panel>
 </composite:implementation>
</html>