<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<composite:interface>
	<composite:attribute name="formId" type="java.lang.String" required="true"/>
</composite:interface>

<composite:implementation>
	<p:messages id="msgs" globalOnly="true"/>
	<p:tabView
		id="tbvCompanySetup"
		widgetVar="companySetup" 
		styleClass="tab-view">
		<p:ajax 
			event="tabChange" 
			listener="#{clientSetupControllerBean.handleTabChange}"
			update="pnlClientTeam pnlInternalTeam pnlClientInfo"
			partialSubmit="true"
			process="@this"/>
		<p:tab
			id="clientInfo" 
			title="Client Info">
			<p:messages 
				id="clientInfoMsgs" 
				for="pnlClientInfo"/>
			<p:outputPanel id="pnlClientInfo">
				<p:panel header="General Information">
					<p:panelGrid
						id="generalPanel"
						columns="2"
						styleClass="noBorder">
			
						<p:outputLabel
							value="Client ID"
							styleClass="label min-label-width"
							for="clientId"/>
						<h:outputText
							id="clientId"
							value="#{clientSetupViewBean.clientId}"/>
						
						<p:outputLabel
							value="Client Name"
							styleClass="label min-label-width"
							for="name"/>
						<h:outputText
							id="name"
							value="#{clientSetupViewBean.clientName}"/>
			
						<p:outputLabel
							for="langPref"
							value="Default Language"
							styleClass="label min-label-width" />
						<p:selectOneMenu
							id="langPref"
							style="width:183px"
							value="#{clientSetupViewBean.languageCode}">
							<f:selectItems
								var="language"
								value="#{clientSetupViewBean.languages}"
								itemValue="#{language.code}"
								itemLabel="#{language.name}"/>
						</p:selectOneMenu>
					</p:panelGrid>
				</p:panel>
				<p:spacer height="10"/>
				<p:panel  header="Client Contact Information">
					<p:panelGrid
						id="otherPanel"
						columns="2">
			
						<p:outputLabel
							value="Main Contact"
							styleClass="label min-label-width"
							for="mainContact"/>
						<p:inputText
							id="mainContact"
							maxlength="100"
							size="30"
							value="#{clientSetupViewBean.mainContact}"/>
			
						<p:outputLabel
							value="Main Phone"
							styleClass="label min-label-width"
							for="mainPhone"/>
						<p:inputText
							id="mainPhone"
							maxlength="50"
							size="30"
							value="#{clientSetupViewBean.mainPhone}"/>
			
						<p:outputLabel
							value="Address"
							styleClass="label min-label-width"
							for="address"/>
						<p:inputText
							id="address"
							maxlength="100"
							size="30"
							value="#{clientSetupViewBean.address1}"/>
			
						<p:outputLabel
							value="Address 2"
							styleClass="label min-label-width"
							for="address2"/>
						<p:inputText
							id="address2"
							maxlength="100"
							size="30"
							value="#{clientSetupViewBean.address2}"/>
							
						<p:outputLabel
							value="City"
							styleClass="label min-label-width"
							for="city"/>
						<p:inputText
							id="city"
							maxlength="100"
							size="30"
							value="#{clientSetupViewBean.city}"/>
			
						<p:outputLabel
							value="State"
							styleClass="label min-label-width"
							for="state"/>
						<p:inputText
							id="state"
							maxlength="2"
							size="30"
							value="#{clientSetupViewBean.state}"/>
			
						<p:outputLabel
							value="Zip/Providence"
							styleClass="label min-label-width"
							for="zipCode"/>
						<p:inputText
							id="zipCode"
							maxlength="10"
							size="30"
							value="#{clientSetupViewBean.zipCode}"/>
							
						<p:outputLabel
							value="Country"
							styleClass="label min-label-width"
							for="country"/>
						<pdinh:countriesDropDown
							id="country" 
							value="#{clientSetupViewBean.countryCode}"/>
				
					</p:panelGrid>
				</p:panel>
			</p:outputPanel>	
		</p:tab>
		
		<p:tab 
			id="clientTeam"
			title="Client Roles"
			disabled="#{clientSetupViewBean.clientTeamTabDisabled}">
			<p:outputPanel id="pnlClientTeam">
				<p:spacer height="10"/>
				<pdinh:teammemberList 
					addList="#{clientSetupViewBean.clientTeammembers}" 
					removeList="#{clientSetupViewBean.removeClientTeammembers}"
					rowsBeforeScroll="10"/>
				<p:spacer height="10"/>
				<p:outputPanel 
					layout="block" 
					styleClass="add-new-button-panel">
					<p:commandButton
						id="btnAddClientTeammember"
						value="Add Role"
						oncomplete="addClientTeammember.show()"
						actionListener="#{clientSetupControllerBean.handleInitClientTeammembers}"
						update=":#{cc.attrs.formId}:dlgAddClientTeammember"
						partialSubmit="true"
						process="@this"
						icon="icon-add"
						styleClass="clear-button">
					</p:commandButton>	
				</p:outputPanel>
			</p:outputPanel>
		</p:tab>
		
		
		<p:tab 
			id="internalTeam"
			title="Internal Roles"
			disabled="#{clientSetupViewBean.internalTeamTabDisabled}">
			<p:outputPanel id="pnlInternalTeam">
				<p:spacer height="10"/>
				<pdinh:teammemberList 
					addList="#{clientSetupViewBean.internalTeammembers}"
					removeList="#{clientSetupViewBean.removeInternalTeammembers}"
					rowsBeforeScroll="10"/>
				<p:spacer height="10"/>
				<p:outputPanel 
					layout="block" 
					styleClass="add-new-button-panel">
					<p:commandButton
						id="btnAddInternalTeammember"
						value="Add Role"
						oncomplete="addInternalTeammember.show()"
						actionListener="#{clientSetupControllerBean.handleInitInternalTeammembers}"
						update=":#{cc.attrs.formId}:dlgAddInternalTeammember" 
						partialSubmit="true"
						process="@this"
						icon="icon-add"
						styleClass="clear-button">
					</p:commandButton>
				</p:outputPanel>	
			</p:outputPanel>
		</p:tab>		
		
	</p:tabView>
</composite:implementation>
</html>