<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>
<composite:implementation>
	<p:messages autoUpdate="true"/>
	<p:panelGrid columns="2" columnClasses="text-align-right">
		<h:outputText 
			value="Client Name" 
			styleClass="label"/>
		<h:outputText value="#{sessionBean.company.coName}" />
		<h:outputText value="Name"  styleClass="label"/>
		<p:inputText 
			value="#{emailTemplatesListCompViewBean.cloneTemplateTitle}" 
			maxlength="50" 
			size="50" />
	</p:panelGrid>
</composite:implementation>
</html>