<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>
<composite:implementation>
	<h:panelGrid columns="2">
		<h:outputText value="Client Name" styleClass="label"/>
		<h:outputText value="#{sessionBean.company.coName}" />
		<h:outputText value="Name"  styleClass="label"/>
		<h:inputText value="#{emailTemplateViewBean.cloneTemplateTitle}" maxlength="48" style="width: 400px" />
		<!-- 
		<h:outputText value="Style"  styleClass="label"/>
		<h:outputText value="#{emailTemplateViewBean.templateConst}" />
		<h:outputText value="Type"  styleClass="label"/>
		<h:outputText value="#{emailTemplateViewBean.templateType}" />
		<h:outputText value="Is Template?"  styleClass="label"/>
		<h:outputText value="#{emailTemplateViewBean.templateIsTemplate==1?'Yes':'No'}" />
		-->
	</h:panelGrid>
</composite:implementation>
</html>