<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="styleClass" type="java.lang.String"/>
	<composite:attribute name="value" required="true" />
</composite:interface>

<composite:implementation>
	<p:selectOneMenu 
		styleClass="#{cc.attrs.styleClass}"
		value="#{cc.attrs.value}">
		<f:selectItem itemValue="" itemLabel="--- Select Country ---"/>
		<f:selectItem itemValue="AF" itemLabel="Afghanistan"/>
		<f:selectItem itemValue="AX" itemLabel="Åland Islands"/>
		<f:selectItem itemValue="AL" itemLabel="Albania"/>
		<f:selectItem itemValue="DZ" itemLabel="Algeria"/>
		<f:selectItem itemValue="AS" itemLabel="American Samoa"/>
		<f:selectItem itemValue="AD" itemLabel="Andorra"/>
		<f:selectItem itemValue="AO" itemLabel="Angola"/>
		<f:selectItem itemValue="AI" itemLabel="Anguilla"/>
		<f:selectItem itemValue="AQ" itemLabel="Antarctica"/>
		<f:selectItem itemValue="AG" itemLabel="Antigua and Barbuda"/>
		<f:selectItem itemValue="AR" itemLabel="Argentina"/>
		<f:selectItem itemValue="AM" itemLabel="Armenia"/>
		<f:selectItem itemValue="AW" itemLabel="Aruba"/>
		<f:selectItem itemValue="AU" itemLabel="Australia"/>
		<f:selectItem itemValue="AT" itemLabel="Austria"/>
		<f:selectItem itemValue="AZ" itemLabel="Azerbaijan"/>
		<f:selectItem itemValue="BS" itemLabel="Bahamas"/>
		<f:selectItem itemValue="BH" itemLabel="Bahrain"/>
		<f:selectItem itemValue="BD" itemLabel="Bangladesh"/>
		<f:selectItem itemValue="BB" itemLabel="Barbados"/>
		<f:selectItem itemValue="BY" itemLabel="Belarus"/>
		<f:selectItem itemValue="BE" itemLabel="Belgium"/>
		<f:selectItem itemValue="BZ" itemLabel="Belize"/>
		<f:selectItem itemValue="BJ" itemLabel="Benin"/>
		<f:selectItem itemValue="BM" itemLabel="Bermuda"/>
		<f:selectItem itemValue="BT" itemLabel="Bhutan"/>
		<f:selectItem itemValue="BO" itemLabel="Bolivia"/>
		<f:selectItem itemValue="BA" itemLabel="Bosnia and Herzegovina"/>
		<f:selectItem itemValue="BW" itemLabel="Botswana"/>
		<f:selectItem itemValue="BV" itemLabel="Bouvet Island"/>
		<f:selectItem itemValue="BR" itemLabel="Brazil"/>
		<f:selectItem itemValue="IO" itemLabel="British Indian Ocean Territory"/>
		<f:selectItem itemValue="BN" itemLabel="Brunei Darussalam"/>
		<f:selectItem itemValue="BG" itemLabel="Bulgaria"/>
		<f:selectItem itemValue="BF" itemLabel="Burkina Faso"/>
		<f:selectItem itemValue="BI" itemLabel="Burundi"/>
		<f:selectItem itemValue="KH" itemLabel="Cambodia"/>
		<f:selectItem itemValue="CM" itemLabel="Cameroon"/>
		<f:selectItem itemValue="CA" itemLabel="Canada"/>
		<f:selectItem itemValue="CV" itemLabel="Cape Verde"/>
		<f:selectItem itemValue="KY" itemLabel="Cayman Islands"/>
		<f:selectItem itemValue="CF" itemLabel="Central African Republic"/>
		<f:selectItem itemValue="TD" itemLabel="Chad"/>
		<f:selectItem itemValue="CL" itemLabel="Chile"/>
		<f:selectItem itemValue="CN" itemLabel="China"/>
		<f:selectItem itemValue="CX" itemLabel="Christmas Island"/>
		<f:selectItem itemValue="CC" itemLabel="Cocos (Keeling) Islands"/>
		<f:selectItem itemValue="CO" itemLabel="Colombia"/>
		<f:selectItem itemValue="KM" itemLabel="Comoros"/>
		<f:selectItem itemValue="CG" itemLabel="Congo"/>
		<f:selectItem itemValue="CD" itemLabel="Congo, The Democratic Republic of The"/>
		<f:selectItem itemValue="CK" itemLabel="Cook Islands"/>
		<f:selectItem itemValue="CR" itemLabel="Costa Rica"/>
		<f:selectItem itemValue="CI" itemLabel="Cote D'ivoire"/>
		<f:selectItem itemValue="HR" itemLabel="Croatia"/>
		<f:selectItem itemValue="CU" itemLabel="Cuba"/>
		<f:selectItem itemValue="CY" itemLabel="Cyprus"/>
		<f:selectItem itemValue="CZ" itemLabel="Czech Republic"/>
		<f:selectItem itemValue="DK" itemLabel="Denmark"/>
		<f:selectItem itemValue="DJ" itemLabel="Djibouti"/>
		<f:selectItem itemValue="DM" itemLabel="Dominica"/>
		<f:selectItem itemValue="DO" itemLabel="Dominican Republic"/>
		<f:selectItem itemValue="EC" itemLabel="Ecuador"/>
		<f:selectItem itemValue="EG" itemLabel="Egypt"/>
		<f:selectItem itemValue="SV" itemLabel="El Salvador"/>
		<f:selectItem itemValue="GQ" itemLabel="Equatorial Guinea"/>
		<f:selectItem itemValue="ER" itemLabel="Eritrea"/>
		<f:selectItem itemValue="EE" itemLabel="Estonia"/>
		<f:selectItem itemValue="ET" itemLabel="Ethiopia"/>
		<f:selectItem itemValue="FK" itemLabel="Falkland Islands (Malvinas)"/>
		<f:selectItem itemValue="FO" itemLabel="Faroe Islands"/>
		<f:selectItem itemValue="FJ" itemLabel="Fiji"/>
		<f:selectItem itemValue="FI" itemLabel="Finland"/>
		<f:selectItem itemValue="FR" itemLabel="France"/>
		<f:selectItem itemValue="GF" itemLabel="French Guiana"/>
		<f:selectItem itemValue="PF" itemLabel="French Polynesia"/>
		<f:selectItem itemValue="TF" itemLabel="French Southern Territories"/>
		<f:selectItem itemValue="GA" itemLabel="Gabon"/>
		<f:selectItem itemValue="GM" itemLabel="Gambia"/>
		<f:selectItem itemValue="GE" itemLabel="Georgia"/>
		<f:selectItem itemValue="DE" itemLabel="Germany"/>
		<f:selectItem itemValue="GH" itemLabel="Ghana"/>
		<f:selectItem itemValue="GI" itemLabel="Gibraltar"/>
		<f:selectItem itemValue="GR" itemLabel="Greece"/>
		<f:selectItem itemValue="GL" itemLabel="Greenland"/>
		<f:selectItem itemValue="GD" itemLabel="Grenada"/>
		<f:selectItem itemValue="GP" itemLabel="Guadeloupe"/>
		<f:selectItem itemValue="GU" itemLabel="Guam"/>
		<f:selectItem itemValue="GT" itemLabel="Guatemala"/>
		<f:selectItem itemValue="GG" itemLabel="Guernsey"/>
		<f:selectItem itemValue="GN" itemLabel="Guinea"/>
		<f:selectItem itemValue="GW" itemLabel="Guinea-bissau"/>
		<f:selectItem itemValue="GY" itemLabel="Guyana"/>
		<f:selectItem itemValue="HT" itemLabel="Haiti"/>
		<!-- <f:selectItem itemValue="HM" itemLabel="Heard Island and Mcdonald Islands"/> -->
		<f:selectItem itemValue="VA" itemLabel="Holy See (Vatican City State)"/>
		<f:selectItem itemValue="HN" itemLabel="Honduras"/>
		<f:selectItem itemValue="HK" itemLabel="Hong Kong"/>
		<f:selectItem itemValue="HU" itemLabel="Hungary"/>
		<f:selectItem itemValue="IS" itemLabel="Iceland"/>
		<f:selectItem itemValue="IN" itemLabel="India"/>
		<f:selectItem itemValue="ID" itemLabel="Indonesia"/>
		<f:selectItem itemValue="IR" itemLabel="Iran, Islamic Republic of"/>
		<f:selectItem itemValue="IQ" itemLabel="Iraq"/>
		<f:selectItem itemValue="IE" itemLabel="Ireland"/>
		<f:selectItem itemValue="IM" itemLabel="Isle of Man"/>
		<f:selectItem itemValue="IL" itemLabel="Israel"/>
		<f:selectItem itemValue="IT" itemLabel="Italy"/>
		<f:selectItem itemValue="JM" itemLabel="Jamaica"/>
		<f:selectItem itemValue="JP" itemLabel="Japan"/>
		<f:selectItem itemValue="JE" itemLabel="Jersey"/>
		<f:selectItem itemValue="JO" itemLabel="Jordan"/>
		<f:selectItem itemValue="KZ" itemLabel="Kazakhstan"/>
		<f:selectItem itemValue="KE" itemLabel="Kenya"/>
		<f:selectItem itemValue="KI" itemLabel="Kiribati"/>
		<f:selectItem itemValue="KP" itemLabel="Korea, Democratic People's Republic of"/>
		<f:selectItem itemValue="KR" itemLabel="Korea, Republic of"/>
		<f:selectItem itemValue="KW" itemLabel="Kuwait"/>
		<f:selectItem itemValue="KG" itemLabel="Kyrgyzstan"/>
		<f:selectItem itemValue="LA" itemLabel="Lao People's Democratic Republic"/>
		<f:selectItem itemValue="LV" itemLabel="Latvia"/>
		<f:selectItem itemValue="LB" itemLabel="Lebanon"/>
		<f:selectItem itemValue="LS" itemLabel="Lesotho"/>
		<f:selectItem itemValue="LR" itemLabel="Liberia"/>
		<f:selectItem itemValue="LY" itemLabel="Libyan Arab Jamahiriya"/>
		<f:selectItem itemValue="LI" itemLabel="Liechtenstein"/>
		<f:selectItem itemValue="LT" itemLabel="Lithuania"/>
		<f:selectItem itemValue="LU" itemLabel="Luxembourg"/>
		<f:selectItem itemValue="MO" itemLabel="Macao"/>
		<f:selectItem itemValue="MK" itemLabel="Macedonia"/>
		<f:selectItem itemValue="MG" itemLabel="Madagascar"/>
		<f:selectItem itemValue="MW" itemLabel="Malawi"/>
		<f:selectItem itemValue="MY" itemLabel="Malaysia"/>
		<f:selectItem itemValue="MV" itemLabel="Maldives"/>
		<f:selectItem itemValue="ML" itemLabel="Mali"/>
		<f:selectItem itemValue="MT" itemLabel="Malta"/>
		<f:selectItem itemValue="MH" itemLabel="Marshall Islands"/>
		<f:selectItem itemValue="MQ" itemLabel="Martinique"/>
		<f:selectItem itemValue="MR" itemLabel="Mauritania"/>
		<f:selectItem itemValue="MU" itemLabel="Mauritius"/>
		<f:selectItem itemValue="YT" itemLabel="Mayotte"/>
		<f:selectItem itemValue="MX" itemLabel="Mexico"/>
		<f:selectItem itemValue="FM" itemLabel="Micronesia, Federated States of"/>
		<f:selectItem itemValue="MD" itemLabel="Moldova, Republic of"/>
		<f:selectItem itemValue="MC" itemLabel="Monaco"/>
		<f:selectItem itemValue="MN" itemLabel="Mongolia"/>
		<f:selectItem itemValue="ME" itemLabel="Montenegro"/>
		<f:selectItem itemValue="MS" itemLabel="Montserrat"/>
		<f:selectItem itemValue="MA" itemLabel="Morocco"/>
		<f:selectItem itemValue="MZ" itemLabel="Mozambique"/>
		<f:selectItem itemValue="MM" itemLabel="Myanmar"/>
		<f:selectItem itemValue="NA" itemLabel="Namibia"/>
		<f:selectItem itemValue="NR" itemLabel="Nauru"/>
		<f:selectItem itemValue="NP" itemLabel="Nepal"/>
		<f:selectItem itemValue="NL" itemLabel="Netherlands"/>
		<f:selectItem itemValue="AN" itemLabel="Netherlands Antilles"/>
		<f:selectItem itemValue="NC" itemLabel="New Caledonia"/>
		<f:selectItem itemValue="NZ" itemLabel="New Zealand"/>
		<f:selectItem itemValue="NI" itemLabel="Nicaragua"/>
		<f:selectItem itemValue="NE" itemLabel="Niger"/>
		<f:selectItem itemValue="NG" itemLabel="Nigeria"/>
		<f:selectItem itemValue="NU" itemLabel="Niue"/>
		<f:selectItem itemValue="NF" itemLabel="Norfolk Island"/>
		<f:selectItem itemValue="MP" itemLabel="Northern Mariana Islands"/>
		<f:selectItem itemValue="NO" itemLabel="Norway"/>
		<f:selectItem itemValue="OM" itemLabel="Oman"/>
		<f:selectItem itemValue="PK" itemLabel="Pakistan"/>
		<f:selectItem itemValue="PW" itemLabel="Palau"/>
		<f:selectItem itemValue="PS" itemLabel="Palestinian Territory, Occupied"/>
		<f:selectItem itemValue="PA" itemLabel="Panama"/>
		<f:selectItem itemValue="PG" itemLabel="Papua New Guinea"/>
		<f:selectItem itemValue="PY" itemLabel="Paraguay"/>
		<f:selectItem itemValue="PE" itemLabel="Peru"/>
		<f:selectItem itemValue="PH" itemLabel="Philippines"/>
		<f:selectItem itemValue="PN" itemLabel="Pitcairn"/>
		<f:selectItem itemValue="PL" itemLabel="Poland"/>
		<f:selectItem itemValue="PT" itemLabel="Portugal"/>
		<f:selectItem itemValue="PR" itemLabel="Puerto Rico"/>
		<f:selectItem itemValue="QA" itemLabel="Qatar"/>
		<f:selectItem itemValue="RE" itemLabel="Reunion"/>
		<f:selectItem itemValue="RO" itemLabel="Romania"/>
		<f:selectItem itemValue="RU" itemLabel="Russian Federation"/>
		<f:selectItem itemValue="RW" itemLabel="Rwanda"/>
		<f:selectItem itemValue="SH" itemLabel="Saint Helena"/>
		<f:selectItem itemValue="KN" itemLabel="Saint Kitts and Nevis"/>
		<f:selectItem itemValue="LC" itemLabel="Saint Lucia"/>
		<f:selectItem itemValue="PM" itemLabel="Saint Pierre and Miquelon"/>
		<f:selectItem itemValue="VC" itemLabel="Saint Vincent and The Grenadines"/>
		<f:selectItem itemValue="WS" itemLabel="Samoa"/>
		<f:selectItem itemValue="SM" itemLabel="San Marino"/>
		<f:selectItem itemValue="ST" itemLabel="Sao Tome and Principe"/>
		<f:selectItem itemValue="SA" itemLabel="Saudi Arabia"/>
		<f:selectItem itemValue="SN" itemLabel="Senegal"/>
		<f:selectItem itemValue="RS" itemLabel="Serbia"/>
		<f:selectItem itemValue="SC" itemLabel="Seychelles"/>
		<f:selectItem itemValue="SL" itemLabel="Sierra Leone"/>
		<f:selectItem itemValue="SG" itemLabel="Singapore"/>
		<f:selectItem itemValue="SK" itemLabel="Slovakia"/>
		<f:selectItem itemValue="SI" itemLabel="Slovenia"/>
		<f:selectItem itemValue="SB" itemLabel="Solomon Islands"/>
		<f:selectItem itemValue="SO" itemLabel="Somalia"/>
		<f:selectItem itemValue="ZA" itemLabel="South Africa"/>
		<!-- <f:selectItem itemValue="GS" itemLabel="South Georgia and The South Sandwich Islands"/> -->
		<f:selectItem itemValue="ES" itemLabel="Spain"/>
		<f:selectItem itemValue="LK" itemLabel="Sri Lanka"/>
		<f:selectItem itemValue="SD" itemLabel="Sudan"/>
		<f:selectItem itemValue="SR" itemLabel="Suriname"/>
		<f:selectItem itemValue="SJ" itemLabel="Svalbard and Jan Mayen"/>
		<f:selectItem itemValue="SZ" itemLabel="Swaziland"/>
		<f:selectItem itemValue="SE" itemLabel="Sweden"/>
		<f:selectItem itemValue="CH" itemLabel="Switzerland"/>
		<f:selectItem itemValue="SY" itemLabel="Syrian Arab Republic"/>
		<f:selectItem itemValue="TW" itemLabel="Taiwan, Province of China"/>
		<f:selectItem itemValue="TJ" itemLabel="Tajikistan"/>
		<f:selectItem itemValue="TZ" itemLabel="Tanzania, United Republic of"/>
		<f:selectItem itemValue="TH" itemLabel="Thailand"/>
		<f:selectItem itemValue="TL" itemLabel="Timor-leste"/>
		<f:selectItem itemValue="TG" itemLabel="Togo"/>
		<f:selectItem itemValue="TK" itemLabel="Tokelau"/>
		<f:selectItem itemValue="TO" itemLabel="Tonga"/>
		<f:selectItem itemValue="TT" itemLabel="Trinidad and Tobago"/>
		<f:selectItem itemValue="TN" itemLabel="Tunisia"/>
		<f:selectItem itemValue="TR" itemLabel="Turkey"/>
		<f:selectItem itemValue="TM" itemLabel="Turkmenistan"/>
		<f:selectItem itemValue="TC" itemLabel="Turks and Caicos Islands"/>
		<f:selectItem itemValue="TV" itemLabel="Tuvalu"/>
		<f:selectItem itemValue="UG" itemLabel="Uganda"/>
		<f:selectItem itemValue="UA" itemLabel="Ukraine"/>
		<f:selectItem itemValue="AE" itemLabel="United Arab Emirates"/>
		<f:selectItem itemValue="GB" itemLabel="United Kingdom"/>
		<f:selectItem itemValue="US" itemLabel="United States"/>
		<!-- <f:selectItem itemValue="UM" itemLabel="United States Minor Outlying Islands"/> -->
		<f:selectItem itemValue="UY" itemLabel="Uruguay"/>
		<f:selectItem itemValue="UZ" itemLabel="Uzbekistan"/>
		<f:selectItem itemValue="VU" itemLabel="Vanuatu"/>
		<f:selectItem itemValue="VE" itemLabel="Venezuela"/>
		<f:selectItem itemValue="VN" itemLabel="Viet Nam"/>
		<f:selectItem itemValue="VG" itemLabel="Virgin Islands, British"/>
		<f:selectItem itemValue="VI" itemLabel="Virgin Islands, U.S."/>
		<f:selectItem itemValue="WF" itemLabel="Wallis and Futuna"/>
		<f:selectItem itemValue="EH" itemLabel="Western Sahara"/>
		<f:selectItem itemValue="YE" itemLabel="Yemen"/>
		<f:selectItem itemValue="ZM" itemLabel="Zambia"/>
		<f:selectItem itemValue="ZW" itemLabel="Zimbabwe"/>	
	</p:selectOneMenu>
</composite:implementation>
</html>