<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">
  <composite:interface>  
  	<composite:attribute name="viewBean" required="true" type="java.lang.Object"/>
  	<composite:attribute name="controllerBean" required="true" type="java.lang.Object"/>
  </composite:interface>
  <composite:implementation>
	<p:accordionPanel 
		id="contentPanel">
		<p:tab title="Add New Document">
			<p:panelGrid columns="1" id="pnlAddDocument">
				<i><h:outputText 
					value="INSTRUCTIONS: Please select a Document Type to upload. If you want the document to be included in the Integration Grid select that appropriately. Although optional, it is recommended to include a Description." 
					escape="false"
					styleClass="small-text"/></i>
				<h:outputText value="Document Type" styleClass="label" />  
				<h:selectOneMenu 
					value="#{cc.attrs.viewBean.newDocumentType}">
					<f:selectItems 
						var="documentType" 
						value="#{cc.attrs.viewBean.documentTypes}" 
						itemValue="#{documentType.type}" 
						itemLabel="#{documentType.name}"/>
				</h:selectOneMenu> 
				<h:panelGrid columns="2">
					<h:selectBooleanCheckbox 
						id="incIntGrid" 
						value="#{cc.attrs.viewBean.newDocumentIsIntegrationGrid}"/>
					<h:outputLabel 
						for="incIntGrid" 
						value="Include as a supporting resource in the Integration Grid"/>
				</h:panelGrid>	        			
				<h:outputText value="Description" styleClass="label"/>
				<p:inputTextarea 
					rows="2"
					value="#{cc.attrs.viewBean.newDocumentDescription}" 
					maxlength="500" 
					counterTemplate="{0} characters remaining." 
					autoResize="false"
					counter="counter" 
					style="width:99%"/>
				<p:outputPanel layout="block" styleClass="characters-couter">
					<h:outputText id="counter"/>
				</p:outputPanel>	
				<p:fileUpload 
					id="flpDocument"
					fileUploadListener="#{cc.attrs.controllerBean.handleDocumentFileUpload}" 
					allowTypes="/(\.|\/)(msg|pdf|doc|docx|txt|xls|xlsx|rtf)$/"
					description="Document"
					update="contentPanel"
					process="contentPanel"
					auto="true"/>
				<h:outputText 
					id="lastFileUploadedName" 
					value="File: #{cc.attrs.viewBean.lastDocumentFileUploaded.name} " 
					styleClass="label"/>
				<p:commandButton 
     				id="btnAddDocument" 
     				value="Add Document" 
     				actionListener="#{cc.attrs.controllerBean.addDocument}" 
     				disabled="#{cc.attrs.viewBean.addDocumentDisabled}" 
     				update="contentPanel"
     				onclick="enableSaveButton();"/>
     			<p:remoteCommand
						name="enableSaveButton"
						update=":#{p:component('savePptButton')}">
						<f:setPropertyActionListener
							target="#{participantInfoViewBean.saveButtonDisabled}"
							value="false"/>
				</p:remoteCommand>
       		</p:panelGrid>		        	   			
 		</p:tab>

 		<p:tab title="Manage Documents">	
			<p:toolbar>	
				<p:toolbarGroup align="left">
					<p:commandButton id="btnRemoveDocuments" 
						value="Remove Documents" 
						disabled="#{cc.attrs.viewBean.removeDocumentsDisabled}" 
						actionListener="#{cc.attrs.controllerBean.handleRemoveDocuments}" 
						update="contentPanel"
						onclick="enableSaveButton();"/>
				</p:toolbarGroup>				
			</p:toolbar>
			<p:spacer height="5"/>	   			
	    	<p:dataTable 
	    		id="userDocs" 
	    		var="doc" 
	    		value="#{cc.attrs.viewBean.documents}" 
	    		selectionMode="multiple"
				selection="#{cc.attrs.viewBean.selectedDocuments}"
				rowKey="#{doc.documentId}"
				paginator="true"
				rows="5"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginatorPosition="bottom"
				tableStyleClass="small-text">
	    		
	    		<p:ajax event="rowSelect" listener="#{cc.attrs.controllerBean.handleDocumentRowSelect}" update=":#{cc.clientId}:contentPanel:btnRemoveDocuments"/>
				<p:ajax event="rowUnselect" listener="#{cc.attrs.controllerBean.handleDocumentRowUnselect}" update=":#{cc.clientId}:contentPanel:btnRemoveDocuments"/>
	    		  		
	    		<p:column headerText="IG" style="width:20px;text-align:center">
	    			<h:selectBooleanCheckbox value="#{doc.isIntegrationGrid}" onchange="enableSaveButton();"/>
	    		</p:column>
	    		<p:column headerText="Name">
	    			<h:outputLink value="#{doc.fileAttachment.url}" title="#{doc.fileAttachment.name}">
	    				<u><h:outputText value="#{doc.fileAttachment.name}" styleClass="small-text singleLine" style="width:170px"/></u>
	    				<p:ajax event="click" listener="#{cc.attrs.controllerBean.handleDownloadDocument}"/>
	    			</h:outputLink>
	    		</p:column>
	    		<p:column headerText="Type">
	    			<h:outputText value="#{doc.typeDisplay}"/>
	    		</p:column>
	    		<p:column headerText="Description">
	    			<h:outputText value="#{doc.shortDescription}" title="#{doc.description}"/>
	    		</p:column>
	    		<p:column headerText="Uploaded" style="text-align:center">
	    			<h:outputText value="#{doc.fileAttachment.dateUploaded}">
	    				<f:convertDateTime pattern="dd-MMM-yyyy (HH:mm)"/>
	    			</h:outputText>
	    		</p:column>
	    		<p:column headerText="Uploaded by" style="text-align:center">
	    			<h:outputText value="#{doc.fileAttachment.extAdminId}"/>
	    		</p:column>
	    	</p:dataTable>
	    </p:tab>	
    </p:accordionPanel>  
	</composite:implementation>
</html>