<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<composite:implementation>
	<p:tooltip />
	<p:growl id="growl" showDetail="true" sticky="true"/>
	<p:panel header="Select Roles" >
		<p:messages id="rolesMessages" severity="warn" showDetail="true"/>
		<h:panelGrid>
			<p:pickList id="pickRoles" value="#{editRolesViewBean.contextRoleLists}"  
          			var="role"  
          			widgetVar="roleWidget"
          			converter="#{editRolesControllerBean.roleConverter}"  
          			converterMessage="Conversion Failed"
          			itemValue="#{role}"
          			styleClass="ui.picklist-list-source" >
          			<p:ajax event="transfer" listener="#{editRolesControllerBean.handleRoleTransfer}" update="rolesMessages" />
          			<p:column id="raDataColumn">
          				<h:outputText value="#{role.label}" title="(#{role.name}) - #{role.description}" />
          			</p:column>
          			<p:tooltip for="raDataColumn"></p:tooltip>
          			<f:facet name="sourceCaption">Available Roles</f:facet>
          			<f:facet name="targetCaption">Selected Roles</f:facet>
          		</p:pickList>
		</h:panelGrid>
		
	</p:panel>
			
	
 </composite:implementation>
</html>