<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="ckEditorId" type="java.lang.String" default="ckEditor"/>
</composite:interface>

<composite:implementation>

	<p:messages for="contentPanel"/>
	<p:accordionPanel 
		id="contentPanel"
		widgetVar="editEmailTemplWidg">
		
		<p:ajax event="tabChange" update="pnlGeneralInfo pnlEmailContent"/>
		
		<p:tab title="General Information">	 	
	 	
			<p:panelGrid id="pnlGeneralInfo" columns="2" columnClasses="vertical-align-top, vertical-align-top">
			
				<p:panelGrid columns="2" columnClasses="text-align-right">
				
					<h:outputText
						value="Name" 
						styleClass="label"/>
					<p:inputText 
						id="editTemplateTitle" 
						value="#{editEmailTemplateDetailsCompViewBean.templateTitle}" 
						maxlength="50"
						size="50"/>
			
					<h:outputText 
						value="Product" 
						styleClass="label"/>
					<h:outputText 
						value="#{(empty editEmailTemplateDetailsCompViewBean.templateType) ? 'All Products' : editEmailTemplateDetailsCompViewBean.templateType}"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderTemplateTypeOutput}"/>	
					<p:selectOneMenu 
						id="templateProductSelect"
						value="#{editEmailTemplateDetailsCompViewBean.selectedTemplateType}"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderTemplateTypesList}">
						<f:selectItem
							itemLabel="--- Select Template Product ---"  
							itemValue="-1" />
						<f:selectItems
							var="newTemplateTypeItem"
							value="#{editEmailTemplateDetailsCompViewBean.templateTypes}"
							itemLabel="#{newTemplateTypeItem.name}"  
							itemValue="#{newTemplateTypeItem.id}"/>
						<f:selectItem
							itemLabel="All Products"  
							itemValue="#{editEmailTemplateDetailsCompViewBean.allProducts}" />
					</p:selectOneMenu>			
							
					<!--  emailType in the database  -->
					<h:outputText 
						value="Style" 
						styleClass="label" 
						rendered="#{editEmailTemplateDetailsCompViewBean.renderTemplateConstantsList}"/> 			
					<p:selectOneMenu
						id="templateStyleSelect"
						value="#{editEmailTemplateDetailsCompViewBean.selectedConstantType}"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderTemplateConstantsList}" >
						<f:selectItem
							itemLabel="--- Select Template Style ---"  
							itemValue="-1" />
						<f:selectItems
							var="newTemplateConstantItem"
							value="#{editEmailTemplateDetailsCompViewBean.templateConstants}"
							itemLabel="#{newTemplateConstantItem.name}"  
							itemValue="#{newTemplateConstantItem.id}"/>
					</p:selectOneMenu>			
					
					<h:outputText 
						value="Sender" 
						styleClass="label"/>
					<p:selectOneMenu
						id="templateSenderSelect"
						value="#{editEmailTemplateDetailsCompViewBean.selectedSenderKey}">
						<f:selectItem
							itemLabel="--- Select Sender Key Combination ---"  
							itemValue="-1" />
						<f:selectItems
							var="newSenderKeyItem"
							value="#{editEmailTemplateDetailsCompViewBean.senderKeyList}"
							itemLabel="#{newSenderKeyItem.name}"  
							itemValue="#{newSenderKeyItem.id}"/>
						<f:selectItem
							itemLabel="Custom..."  
							itemValue="CUSTOM" />
						<p:ajax 
							listener="#{editEmailTemplateDetailsCompControllerBean.handleSenderKeyChange}"
							update="contentPanel"
							partialSubmit="true"
							process="contentPanel"/>
					</p:selectOneMenu>		
					
					<h:outputText 
						value="Custom From" 
						styleClass="label"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderedCustomFields}"/>
					<p:inputText 
						id="customFrom"
						value="#{editEmailTemplateDetailsCompViewBean.customEmailFrom}"
						maxlength="254"
						size="50"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderedCustomFields}"/>	 
					<h:outputText 
						value="Custom ReplyTo" 
						styleClass="label"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderedCustomFields}"/>
					<p:inputText 
						id="customReplyTo" 
						value="#{editEmailTemplateDetailsCompViewBean.customEmailReplyTo}"
						maxlength="254"
						size="50"
						rendered="#{editEmailTemplateDetailsCompViewBean.renderedCustomFields}"/> 
			
				</p:panelGrid>
				
				<p:outputPanel rendered="#{editEmailTemplateDetailsCompViewBean.renderedIncludedInRules}">
	
					<h:outputText 
						value="Used in Email Rules" 
						styleClass="label"/>
	
					<p:scrollPanel mode="native" style="width:340px; height: 95px">
						<table>
							<ui:repeat 
								var="ruleNames" 
								value="#{editEmailTemplateDetailsCompViewBean.emailRuleNames}">
								<tr>
									<td style="margin: 0px !important; padding: 0px !important;">#{ruleNames}</td>
								</tr>			
							</ui:repeat>
						</table>
					</p:scrollPanel>		
				</p:outputPanel>
			</p:panelGrid>	
		</p:tab>
	
		<p:tab title="Compose/Modify Email">
		
			<h:panelGrid columns="2" border="0" cellspacing="5" width="100%">
			
				<p:outputPanel
					id="pnlEmailContent" 
					layout="block">
					<table id="emailContentTbl" border="0" cellspacing="5">
						<tr>
							<td class="text-align-right">
								<h:outputText 
									value="Language" 
									styleClass="label"/>
							</td>
							<td>
								<div style="width:400px">
									<div class="float-left" style="width:220px">
										<p:selectOneMenu 
											id="currentEmailTranslationLangSelect"
											value="#{editEmailTemplateDetailsCompViewBean.selectedLanguage}"
											style="width:200px">
											<f:selectItems 
												var="newLangListItem"
												value="#{editEmailTemplateDetailsCompViewBean.templateLanguages}"
												itemValue="#{newLangListItem.id}" 
												itemLabel="#{newLangListItem.name}"/>
											<p:ajax
												listener="#{editEmailTemplateDetailsCompControllerBean.handleLanguageChange}" 
												update="pnlEmailContent" 
												global="false"/>
										</p:selectOneMenu>
									</div>
									<div class="float-right" style="width:110px">
										<p:commandButton 
											value="Delete"
											disabled="#{editEmailTemplateDetailsCompViewBean.disabledDeleteTranslation}"	
											onclick="deleteTranslationWidg.show()"		
											icon="icon-delete"
											styleClass="clear-button"/>
									</div>
									<div>
										<p:commandButton 
											value="Add"
											disabled="#{editEmailTemplateDetailsCompViewBean.disabledAddTranslation}"
											actionListener="#{editEmailTemplateDetailsCompControllerBean.initAddTranslation}"		
											update=":#{cc.clientId}:addTranslationPanel"
											oncomplete="addTranslationDialogWidg.show()"
											icon="icon-add"
											styleClass="clear-button"/>
									</div>
								</div>	
							</td>
						</tr>
						<tr>
							<td class="text-align-right">
								<h:outputText 
									value="Subject" 
									styleClass="label"/>
							</td>
							<td>
								<p:inputText 
									id="editEmailSubject" 
									value="#{editEmailTemplateDetailsCompViewBean.editEmailSubject}" 
									maxlength="254"
									size="77">
									<p:ajax event="change"
										listener="#{editEmailTemplateDetailsCompControllerBean.saveTextChanges}" 
										process="pnlEmailContent"
				    					partialSubmit="true"
				    					global="false"
				    					async="true"/>
								</p:inputText>	
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<pe:ckEditor 
									id="#{cc.attrs.ckEditorId}"
									value="#{editEmailTemplateDetailsCompViewBean.editEmailBody}"
									toolbar="[['Bold','Italic','Underline','-','NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','-','Undo','Redo','-','RemoveFormat','-','PasteFromWord']]"
									height="185"
									width="635"
									customConfig="#{resource['js/ckeditor_config.js']}">
									<p:ajax event="blur"
										listener="#{editEmailTemplateDetailsCompControllerBean.saveTextChanges}" 
										process="pnlEmailContent"
										partialSubmit="true"
				    					global="false"
				    					async="true"/>
								</pe:ckEditor>
							</td>
						</tr>
					</table>		
			 	</p:outputPanel>
				
				<p:outputPanel
					id="pnlEmailMergeFields" 
					layout="block">
					<h:panelGrid columns="1">
						<h:outputText 
							value="Email Merge Fields" 
							styleClass="label"/>
						<h:outputText 
							value="(Triple-click to select)" 
							style="font-style:italic"/>
					</h:panelGrid>	
					<p:scrollPanel mode="native" style="width:185px; height: 298px">
						<table>
							<ui:repeat 
								var="copyPasteKeyword" 
								value="#{editEmailTemplateDetailsCompViewBean.copyPasteKeywords}">
								<tr>
									<td style="margin: 0px !important; padding: 0px !important;">#{copyPasteKeyword}</td>
								</tr>			
							</ui:repeat>
						</table>
					</p:scrollPanel>		
				</p:outputPanel> 
		 	</h:panelGrid>
		 	
		</p:tab>
	</p:accordionPanel>	

<!-- DIALOGS  -->
	
	<p:dialog 
		id="addLanguageDialog"
		header="Add New Language"
		widgetVar="addTranslationDialogWidg" 
		resizable="false"
		closable="false"
		closeOnEscape="true"
		width="355"
		showEffect="fade" 
		hideEffect="fade">
		<p:outputPanel id="addTranslationPanel">
			<p:messages for="newLangs" id="addTransMsg"/>
			<h:panelGrid 
				columns="2" 
				cellpadding="8" 
				columnClasses="text-align-right">
				<h:outputText 
					value="Language" 
					styleClass="label"/>
				<p:selectOneMenu 
					id="newEmailDialogLangSelect"
					widgetVar="newEmailDialogLangSelectWidg"
					value="#{editEmailTemplateDetailsCompViewBean.newLangCode}"
					disabled="#{editEmailTemplateDetailsCompViewBean.disabledNewLangs}"
					style="width:230px">
					<f:selectItems 
						var="newLangListItem"
						value="#{editEmailTemplateDetailsCompViewBean.newLangs}"
						itemValue="#{newLangListItem.id}" 
						itemLabel="#{newLangListItem.name}"/>
				</p:selectOneMenu>
			</h:panelGrid>			
			<p:separator/>
			<p:commandButton 
				value="Cancel"
				styleClass="submit-dialog-button"
				onclick="addTranslationDialogWidg.hide()"
				type="button">						
			</p:commandButton>				
			<p:commandButton
				value="Save"
				actionListener="#{editEmailTemplateDetailsCompControllerBean.addTranslation}"
				disabled="#{editEmailTemplateDetailsCompViewBean.disabledNewLangs}"
				styleClass="submit-dialog-button" 
				update=":#{cc.clientId}:contentPanel:pnlEmailContent"
				oncomplete="addTranslationDialogWidg.hide()"
				partialSubmit="true"
				process="addTranslationPanel"/>
		</p:outputPanel>
	</p:dialog>	
	<p:confirmDialog 
		header="Warning"
		id="deleteTranslation"
		widgetVar="deleteTranslationWidg" 
		width="350" 
		resizable="false"
		message="Are sure you want to delete #{editEmailTemplateDetailsCompViewBean.selectedLanguage} translation?"
		closable="false"
		appendToBody="true">
		<p:outputPanel id="translationDeleteWarningPnl">
			<p:commandButton
				value="No"
				styleClass="submit-dialog-button" 					
				onclick="deleteTranslationWidg.hide()"
				type="button"/>
			<p:commandButton
				value="Yes"
				styleClass="submit-dialog-button" 					
				oncomplete="handleCompletionRequest(xhr,status,args,deleteTranslationWidg)"
				actionListener="#{editEmailTemplateDetailsCompControllerBean.deleteTranslation}"
				update=":#{cc.clientId}:contentPanel:pnlEmailContent"
				process="@this"
				partialSubmit="true"/>
		</p:outputPanel>			
	</p:confirmDialog>
</composite:implementation>
</html>