<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>

<composite:implementation>
	<p:messages id="msgs"/>
	<p:panel header="Select type">
		<p:panelGrid
				id="selectTypePanel"
				columns="2"
				styleClass="noBorder">
				<p:outputLabel value="Select User Type" for="userTypeSelect"></p:outputLabel>
				<p:selectOneMenu id="userTypeSelect" value="#{editPasswordPoliciesViewBean.selectedTypeId}"
					>
					<p:ajax event="change" 
						listener="#{editPasswordPoliciesControllerBean.handleTypeSelect}" 
						update=":frmClientList:editPwPolicyPanel" global="false"/>
					<f:selectItem itemLabel="Select One" itemValue=""/>
					<f:selectItem itemLabel="Participant" itemValue="1"/>
					<f:selectItem itemLabel="Instructor" itemValue="2"/>
					<f:selectItem itemLabel="Administrator" itemValue="3"/>
					<f:selectItem itemLabel="Super Admin" itemValue="4"/>
					
				</p:selectOneMenu>
		</p:panelGrid>
	</p:panel>
	<p:spacer height="10"/>
	<p:panel  header="Policy Details">
		<p:scrollPanel style="height:300px">
			<p:panelGrid
				id="detailPanel"
				columns="2">
				<p:outputLabel value="Description" for="descriptionInput"/>
				<p:inputText id="descriptionInput" 
					value="#{editPasswordPoliciesViewBean.policyDescription}"
					disabled="#{editPasswordPoliciesViewBean.descriptionInputDisabled}"
					maxlength="256"/>
				
				<p:outputLabel value="Term In Days" for="termInput"/>
				<p:inputText id="termInput" 
					value="#{editPasswordPoliciesViewBean.termInDays}"
					disabled="#{editPasswordPoliciesViewBean.termInDaysInputDisabled}"/>
					
				<p:outputLabel value="Email Notification Template" for="emailTemplateInput"/>
				<p:selectOneMenu id="emailTemplateInput" value="#{editPasswordPoliciesViewBean.selectedEmailTemplate}"
					converter="#{editPasswordPoliciesControllerBean.scheduledEmailDefConverter}"
					disabled="#{editPasswordPoliciesViewBean.emailTemplateInputDisabled}"
					var="e">
					
					<f:selectItem itemLabel="Select One" itemValue="#{editPasswordPoliciesViewBean.emptyEmailTemplate}"/>
					<f:selectItems value="#{editPasswordPoliciesViewBean.availableEmails}"
						var="email"
						itemLabel="#{email.title}"
						/>
						<p:column>
							#{e.title}
						</p:column>
				</p:selectOneMenu>
				
				<p:outputLabel value="Allowed Changes" for="allowedChangesInput"/>
				<p:inputText id="allowedChangesInput" 
					value="#{editPasswordPoliciesViewBean.allowedChanges}"
					disabled="#{editPasswordPoliciesViewBean.allowedChangesInputDisabled}"/>
				
				<p:outputLabel value="Allowed Changes Period Minutes" for="allowedChangesPeriodMinutesInput"/>
				<p:inputText id="allowedChangesPeriodMinutesInput" 
					value="#{editPasswordPoliciesViewBean.allowedChangesPeriodMinutes}"
					disabled="#{editPasswordPoliciesViewBean.allowedChangesPeriodMinutesInputDisabled}"/>
				
				<p:outputLabel value="Unsuccessful Attempts" for="unsuccessfulAttemptsInput"/>
				<p:inputText id="unsuccessfulAttemptsInput" 
					value="#{editPasswordPoliciesViewBean.unsuccessfulAttempts}"
					disabled="#{editPasswordPoliciesViewBean.unsuccessfulAttemptsInputDisabled}"/>
				
				<p:outputLabel value="Unsuccessful Attempts Period Minutes" for="unsuccessfulAttemptsPeriodMinutesInput"/>
				<p:inputText id="unsuccessfulAttemptsPeriodMinutesInput" 
					value="#{editPasswordPoliciesViewBean.unsuccessfulAttemptsPeriodMinutes}"
					disabled="#{editPasswordPoliciesViewBean.unsuccessfulAttemptsPeriodMinutesInputDisabled}"/>
				
				<p:outputLabel value="Max Passwords In History" for="maxPasswordsInHistoryInput"/>
				<p:inputText id="maxPasswordsInHistoryInput" 
					value="#{editPasswordPoliciesViewBean.maxPasswordsInHistory}"
					disabled="#{editPasswordPoliciesViewBean.maxPasswordsInHistoryInputDisabled}"/>
				
				<p:outputLabel value="Notification Days Prior to Expiration" for="notificationDaysPriorToExpirationInput"/>
				<p:inputText id="notificationDaysPriorToExpirationInput" 
					value="#{editPasswordPoliciesViewBean.notificationDaysPriorToExpiration}"
					disabled="#{editPasswordPoliciesViewBean.notificationDaysPriorToExpirationInputDisabled}"/>
				
				<p:outputLabel value="Reminder Notification Period Days" for="reminderNotificationPeriodDaysInput"/>
				<p:inputText id="reminderNotificationPeriodDaysInput" 
					value="#{editPasswordPoliciesViewBean.reminderNotificationPeriodDays}"
					disabled="#{editPasswordPoliciesViewBean.reminderNotificationPeriodDaysInputDisabled}"/>
				
				<p:outputLabel value="Lockout Duration Minutes" for="lockoutDurationMinutesInput"/>
				<p:inputText id="lockoutDurationMinutesInput" 
					value="#{editPasswordPoliciesViewBean.lockoutDurationMinutes}"
					disabled="#{editPasswordPoliciesViewBean.lockoutDurationMinutesInputDisabled}"/>
				
				<p:outputLabel value="Validation Custom Regex" for="validationCustomRegexInput"/>
				<p:inputText id="validationCustomRegexInput" 
					value="#{editPasswordPoliciesViewBean.validationCustomRegex}"
					disabled="#{editPasswordPoliciesViewBean.validationCustomRegexInputDisabled}"/>
				
				<p:outputLabel value="Generate Random" for="generateRandomInput"/>
				<p:inputText id="generateRandomInput" 
					value="#{editPasswordPoliciesViewBean.generateRandom}"
					disabled="#{editPasswordPoliciesViewBean.generateRandomInputDisabled}"/>
				
					
				<p:outputLabel value="Minimum Length" for="minimumLengthInput"/>
				<p:inputText id="minimumLengthInput" 
					value="#{editPasswordPoliciesViewBean.minimumLength}"
					disabled="#{editPasswordPoliciesViewBean.minimumLengthInputDisabled}"/>
				
				<p:outputLabel value="Maximum Length" for="maximumLengthInput"/>
				<p:inputText id="maximumLengthInput" 
					value="#{editPasswordPoliciesViewBean.maximumLength}"
					disabled="#{editPasswordPoliciesViewBean.maximumLengthInputDisabled}"/>
				
				<p:outputLabel value="Require Lowercase" for="requireLowercaseInput"/>
				<p:inputText id="requireLowercaseInput" 
					value="#{editPasswordPoliciesViewBean.requireLowercase}"
					disabled="#{editPasswordPoliciesViewBean.requireLowercaseInputDisabled}"/>
				
				<p:outputLabel value="Require Uppercase" for="requireUppercaseInput"/>
				<p:inputText id="requireUppercaseInput" 
					value="#{editPasswordPoliciesViewBean.requireUppercase}"
					disabled="#{editPasswordPoliciesViewBean.requireUppercaseInputDisabled}"/>
				
				<p:outputLabel value="Require Numeric" for="requireNumericInput"/>
				<p:inputText id="requireNumericInput" 
					value="#{editPasswordPoliciesViewBean.requireNumeric}"
					disabled="#{editPasswordPoliciesViewBean.requireNumericInputDisabled}"/>
				
				<p:outputLabel value="Require Special" for="requireSpecialInput"/>
				<p:inputText id="requireSpecialInput" 
					value="#{editPasswordPoliciesViewBean.requireSpecial}"
					disabled="#{editPasswordPoliciesViewBean.requireSpecialInputDisabled}"/>
			</p:panelGrid>
		</p:scrollPanel>
	</p:panel>
</composite:implementation>
</html>