<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">


<composite:interface/>

<composite:implementation>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{emailTemplatesListCompControllerBean.initEmailTemplateList}" /> 
	</f:metadata>
	<p:outputPanel id="emailTemplatesCompPnl">
		<p:outputPanel id="emailTemplatesToolbar">
			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton 
						value="Create New Template"
						id="createNewTemplateButton"
						disabled="#{emailTemplatesListCompViewBean.disableCreateNewTemplate}"
						actionListener="#{emailTemplatesListCompControllerBean.initCreateNewTemplate}"
						update="createTemplatePanel" 
						oncomplete="createTemplateWidg.show()"
						icon="ui-icon-newwin"/>			
					<p:commandButton 
						value="Edit Template"
						id="editTemplateButton"
						disabled="#{emailTemplatesListCompViewBean.disableTemplateEdit}"
						actionListener="#{emailTemplatesListCompControllerBean.initEditTemplate}"
						update="editTemplatePanel" 
						oncomplete="editTemplateWidg.show()"
						icon="ui-icon-newwin"/>
					<p:separator/>	  
					<p:commandButton 
						id="createTemplateFromButton"
					    value="Create Template From"
						disabled="#{emailTemplatesListCompViewBean.disableTemplateClone}"
						actionListener="#{emailTemplatesListCompControllerBean.initCloneTemplate}"						
						oncomplete="cloneTemplateWidg.show()"
						update="cloneTemplatePanel"
						icon="ui-icon-newwin"/>
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:commandButton 
					    id="deleteTemplateButton"
						value="Delete Template" 
						onclick="deleteTemplateWarningWidg.show()"
						disabled="#{emailTemplatesListCompViewBean.disableTemplateDelete}"/>									
				</p:toolbarGroup>
			</p:toolbar>
		</p:outputPanel>
		<p:spacer height="10"/>
		<p:outputPanel id="emailTemplatesList">
			<p:dataTable 
				id="emailTemplatesDataTable"
				widgetVar="emailTemplatesTable" 
				value="#{emailTemplatesListCompViewBean.templates}"
				selection="#{emailTemplatesListCompViewBean.selectedTemplate}"
				filteredValue="#{emailTemplatesListCompViewBean.filteredTemplates}"
				var="emailTemplate"
				selectionMode="single" 
				border="0"
				rows="10"
				paginator="true" 
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(emailTemplatesListCompViewBean.templates)}"
				rowKey="#{emailTemplate.id}">
			
				<p:ajax 
					event="rowSelect" 
					listener="#{emailTemplatesListCompControllerBean.handleSelectTemplate}" 
					update=":#{cc.clientId}:emailTemplatesCompPnl"/>
	
				<p:ajax 
					event="rowUnselect" 
					listener="#{emailTemplatesListCompControllerBean.handleUnselectTemplate}"
					update=":#{cc.clientId}:emailTemplatesCompPnl"/>
					
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="Search all fields: " />
						<p:inputText id="globalFilter"
							onkeyup="emailTemplatesTable.filter()"
							style="width:150px; background: none; background-color:#FFF;" />
					</p:outputPanel>
				</f:facet>
				<p:column sortBy="#{emailTemplate.title}"
					filterBy="#{emailTemplate.title}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{emailTemplate.title}" />
				</p:column>
				<p:column sortBy="#{emailTemplate.constantStyleLabel}"
					filterBy="#{emailTemplate.constantStyleLabel}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Style" />
					</f:facet>
					<h:outputText value="#{emailTemplate.constantStyleLabel}" />
				</p:column>
			    <p:column sortBy="#{emailTemplate.level}"
					filterBy="#{emailTemplate.level}">
					<f:facet name="header">
						<h:outputText value="Level" />
					</f:facet>
					<h:outputText value="#{emailTemplate.level}" />
				</p:column>
				<p:column sortBy="#{emailTemplate.emailTypeProdLabel}"
					filterBy="#{emailTemplate.emailTypeProdLabel}">
					<f:facet name="header">
						<h:outputText value="Product" />
					</f:facet>
					<h:outputText value="#{(empty emailTemplate.emailTypeProdLabel) ? 'All Products' : emailTemplate.emailTypeProdLabel}" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>
	
		<p:outputPanel id="emailText" >
			<p:spacer height="10"/>
			<p:panel
				header="Preview #{emailTemplatesListCompViewBean.selectedTemplate.title} Email"
				rendered="#{emailTemplatesListCompViewBean.showEmailPreview}">
				<p:toolbar>
					<p:toolbarGroup align="left">
					<p:commandButton 
						value="Send Preview" 
						actionListener="#{emailTemplatesListCompControllerBean.initSendTemplatePreview}"	
						oncomplete="sendTemplatePreviewWidg.show()"
						icon="ui-icon-newwin"/>
					</p:toolbarGroup>
				</p:toolbar>
				<p:spacer height="10"/>
				<p:panelGrid columns="2" columnClasses="vertical-align-top, vertical-align-top">
					<p:outputPanel id="selectLanguage">
						<p:panelGrid columns="1"> 
							<h:outputText 
								value="Language(s)"  
								styleClass="label"/>
							<p:selectOneListbox 
								id="emailLangSelect"
								widgetVar="emailLangSelectWidget" 
								value="#{emailTemplatesListCompViewBean.currentLanguage}"
								style="width:200px">
								<f:selectItems var="newLangListItem"
									value="#{emailTemplatesListCompViewBean.currentEmailLangs}"
									itemValue="#{newLangListItem.id}" 
									itemLabel="#{newLangListItem.name}"/>
								<p:ajax 
									listener="#{emailTemplatesListCompControllerBean.handleLanguageChange}" 
									update="previewEmailBody previewEmailSubject" 
									global="false"/>	
							</p:selectOneListbox>
						</p:panelGrid>
					</p:outputPanel>
					<p:outputPanel 
						id="emailTextContent">
						<p:panelGrid columns="1"> 
							<p:outputPanel>
								<h:outputText 
									value="Subject: " 
									styleClass="label" />
								<h:outputText 
									id="previewEmailSubject" 
									value="#{emailTemplatesListCompViewBean.emailSubject}"/>
							</p:outputPanel>	
							<p:outputPanel>
								<p:separator/>
								<h:outputText 
									id="previewEmailBody" 
									value="#{emailTemplatesListCompViewBean.emailBody}" 
									styleClass="email-preview"
									style="width: 100%" 
									escape="false"/>
							</p:outputPanel>	
						</p:panelGrid>	
					</p:outputPanel>
				</p:panelGrid>
			</p:panel>
		</p:outputPanel>
	</p:outputPanel>
	
<!-- DIALOGS -->
	
	<p:confirmDialog 
		header="Delete Template"
		id="deleteTemplateWarningDialog"
		widgetVar="deleteTemplateWarningWidg" 
		width="550" 
		resizable="false"
		message="If you choose to delete, you will permanently delete the current template and all of it's translations. Choose Delete if you want to delete the Template. Choose Cancel to exit."
		closable="false">
		<p:outputPanel id="templateDeleteWarningPanel">
			<p:commandButton
				value="Cancel"
				id="btnCancelDeleteTemplate"
				styleClass="submit-dialog-button" 					
				onclick="deleteTemplateWarningWidg.hide()"
				type="button"/>
			<p:commandButton
				value="Delete"
				id="btnDeleteTemplate"			
				styleClass="submit-dialog-button" 					
				oncomplete="handleCompletionRequest(xhr,status,args,deleteTemplateWarningWidg)"
				actionListener="#{emailTemplatesListCompControllerBean.deleteTemplate}"
				update=":#{cc.clientId}:emailTemplatesCompPnl"/>
		</p:outputPanel>			
	</p:confirmDialog>
			

	<p:dialog 
		header="Clone Template" 
		id="cloneTemplateDialog"
		widgetVar="cloneTemplateWidg"
		width="520"
		resizable="false"
		closable="false"
		closeOnEscape="true"
		modal="true"
		position="center">
		<p:outputPanel id="cloneTemplatePanel">
			<pdinh:cloneTemplateComp />
			<p:separator />
			<p:commandButton 
				value="Cancel"
				styleClass="submit-dialog-button"
				onclick="cloneTemplateWidg.hide()"
				type="button"/>						
			<p:commandButton
				value="Save"
				id="btnSaveClone"
				styleClass="submit-dialog-button"
				oncomplete="handleCompletionRequest(xhr,status,args,cloneTemplateWidg)"
				actionListener="#{emailTemplatesListCompControllerBean.handleCloneTemplate}"
				update=":#{cc.clientId}:emailTemplatesCompPnl"/>
			<pdinh:ajaxStatus 
				styleClass="ajax-status-in-dialog" 
				layout="block"/>						
		</p:outputPanel>
	</p:dialog>

	<p:dialog 
		header="Create New Template"
		id="createTemplateDialog"  
		widgetVar="createTemplateWidg"
		width="940" 
		resizable="false"
		closable="false"
		closeOnEscape="true"
		modal="true"
		position="center">
		<p:outputPanel id="createTemplatePanel">
			<pdinh:editEmailTemplateDetailsComp ckEditorId="createNewTemplate"/>
			<p:separator/>
			<p:commandButton 
				value="Cancel"
				styleClass="submit-dialog-button"
				oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); createTemplateWidg.hide()"
				actionListener="#{emailTemplatesListCompControllerBean.cancelCreateTemplate}"			
				update="@form"
				partialSubmit="true"
				process="@this"/>									
			<p:commandButton 
				id="btnSaveNewTemplate"
				value="Save" 
				styleClass="submit-dialog-button"
				oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); handleCompletionRequest(xhr,status,args,createTemplateWidg)"	
				actionListener="#{emailTemplatesListCompControllerBean.saveNewTemplate}"
				update="@form"
				partialSubmit="true"
				process="createTemplatePanel"/>
			<pdinh:ajaxStatus 
				styleClass="ajax-status-in-dialog" 
				layout="block"/>							
		</p:outputPanel>
	</p:dialog>

	<p:dialog 
		header="Edit Template"
		id="editTemplateDialog"  
		widgetVar="editTemplateWidg"
		width="940" 
		closable="false"
		resizable="false"
		modal="true"
		position="center">
		<p:outputPanel id="editTemplatePanel">
			<pdinh:editEmailTemplateDetailsComp ckEditorId="editTemplate"/>
			<p:separator/>
			<p:commandButton 
				value="Cancel"
				styleClass="submit-dialog-button"
				oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); editTemplateWidg.hide()"
				actionListener="#{emailTemplatesListCompControllerBean.cancelEditTemplate}"			
				update="@form"
				partialSubmit="true"
				process="@this"/>
			<p:commandButton 
				id="btnSaveEditTemplate"
				value="Save" 
				styleClass="submit-dialog-button"
				oncomplete="editEmailTemplWidg.select(0); destroyCKEditor(); handleCompletionRequest(xhr,status,args,editTemplateWidg);"	
				actionListener="#{emailTemplatesListCompControllerBean.saveEditTemplate}"
				update="@form"
				partialSubmit="true"
				process=":#{cc.clientId}:emailTemplatesDataTable editTemplatePanel"/>
			<pdinh:ajaxStatus 
				styleClass="ajax-status-in-dialog" 
				layout="block"/>							
		</p:outputPanel>
	</p:dialog>
			
	<p:dialog 
		header="Send Template Preview"
		widgetVar="sendTemplatePreviewWidg"
		width="580"
		closable="false"
		resizable="false"
		modal="true"
		position="center">
		<p:outputPanel id="sendTemplatePreviewPanel">
			<p:messages for="sendTemplatePreviewPanel"/>
			<p:panelGrid columns="2" columnClasses="text-align-right">				
				<h:outputText 
					value="Send To" 
					styleClass="label"/>
				<p:inputText 
					id="sendToAddress" 
					value="#{emailTemplatesListCompViewBean.sendToAddress}" 
					maxlength="70" 
					size="60" />
				<h:outputLabel 
					value="Sent From" 
					styleClass="label"/>
				<p:inputText 
					id="sentFromAddress" 
					value="#{emailTemplatesListCompViewBean.sentFromAddress}" 
					maxlength="70" 
					size="60"/>
			</p:panelGrid> 
			<p:separator />
			<p:commandButton 
				value="Cancel"
				styleClass="submit-dialog-button"
				onclick="sendTemplatePreviewWidg.hide()"
				update="sendTemplatePreviewPanel"
				partialSubmit="true"
				process="@this">						
				<p:resetInput target="sendTemplatePreviewPanel" />
			</p:commandButton>			
			<p:commandButton
				id="btnSendPreview"
				value="Send"			
				styleClass="submit-dialog-button" 					
				oncomplete="handleCompletionRequest(xhr,status,args,sendTemplatePreviewWidg)"
				actionListener="#{emailTemplatesListCompControllerBean.handleSendTemplatePreview}"
				update="sendTemplatePreviewPanel"/>
			<pdinh:ajaxStatus 
				styleClass="ajax-status-in-dialog" 
				layout="block"/>							
		</p:outputPanel>
	</p:dialog>
</composite:implementation>
</html>