<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface/>

<composite:implementation>
	<p:outputPanel id="pnlEditSchedule">
		<p:messages id="msgs"/>
		<p:panel
			i="selectScheduleType" 
			header="Select Schedule Type">
			<p:panelGrid
				id="scheduleTypePanel"
				styleClass="noBorder"
				columns="3">	
				
				<p:outputLabel
					value="Schedule Type"
					styleClass="label min-label-width"
					for="scheduleType"/>
				<p:selectOneMenu
					id="scheduleType"
					value="#{emailRuleScheduleSetupViewBean.scheduleType}"
					disabled="#{emailRuleScheduleSetupViewBean.scheduleTypeDisabled}">
					<f:selectItem 
						itemLabel="--- Select Schedule Type ---" 
						itemValue="-1" />
					<f:selectItems
						var="menuItem"
						value="#{emailRuleScheduleSetupViewBean.scheduleTypeMenuItems}"
						itemLabel="#{menuItem.name}"
						itemValue="#{menuItem.id}"/>
					<p:ajax 
						listener="#{emailRuleScheduleSetupControllerBean.handleScheduleType}" 
						update="scheduleSetting msgs" 
						partialSubmit="true"
						process="@this"/>
				</p:selectOneMenu>
				<pdinh:helpButton 
						messageKey="EmailScheduleType" 
						styleClass="float-left help-icon-adj-button"/>
				<p:outputLabel
					value="Time Zone"
					styleClass="label min-label-width"
					for="timeZoneSelect"/>
				<p:selectOneMenu
					id="timeZoneSelect"
					value="#{emailRuleScheduleSetupViewBean.selectedTimeZone}"
					disabled="false"
					filter="true"
					filterMatchMode="contains">
					<f:selectItem
						itemLabel="--- Select Time Zone ---"
						itemValue="none"></f:selectItem>
					<f:selectItems
						var="zoneItem"
						value="#{emailRuleScheduleSetupViewBean.availableTimeZones}"
						itemLabel="#{zoneItem}"
						itemValue="#{zoneItem}"></f:selectItems>
					<p:ajax
						listener="#{emailRuleScheduleSetupControllerBean.handleSelectZone}"
						partialSubmit="true"
						process="@this"
						update="fixedDatePanel estimatedDateGrid timeGrid"></p:ajax>
				
				</p:selectOneMenu>
				<pdinh:helpButton 
						messageKey="SelectTimeZone" 
						styleClass="float-left help-icon-adj-button"/>
			</p:panelGrid>
		</p:panel>	
		
		<p:spacer height="10"/>
		
		<p:panel 
			id="scheduleSetting"
			header="Schedule Setting"
			visible="#{emailRuleScheduleSetupViewBean.scheduleSettingVisible}">
	
			<p:panelGrid 
				id="fixedDatePanel"
				styleClass="noBorder"
				columns="2"
				rendered="#{emailRuleScheduleSetupViewBean.fixedDateVisible}">	
				<p:outputLabel
					value="Date / Time"
					styleClass="label min-label-width"
					for="fixedDate"/>
				<p:calendar 
					id="fixedDate"
					value="#{emailRuleScheduleSetupViewBean.fixedDate}"
					pattern="dd-MMM-yyyy hh:mm a"
					showOn="button"
					styleClass="calendar"
					maxMinute="0"
					showButtonPanel="true"
					timeZone="#{emailRuleScheduleSetupViewBean.timeZone}">
					<p:ajax event="dateSelect" update="msgs"/>
					<f:validator for="fixedDate" validatorId="emailRuleScheduleDateValidator"/>
				</p:calendar>
			</p:panelGrid>
	
			<p:panelGrid 
				id="relativeDatePanel"
				styleClass="noBorder"
				columns="4"
				rendered="#{emailRuleScheduleSetupViewBean.relativeDateVisible}">
				<p:outputLabel
					value="Date"
					styleClass="label min-label-width"
					for="relativeDays"/>
				<p:spinner 
					id="relativeDays"   
	                value="#{emailRuleScheduleSetupViewBean.relativeDays}"
	                validatorMessage="Please enter a positive whole number from 1 to 730." 
	                min="1" 
	                max="730"
	                size="3">
	                <p:ajax 
	                	listener="#{emailRuleScheduleSetupControllerBean.calculateRelativeDate}" 
	                	update="calculatedRelativeDate calculatedRelativeDateOut"
						partialSubmit="true"
						process="@this"/>
					<f:validateLongRange minimum="1" for="relativeDays"/>	
	            </p:spinner>    
				<p:selectOneMenu
					id="relativeOptions"
					value="#{emailRuleScheduleSetupViewBean.daysAfter}">
					<f:selectItem itemLabel="days after" itemValue="true" />
					<f:selectItem itemLabel="days before" itemValue="false" />
					<p:ajax 
						listener="#{emailRuleScheduleSetupControllerBean.calculateRelativeDate}" 
						update="calculatedRelativeDate calculatedRelativeDateOut"
						partialSubmit="true"
						process="@this"/>
				</p:selectOneMenu>                
	           	<h:outputText value="#{emailRuleScheduleSetupViewBean.projectDueDate}">
	           		<f:convertDateTime pattern="dd-MMM-yyyy"/>
	           	</h:outputText>
	           	<h:inputHidden
	           		id="calculatedRelativeDate"
	           		value="#{emailRuleScheduleSetupViewBean.relativeDate}"
	           		converter="javax.faces.DateTime">
	           		<f:convertDateTime pattern="dd-MMM-yyyy hh:mm a z"/>
	           		<f:validator validatorId="emailRuleScheduleDateValidator"/>
	           	</h:inputHidden>
			</p:panelGrid>
			<p:panelGrid
				id="timeGrid"
				columns="2"
				rendered="#{emailRuleScheduleSetupViewBean.relativeDateVisible}">
				<p:outputLabel
					value="Time"
					styleClass="label min-label-width"
					for="timePicker"/>
				<p:calendar id="timePicker" timeOnly="true" pattern="hh:mm a" 
					value="#{emailRuleScheduleSetupViewBean.relativeTime}"
					timeZone="#{emailRuleScheduleSetupViewBean.timeZone}"
					showButtonPanel="true"
					maxMinute="0">
					<p:ajax event="dateSelect" update="calculatedRelativeDate calculatedRelativeDateOut"
						listener="#{emailRuleScheduleSetupControllerBean.calculateRelativeDate}"
						partialSubmit="true"
						process="@this"/>	
				</p:calendar>
			</p:panelGrid>
			<p:panelGrid 
				id="estimatedDateGrid"
				columns="2" 
				rendered="#{emailRuleScheduleSetupViewBean.relativeDateVisible}">
				<h:outputText 
					value="Estimated Date:"
					styleClass="schedule-estimated-date"/>
		      	<h:outputText 
		      		id="calculatedRelativeDateOut" 
		      		value="#{emailRuleScheduleSetupViewBean.estimatedDateString}"
		      		styleClass="schedule-estimated-date">
		      		<!-- f:convertDateTime pattern="dd-MMM-yyyy HH:mm a"/-->
		      	</h:outputText>
			</p:panelGrid>
			
	<!-- 		
			<p:panelGrid 
				id="recurringDatePanel"
				styleClass="noBorder"
				columns="2"
				rendered="#{emailRuleScheduleSetupViewBean.recurringDateVisible}">
					
				<p:outputLabel
					value="Range"
					styleClass="label min-label-width"
					for="rangeOfRecurrence"/>
				<p:selectOneMenu
					id="rangeOfRecurrence"
					value="#{emailRuleScheduleSetupViewBean.recurrenceRange}">
					<f:selectItem itemLabel="Every Day" itemValue="0" />
					<f:selectItem itemLabel="Every Week" itemValue="1" />
					<f:selectItem itemLabel="Every 2 Weeks" itemValue="2" />
					<f:selectItem itemLabel="Every Month" itemValue="3" />
					<f:selectItem itemLabel="Every Year" itemValue="4" />
				</p:selectOneMenu>	
	
				<p:outputLabel
					value="Start Date"
					styleClass="label min-label-width"
					for="recurrenceStartDate"/>
				<p:calendar 
					id="recurrenceStartDate"
					value="#{emailRuleScheduleSetupViewBean.recurrenceStartDate}"/>
	
				<p:outputLabel
					value="End Date"
					styleClass="label min-label-width"
					for="recurrenceEndDate"/>
				<p:calendar 
					id="recurrenceEndDate"
					value="#{emailRuleScheduleSetupViewBean.recurrenceEndDate}"/>
	
			</p:panelGrid>
	 -->		
		</p:panel>
	</p:outputPanel>	
</composite:implementation>
</html>