<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface/>

<composite:implementation>

	<p:toolbar id="toolBar">
		<p:toolbarGroup>
			<p:commandButton
				id="btnResend"
				value="Resend"
				actionListener="#{emailLogControllerBean.resendEmail}"
				disabled="#{emailLogViewBean.disabledResendButton}"
				partialSubmit="true"
				process="@this tblEmailLog"
				update="tblEmailLog"/>
			<p:separator/>
			<p:commandButton
				id="btnExportToExcel"
				value="Export to Excel" ajax="false">
				<p:dataExporter type="xls" target="tblEmailLog" fileName="email_log"/>
			</p:commandButton>
		</p:toolbarGroup>
		<p:toolbarGroup align="right">
			<p:commandButton
				id="btnReload"
				value="Refresh Log"
				actionListener="#{emailLogControllerBean.refreshLog}"
				onstart="pleaseWaitDialog.show()"
				oncomplete="pleaseWaitDialog.hide()"
				partialSubmit="true"
				process="@this"
				update="tblEmailLog"/>
		</p:toolbarGroup>
	</p:toolbar>
	
	<p:spacer height="10"/>
	
	<p:dataTable 
		id="tblEmailLog"
		var="record"
		widgetVar="emailLog"
		value="#{emailLogViewBean.log}"
		rows="10"
		selectionMode="single"
		selection="#{emailLogViewBean.selectedRecord}"
		filterEvent="#{emailLogViewBean.filteredRecords}"
		paginator="true"
		paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(emailLogViewBean.log)}"
		rowKey="#{record.id}">
		
		<p:ajax event="rowSelect" listener="#{emailLogControllerBean.handleRowSelect}" update=":#{cc.clientId}:toolBar"/>
		<p:ajax event="rowUnselect" listener="#{emailLogControllerBean.handleRowUnselect}" update=":#{cc.clientId}:toolBar"/>
		
		<f:facet name="header">
			<p:outputPanel>
				<h:outputText value="Search all fields: " />
				<p:inputText id="globalFilter" onkeyup="emailLog.filter()"
					style="width:150px; background: none; background-color:#FFF;" />
			</p:outputPanel>
		</f:facet>	
		
		<p:column style="width:1%" exportable="false">  
			<p:rowToggler />
		</p:column>
	
		<p:column
			sortBy="#{record.participant.userId}"
			filterBy="#{record.participant.userId}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="PPT Id" />
			</f:facet>			
			<h:outputText value="#{record.participant.userId}"/>
		</p:column>

		<p:column
			sortBy="#{record.participant.lastName}"
			filterBy="#{record.participant.lastName}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Last Name" />
			</f:facet>	
			<h:outputText value="#{record.participant.lastName}"/>
		</p:column>

		<p:column
			sortBy="#{record.participant.firstName}"
			filterBy="#{record.participant.firstName}"
			styleClass="column-header-align-top">
			<h:outputText value="#{record.participant.firstName}"/>
			<f:facet name="header">
				<h:outputText value="First Name" />
			</f:facet>	
		</p:column>

		<p:column
			sortBy="#{record.participant.email}"
			filterBy="#{record.participant.email}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Email Address" />
			</f:facet>			
			<h:outputText value="#{record.participant.email}"/>
		</p:column>

		<p:column
			sortBy="#{record.emailRule.id}"
			filterBy="#{record.emailRule.id}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Rule Id" />
			</f:facet>				
			<h:outputText value="#{(record.emailRule.id == 0) ? 'N/A' : record.emailRule.id}"/>
		</p:column>

		<p:column
			sortBy="#{record.emailRule.name}"
			filterBy="#{record.emailRule.name}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Rule Name" />
			</f:facet>			
			<h:outputText value="#{(empty record.emailRule.name) ? 'N/A' : record.emailRule.name}"/>
		</p:column>

		<p:column
			sortBy="#{record.status}"
			filterBy="#{record.status}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Status" />
			</f:facet>				
			<h:outputText value="#{record.status}"/>
		</p:column>

		<p:column
			sortBy="#{record.date}"
			filterBy="#{record.date}"
			styleClass="column-header-align-top">
			<f:facet name="header">
				<h:outputText value="Date/Time" />
			</f:facet>			
			<h:outputText value="#{record.date}">
				<f:convertDateTime timeZone="PST" pattern="dd-MMM-yyyy (HH:mm z)"/>
			</h:outputText>	
			
		</p:column>
		
		<p:rowExpansion styleClass="email-log-expansion">
			<table>
				<tr>
					<td width="70">
						<h:outputText value="Subject" styleClass="label text-align-right"/>
					</td>
					<td>
						<h:outputText value="#{record.sentEmailSubject}"/>
					</td>
				</tr>
				<tr>
					<td width="70">
						<h:outputText value="Body" styleClass="label text-align-right"/>
					</td>
					<td>
						<h:outputText value="#{record.sentEmailBody}" styleClass="email-preview" style="width: 100%" escape="false"/>
					</td>
				</tr>					
			</table>
		</p:rowExpansion>
	</p:dataTable>
</composite:implementation>
</html>