<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface/>

<composite:implementation>
	<p:dataTable 
		id="emailRuleStatus"
		var="status"
		value="#{emailRuleScheduleStatusViewBean.statusList}"
		rowKey="status.id"
		rowStyleClass="#{emailRuleScheduleStatusControllerBean.styleSatus(status)}">
		<p:column headerText="Current Status">
			<h:outputText value="#{status.name}"/>
		</p:column>
	</p:dataTable>
</composite:implementation>
</html>