<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<composite:interface>
	<composite:attribute name="list" required="true"/>
</composite:interface>

<composite:implementation>

	<p:spacer height="10" width="10"/>
	
	<p:panel header="Review">

		<p:dataTable 
			id="tblReview" 
			var="user" 
			value="#{cc.attrs.list}"
			scrollable="true"
			scrollHeight="252">
			
			<p:column>
				<f:facet name="header">
					<h:outputText value="First Name"/>
				</f:facet>
				<h:outputText value="#{user.firstName}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Last Name"/>
				</f:facet>
				<h:outputText value="#{user.lastName}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Email"/>
				</f:facet>
				<h:outputText value="#{user.email}" styleClass="singleLine" title="#{user.email}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Login Id"/>
				</f:facet>
				<h:outputText value="#{user.userName}" styleClass="singleLine" title="#{user.userName}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Password"/>
				</f:facet>
				<h:outputText value="#{(empty user.password) ?  '**********' : user.password}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Language"/>
				</f:facet>
				<h:outputText value="#{exportCredentials.getParticipantLanguage(user)}"/>
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="URL"/>
				</f:facet>
				<h:outputText value="#{exportCredentials.getParticipantExperienceUrl(user)}" styleClass="singleLine"/>
			</p:column>
		</p:dataTable>

	</p:panel>
	
	<p:spacer height="10" width="10"/>	
	
	<p:panel header="Export">
		<p:spacer height="10" width="10"/>	
		<p:panelGrid columns="5">
			<h:commandLink>
				<p:graphicImage value="#{resource['images/icons/excel.png']}" title="Export to Microsoft Excel (.xls)" />
				<p:dataExporter type="xls" postProcessor="#{exportCredentials.postProcessXLS}" preProcessor="#{exportCredentials.preProcessXLS}"
				target="tblReview" fileName="users_credentials" />
			</h:commandLink>
			<!-- 
			<h:commandLink>
				<p:graphicImage value="#{resource['images/icons/pdf.png']}" />
				<p:dataExporter type="pdf" target="tblReview" fileName="mypdf" preProcessor="#{exportCredentials.preProcessPDF}" />
			</h:commandLink>
			 -->
		</p:panelGrid>
	</p:panel>

</composite:implementation>
</html>