<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<composite:implementation>
	<h:commandLink>
		<p:graphicImage value="#{resource['images/icons/csv.png']}"
			style="border-width: 0px" />
		<p:dataExporter type="csv" target="tblExport" fileName="export" />
	</h:commandLink>
	<h:commandLink>
		<p:graphicImage value="#{resource['images/icons/excel.png']}"
			style="border-width: 0px" />
		<p:dataExporter type="xls" target="tblExport" fileName="export"
			excludeColumns="#{projectManagementControllerBean.getExcludeColumns(7)}" />
	</h:commandLink>
	<!-- 
	<h:commandLink>  
        <p:graphicImage value="#{resource['images/icons/pdf.png']}" style="border-width: 0px" />  
        <p:dataExporter type="pdf" target="tblExport" fileName="export" />  
    </h:commandLink>
	<h:commandLink>  
        <p:graphicImage value="#{resource['images/icons/xml.png']}" style="border-width: 0px" />  
        <p:dataExporter type="xml" target="tblExport" fileName="export" />  
    </h:commandLink>
    -->
	<p:separator />
	<p:panel
		style="width: 900px; height: 450px; margin: 0px; padding: 0px; overflow: auto;">
		<p:dataTable id="tblExport" var="participant"
			value="#{projectManagementViewBean.exportParticipants}"
			style="width: 2000px" rowKey="#{participant.userId}">

			<p:column sortBy="#{participant.lastName}"
				filterBy="#{participant.lastName}" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Last Name" />
				</f:facet>
				<h:outputText value="#{participant.lastName}" />
			</p:column>
			<p:column sortBy="#{participant.firstName}"
				filterBy="#{participant.firstName}" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="First Name" />
				</f:facet>
				<h:outputText value="#{participant.firstName}" />
			</p:column>
			<p:column sortBy="#{participant.email}"
				filterBy="#{participant.email}" style="width: 200px"
				rendered="#{!projectManagementViewBean.renderSetCoachAndTimeframe}">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{participant.email}" />
			</p:column>
			<p:column sortBy="#{participant.optional1}"
				filterBy="#{participant.optional1}" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Optional 1" />
				</f:facet>
				<h:outputText value="#{participant.optional1}" />
			</p:column>
			<p:column sortBy="#{participant.optional2}"
				filterBy="#{participant.optional2}" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Optional 2" />
				</f:facet>
				<h:outputText value="#{participant.optional2}" />
			</p:column>
			<p:column sortBy="#{participant.optional3}"
				filterBy="#{participant.optional3}" style="width: 150px">
				<f:facet name="header">
					<h:outputText value="Optional 3" />
				</f:facet>
				<h:outputText value="#{participant.optional3}" />
			</p:column>
			<p:column sortBy="#{participant.dateAdded}"
				filterBy="#{participant.dateAdded}" filterMatchMode="contains"
				style="width: 125px; text-align: center">
				<f:facet name="header">
					<h:outputText value="Setup Date"></h:outputText>
				</f:facet>
				<h:outputText value="#{participant.dateAdded}">
					<f:convertDateTime pattern="yyyy-MM-dd"></f:convertDateTime>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['vedge'].status}"
				filterBy="#{participant.courseStatuses['vedge'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('vedge')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="VE" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['vedge']}"></h:outputText>
			</p:column>
			<p:column
				sortBy="#{projectManagementControllerBean.getViaEdgePartConf(participant.userId)}"
				filterBy="#{projectManagementControllerBean.getViaEdgePartConf(participant.userId)}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.confOptionsPrework}"
				styleClass="instrument-column-header-aggregate"
				filterStyleClass="instrument-column-header-filter"
				rendered="#{projectManagementViewBean.isRenderViaEdgeStatus()}">
				<f:facet name="header">
					<h:outputText id="VECI_head" value="VECI" />
				</f:facet>
				<!-- show viaEdge confidence color on completed course status -->
				<h:outputText
					rendered="#{projectManagementControllerBean.getPreworkStatus(participant.courseStatuses) == 2 or projectManagementControllerBean.getPreworkStatus(participant.courseStatuses) == 3}"
					value="#{projectManagementControllerBean.getViaEdgePartConfIdx(participant.userId)}"></h:outputText>
			</p:column>
			<p:column
				sortBy="#{participant.courseStatuses['vedge_nodemo'].status}"
				filterBy="#{participant.courseStatuses['vedge_nodemo'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('vedge_nodemo')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="VE_ND" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['vedge_nodemo']}"></h:outputText>
			</p:column>
			
			<!-- 
			<p:column sortBy="#{participant.courseStatuses['kfp'].status}"
				filterBy="#{participant.courseStatuses['kfp'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				styleClass="instrument-column-header"
				rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
				filterStyleClass="instrument-column-header-filter">
				<f:facet name="header">
					<h:outputText value="ALP" />
				</f:facet>
				<p:outputLabel value="#{projectManagementControllerBean.getCourseStatusLabel(participant.courseStatuses['kfp'].status)}"></p:outputLabel>
			</p:column>
			-->
			
			<p:column sortBy="#{participant.courseStatuses['kfp1'].status}"
				filterBy="#{participant.courseStatuses['kfp1'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				styleClass="instrument-column-header"
				rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
				filterStyleClass="instrument-column-header-filter">
				<f:facet name="header">
					<h:outputText value="ALP1" />
				</f:facet>
				<p:outputLabel value="#{projectManagementControllerBean.getCourseStatusLabel(participant.courseStatuses['kfp1'].status)}"/>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['kfp2'].status}"
				filterBy="#{participant.courseStatuses['kfp2'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				styleClass="instrument-column-header"
				rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('kfp')}"
				filterStyleClass="instrument-column-header-filter">
				<f:facet name="header">
					<h:outputText value="ALP2" />
				</f:facet>
				<p:outputLabel value="#{projectManagementControllerBean.getCourseStatusLabel(participant.courseStatuses['kfp2'].status)}"/>
			</p:column>
			
			
			<p:column sortBy="#{participant.courseStatuses['rv2'].status}"
						filterBy="#{participant.courseStatuses['rv2'].status}"
						filterMatchMode="exact"
						filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
						styleClass="instrument-column-header"
						rendered="#{projectManagementControllerBean.renderDetailedStatus and projectManagementControllerBean.isPreworkInstrument('rv2')}"
						filterStyleClass="instrument-column-header-filter">
						<f:facet name="header">
							<h:outputText value="RV2" />
						</f:facet>
						<p:outputLabel value="#{projectManagementControllerBean.getCourseStatusLabel(participant.courseStatuses['rv2'].status)}"></p:outputLabel>
					</p:column>
			<p:column sortBy="#{participant.courseStatuses['demo'].status}"
				filterBy="#{participant.courseStatuses['demo'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('demo')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="DEM" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['demo']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['chq'].status}"
				filterBy="#{participant.courseStatuses['chq'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('chq')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="CHQ" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['chq']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['gpi'].status}"
				filterBy="#{participant.courseStatuses['gpi'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('gpi')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="GPI" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['gpi']}"
					style="width: 100px"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['gpil'].status}"
				filterBy="#{participant.courseStatuses['gpil'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('gpil')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="GPI" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['gpil']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['lei'].status}"
				filterBy="#{participant.courseStatuses['lei'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('lei')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="LEI" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['lei']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['cs'].status}"
				filterBy="#{participant.courseStatuses['cs'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('cs')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="CS" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['cs']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['cs2'].status}"
				filterBy="#{participant.courseStatuses['cs2'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('cs2')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="CS" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['cs2']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['rv'].status}"
				filterBy="#{participant.courseStatuses['rv'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('rv')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="RV" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['rv']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['wg'].status}"
				filterBy="#{participant.courseStatuses['wg'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('wg')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="WGE" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['wg']}"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.courseStatuses['finex'].status}"
				filterBy="#{participant.courseStatuses['finex'].status}"
				filterMatchMode="exact"
				filterOptions="#{projectManagementControllerBean.statusOptionsPrework}"
				rendered="#{projectManagementControllerBean.isInstrumentInProject('finex')}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="FIN" />
				</f:facet>
				<h:outputText value="#{participant.courseStatuses['finex']}"></h:outputText>
			</p:column>

			<!-- COACHING FIELDS -->
			<p:column sortBy="#{participant.coachingPlanObj.typeText}"
				filterBy="#{participant.coachingPlanObj.typeText}"
				filterMatchMode="exact"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Type of Coaching Program" />
				</f:facet>
				<h:outputText value="#{participant.coachingPlanObj.typeText}"></h:outputText>
			</p:column>

			<p:column sortBy="#{participant.coachingPlanObj.startDate}"
				filterBy="#{participant.coachingPlanObj.startDate}"
				filterMatchMode="contains"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Coaching Engagement Start Date" />
				</f:facet>
				<h:outputText value="#{participant.coachingPlanObj.startDate}">
					<f:convertDateTime pattern="yyyy-MM-dd"></f:convertDateTime>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{participant.coachingPlanObj.endDate}"
				filterBy="#{participant.coachingPlanObj.endDate}"
				filterMatchMode="contains"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Coaching Engagement End Date" />
				</f:facet>
				<h:outputText value="#{participant.coachingPlanObj.endDate}">
					<f:convertDateTime pattern="yyyy-MM-dd"></f:convertDateTime>
				</h:outputText>
			</p:column>
			<p:column sortBy="#{participant.coachingPlanObj.timeElapsed}"
				filterBy="#{participant.coachingPlanObj.timeElapsed}"
				filterMatchMode="exact"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Time Elapsed" />
				</f:facet>
				<h:outputText
					value="#{participant.coachingPlanObj.timeElapsed}&#37;"></h:outputText>
			</p:column>
			<p:column sortBy="#{participant.coachingPlanObj.coachLastname}"
				filterBy="#{participant.coachingPlanObj.coachLastname}"
				filterMatchMode="exact"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Coach Name" />
				</f:facet>
				<h:outputText
					value="#{participant.coachingPlanObj.coachFirstname} #{participant.coachingPlanObj.coachLastname}"></h:outputText>
			</p:column>
			<p:column
				sortBy="#{participant.coachingPlanObj.targetLevelTypeLabel}"
				filterBy="#{participant.coachingPlanObj.targetLevelTypeLabel}"
				filterMatchMode="exact"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Leader Level" />
				</f:facet>
				<h:outputText
					value="#{participant.coachingPlanObj.targetLevelTypeLabel}"></h:outputText>
			</p:column>
			<p:column
				sortBy="#{participant.coachingPlanObj.completionStatusLabel}"
				filterBy="#{participant.coachingPlanObj.completionStatusLabel}"
				filterMatchMode="exact"
				rendered="#{projectManagementViewBean.renderSetCoachAndTimeframe}"
				filterStyleClass="instrument-column-header-filter"
				style="width: 100px">
				<f:facet name="header">
					<h:outputText value="Plan Completion Status" />
				</f:facet>
				<h:outputText
					value="#{participant.coachingPlanObj.completionStatusLabel}"></h:outputText>
			</p:column>

		</p:dataTable>
	</p:panel>
</composite:implementation>
</html>