<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>  
		<composite:attribute name="viewBean" required="true" type="java.lang.Object"/>
		<composite:attribute name="controllerBean" required="false" type="java.lang.Object"/>
	</composite:interface>
	
	<composite:implementation>

		<p:focus for="excelVersion"/>
	
		<p:selectOneRadio id="excelVersion" value="#{cc.attrs.viewBean.newExcelFormat}" layout="custom">
			<f:selectItem itemLabel="Microsoft Excel Worksheet" itemValue="true" />
			<f:selectItem itemLabel="Microsoft Excel 97-2003 Worksheet" itemValue="false" />
		</p:selectOneRadio>
	
		<p:panelGrid columns="1">
			<h:outputText value="Choose Microsoft Excel format:" styleClass="label"/>
		</p:panelGrid>
		<p:panelGrid columns="3">
			
			<p:spacer width="20" height="10"/>
			<p:radioButton id="opt1" for="excelVersion" itemIndex="0" />
			<h:outputLabel for="opt1" value="Microsoft Excel Worksheet" />
			         
			<p:spacer width="20" height="10"/>						
			<p:radioButton id="opt2" for="excelVersion" itemIndex="1" />
			<h:outputLabel for="opt2" value=" Microsoft Excel 97-2003 Worksheet" />
		         						
		</p:panelGrid>
	
		<p:panelGrid columns="1">
			<h:outputText value="Other:" styleClass="label"/>
		</p:panelGrid>
		
		<p:panelGrid columns="3">
			
			<p:spacer width="20" height="10"/>
			<h:outputText value="Number of Rows:"/>
			<p:spinner 
				value="#{cc.attrs.viewBean.numberOfRows}" 
				min="1" 
				max="#{cc.attrs.viewBean.maxRecordsPerSheet}" 
				stepFactor="1" 
				size="2" 
				maxlength="5" />				

			<p:spacer width="20" height="10"/>						
			<h:outputText value="Show [Definitions] sheet:"/>
			<h:selectBooleanCheckbox value="#{cc.attrs.viewBean.definitionsVisible}" />

		</p:panelGrid>	
	
	</composite:implementation>
	
</html>