<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<composite:interface>
	<composite:attribute name="messageKey" type="java.lang.String" required="true"/>
	<composite:attribute name="showHelp" type="java.lang.Boolean" default="true"/>	
	<composite:attribute name="styleClass" type="java.lang.String" default=""/>
</composite:interface>

<composite:implementation>
	<p:commandLink id="helpLink_#{cc.attrs.messageKey}" style="padding-left: 5px;" rendered="#{cc.attrs.showHelp}" tabindex="-1">  
		<p:graphicImage value="#{resource['images/question-frame.png']}" height="16" width="16" style="border:none;" styleClass="#{cc.attrs.styleClass}" cache="true"/>
	</p:commandLink>  
	<p:overlayPanel id="helpPanel_#{cc.attrs.messageKey}" for="helpLink_#{cc.attrs.messageKey}" showEffect="fade" hideEffect="fade" 
			showEvent="click" hideEvent="click" styleClass="help-panel"> 
		<h:outputText id="helpText" value="#{help[cc.attrs.messageKey]}" escape="false" styleClass="help-text"/> 
	</p:overlayPanel>
</composite:implementation>
</html>