<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<composite:interface>
	<composite:attribute name="messageKey" type="java.lang.String" required="true"/>
	<composite:attribute name="styleClass" type="java.lang.String" default="float-right"/>
	<composite:attribute name="showHelp" type="java.lang.Boolean" default="true"/>	
</composite:interface>

<composite:implementation>
	<p:outputPanel id="help_#{cc.attrs.messageKey}" layout="block" styleClass="#{cc.attrs.styleClass}" rendered="#{cc.attrs.showHelp}">
		<p:commandButton id="helpLink" icon="icon-question-frame" styleClass="clear-button" type="button" tabindex="-1"/>
		<p:overlayPanel id="helpPanel" for="helpLink" showEffect="fade" hideEffect="fade" showEvent="click" hideEvent="click" styleClass="help-panel"> 
			<h:outputText id="helpText" value="#{help[cc.attrs.messageKey]}" escape="false" styleClass="help-text"/> 
    	</p:overlayPanel>
	</p:outputPanel>
</composite:implementation>
</html>