<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>

<composite:implementation>
	<!-- p:poll 
		listener="#{importParticipantControllerBean.pollingListener}" 
		update="importResultsPanel,uploadComplete,importButtons" 
		widgetVar="importPollWidget" 
		interval="1" 
		onstart="fetchStatusDialog.show()"
		oncomplete="handleImportPollComplete(xhr,status,args)" 
		onsuccess="fetchStatusDialog.hide()"
		autoStart="false" /-->
	
	<p:panel 
		id="uploadComplete" 
		visible="#{importParticipantViewBean.showCompletePanel}">
		<h:outputText value="Upload Complete" styleClass="label"/>
		<p:separator/>
		<p:graphicImage value="#{resource['images/icons/csv_16x16.png']}" styleClass="noBorder"/>
		<h:commandLink>
			Export Results as CSV file  
			<p:dataExporter target="importResults" type="csv" fileName="importResults" excludeColumns="0,5"/>
		</h:commandLink>
	</p:panel>
	<p:spacer height="10"/>
	<p:panel 
		id="uploaderPanel" 
		visible="#{importParticipantViewBean.showUploadPanel}">
		<h:panelGrid columns="1">
			<h:outputText value="500 KB Maximum file size"></h:outputText>
			<p:fileUpload 
				id="fileUploader" 
				widgetVar="fileUploaderWdg" 
				update="importResultsPanel uploaderPanel" 
				fileUploadListener="#{importParticipantControllerBean.handleFileUpload}" 
				allowTypes="/(\.|\/)(csv)$/"
				auto="true" 
				label="Select CSV File"/>
		 	<p:spacer height="10"/>
			<p:outputPanel id="importButtons">
				<p:commandButton value="Process File" 
					actionListener="#{importParticipantControllerBean.processDataFile}"
					disabled="#{importParticipantViewBean.disableProcessButton}" 
					onclick="importProgressBar.start(); fetchStatusDialog.show();"
					async="true"
					update="uploaderPanel :frmProjectManagement:tblProjectManagement"/>
			</p:outputPanel>
			<p:spacer height="10"/>
			<h:panelGrid columns="2">
				<p:graphicImage value="#{resource['images/icons/csv_16x16.png']}" styleClass="noBorder"/>
				<h:outputLink value="#{importParticipantViewBean.importTemplateFileUrl}" target="_blank">Download Sample CSV File</h:outputLink>
				<p:graphicImage value="#{resource['images/icons/word_16x16.png']}" styleClass="noBorder" />	    					
				<h:outputLink value="#{importParticipantViewBean.helpFileUrl}" target="_blank">Download Help File</h:outputLink>
				<p:graphicImage value="#{resource['images/icons/excel_16x16.png']}" styleClass="noBorder"/>	    					
				<h:outputLink value="#{sessionBean.serverAndContextPath}/resources/documents/PALMS_Language_Matrix.xls" target="_blank">Download Available Languages Matrix</h:outputLink>
			</h:panelGrid>
		</h:panelGrid>
	</p:panel>
	<p:spacer height="10"/>	
	<p:panel 
		id="importResultsPanel" 
		visible="#{importParticipantViewBean.renderResultsTable}">
		<p:messages id="facesMessages" severity="warn,error" autoUpdate="true" showDetail="true" closable="true"></p:messages>
		<p:dataTable 
			id="importResults"
			emptyMessage="File Uploaded. Click 'Process File' to begin the import." 
			value="#{importParticipantViewBean.results}" 
			var="result"
			scrollable="true" 
			scrollHeight="200" 
			rowKey="#{result.user.userId}">
			
			<p:column style="width:80px" exportable="false">
				<f:facet name="header">
					<h:outputText value="Details" />
				</f:facet>
				<p:rowToggler rendered="#{!result.errors.isEmpty()}" />
				<h:outputText value="n/a" rendered="#{result.errors.isEmpty()}"/>
			</p:column>

			<p:column sortBy="#{result.user.firstName}" filterBy="#{result.user.firstName}">
				<f:facet name="header">
					<h:outputText value="First Name" />
				</f:facet>
				<h:outputText value="#{result.user.firstName}" />
			</p:column>

			<p:column sortBy="#{result.user.lastName}" filterBy="#{result.user.lastName}">
				<f:facet name="header">
					<h:outputText value="Last Name" />
				</f:facet>
				<h:outputText value="#{result.user.lastName}" />
			</p:column>

			<p:column sortBy="#{result.user.email}" filterBy="#{result.user.email}">
				<f:facet name="header">
					<h:outputText value="email" />
				</f:facet>
				<h:outputText value="#{result.user.email}" />
			</p:column>

			<p:column sortBy="#{result.status}" filterBy="#{result.status}">
				<f:facet name="header">
					<h:outputText value="Result" />
				</f:facet>
				<h:outputText value="#{result.status}" />
			</p:column>		

			<p:rowExpansion>
				<h:dataTable var="error" value="#{result.errors}">
					<h:column>
						<h:outputText value="Error: #{error.errorCode}" />
					</h:column>
					<h:column>
						<h:outputText value="#{error.errorMsg}" />
					</h:column>
				</h:dataTable>
			</p:rowExpansion>

		</p:dataTable>
	</p:panel>
	<p:dialog 
				resizable="false" 
				modal="true"
				appendToBody="true" 
				widgetVar="fetchStatusDialog"
				header="Processing Data file, please wait..." 
				draggable="false" 
				closable="false">
				<p:panel>
					<p:progressBar widgetVar="importProgressBar" 
						id="importProgressBar" ajax="true" 
						value="${importParticipantViewBean.percentComplete}" 
						labelTemplate="{value}%" styleClass="animated">
						<p:ajax event="complete" listener="#{importParticipantControllerBean.handleComplete}" update="importResultsPanel,uploadComplete,importButtons" oncomplete="fetchStatusDialog.hide()"/>
					</p:progressBar>
				</p:panel>
			</p:dialog>	
</composite:implementation>


</html>