<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   xmlns:composite="http://java.sun.com/jsf/composite"
   xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface/>

<composite:implementation>   

	<p:outputPanel id="pnlSelectSubject">
		
		<p:messages autoUpdate="true" globalOnly="true"/>
		
		
		
		<p:dataTable 
			id="tblSubjects"
			widgetVar="tblSubjects"
			selectionMode="single"
			var="subject"
			value="#{linkedAccountViewBean.lazyModel}"
			selection="#{linkedAccountViewBean.selectedSubject}"
			paginator="true" 
			rows="10" 
			rowKey="#{subject.username}_#{subject.realm_id}"
			paginatorPosition="bottom"
			lazy="true">
		  
			<p:ajax 
				event="rowSelect" 
				listener="#{linkedAccountControllerBean.handleRowSelect}" 
				/>
			   	
			<p:ajax 
				event="rowUnselect" 
				listener="#{linkedAccountControllerBean.handleRowUnselect}" 
				/>
			   			       
			<p:column 
				sortBy="#{subject.lastname}" 
				
				width="30%">
				<f:facet name="header">
					<h:outputText value="Last Name" />
				</f:facet>
			   <h:outputText value="#{subject.lastname}" />
			</p:column>
			<p:column 
				sortBy="#{subject.firstname}" 
				
				width="30%">
				<f:facet name="header">
					<h:outputText value="First Name" />
				</f:facet>			
			   <h:outputText value="#{subject.firstname}" />
			</p:column>
			<p:column 
				sortBy="#{subject.email}" 
				
				width="40%">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>				
			   <h:outputText value="#{subject.email}" />
			</p:column>

		</p:dataTable>

	</p:outputPanel>		 
</composite:implementation>
</html>