<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">
	
<composite:interface>
</composite:interface>

<composite:implementation>
	<p:tooltip />
	<p:panel id="linkAccountPanel" header="Link with platform Account">
		<p:messages id="msgs" />
		<h:outputText value="Selected User: "></h:outputText><h:outputText value="#{linkedAccountViewBean.selectedUser.firstLastEmail}"/>
		<p:selectOneRadio id="createOrLinkRadio" 
			disabled="#{linkedAccountViewBean.linkRadioDisabled}" 
			value="#{linkedAccountViewBean.selectedLinkOption}" layout="custom">
			<f:selectItem itemLabel="Option 1" itemValue="1"></f:selectItem>
			<f:selectItem itemLabel="Option 2" itemValue="2"></f:selectItem>
			<p:ajax event="change" listener="#{linkedAccountControllerBean.handleSelectLinkOption}"
				update="SelectUserButton saveLinkedAccountButton usersIdInput" global="false"/>
			
		</p:selectOneRadio>
		<h:panelGrid columns="3">
			<p:radioButton id="opt1" for="createOrLinkRadio" itemIndex="0"/>
			<h:outputLabel for="opt1" value="Link to New Account"/>
			<h:inputHidden value="hidden"></h:inputHidden>
			
			<p:radioButton id="opt2" for="createOrLinkRadio" itemIndex="1"/>
			<h:outputLabel for="opt2" value="Link to Existing Account"/>
			<p:inputText id="usersIdInput" value="#{linkedAccountViewBean.usersIdInput}"
				valueChangeListener="#{linkedAccountControllerBean.handleIdUpdate}" disabled="#{linkedAccountViewBean.usersIdInputDisabled}">
				<p:ajax event="change" update="saveLinkedAccountButton msgs" global="false"/>
					
			</p:inputText>
			</h:panelGrid>
			<p:outputPanel id="toolbarPanelSaveCancel">
			<p:toolbar>
				<p:toolbarGroup>
					
					
					<!-- p:commandButton id="lookupByEmailButton" value="lookup by Email" update="linkAccountPanel"
						actionListener="#{linkedAccountControllerBean.lookupByEmail}"
						disabled="#{linkedAccountViewBean.lookupByEmailButtonDisabled}"
						/-->
					<p:commandButton id="SelectUserButton" value="Select User" 
						actionListener="#{linkedAccountControllerBean.initSubjectListDlg}"
						disabled="#{linkedAccountViewBean.lookupByEmailButtonDisabled}"
						update="dlgSubjectPanel"
						oncomplete="selectPlatformUser.show()"
						styleClass="submit-dialog-button"
						/>
					<p:commandButton id="unlinkAccountButton" value="Unlink Account" 
						styleClass="submit-dialog-button"
						onclick="confirmation.show()"
						global="false"
						disabled="#{linkedAccountViewBean.unlinkAccountButtonDisabled}"
						>
						
					</p:commandButton>
					<p:commandButton id="refreshAccountButton" value="Refresh Linked Account" update="linkAccountPanel"
						actionListener="#{linkedAccountControllerBean.handleRefreshLinkedAccount}"
						disabled="#{linkedAccountViewBean.refreshAccountButtonDisabled}"
						styleClass="submit-dialog-button"
						/>
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					
					<p:commandButton
						id="cancelLinkedAccountButton"
						value="Cancel"
						styleClass="submit-dialog-button"
						oncomplete="linkedAccountDlg.hide()"
						global="false"/>
						
					<p:commandButton
						id="saveLinkedAccountButton"
						value="Create Link"
						styleClass="submit-dialog-button"
						onsuccess="linkedAccountDlg.hide()"
						disabled="#{linkedAccountViewBean.saveLinkedAccountButtonDisabled}"
						actionListener="#{linkedAccountControllerBean.handleCreateLinkedAccount}"
						/>
					
				</p:toolbarGroup>
			</p:toolbar>
			</p:outputPanel>
		
	</p:panel>
	<p:confirmDialog id="confirmDialog"
		header="Confirm Unlink" severity="alert" widgetVar="confirmation" width="25%"
		appendToBody="true"
		message="Would you like to deactivate and rename the platform user account after unlinking?."
		>
		
		<p:commandButton id="confirmTrue" value="Yes, Deactivate"
			actionListener="#{linkedAccountControllerBean.handleUnlinkAccount(true)}"
			oncomplete="confirmation.hide()"
			update="linkAccountPanel msgs"
			process="@this"
			/>
		<p:commandButton id="confirmFalse" value="Unlink Only"
			actionListener="#{linkedAccountControllerBean.handleUnlinkAccount(false)}"
			oncomplete="confirmation.hide()"
			update="linkAccountPanel msgs"
			process="@this"
			/>
		<p:commandButton id="decline" value="Cancel, do nothing" onclick="confirmation.hide()" type="button"/>
		
	</p:confirmDialog>
	<p:dialog
				header="Select Platform User"
				widgetVar="selectPlatformUser"
				resizable="false"
				closable="false"
				closeOnEscape="true"
				showEffect="clip" 
				hideEffect="clip"
				width="600"
				onHide="tblSubjects.clearFilters()">
				<p:outputPanel id="dlgSubjectPanel">
					<pdinh:lazySubjectList/>
					<p:separator/>
					<p:commandButton 
						value="Cancel"
						styleClass="submit-dialog-button"
						onclick="selectPlatformUser.hide()"
						update="linkAccountPanel"
						partialSubmit="true"
						process="@this">						
					</p:commandButton>					
					<p:commandButton
						value="Select"
						styleClass="submit-dialog-button"
						oncomplete="handleCompletionRequest(xhr,status,args,selectPlatformUser)"
						actionListener="#{linkedAccountControllerBean.handleSelectPlatformUser}"
						update="linkAccountPanel"
						partialSubmit="true"
						process="@this"/>
				</p:outputPanel>				
			</p:dialog>	
 </composite:implementation>
</html>