<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>
<composite:implementation>
	<h:panelGrid columns="2">
		<h:outputText value="Client Name" styleClass="label" />
		<h:outputText value="#{sessionBean.company.coName}" style="width: 400px"></h:outputText>
		<h:outputText value="Name" styleClass="label" />
		<h:inputText value="#{emailTemplateViewBean.newTemplateTitle}" maxlength="48" style="width: 400px" />
		<h:outputText value="Style" styleClass="label" />
		<h:inputText value="#{emailTemplateViewBean.newTemplateConst}" maxlength="48" style="width: 400px" />
		<h:outputText value="Type" styleClass="label" />
		<h:inputText value="#{emailTemplateViewBean.newTemplateType}" maxlength="48" style="width: 400px" />
		<h:outputText value="Is Template?" styleClass="label" />
		<h:selectOneMenu id="isTemplateSelect"
			value="#{emailTemplateViewBean.newTemplateIsTemplate}">
			<f:selectItem itemValue="0" itemLabel="No" />
			<f:selectItem itemValue="1" itemLabel="Yes" />
		</h:selectOneMenu>
	</h:panelGrid>
</composite:implementation>
</html>