<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">
  <composite:interface>
  </composite:interface>

  <composite:implementation>
	  <p:tabView style="width:800px;">  
	  
	    <p:tab title="Participant Clipboard">	   

       	 	<f:facet name="header">
				    <h:outputText value="Participants"/>
				  </f:facet>
				  <f:facet name="messageFacet">
				  	<h:messages></h:messages>
				  </f:facet>
				  <p:separator></p:separator>
				  <p:outputPanel id="pptCbControls">
				  	<p:commandButton actionListener="#{participantClipboardControllerBean.handleRemoveParticipants}" value="Remove selected" 
				  		disabled="#{participantClipboardViewBean.removeParticipantsDisabled}" update="tblParticipantClipboard"/>
				  	<p:commandButton value="Clear clipboard" disabled="#{sessionBean.selectedUsers.size() == 0}" onclick="confirmClearClipboard.show()"/>
					  	
				  </p:outputPanel>
				  <p:separator></p:separator>
				  <p:dataTable id="tblParticipantClipboard" value="#{participantClipboardViewBean.participants}"
						var="participant" widgetVar="participantsCBTable"
						paginator="true" rows="10" selectionMode="multiple"
						selection="#{participantClipboardViewBean.selectedParticipants}"
						rowSelectListener="#{participantClipboardControllerBean.handleRowSelect}"
						rowUnselectListener="#{participantClipboardControllerBean.handleRowUnselect}"
						onRowSelectUpdate="pptCbControls"	
						onRowUnselectUpdate="pptCbControls"
						>
						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Search all fields:" />
								<p:inputText id="globalFilter" onkeyup="participantsCBTable.filter()"
									style="width:150px; background: none; background-color:#FFF;" />
							</p:outputPanel>
						</f:facet>
								  
						<p:column sortBy="#{participant.firstName}"
							filterBy="#{participant.firstName}">
							<f:facet name="header">
								<h:outputText value="First name" />
							</f:facet>
							<h:outputText value="#{participant.firstName}" />
						</p:column>
	
						<p:column sortBy="#{participant.lastName}"
							filterBy="#{participant.lastName}">
							<f:facet name="header">
								<h:outputText value="Last name" />
							</f:facet>
							<h:outputText value="#{participant.lastName}" />
						</p:column>
	
						<p:column sortBy="#{participant.email}"
							filterBy="#{participant.email}">
							<f:facet name="header">
								<h:outputText value="Email" />
							</f:facet>
							<h:outputText value="#{participant.email}" />
						</p:column>
					
				</p:dataTable>
				  
					
	    </p:tab>	   
		</p:tabView>
	</composite:implementation>
		
</html>