<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

<composite:interface>
	<composite:attribute name="userTypeName" type="java.lang.String"
		default="User" />
</composite:interface>

<composite:implementation>
	<p:messages id="msgs" globalOnly="true" />
	<p:tabView id="tbvParticipantInfo" styleClass="tab-view"
		widgetVar="participantInfoTabs">
		<p:tab id="pptInfoTab" title="#{cc.attrs.userTypeName} Info">
			<!-- JJB: Needed to add div to support Firefox -->

			<div style="overflow: auto">
				<p:messages id="langPrefMsg" for="langPref" showDetail="true" />
				<p:messages for="firstName" showDetail="true" />
				<div style="float: left; width: 100%;">
					<p:panelGrid
						styleClass="width-100-percent padding-none margin-none">
						<p:row>
							<p:column width="50%"
								styleClass="valign-top align-left padding-none margin-none">
								<p:panelGrid id="participantSetup" columns="2"
									styleClass="width-auto"
									columnClasses="padding-4px, padding-4px">
									<h:outputLabel for="firstName"
										value="First Name &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
										styleClass="label nowrap" escape="false" />
									<p:outputPanel>
										<p:inputText id="firstName" size="30"
											value="#{participantInfoViewBean.firstName}" maxlength="48"
											onchange="checkUsername(); enableSaveButton();"
											disabled="#{participantInfoViewBean.firstNameDisabled}" />
										<h:outputText style="padding-left:5px;color:red"
											value="#{participantInfoViewBean.firstNameMsg}" />
									</p:outputPanel>
									<h:outputLabel for="lastName"
										value="Last Name &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
										styleClass="label nowrap" escape="false" />
									<p:outputPanel>
										<p:inputText id="lastName" size="30"
											value="#{participantInfoViewBean.lastName}" maxlength="48"
											onchange="checkUsername(); enableSaveButton();"
											disabled="#{participantInfoViewBean.lastNameDisabled}" />
										<h:outputText style="padding-left:5px;color:red"
											value="#{participantInfoViewBean.lastNameMsg}" />
									</p:outputPanel>

									<h:outputLabel for="email"
										value="Email &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
													styleClass="label nowrap" escape="false" />
									<h:inputText id="email" value="#{participantInfoViewBean.email}"
										size="30" maxlength="255" styleClass="ui-inputfield"
										onchange="checkUsername(); enableSaveButton();"
										disabled="#{participantInfoViewBean.emailDisabled}"
										validatorMessage="email address is not valid">
										<f:validateRegex pattern="([^\s@]+@[^\s@]+\.[^\s@]+)" />
									</h:inputText>
									<p:spacer />
									<p:message for="email"></p:message>

									<h:outputLabel for="businessPhone" value="Business Phone"
										styleClass="label nowrap" />
									<p:outputPanel>
										<p:inputText id="businessPhone"
											value="#{participantInfoViewBean.businessPhone}" size="30"
											maxlength="255"
											disabled="#{participantInfoViewBean.businessPhoneDisabled}"
											onchange="enableSaveButton();" />
									</p:outputPanel>

									<h:outputLabel for="username"
										value="Logon ID &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
										styleClass="label nowrap" escape="false" />
									<p:outputPanel>
										<p:inputText id="username"
											value="#{participantInfoViewBean.username}" size="30"
											maxlength="50"
											disabled="#{participantInfoViewBean.usernameDisabled}"
											onchange="enableSaveButton();" />
										<h:outputText style="padding-left:5px;color:red"
											value="#{participantInfoViewBean.loginIdMsg}" />
									</p:outputPanel>
									<!--
									<h:outputLabel for="generateUsername" value="" styleClass="label"/>
									<p:commandButton id="generateUsername" value="Generate Logon ID" actionListener="#{participantInfoControllerBean.handleRefreshUsername}" disabled="#{!participantInfoViewBean.generateUsernameRendered}" update="username"/>
								 -->
									<h:outputLabel for="langPref" value="Language &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
										styleClass="label nowrap" escape="false"/>
									<p:outputPanel>
										<p:selectOneMenu id="langPref" style="width:183px"
											value="#{participantInfoViewBean.languageId}"
											onchange="enableSaveButton();">
											<f:selectItems var="language"
												value="#{participantInfoViewBean.languages}"
												itemValue="#{language.code}"
												itemLabel="#{language.transName}" />
											<p:ajax
												listener="#{participantInfoControllerBean.handleLanguageChange}"
												update="langPrefMsg" />
										</p:selectOneMenu>
									</p:outputPanel>

									<h:outputLabel for="languageMatrixDoc" />
									<p:outputPanel id="languageMatrixDoc">
										<h:panelGrid columns="2">
											<p:graphicImage
												value="#{resource['images/icons/excel_16x16.png']}"
												style="border-width: 0px" />
											<h:outputLink styleClass="underlined"
												value="#{sessionBean.serverAndContextPath}/resources/documents/PALMS_Language_Matrix.xls">Available Languages</h:outputLink>
										</h:panelGrid>
									</p:outputPanel>
									<!-- 
									<h:outputLabel for="officeLocation"
										value="Delivery Office &lt;font color='#ff0000'&gt;*&lt;/font&gt;"
										styleClass="label nowrap" escape="false" />
									<p:outputPanel>
										<p:selectOneMenu id="officeLocation" style="width:200px;"
											value="#{participantInfoViewBean.selectedOfficeLocationId}"
											onchange="enableSaveButton();">
											<f:selectItems
												value="#{participantInfoViewBean.officeLocations}"
												var="officeLocation"
												itemValue="#{officeLocation.officeLocationId}"
												itemLabel="#{officeLocation.location}" />
										</p:selectOneMenu>
										<h:outputText style="padding-left:5px;color:red"
											value="#{participantInfoViewBean.officeLocationMsg}" />
									</p:outputPanel>
									 -->
									<h:outputLabel for="optional1" value="Optional Field 1"
													styleClass="label nowrap" />
									<h:inputText id="optional1" styleClass="ui-inputfield"
										value="#{participantInfoViewBean.optional1}" size="30"
										maxlength="255" onchange="enableSaveButton();" />

									<h:outputLabel for="optional2" value="Optional Field 2"
													styleClass="label nowrap" />
									<h:inputText id="optional2" styleClass="ui-inputfield"
										value="#{participantInfoViewBean.optional2}" size="30"
										maxlength="255" onchange="enableSaveButton();" />

									<h:outputLabel for="optional3" value="Optional Field 3"
													styleClass="label nowrap" />
									<h:inputText id="optional3" styleClass="ui-inputfield"
										value="#{participantInfoViewBean.optional3}" size="30"
										maxlength="255" onchange="enableSaveButton();" />

									<h:outputLabel for="supervisorName" value="Supervisor Name"
													styleClass="label nowrap" />
									<h:inputText id="supervisorName" styleClass="ui-inputfield"
										value="#{participantInfoViewBean.supervisorName}" size="30"
										maxlength="255" onchange="enableSaveButton();" />

									<h:outputLabel for="supervisorEmail" value="Supervisor Email"
													styleClass="label nowrap" />
									<p:inputText id="supervisorEmail"
										value="#{participantInfoViewBean.supervisorEmail}" size="30"
										maxlength="255" onchange="enableSaveButton();"
										validatorMessage="supervisor email address is not valid">
										<f:validateRegex pattern="([^\s@]+@[^\s@]+\.[^\s@]+)" />
									</p:inputText>
									<p:spacer />
									<p:message for="supervisorEmail"></p:message>
									<h:outputLabel for="coachFlag" value="Set as Coach"
										styleClass="label nowrap"
										rendered="#{participantInfoViewBean.coachFlagRendered}" />
									<p:selectBooleanCheckbox id="coachFlag"
										value="#{participantInfoViewBean.coachFlag}"
										rendered="#{participantInfoViewBean.coachFlagRendered}"
										onchange="enableSaveButton();" />

									<h:outputLabel for="password" value="Password"
										styleClass="label nowrap"
										rendered="#{not participantInfoViewBean.user or participantInfoViewBean.showCopyString}" />

									<h:outputText id="password"
										value="#{participantInfoViewBean.password}"
										rendered="#{not participantInfoViewBean.user or participantInfoViewBean.showCopyString}" />

									<h:outputLabel for="resetPassword" value="" styleClass="label"
										rendered="#{not participantInfoViewBean.user or participantInfoViewBean.showCopyString}" />

									<p:commandButton id="resetPassword" value="Reset Password"
										actionListener="#{participantInfoControllerBean.handleResetPassword}"
										disabled="#{!participantInfoViewBean.resetPasswordRendered or participantInfoViewBean.passwordDisabled}"
										rendered="#{not participantInfoViewBean.user or participantInfoViewBean.showCopyString}"
										update="password, resetPassword, copyCredentialsInput" />

								</p:panelGrid>
							</p:column>
							<p:column width="50%" styleClass="valign-top align-left padding-none margin-none padding-left-10px">
								<div style="overflow: auto; max-height: 485px !important; width: 100%;">
									<shiro:hasPermission name="viewParticipantInfoFields">
										<kf:customForm formId="customForm" viewBean="#{participantInfoViewBean.userView}" controllerBean="#{participantInfoControllerBean}" />
									</shiro:hasPermission>
								</div>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2" styleClass="padding-none margin-none">
								<p:panelGrid columns="2" styleClass="width-auto"
									columnClasses="padding-4px, padding-4px">
									<h:outputLabel for="copyCredentialsInput"
										rendered="#{participantInfoViewBean.showCopyString}"
										value="Current Login Credentials" styleClass="label" />

									<h:outputText id="copyCredentialsInput"
										rendered="#{participantInfoViewBean.showCopyString}"
										value="#{participantInfoViewBean.copyString}" />
								</p:panelGrid>
							</p:column>
						</p:row>
					</p:panelGrid>
					<p:remoteCommand name="checkUsername" update="username"
						actionListener="#{participantInfoControllerBean.handleGenerateUsername}">
						<f:setPropertyActionListener
							target="#{participantInfoViewBean.firstName}"
							value="firstName.value" />
						<f:setPropertyActionListener
							target="#{participantInfoViewBean.lastName}"
							value="lastName.value" />
						<f:setPropertyActionListener
							target="#{participantInfoViewBean.email}" value="email.value" />
					</p:remoteCommand>

					<p:remoteCommand name="enableSaveButton"
						update=":#{p:component('savePptButton')}">
						<f:setPropertyActionListener
							target="#{participantInfoViewBean.saveButtonDisabled}"
							value="false" />
					</p:remoteCommand>

				</div>
				<div style="float: left">
					<p:outputPanel id="selections"
						rendered="#{participantInfoViewBean.settingsTabRendered}">
						<h:panelGrid columns="1">
							<h:outputLabel for="chqLang" value="CHQ Language"
								styleClass="label"
								rendered="#{participantInfoViewBean.languageCHQRendered}" />

							<h:selectOneMenu id="chqLang"
								value="#{participantInfoViewBean.languageCHQ}"
								rendered="#{participantInfoViewBean.languageCHQRendered}"
								onchange="enableSaveButton();">
								<f:selectItems value="#{participantInfoViewBean.languagesCHQ}"
									var="lang" itemValue="#{lang.code}"
									itemLabel="#{lang.transName}" />
							</h:selectOneMenu>

							<h:outputLabel for="fexLang" value="Financial Exercise Language"
								styleClass="label"
								rendered="#{participantInfoViewBean.languageFEXRendered}" />

							<h:selectOneMenu id="fexLang"
								value="#{participantInfoViewBean.languageFEX}"
								rendered="#{participantInfoViewBean.languageFEXRendered}"
								onchange="enableSaveButton();">
								<f:selectItems value="#{participantInfoViewBean.languagesFEX}"
									var="lang" itemValue="#{lang.code}"
									itemLabel="#{lang.transName}" />
							</h:selectOneMenu>
						</h:panelGrid>
					</p:outputPanel>
				</div>
			</div>
		</p:tab>

		<p:tab title="Notes"
			rendered="#{participantInfoViewBean.isEditAction}">

			<table border="0" cellpadding="5" width="100%">
				<tr>
					<td><h:outputText value="Notes" styleClass="labelLarge" /></td>
					<td><h:outputText value="Saved Notes" styleClass="labelLarge" /></td>
				</tr>
				<tr>
					<td width="45%" height="300"><p:inputTextarea id="newNote"
							value="#{participantInfoViewBean.newNoteText}" autoResize="false"
							style="width:97%; height: 100%" /></td>
					<td width="45%" height="300"><p:panel id="userNotes"
							style="width:100%; height: 100%; overflow:auto">
							<ui:repeat var="note" value="#{participantInfoViewBean.notes}">
								<h:outputText value="#{note.text}" />
								<br />
								<br />
								<div style="font-style: italic; font-size: smaller;">
									<h:outputText value="#{note.author}" />
									,
									<h:outputText value="#{note.date}" />
								</div>
								<p:separator style="margin-bottom:10px" />
							</ui:repeat>
						</p:panel></td>
				</tr>
				<tr>
					<td><p:commandButton id="btnSaveNote" value="Save Note"
							actionListener="#{participantInfoControllerBean.handleAddNote}"
							styleClass="submit-dialog-button"
							update="userNotes newNote @this" /></td>
					<td><p:spacer /></td>
				</tr>
			</table>
		</p:tab>

		<p:tab title="Documents"
			rendered="#{participantInfoViewBean.isEditAction}">
			<pdinh:documentsPanel id="cmpUserDocs"
				viewBean="#{userDocumentsViewBean}"
				controllerBean="#{userDocumentsControllerBean}" />
		</p:tab>

		<p:tab title="Assigned Projects"
			rendered="#{participantInfoViewBean.isEditAction}">
			<p:dataTable id="tblAssignedProjects" widgetVar="assignedProjects"
				rowIndexVar="indexVar" var="prj"
				value="#{participantInfoViewBean.projects}" paginator="true"
				rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginatorPosition="bottom" style="font-size: 9pt !important">

				<p:column sortBy="#{prj.name}" styleClass="column-header-align-top">
					<f:facet name="header">
						<h:outputText value="Project" />
					</f:facet>
					<h:outputText value="#{prj.name}" />
				</p:column>

				<p:column sortBy="#{prj.code}" styleClass="column-header-align-top">
					<f:facet name="header">
						<h:outputText value="Code" />
					</f:facet>
					<h:outputText value="#{prj.code}" />
				</p:column>

				<p:column sortBy="#{prj.type}" styleClass="column-header-align-top">
					<f:facet name="header">
						<h:outputText value="Type" />
					</f:facet>
					<h:outputText value="#{prj.type}" />
				</p:column>

				<p:column sortBy="#{prj.targetLevel}"
					styleClass="column-header-align-top" style="text-align: center">
					<f:facet name="header">
						<h:outputText value="Target Level" />
					</f:facet>
					<h:outputText value="#{prj.targetLevel}" />
				</p:column>
			</p:dataTable>
		</p:tab>
		<shiro:hasPermission name="viewParticipantInfoFields">
			<p:tab id="customFieldsTab" title="Participant Info"
				rendered="${participantInfoViewBean.participantView.renderCustomForm and participantInfoViewBean.participantView.hasCustomFormFields()}">
				<div
					style="overflow: auto; max-height: 485px !important; width: 100%;">
					<kf:customForm formId="customForm"
						viewBean="#{participantInfoViewBean.participantView}"
						controllerBean="#{participantInfoControllerBean}" />
				</div>
			</p:tab>
		</shiro:hasPermission>

		<p:tab title="Consent History" rendered="#{participantInfoViewBean.isEditAction}">
			<kf:consentHistory history="#{participantInfoViewBean.consentHistory}" />
		</p:tab>


	</p:tabView>
</composite:implementation>

</html>
