<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<composite:implementation>
	<p:tooltip />
	<p:panel header="${productEnablementViewBean.companyName}">
		<p:dataTable 
				id="productTable" 
				selectionMode="single" 
				border="0"
				widgetVar="productTable"				
				selection="#{productEnablementViewBean.selectedProduct}"
				value="#{productEnablementViewBean.productStatuses}" 
				var="product"
				rowKey="#{product.productId}"
				scrollable="true"
				scrollHeight="252"
				filteredValue="#{productEnablementViewBean.filteredProducts}"
				rowStyleClass="#{product.enabled ? 'good-text' : 'error-text'}"
				style="width: 796px">
				
				<p:ajax event="filter" global="false"/>
				<p:ajax event="rowSelect" global="false" 
					listener="#{productEnablementControllerBean.handleRowSelect}" 
					update=":frmClientList:prodEnableComp:enableDisableButtons"/>

				<p:column id="colProductId" sortBy="#{product.productId}" style="width: 30px">
					<f:facet name="header">
						<h:outputText value="Id" />
					</f:facet>
					<h:outputText value="#{product.productId}" />
				</p:column>
				<p:column id="colProductName" sortBy="#{product.productName}"
					filterBy="#{product.productName}" filterMatchMode="contains" 
					styleClass="column-header-align-top" style="width: 280px">
					<f:facet name="header">
						<h:outputText value="Product Name" />
					</f:facet>
					<h:outputText value="#{product.productName}" />
				</p:column>
				<p:column id="colProductCode" sortBy="#{product.productCode}"
					filterBy="#{product.productCode}" filterMatchMode="contains" 
					styleClass="column-header-align-top" style="width: 140px">
					<f:facet name="header">
						<h:outputText value="Product Code" />
					</f:facet>
					<h:outputText value="#{product.productCode}" />
				</p:column>
				<p:column id="colStatus" sortBy="#{product.productStatus}"
					styleClass="column-header-align-top align-center" style="width: 80px">
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					<h:outputText value="#{product.productStatus}" />
				</p:column>
				<p:column id="colProductExpiration" sortBy="#{product.expirationDate}"
					styleClass="column-header-align-top align-center" style="width: 140px">
					<f:facet name="header">
						<h:outputText value="Expiration Date" />
					</f:facet>
					<h:outputText value="#{product.expirationDate}" >
						<f:convertDateTime pattern="dd-MMM-yyyy"/>
					</h:outputText>
				</p:column>
			</p:dataTable>
	</p:panel>
	<p:spacer height="10" width="10"/>
	<p:toolbar id="enableDisableButtons" styleClass="clear-toolbar">
		<p:toolbarGroup id="enableDisableGroup" align="right">
			<p:commandButton id="enableButton" value="Enable" update="productTable"
				disabled="${productEnablementViewBean.enableButtonDisabled}"
				actionListener="${productEnablementControllerBean.handleEnableProduct}"
				onstart="pleaseWaitDialog.show()"
				oncomplete="pleaseWaitDialog.hide();productTable.clearFilters(); productTable.unselectAllRows();"
				></p:commandButton>
			<p:commandButton id="disableButton" value="Disable" update="productTable"
				disabled="${productEnablementViewBean.disableButtonDisabled}"
				actionListener="${productEnablementControllerBean.handleDisableProduct}"
				onstart="pleaseWaitDialog.show()"
				oncomplete="pleaseWaitDialog.hide();productTable.clearFilters(); productTable.unselectAllRows();"
				></p:commandButton>
		</p:toolbarGroup>
	</p:toolbar>
 </composite:implementation>
</html>