<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:shiro="http://shiro.apache.org/tags">

	<composite:interface>
		<composite:attribute name="clientListStyleClass" required="false" default="tab"/>
		<composite:attribute name="projectListStyleClass" required="false" default="tab"/>
		<composite:attribute name="participantListStyleClass" required="false" default="tab"/>
		<composite:attribute name="reportCenterStyleClass" required="false" default="#{sessionBean.reportCenterDisabled?'tab-disabled':'tab'}"/>
		<composite:attribute name="globalEmailTemplatesListStyleClass" required="false" default="tab"/>
		<composite:attribute name="emailTemplatesListStyleClass" required="false" default="tab"/>
		<composite:attribute name="superUserListStyleClass" required="false" default="tab"/>
		<composite:attribute name="clipboardStyleClass" required="false" default="tab"/>
		<composite:attribute name="sysAdminStyleClass" required="false" default="tab"/>
		<composite:attribute name="fieldDictionaryStyleClass" required="false" default="tab"/>
		<composite:attribute name="disabled" required="false" default="false"/>
	</composite:interface>

	<composite:implementation>
		<div style="position: relative; top: 15px">
			<shiro:hasPermission name="accessClientList">
				<div style="margin-left: 25px" class="#{cc.attrs.clientListStyleClass}-background tabBtn">
					<p:commandButton  styleClass="#{cc.attrs.clientListStyleClass}" value="Clients" 
						action="#{sessionBean.handleNavClientList}" partialSubmit="true" process="@this" global="false"
						onstart="pleaseWaitDialog.show()"/>
				</div>
			</shiro:hasPermission>
			<shiro:hasPermission name="accessClientProjectList">
				<div class="tabBtn #{cc.attrs.projectListStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.projectListStyleClass}" value="Projects" 
						action="#{sessionBean.handleNavProjectList}" disabled="#{cc.attrs.disabled}" partialSubmit="true" process="@this" global="false"
						onstart="pleaseWaitDialog.show()"/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="accessClientParticipantList">
				<div class="tabBtn #{cc.attrs.participantListStyleClass}-background">
					<p:commandButton  
						styleClass="#{cc.attrs.participantListStyleClass}" value="Users" 
						action="#{sessionBean.handleNavParticipantList}" disabled="#{cc.attrs.disabled}" partialSubmit="true" process="@this" global="false"
						onstart="pleaseWaitDialog.show()"/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="reportRequestView">
				<div class="tabBtn #{cc.attrs.reportCenterStyleClass}-background">
					<p:commandButton  
						styleClass="#{cc.attrs.reportCenterStyleClass}" value="Report Center" 
						action="#{sessionBean.handleNavReportCenter}" disabled="#{sessionBean.reportCenterDisabled}" partialSubmit="true" process="@this" global="false"
						/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="accessClientEmailTemplates">
				<div class="tabBtn #{cc.attrs.emailTemplatesListStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.emailTemplatesListStyleClass}" value="Client Email" 
						action="#{sessionBean.handleNavEmailTemplatesList}" disabled="#{cc.attrs.disabled}" partialSubmit="true" process="@this" global="false"
						 onstart="pleaseWaitDialog.show()"/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="viewFieldDictionary">
				<div class="tabBtn #{cc.attrs.fieldDictionaryStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.fieldDictionaryStyleClass}" value="Field Dictionary" 
						action="#{sessionBean.handleNavFieldDictionary}" disabled="#{cc.attrs.disabled}" 
						partialSubmit="true" process="@this" global="false"
						 onstart="pleaseWaitDialog.show()"/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="accessSuperUserList">
				<div class="tabBtn #{cc.attrs.superUserListStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.superUserListStyleClass}" value="Super Admins" 
					action="#{sessionBean.handleNavSuperUserList}" disabled="#{cc.attrs.disabled}" partialSubmit="true" process="@this" global="false"
					onstart="pleaseWaitDialog.show()"/>
				</div>	
			</shiro:hasPermission>
			<shiro:hasPermission name="accessPalmsAdminClipboard">
				<div class="tabBtn #{cc.attrs.clipboardStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.clipboardStyleClass}" value="Clipboard (#{sessionBean.selectedUsers.size()})" 
					action="participantClipboard.xhtml?faces-redirect=true" disabled="#{cc.attrs.disabled}" partialSubmit="true" process="@this" global="false"
					onstart="pleaseWaitDialog.show()"/>
				</div>
			</shiro:hasPermission>
			<shiro:hasPermission name="managePalmsUserAdministration">
				<div style="float: right; margin-right: 25px" class="tabBtn #{cc.attrs.sysAdminStyleClass}-background">
					<p:commandButton  styleClass="#{cc.attrs.sysAdminStyleClass}" value="Sys Admin" 
					action="sysAdmin.xhtml?faces-redirect=true" partialSubmit="true" process="@this" global="false"
					onstart="pleaseWaitDialog.show()"/>
				</div>
			</shiro:hasPermission>
		</div>		
	</composite:implementation>
</html>