<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="formId" type="java.lang.String" required="true"/>
</composite:interface>

<composite:implementation>
	<p:messages id="msgs" globalOnly="true" autoUpdate="true"/>
	
	<p:tabView
		id="tbvProjectSetup"
		widgetVar="projectSetupTabView" 
		styleClass="tab-view">
		<p:ajax 
			event="tabChange" 
			listener="#{projectSetupControllerBean.handleTabChange}"
			update="pnlClientTeam pnlInternalTeam pnlProjectInformation"
			partialSubmit="true"
			process="@this"/>		
		<p:tab
			id="projectInfo" 
			title="Project Information">
			<p:messages for="projectInfoMsgs" showDetail="true" />
			<p:outputPanel id="pnlProjectInformation">
				<p:panel id="pnlGeneralInfo" header="General Information">
					<p:panelGrid id="setupPanel">
						<p:row>
							<p:column>						
								<p:outputLabel
									for="projectName"
									value="Project Name"
									styleClass="label min-label-width #{(not projectSetupViewBean.validProjectName) ? 'error-text' : 'good-text'}"
									escape="false">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</p:outputLabel>	
							</p:column>	
							<p:column>
								<p:inputText
									id="projectName"
									maxlength="64"
									style="width: 35.8em"
									value="#{projectSetupViewBean.projectName}"/>
							</p:column>
						</p:row>
						
						<p:row>
							<p:column>									
								<p:outputLabel
									for="dueDate"
									value="Due Date"
									styleClass="label #{(not projectSetupViewBean.validDueDate) ? 'error-text' : 'good-text'}">
									<h:outputText value="*" styleClass="asterisk-red" rendered="#{projectSetupViewBean.viaEDGE}"/>
								</p:outputLabel>	
							</p:column>
							<p:column>
								<p:calendar 
									id="dueDate"
									readonly="false"
									value="#{projectSetupViewBean.dueDate}"
									pattern="dd-MMM-yyyy"
									showOn="button"
									styleClass="calendar"/>
							</p:column>
						</p:row>
						
						<p:row>
							<p:column>					
								<p:outputLabel
									for="officeLocation"
									value="Client Mgmt Office"
									styleClass="label min-label-width #{(not projectSetupViewBean.validOfficeLocation) ? 'error-text' : 'good-text'}">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</p:outputLabel>		
							</p:column>
							<p:column>
								<p:selectOneMenu
									id="officeLocation"
									value="#{projectSetupViewBean.selectedOfficeLocationId}"
									style="width: 41.6em">
									<f:selectItem 
										itemLabel="--- Select One ---"
										itemValue="-1"/>									
									<f:selectItems
										value="#{projectSetupViewBean.officeLocations}"
										var="officeLocation"
										itemValue="#{officeLocation.officeLocationId}"
										itemLabel="#{officeLocation.location}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>	
						
						<p:row>
							<p:column>
								<p:outputLabel
									for="lstProjectTypes"
									value="Project Type"
									styleClass="label min-label-width" />
							</p:column>
							<p:column>			
								<p:selectOneMenu
									id="lstProjectTypes"
									value="#{projectSetupViewBean.projectTypeId}"
									disabled="#{projectSetupViewBean.disallowEditProject}"
									style="width: 41.6em">
									<f:selectItems
										var="projectType"
										value="#{projectSetupViewBean.projectTypes}"
										itemValue="#{projectType.type}"
										itemLabel="#{projectType.name}" />
									<p:ajax
										listener="#{projectSetupControllerBean.handleChangeProjectType}"
										process=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation"
										update=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation :frmProjectSetup:actionButtons"
										partialSubmit="true"/>
								</p:selectOneMenu>						
							</p:column>
						</p:row>
						
						<p:row rendered="#{projectSetupViewBean.renderBillable}">
							<p:column>
								<p:outputLabel
									for="billable"
									value="Billable"
									styleClass="label min-label-width" />
							</p:column>
							<p:column>
								<p:outputPanel layout="block" styleClass="float-left">
									<h:selectOneRadio 
										id="billable" 
										value="#{projectSetupViewBean.billable}">
										<f:selectItem itemLabel="Yes" itemValue="true" />  
										<f:selectItem itemLabel="No" itemValue="false" />
										<p:ajax
											listener="#{projectSetupControllerBean.handleChangeBillable}"
											process=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation"
											update="setupPanel"
											partialSubmit="true"/>									
									</h:selectOneRadio>
								</p:outputPanel>
								<p:outputPanel layout="block" styleClass="float-left">
									<pdinh:helpButton messageKey="BillableProject" />
								</p:outputPanel>		
							</p:column>
						</p:row>

						<p:row rendered="#{projectSetupViewBean.renderNoneBillableTypes and projectSetupViewBean.renderBillable}">
							<p:column>
								<p:spacer height="1" width="1"/>
							</p:column>
							<p:column>
								<p:selectOneMenu
									id="lstNoneBillableTypes"
									value="#{projectSetupViewBean.noneBillableTypeId}"
									style="width: 41.6em">
									<f:selectItem 
										itemLabel="--- Select One ---"
										itemValue="-1"/>									
									<f:selectItems
										var="noneBillableType"
										value="#{projectSetupViewBean.noneBillableTypes}"
										itemValue="#{noneBillableType.id}"
										itemLabel="#{noneBillableType.name}" />
									<p:ajax
										listener="#{projectSetupControllerBean.handleChangeNoneBillableType}"
										process="@this"
										update="projectCode projectCodeLabel"
										partialSubmit="true"/>										
								</p:selectOneMenu>
							</p:column>
						</p:row>
																		
						<p:row>
							<p:column>
								<p:outputLabel
									id="projectCodeLabel"
									for="projectCode"
									value="#{(projectSetupViewBean.renderBillable) ? 'Engagement ID' : 'Project Code'}"
									styleClass="label min-label-width #{(not projectSetupViewBean.validProjectCode) ? 'error-text' : 'good-text'}">
									<h:outputText value="*" styleClass="asterisk-red" rendered="#{projectSetupViewBean.renderBillable}"/>
								</p:outputLabel>	
							</p:column>
							<p:column>
								<p:inputText
									id="projectCode"
									maxlength="25"
									disabled="#{projectSetupViewBean.disabledProjectCode}"
									value="#{projectSetupViewBean.projectCode}"
									style="width: 41em"/>
							</p:column>
						</p:row>						
							
						<p:row rendered="#{projectSetupViewBean.renderToggleProjectOpen}">
							<p:column>
								<p:outputLabel
									for="closeProjectButton"
									value="Status"
									styleClass="label min-label-width" />							
							</p:column>
							<p:column>
								<p:outputPanel layout="block" styleClass="float-left">
									<p:commandButton
										id="closeProjectButton" 
										value="#{(projectSetupViewBean.projectOpen) ? 'Open' : 'Closed'}" 					
										onclick="confirmCloseProject.show()"
										styleClass="float-right"
										title="Click to change project status."/>
								</p:outputPanel>
								<p:outputPanel layout="block" styleClass="float-left help-icon-adj-button">			
									<pdinh:helpButton messageKey="OpenCloseProject"/>							
								</p:outputPanel>								
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:panel>
				<p:outputPanel id="generalConfigPanel">								
					<p:spacer height="10" rendered="#{projectSetupViewBean.renderConfigurationPanel}"/>				
					<p:panel
						id="pnlGeneralConfig"
						header="Configuration"
						rendered="#{projectSetupViewBean.renderConfigurationPanel}">
						<p:panelGrid>
							
							<p:row rendered="#{projectSetupViewBean.renderAssignedPM}" >
								<p:column>
									<p:outputLabel
										for="assignedPmId"
										value="Assigned PM/PC"
										styleClass="label min-label-width #{(not projectSetupViewBean.validAssignedPmPc) ? 'error-text' : 'good-text'}">
										<h:outputText value="*" styleClass="asterisk-red"/>
									</p:outputLabel>	
								</p:column>			
								<p:column>
									<p:outputPanel layout="block" styleClass="float-left">
										<p:selectOneMenu 
											id="assignedPmId"
											value="#{projectSetupViewBean.assignedPmId}"
											filter="true" filterMatchMode="contains">
											<f:selectItem 
												itemLabel="--- Select One ---"
												itemValue=""/>										
											<f:selectItems
												value="#{projectSetupViewBean.assignedPmPcs}"
												var="ap"
												itemLabel="#{ap.firstname} #{ap.lastname}"
												itemValue="#{ap.username}" />
										</p:selectOneMenu>
									</p:outputPanel>
									<pdinh:helpButton messageKey="AssignedPMPC" styleClass="float-left"/>
								</p:column>
							</p:row>
							
							<p:row rendered="#{projectSetupViewBean.renderInternalScheduler}">
								<p:column>
									<p:outputLabel
										for="internalScheduler"
										value="Internal Scheduler"
										styleClass="label min-label-width #{(not projectSetupViewBean.validInternalScheduler) ? 'error-text' : 'good-text'}">
										<h:outputText value="*" styleClass="asterisk-red"/>
									</p:outputLabel>											
								</p:column>
								<p:column>
									<p:outputPanel layout="block" styleClass="float-left">
										<p:selectOneMenu
											id="internalScheduler"
											value="#{projectSetupViewBean.internalSchedulerId}"
											filter="true" filterMatchMode="contains">
											<f:selectItem 
												itemLabel="--- Select One ---"
												itemValue=""/>
											<f:selectItems
												value="#{projectSetupViewBean.internalSchedulers}"
												var="tm"
												itemLabel="#{tm.firstname} #{tm.lastname}"
												itemValue="#{tm.username}" />
										</p:selectOneMenu>
									</p:outputPanel>
									<pdinh:helpButton messageKey="InternalScheduler" styleClass="float-left"/>
								</p:column>
							</p:row>	
							<p:row rendered="#{projectSetupViewBean.renderTargetLevels}">
								<p:column>
									<p:outputLabel
										for="targetLevel"
										value="#{(projectSetupViewBean.abyd) ? 'Level' : 'Target Level'}"
										styleClass="label min-label-width #{(not projectSetupViewBean.validTargetLevel) ? 'error-text' : 'good-text'}">
										<h:outputText value="*" styleClass="asterisk-red"/>
									</p:outputLabel>	
								</p:column>
								<p:column>
									<p:selectOneMenu
										id="targetLevel" 
										value="#{projectSetupViewBean.targetLevelTypeId}"
										disabled="#{projectSetupViewBean.disallowEditTargetLevel and projectSetupViewBean.disallowEditProject}">
										<f:selectItem 
											itemLabel="--- Select One ---"
											itemValue="-1"/>
										<f:selectItems
											value="#{projectSetupViewBean.targetLevelTypes}"
											var="typ"
											itemLabel="#{typ.name}"
											itemValue="#{typ.targetLevelTypeId}" />
										<p:ajax
											listener="#{projectSetupControllerBean.handleChangeTargetLevel}"
											process=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation"
											update=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation"
											partialSubmit="true"/>
									</p:selectOneMenu>
								</p:column>
							</p:row>	
										
							<p:row rendered="#{projectSetupViewBean.renderScoringMethod}">
								<p:column>
									<p:outputLabel
										for="scoringMethod"
										value="Scoring Method"
										styleClass="label min-label-width #{(not projectSetupViewBean.validScoringMethod) ? 'error-text' : 'good-text'}">
										<h:outputText value="*" styleClass="asterisk-red"/>
									</p:outputLabel>	
								</p:column>
								<p:column>		
									<p:selectOneMenu
										id="scoringMethod" 
										value="#{projectSetupViewBean.scoringMethodId}"
										disabled="#{projectSetupViewBean.disallowEditScoring and projectSetupViewBean.disallowEditProject}">
										<f:selectItem 
											itemLabel="--- Select One ---"
											itemValue="-1"/>
										<f:selectItems
											value="#{projectSetupViewBean.scoringMethods}"
											var="sm"
											itemLabel="#{sm.name}"
											itemValue="#{sm.scoringMethodId}" />
									</p:selectOneMenu>
								</p:column>
							</p:row>
								
							<p:row rendered="#{projectSetupViewBean.renderConfigurationSelection}">
								<p:column>
									<p:outputLabel
										for="configurationType"
										value="Configuration Type"
										styleClass="label min-label-width #{(not projectSetupViewBean.validConfigurationType) ? 'error-text' : 'good-text'}">
										<h:outputText value="*" styleClass="asterisk-red"/>
									</p:outputLabel>	
								</p:column>
								<p:column>									
									<p:outputPanel layout="block" styleClass="float-left">
										<p:selectOneMenu 
											id="configurationType"
											value="#{projectSetupViewBean.configurationTypeId}"
											disabled="#{projectSetupViewBean.disallowEditConfiguration and projectSetupViewBean.disallowEditProject}">
											<f:selectItem 
												itemLabel="--- Select One ---"
												itemValue="-1"/>
											<f:selectItems
												value="#{projectSetupViewBean.configurationTypes}"
												var="ct"
												itemLabel="#{ct.name}"
												itemValue="#{ct.configurationTypeId}" />
											<p:ajax
												listener="#{projectSetupControllerBean.handleChangeConfigurationType}"
												process=":#{cc.clientId}:tbvProjectSetup:pnlProjectInformation"
												update=":#{cc.clientId}:tbvProjectSetup:pnlInstruments :#{cc.clientId}:tbvProjectSetup:pnlIReports"
												partialSubmit="true"/>										
										</p:selectOneMenu>
									</p:outputPanel>
									<p:outputPanel layout="block" styleClass="float-left">
										<p:commandButton 
											id="fcgridLink"
											icon="icon-question-frame"
											styleClass="clear-button"
											title="Fixed Configuration Grid"/>									
										<p:overlayPanel id="imgPanel" for="fcgridLink" showEffect="fade" hideEffect="fade" showEvent="click" hideEvent="click">  
											<p:graphicImage value="#{resource['images/fcgrid-abyd-mll.png']}" rendered="#{projectSetupViewBean.projectTypeId == 3 and projectSetupViewBean.targetLevelTypeId == 2}" />
											<p:graphicImage value="#{resource['images/fcgrid-abyd-bul.png']}" rendered="#{projectSetupViewBean.projectTypeId == 3 and projectSetupViewBean.targetLevelTypeId == 6}" />
											<p:graphicImage value="#{resource['images/fcgrid-mll_lva.png']}" rendered="#{projectSetupViewBean.projectTypeId == 12}"  />  
								    	</p:overlayPanel>  
									</p:outputPanel>
								</p:column>
							</p:row>
																
							<p:row rendered="#{projectSetupViewBean.renderCHQlang}">
								<p:column>
									<p:outputLabel
										for="languageCHQ"
										value="CHQ Language"
										styleClass="label min-label-width"/>
								</p:column>
								<p:column>
									<p:outputPanel layout="block" styleClass="float-left">
										<p:selectOneMenu
											id="languageCHQ" 
											value="#{projectSetupViewBean.languageCHQ}"
										 	rendered="#{projectSetupViewBean.renderCHQlang}">
											<f:selectItems
												value="#{projectSetupViewBean.languagesCHQ}"
												var="lang"
												itemLabel="#{lang.name}"
												itemValue="#{lang.code}" />
										</p:selectOneMenu>
									</p:outputPanel>
									<pdinh:helpButton messageKey="CHQLanguage" styleClass="float-left"/>
								</p:column>
							</p:row>
													
							<p:row rendered="#{projectSetupViewBean.renderIncludeClientLogonIdPassword}">
								<p:column>
									<p:outputLabel
										for="includeClientLogonIdPassword"
										value="Include Logon ID and Password in Import Template"
										styleClass="label min-label-width"/>
								</p:column>
								<p:column>
									<p:outputPanel layout="block" styleClass="float-left">
										<h:selectBooleanCheckbox id="includeClientLogonIdPassword" styleClass="includeClientLogonIdPassword"
											value="#{projectSetupViewBean.includeClientLogonIdPassword}">
										</h:selectBooleanCheckbox>
									</p:outputPanel>
									<pdinh:helpButton messageKey="IncludeClientLogonIdPassword" styleClass="float-left"/>
								</p:column>
							</p:row>									
						</p:panelGrid>
					</p:panel>
				</p:outputPanel>
				<p:outputPanel id="pnlReportContent">
					<p:spacer height="10" rendered="#{projectSetupViewBean.renderReportContentManifests}"/>
					<p:panel
						header="Report Content"
						rendered="#{projectSetupViewBean.renderReportContentManifests}">
						<p:panelGrid columns="2">
							<h:outputText
								value="Report Content"
								styleClass="label min-label-width" />
							<p:selectOneMenu
								value="#{projectSetupViewBean.reportContentManifestRef}"
								disabled="#{projectSetupViewBean.disallowEditProject}">
								<f:selectItems
									value="#{projectSetupViewBean.reportContentManifestRefs}"
									var="reportContentManifestRef"
									itemLabel="#{reportContentManifestRef.name}"
									itemValue="#{reportContentManifestRef.id}" />
							</p:selectOneMenu>
						</p:panelGrid>
					</p:panel>
				</p:outputPanel>
				<p:outputPanel id="pnlInstruments">
					<p:spacer height="10"/>
					<p:panel
						id="pnlNoInstruments"
						header="Instruments"
						rendered="#{not projectSetupViewBean.instrumentsVisible}">
						<h:outputText value="Instruments are not yet available."/>
					</p:panel>
					<p:panel
						id="pnlHasInstruments"
						header="Instruments"
						rendered="#{projectSetupViewBean.instrumentsVisible}">
						<p:panelGrid>
							<p:row>
								<p:column styleClass="vertical-align-top"> 
									<p:outputPanel
										id="pnlPreworkInstruments"
										rendered="#{not empty projectSetupViewBean.preworkInstruments}" >
										<h:outputText
											value="Select Prework Instruments"
											styleClass="label" />
										<br />
										<ui:repeat
											id="rptPreworkInstruments"
											value="#{projectSetupViewBean.preworkInstruments}"
											var="preworkInstrument">
											<span id="pw_#{preworkInstrument.code}" class="#{preworkInstrument.objectName}">
												<h:selectBooleanCheckbox styleClass="courseSelection"
													value="#{preworkInstrument.selected}" 
													disabled="#{not preworkInstrument.enabled or projectSetupViewBean.disallowEditProject}"
													id="pw">
													<f:ajax
														event="change"
														listener="#{projectSetupControllerBean.handleCheckInstrument(preworkInstrument,1)}"
														render=":#{cc.clientId}:tbvProjectSetup:pnlInstruments :#{cc.clientId}:tbvProjectSetup:pnlIReports"
														execute=":#{cc.clientId}:tbvProjectSetup:pnlInstruments :#{cc.clientId}:tbvProjectSetup:pnlIReports"/>
												</h:selectBooleanCheckbox>
											</span>
											<h:outputLabel
												for="pw" 
												value="#{preworkInstrument.name} [#{preworkInstrument.code}]" />
											<br />
										</ui:repeat>
									</p:outputPanel>
								</p:column>
								<p:column styleClass="vertical-align-top">			
									<p:outputPanel
										id="pnlAssessmentDayInstruments"
										rendered="#{not empty projectSetupViewBean.assessmentDayInstruments}">
										<h:outputText
											value="Select Assessment Day Instruments"
											styleClass="label" />
										<br />
										<ui:repeat
											id="rptAssessmentDayInstruments"
											value="#{projectSetupViewBean.assessmentDayInstruments}"
											var="assessmentDayInstrument">
											<span id="ad_#{assessmentDayInstrument.code}" class="#{preworkInstrument.objectName}">
												<h:selectBooleanCheckbox styleClass="courseSelection"
													value="#{assessmentDayInstrument.selected}"
													disabled="#{not assessmentDayInstrument.enabled or projectSetupViewBean.disallowEditProject}"
													id="ad">
													<f:ajax
														event="change"
														listener="#{projectSetupControllerBean.handleCheckInstrument(assessmentDayInstrument,2)}"
														render=":#{cc.clientId}:tbvProjectSetup:pnlInstruments :#{cc.clientId}:tbvProjectSetup:pnlIReports"
														execute=":#{cc.clientId}:tbvProjectSetup:pnlInstruments :#{cc.clientId}:tbvProjectSetup:pnlIReports"/>											
												</h:selectBooleanCheckbox>
											</span>
											<h:outputLabel
												for="ad" 
												value="#{assessmentDayInstrument.name} [#{assessmentDayInstrument.code}]"/>
											<br />
										</ui:repeat>
									</p:outputPanel>
								</p:column>
							</p:row>		
						</p:panelGrid>	
					</p:panel>
				</p:outputPanel>
				<p:spacer height="10"/>
				<p:outputPanel id="pnlIReports">
					<p:panel
						id="pnlIReportsCheck"
						header="Report Configuration"
						rendered="#{projectSetupViewBean.renderAllowReportDownload}">
						<h:panelGrid>
						<!-- 
							<h:selectBooleanCheckbox 
								id="allowReportDownload" 
								value="#{projectSetupViewBean.allowReportDownload}" />
							<p:outputLabel
								for="allowReportDownload"
								value="Allow Individual Summary Report Download"
								styleClass="label" />
								-->
							<ui:repeat id="rptReportTemplates" var="template"
								value="#{projectSetupViewBean.projectReportTemplates}">
								<h:panelGrid columns="1" rendered="#{template.selected}">
									<h:outputText value="#{template.reportType.name}" styleClass="label"/>
									<h:panelGrid columns="2">
										<h:selectBooleanCheckbox styleClass="courseSelection"
											value="#{template.allowAutogenerate}"
											disabled="#{not template.allowAutogenerateEnabled}"
											rendered="#{template.allowAutogenerateVisible}"
											id="rptTemplateAutoCheck">
											<p:ajax update="rptTemplateCheck"/>
										</h:selectBooleanCheckbox>
										<h:outputLabel
											for="rptTemplateAutoCheck" 
											value="Auto Create"
											rendered="#{template.allowAutogenerateVisible}"/>
										<h:selectBooleanCheckbox styleClass="courseSelection"
											value="#{template.allowUserDownload}"
											disabled="#{(not template.allowUserDownloadEnabled) or (not template.allowAutogenerate)}"
											rendered="#{template.allowUserDownloadVisible}"
											id="rptTemplateCheck">
										</h:selectBooleanCheckbox>
										<h:outputLabel
											for="rptTemplateCheck" 
											value="Allow Participant Download"
											rendered="#{template.allowUserDownloadVisible}"/>
									</h:panelGrid>
									<p:separator/>
								</h:panelGrid>
							</ui:repeat>
						</h:panelGrid>
					</p:panel>
				</p:outputPanel>				
			</p:outputPanel>	
		</p:tab>
		<p:tab 
			id="clientTeam"
			title="Client Roles"
			disabled="#{projectSetupViewBean.clientTeamTabDisabled}">
			<p:outputPanel id="pnlClientTeam">
				<p:spacer height="10"/>
				<pdinh:teammemberList 
					addList="#{projectSetupViewBean.clientTeammembers}" 
					removeList="#{projectSetupViewBean.removeClientTeammembers}"
					rowsBeforeScroll="10"/>
				<p:spacer height="10"/>
				<p:outputPanel 
					layout="block" 
					styleClass="add-new-button-panel">
					<p:commandButton
						id="btnAddClientTeammember"
						value="Add Role"
						oncomplete="addClientTeammember.show()"
						actionListener="#{projectSetupControllerBean.handleInitClientTeammembers}"
						update=":#{cc.attrs.formId}:dlgAddClientTeammember"
						partialSubmit="true"
						process="@this"
						icon="icon-add"
						styleClass="clear-button">
					</p:commandButton>	
				</p:outputPanel>
			</p:outputPanel>
		</p:tab>		
		<p:tab
			id="internalTeam" 
			title="Internal Roles"
			disabled="#{projectSetupViewBean.internalTeamTabDisabled}">
			<p:outputPanel id="pnlInternalTeam">
				<p:spacer height="10"/>
				<pdinh:teammemberList 
					addList="#{projectSetupViewBean.internalTeammembers}"
					removeList="#{projectSetupViewBean.removeInternalTeammembers}"
					rowsBeforeScroll="10"/>
				<p:spacer height="10"/>
				<p:outputPanel 
					layout="block" 
					styleClass="add-new-button-panel">
					<p:commandButton
						id="btnAddInternalTeammember"
						value="Add Role"
						oncomplete="addInternalTeammember.show()"
						actionListener="#{projectSetupControllerBean.handleInitInternalTeammembers}"
						update=":#{cc.attrs.formId}:dlgAddInternalTeammember" 
						partialSubmit="true"
						process="@this"
						icon="icon-add"
						styleClass="clear-button">
					</p:commandButton>
				</p:outputPanel>	
			</p:outputPanel>			
		</p:tab>			
	</p:tabView>		
</composite:implementation>
</html>