<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">
<composite:interface>
</composite:interface>

<composite:implementation>
	<p:messages id="msgs" />

	<h:panelGrid columns="2" cellspacing="5">

		<h:outputText
			value="Project Name "
			styleClass="label" />
		<h:outputText
			id="projectNamePN"
			value="#{projectNormsViewBean.projectName}" />

		<h:outputText
			value="Project Type"
			styleClass="label" />
		<h:outputText
			id="projectTypeNamePN"
			value="#{projectNormsViewBean.projectTypeName}" />

	</h:panelGrid>
	<p:spacer height="10"/>
	<p:dataTable
		id="normsTable"
		var="triplet"
		value="#{projectNormsViewBean.projectNormsDefaultsObj.triplets}"
		rowKey="#{triplet.course.abbv}">
		<p:columnGroup type="header">
			<p:row>
				<p:column headerText="Instrument" />
				<p:column headerText="General Population Norm" />
				<p:column headerText="Special Population Norm" />
			</p:row>
		</p:columnGroup>
		<p:column>#{triplet.course.courseName}</p:column>

		<p:column>
			<h:selectOneMenu
				value="#{triplet.selectedGenNormGroup}"
				converter="#{normGroupDtoConverter}">
				<f:selectItems
					value="#{triplet.course.getNormGroupByType('genPop')}"
					var="normGroup"
					itemValue="#{normGroup}"
					itemLabel="#{normGroup.value}" />
			</h:selectOneMenu>
		</p:column>
		<p:column>
			<h:selectOneMenu
				value="#{triplet.selectedSpecNormGroup}"
				converter="#{normGroupDtoConverter}"
				rendered="#{triplet.course.getNormGroupByType('specPop').size()>0}">
				
				<f:selectItems
					value="#{triplet.course.getNormGroupByType('specPop')}"
					var="normGroup"
					itemValue="#{normGroup}"
					itemLabel="#{normGroup.value}" />
			</h:selectOneMenu>
		</p:column>

	</p:dataTable>


</composite:implementation>

</html>


