<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>

<composite:implementation>   

	<p:panel  
		header="Available Participants">
		<p:dataTable 
			id="tblAvailableParticipants"
			widgetVar="availableParticipantsTable"
			selectionMode="multiple"
			var="user"
			value="#{projectParticipantsViewBean.participants}"
			selection="#{projectParticipantsViewBean.selectedUsers}"
			filteredValue="#{projectParticipantsViewBean.filteredUsers}"
			paginator="true" 
			rows="5" 
			rowKey="#{user.userId}"
			paginatorPosition="bottom">
		  
			<p:ajax 
				event="rowSelect" 
				listener="#{projectParticipantsControllerBean.handleRowSelect}" 
				update=":#{cc.clientId}:btnAddToSelection"
				partialSubmit="true"
			   	process="@parent"/>
			   	
			<p:ajax 
				event="rowUnselect" 
				listener="#{projectParticipantsControllerBean.handleRowUnselect}" 
				update=":#{cc.clientId}:btnAddToSelection"
			   	partialSubmit="true"
			   	process="@parent"/>	
			   			       
			<p:column 
				sortBy="#{user.lastName}" 
				filterBy="#{user.lastName}" 
				filterMatchMode="contains"
				headerText="Last name"
				width="30%">
			   <h:outputText value="#{user.lastName}" />
			</p:column>
			<p:column 
				sortBy="#{user.firstName}" 
				filterBy="#{user.firstName}" 
				filterMatchMode="contains"
				headerText="First name"
				width="30%">
			   <h:outputText value="#{user.firstName}" />
			</p:column>
			<p:column 
				sortBy="#{user.email}" 
				filterBy="#{user.email}" 
				filterMatchMode="contains"
				headerText="Email"
				width="40%">
			   <h:outputText value="#{user.email}" />
			</p:column>
		</p:dataTable>
		<p:spacer height="10"/>
		<p:outputPanel layout="block">
			<p:commandButton 
				id="btnAddToSelection" 
				value="Add To Selection"
			   	actionListener="#{projectParticipantsControllerBean.handleAddToSelection}"
			   	disabled="#{projectParticipantsViewBean.addToSelectionDisabled}"
			   	update="tblAvailableParticipants selectedParticipants btnAddToSelection"
			   	partialSubmit="true"
			   	process="@this tblAvailableParticipants"/>
		</p:outputPanel>		
	</p:panel>
	<p:spacer height="10"/>
	<p:panel  header="Selected For Addition">
		<p:outputPanel>
			<p:dataTable 
				id="selectedParticipants" 
				var="entry"
				value="#{projectParticipantsViewBean.selections}" 
				rowKey="#{entry.userId}"
				scrollable="true" 
				scrollHeight="102"
				paginatorAlwaysVisible="false">
			
				<p:column id="colDelete" width="10%" headerText="Delete" style="text-align: center">
					<p:commandLink
						actionListener="#{projectParticipantsControllerBean.remove(entry)}"
						update=":#{cc.clientId}:tblAvailableParticipants :#{cc.clientId}:selectedParticipants"
						partialSubmit="true"
						process="@this">
						<p:graphicImage value="#{resource['images/action_delete.png']}" styleClass="noBorder"/>	
					</p:commandLink>
				</p:column>
				
				<p:column id="colParticipant" headerText="Participant">
					<h:outputText value="#{entry.lastName}, #{entry.firstName} (#{entry.email})" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>	
	</p:panel>
</composite:implementation>
</html>
