<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:shiro="http://shiro.apache.org/tags">
  <composite:interface>
  		<composite:attribute name="dialogWidgerVar" required="true" type="java.lang.String"/>
  </composite:interface>
  <composite:implementation>
  			<p:dialog 
				widgetVar="reportWizardDlg" 
				header="Create Reports"
				modal="true" 
				resizable="false"
				width="940"
				styleClass="no-scroll-dialog"
				closable="false">
				<p:outputPanel id="reportWizardContent">
					<p:messages id="createReportMessages" for="wizardTabView" showDetail="true"/>
				   	<p:spacer height="5" width="5"/> 		
					<p:tabView 
				  		id="wizardTabView" 
				  		widgetVar="wizardTabView"
				  		styleClass="tab-view"
				  		dynamic="true"
				  		cache="false"
				  		activeIndex="#{reportWizardViewBean.activeTabIndex}">
					    <p:tab 
					    	id="rpSelectTypes" 
					    	title="Select Reports">
				       	 	<p:panelGrid columns="2">
			 					<h:outputLabel 
			 						for="requestName" 
			 						value="Request Name:" 
			 						styleClass="label">
			 						<h:outputText value="*" styleClass="asterisk-red"/>
								</h:outputLabel>
								<p:inputText 
									id="requestName" 
									value="#{reportWizardViewBean.requestName}" 
									maxlength="100"
									onfocus="putCursorAtEnd(this);" 
									size="100"
									onblur="removeInvalidCharacters(this, 6);">
									<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u1FFF\u2C00-\uD7FF:`'\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
								</p:inputText>
									
				   	 		</p:panelGrid>
				  			<p:spacer height="10" width="5"/> 	 		
				   	 		<p:dataTable 
				   	 			id="reportTypeTbl" 
				   	 			var="reportType" 
				   	 			value="#{reportWizardViewBean.reportTypes}"
				   	 			selection="#{reportWizardViewBean.selectedReportTypes}"
				   	 			selectionMode="multiple"
				   	 			rowKey="#{reportType.code}"
				   	 			scrollable="true" 
				   	 			scrollHeight="260"
				   	 			style="width: 875px">
					     	 			
								<p:ajax 
									event="rowSelect" 
									listener="#{reportWizardControllerBean.handleSelectReportType}" 
									update=":#{cc.clientId}:createReports"
									process="@this"
									partialSubmit="true"/>
								<p:ajax 
									event="rowUnselect" 
									listener="#{reportWizardControllerBean.handleUnselectReportType}" 
									update=":#{cc.clientId}:createReports"
									process="@this"
									partialSubmit="true"/>
					     	 			       	 			        	 			 			        	 			
				   	 			<p:column  >
				   	 				<f:facet name="header">
										<h:outputText value="Report Type" />
									</f:facet>
				   	 				<h:outputText value="#{reportType.name}"/>       	 			
				   	 			</p:column> 
				   	 			<p:column id="reptLangSel" style="width:160px; text-align:center">       	 				
				   	 				<f:facet name="header">
										<h:outputText value="Language" />
									</f:facet>
									<h:selectOneMenu id="reportTypeLanguageId" value="#{reportType.languageCode}" rendered="#{reportType.reportLanguageVisible}">
										<f:selectItems var="language"
											value="#{reportWizardViewBean.languages}"
											itemValue="#{language.code}" itemLabel="#{language.name}" />
									</h:selectOneMenu>
								</p:column> 
								<p:column id="reptTargetLevelOverrideSel" style="width:160px; text-align:center">       	 				
									<f:facet name="header">
										<h:outputText value="Target Level Override" />
									</f:facet>								
									<h:selectOneMenu id="reportTargetLevelOverrideId" style="width:160px" value="#{reportType.targetLevelOverride}" rendered="#{reportType.targetLevelOverrideVisible}">
										<f:selectItems var="targetLevelType"
												value="#{reportType.targetLevelTypes}"
												itemValue="#{targetLevelType.code}" itemLabel="#{targetLevelType.name}" />
									</h:selectOneMenu>								
								</p:column> 
								<p:column id="rptOptions" style="width:300px">       	 				
					     	 		<f:facet name="header">
										<h:outputText value="Report Options" />
									</f:facet>								
									<h:outputLabel value="Group Name: " rendered="#{reportType.rptTitleVisible}" />
									<h:inputText id="rptTitle" value="#{reportType.rptTitle}" size="25" maxlength="50" rendered="#{reportType.rptTitleVisible}" />
									<p:watermark for="rptTitle" value="Default" />
									<p:separator rendered="#{reportType.rptTitleVisible and reportType.rptIdNameOptVisible}" />
									<h:selectOneMenu id="rptIdName" value="#{reportType.rptIdNameOpt}" rendered="#{reportType.rptIdNameOptVisible}" >
										<f:selectItems 
											var="rptIdNameOpt"
											value="#{reportType.rptIdNameList}"
											itemValue="#{rptIdNameOpt.code}" itemLabel="#{rptIdNameOpt.name}" />
									</h:selectOneMenu>
									<!-- Analytics stuff -->
									<p:panelGrid columns="2" columnClasses="checkbox-cell, align-left" styleClass="no-background"> 
										<h:selectBooleanCheckbox id="anaNameSel" value="#{reportType.analyticsNameOpt}" rendered="#{reportType.analyticsNameOptVisible}" />
				    					<p:outputLabel value="Show Ppt Name" for="anaNameSel" rendered="#{reportType.analyticsNameOptVisible}" styleClass="label"/>
										<h:selectBooleanCheckbox id="anaLciSel" value="#{reportType.analyticsShowLciOpt}" rendered="#{reportType.analyticsShowLciOptVisible}" />
				    					<p:outputLabel value="Show LCI" for="anaLciSel" rendered="#{reportType.analyticsShowLciOptVisible}" styleClass="label"/>
				   					</p:panelGrid>
				   					<p:separator rendered="#{reportType.analyticsLabelsOptVisible}" />
				   					<p:panelGrid columns="1" rendered="#{reportType.analyticsLabelsOptVisible}" styleClass="no-background">
				    					<p:outputLabel value="16-box Variables: " styleClass="label"/>
										<h:selectOneMenu id="ana16bLabel" value="#{reportType.analyticsLabelsOpt}">
											<f:selectItems 
												var="boxLabelsOpt"
												value="#{reportType.analytics16bLabelsList}"
												itemValue="#{boxLabelsOpt.code}" itemLabel="#{boxLabelsOpt.name}" />
										</h:selectOneMenu>
									</p:panelGrid>
				    					<p:separator rendered="#{reportType.analyticsSortOptVisible}" />
				    					<p:panelGrid columns="1" rendered="#{reportType.analyticsSortOptVisible}" styleClass="no-background">
				     					<p:outputLabel value="Sort Group: " rendered="#{reportType.analyticsSortOptVisible}" styleClass="label"/>
				     					<h:selectOneMenu id="srtGrp" value="#{reportType.curSortGroupId}" rendered="#{reportType.analyticsSortOptVisible}">
											<f:selectItems var="sg" value="#{reportType.analyticsSortGroups}"
												itemValue="#{sg.code}" itemLabel="#{sg.name}" />
											<p:ajax update="srtItm" listener="#{reportType.handleGroupChange}" />  
				     					</h:selectOneMenu>
				     					<p:outputLabel value="Sort Options: " rendered="#{reportType.analyticsSortOptVisible}" styleClass="label" />
				     					<h:selectOneMenu id="srtItm" value="#{reportType.analyticsSortIdOpt}" rendered="#{reportType.analyticsSortOptVisible}">  
				 							<f:selectItems var="sitm" value="#{reportType.analyticsSortItems}"
												itemValue="#{sitm.code}" itemLabel="#{sitm.name}" /> 
				     					</h:selectOneMenu>
				    					</p:panelGrid>
								</p:column>
				   	 		</p:dataTable>
					    </p:tab>   
					    
					    <p:tab 
					    	id="rpSelectLangs" 
					    	title="Modify Participant Report Language"
					    	disabled="#{reportWizardViewBean.disableParticipantLanguageTab}">
					    	<p:spacer height="10" width="10"/>
				   		 	<p:dataTable
				       	 		id="tblModifyParticipantLanguage"
				       	 		widgetVar="modifyParticipantLanguage" 
				       	 		value="#{reportWizardViewBean.participants}" 
				       	 		var="participant"
				   	 			rowKey="#{participant.userId}"
								scrollable="true" 
				   	 			scrollHeight="260"> 			
				   	 			
				   	 			<!-- 	
					 				<f:facet name="header">
										<p:outputPanel>
											<h:outputText value="Search all fields: " />
											<p:inputText 
												id="globalFilter" 
												onkeyup="modifyParticipantLanguage.filter()"
												style="width:150px; background: none; background-color:#FFF;" />
										</p:outputPanel>
									</f:facet>
								 -->
								 		  
								<p:column sortBy="#{participant.firstName}"
									filterBy="#{participant.firstName}">
									<f:facet name="header">
										<h:outputText value="First name" />
									</f:facet>
									<h:outputText id="participantFirstNameCell" value="#{participant.firstName}" styleClass="singleLine" style="width:120px\9"/>
									<p:tooltip for="participantFirstNameCell" value="#{participant.firstName}"/>
								</p:column>
				
								<p:column sortBy="#{participant.lastName}"
									filterBy="#{participant.lastName}">
									<f:facet name="header">
										<h:outputText value="Last name" />
									</f:facet>
									<h:outputText id="participantLastNameCell" value="#{participant.lastName}" styleClass="singleLine" style="width:120px\9"/>
									<p:tooltip for="participantLastNameCell" value="#{participant.lastName}"/>
								</p:column>
				
								<p:column sortBy="#{participant.email}"
									filterBy="#{participant.email}">
									<f:facet name="header">
										<h:outputText value="Email" />
									</f:facet>
									<h:outputText id="participantEmailCell" value="#{participant.email}" styleClass="singleLine" style="width:120px\9"/>
									<p:tooltip for="participantEmailCell" value="#{participant.email}"/>
								</p:column>
								
								<p:column sortBy="#{participant.project.name}"
									filterBy="#{participant.project.name}" 
									rendered="#{reportWizardViewBean.projectColumnRendered}">
									<f:facet name="header">
										<h:outputText value="Project" />
									</f:facet>
									<h:outputText id="projectNameCell" value="#{participant.project.name}" styleClass="singleLine" style="width:120px\9"/>
									<p:tooltip for="projectNameCell" value="#{participant.project.name}"/>
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="Language" />
									</f:facet>
									<h:selectOneMenu id="reportParticipantLanguageId" value="#{participant.reportLanguageId}">
										<f:selectItem itemValue="" itemLabel="Report Default" />
										<f:selectItems var="language"
											value="#{reportWizardViewBean.languages}"
											itemValue="#{language.code}" itemLabel="#{language.name}" />
									</h:selectOneMenu>
								</p:column>
				       	 	</p:dataTable>
					    </p:tab>   
					    
						</p:tabView>
 		
				<p:separator />
				<p:commandButton 
					value="Cancel" 
					styleClass="submit-dialog-button"
					onclick="reportWizardDlg.hide()" />
					<shiro:hasPermission name="reportRequestBypass">
							<p:commandButton value="Download" 
								disabled="#{reportWizardViewBean.disableDownloadButton}" 
								onclick="PrimeFaces.monitorDownload(start, stop)" ajax="false"
							id="reportDownloadButton" styleClass="submit-dialog-button">
								<p:fileDownload value="#{reportWizardControllerBean.reportFiles}" />
						</p:commandButton> 
					</shiro:hasPermission>
				<p:commandButton 
					id="createReports" 
					value="Create Report(s)"
					disabled="#{reportWizardViewBean.disableDownloadButton}"
					actionListener="#{reportWizardControllerBean.handleRequestReports}"
					onstart="pleaseWaitDialog.show()"
					oncomplete="(!args.notValid) ? confirmCreateReports.show() : ''; (!args.notValid) ? reportWizardDlg.hide() : '';  pleaseWaitDialog.hide();"
					update="createReportMessages, confirmCreateReports"
					styleClass="submit-dialog-button"/>

				</p:outputPanel>
		
		</p:dialog>
		
		<p:confirmDialog 
			header="Create Reports"
			id="confirmCreateReports"
			widgetVar="confirmCreateReports"
			message="You have added #{reportWizardViewBean.responseList.size()} reports to the queue.  Would you like to go to Report Center to monitor this request?"
			width="550"
			closable="false"
			showEffect="fade"
			hideEffect="fade">
			<p:commandButton 
				value="No" 
				styleClass="submit-dialog-button"
				onclick="confirmCreateReports.hide();" 
				type="button" />
			<p:commandButton 
				value="Yes" 
				styleClass="submit-dialog-button"
				action="#{reportWizardControllerBean.goToReportCenter(reportWizardViewBean.reportRequestId)}"
				onstart="confirmCreateReports.hide();"/>
		</p:confirmDialog>
	
	
		
	</composite:implementation>
		
</html>