<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf">

<composite:interface>
	<composite:attribute name="reportRepresentation" required="false" type="java.lang.Object"/>

</composite:interface>

<composite:implementation>

	<p:panel styleClass="borderless-panel">
		
		<p:panelGrid columns="2" columnClasses="valign-top, blank">
			
			<h:outputText
				value="Report Type:"
				styleClass="label min-label-width"/>
			<h:outputText value="#{cc.attrs.reportRepresentation.reportName}"/>
			
			<h:outputText
				value="Report Id:"
				styleClass="label min-label-width"/>
			<h:outputText value="#{cc.attrs.reportRepresentation.requestId}"/>
			
			<h:outputText
				value="Status:"
				styleClass="label min-label-width"/>
			<h:outputText value="#{cc.attrs.reportRepresentation.status}"/>
			
			<h:outputText
				value="File Size:"
				styleClass="label min-label-width"
				rendered="#{cc.attrs.reportRepresentation.status eq 'STORED'}"/>
			<h:outputText 
				value="#{cc.attrs.reportRepresentation.filesize/1000} KB"
				rendered="#{cc.attrs.reportRepresentation.status eq 'STORED'}"/>

			<h:outputText
				value="Created:"
				styleClass="label min-label-width"
				rendered="#{cc.attrs.reportRepresentation.status eq 'STORED'}"/>
			<h:outputText 
				value="#{reportCenterControllerBean.getReportCreateTypeLabel(cc.attrs.reportRepresentation)}"
				rendered="#{cc.attrs.reportRepresentation.status eq 'STORED'}"/>
			
			<h:outputText
				value="Report Request Key:"
				styleClass="label min-label-width"/>
			<h:outputText value="#{cc.attrs.reportRepresentation.reportRequestKey}"/>
			
			<h:outputText
				value="Content Type:"
				styleClass="label min-label-width"/>
			<h:outputText value="#{cc.attrs.reportRepresentation.contentType}"/>
			
			<h:outputText
				value="ID/Name Option:"
				styleClass="label min-label-width" 
				rendered="#{not empty cc.attrs.reportRepresentation.reportIdNameOption}"/>
			<h:outputText 
				value="#{cc.attrs.reportRepresentation.reportIdNameOption}" 
				rendered="#{not empty cc.attrs.reportRepresentation.reportIdNameOption}"/>
			
			<h:outputText
				value="Error Message:"
				styleClass="label min-label-width"
				rendered="#{not empty cc.attrs.reportRepresentation.errorCode}"/>
				<h:outputText 
				value="#{cc.attrs.reportRepresentation.errorCode.concat(': ').concat(msg[cc.attrs.reportRepresentation.errorCode])}" 
				escape="false"
				rendered="#{not empty cc.attrs.reportRepresentation.errorCode}"/>
			
			<h:outputText
				value="Error Details:"
				styleClass="label min-label-width"
				rendered="#{not empty cc.attrs.reportRepresentation.errorMessage}"/>
			<h:outputText 
				value="#{cc.attrs.reportRepresentation.errorMessage}" 
				escape="false"
				rendered="#{not empty cc.attrs.reportRepresentation.errorMessage}"/>
			
		</p:panelGrid>
		

	</p:panel>
	
	
</composite:implementation>
</html>