<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh"
	xmlns:kf="http://java.sun.com/jsf/composite/kf"
	xmlns:shiro="http://shiro.apache.org/tags">

<composite:interface>
	<composite:attribute name="generateReportsRequestId" required="true" type="java.lang.Integer" />

</composite:interface>

<composite:implementation>
	<p:panel id="pnlMain" header="Report Request Details" styleClass="kf-blue-dark-panel">
	
		<p:spacer height="5" width="5"/>
		
		<p:toolbar styleClass="clear-toolbar" style="margin-left: 18px">
			<p:toolbarGroup align="left">
				<p:commandButton 
					value="Back"
					actionListener="#{reportCenterControllerBean.handleHideRequestDetails}"
					update="@form" 
					process="@this"
					partialSubmit="true"
					iconPos="left"
					icon="ui-icon-triangle-1-w"/>
			</p:toolbarGroup>
		</p:toolbar>	
		
		<p:panel styleClass="borderless-panel">
			<p:panelGrid columns="5">
			
				<h:outputText value="Request Name" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.requestName}" />
				<p:spacer width="20" height="10" />
				<h:outputText value="Requested By" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.principal}" />
	
				<h:outputText value="Priority" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterControllerBean.resolvePriority(reportCenterViewBean.selectedRequestRecord.priority)}" />
				<p:spacer width="20" height="10" />
				<h:outputText value="Request Date" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.requestTime}">
					<f:convertDateTime dateStyle="medium" />
				</h:outputText>
	
				<h:outputText value="Report Count" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.reportRequestCount}" />
				<p:spacer width="20" height="10" />
				<h:outputText value="Participant Count" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.participantCount}" />
	
				<h:outputText value="Status" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.selectedRequestRecord.status}" />
				<p:spacer width="20" height="10" />
				<h:outputText value="Projects Included" styleClass="label min-label-width" />
				<h:outputText value="#{reportCenterViewBean.requestProjectList}" />
				
			</p:panelGrid>							
		</p:panel>
		
		<p:tabView id="tbvRequestDetails" cache="false" dynamic="false" styleClass="tab-view-blue">
			<p:tab id="reportsTab" title="Reports">
				<p:outputPanel id="pnlRequestDetails">
					<p:outputPanel id="pnlReportsToolbar">
						<p:toolbar styleClass="clear-toolbar">
							<p:toolbarGroup align="left">
								<p:commandButton
									value="#{(reportCenterViewBean.selectAll) ? 'Select All' : 'Deselect All'}"
									disabled="#{reportCenterViewBean.selectAllDisabled}"
									actionListener="#{reportCenterControllerBean.selectUnselectAll}"
									update="@this, tblRequestDetails, pnlReportsToolbar" 
									process="@this"
									partialSubmit="true" />
								<p:commandButton 
									value="Refresh"
									actionListener="#{reportCenterControllerBean.handleShowRequestDetails}"
									onclick="pleaseWaitDialog.show()"
									oncomplete="pleaseWaitDialog.hide()"									
									update=":#{cc.attrs.clientId}:pnlMain" 
									process="@this" 
									partialSubmit="true" />
							</p:toolbarGroup>
							<p:toolbarGroup align="right">
								<shiro:hasPermission name="downloadReports">
									<p:commandButton 
										value="Download Selected"
										actionListener="#{reportCenterControllerBean.downloadSelectedReports}"
										disabled="#{empty reportCenterViewBean.selectedDetailRecords or reportCenterViewBean.downloadReportDisabled}"
										ajax="false"
										onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)">
										<p:fileDownload value="#{reportCenterViewBean.reportDownload}" />
									</p:commandButton>
								</shiro:hasPermission>
								<p:commandButton 
									value="More Info..."
									actionListener="#{reportCenterControllerBean.viewReportDetails}"
									disabled="#{empty reportCenterViewBean.selectedDetailRecords or reportCenterViewBean.moreInfoDisabled}"
									update="@this, :frmReportCenter:pnlReportDetailsDialog"
									process="@this"
									partialSubmit="true" 
									onsuccess="reportDetailsDlg.show()" />
								<shiro:hasPermission name="createReportRequest">
									<p:commandButton 
										value="Recreate"
										actionListener="#{reportCenterControllerBean.resubmitSelectedReports}"
										disabled="#{empty reportCenterViewBean.selectedDetailRecords or reportCenterViewBean.recreateDisabled}"
										oncomplete="recreateReports.show();"
										update="@this, :frmReportCenter:pnlRecreateReports"
										process="@this"
										partialSubmit="true"/>
								</shiro:hasPermission>
								<shiro:hasPermission name="deleteReports">
									<p:commandButton 
										value="Delete Selected"
										disabled="#{empty reportCenterViewBean.selectedDetailRecords}"
										actionListener="#{reportCenterControllerBean.initDeleteSelectedReports}"
										oncomplete="confirmDeleteReports.show()"
										update="@this, pnlReportsToolbar, :frmReportCenter:confirmDeleteReportsDialog" 
										process="@this"
										partialSubmit="true"/>
								</shiro:hasPermission>
								<shiro:hasPermission name="deleteReports">
									<p:commandButton 
										id="cancelRequestButton" 
										value="Cancel"
										actionListener="#{reportCenterControllerBean.handleCancelFromDetails}"
										disabled="#{empty reportCenterViewBean.selectedDetailRecords or reportCenterViewBean.cancelButtonDisabled}"
										update="@this, pnlReportsToolbar, tblRequestDetails"
										process="@this"
										partialSubmit="true"/>
								</shiro:hasPermission>
							</p:toolbarGroup>
						</p:toolbar>
					</p:outputPanel>
	
					<p:spacer height="10" width="10" />
					
					<p:dataTable 
						id="tblRequestDetails" 
						widgetVar="details"
						var="detailRecord"
						value="#{reportCenterViewBean.requestDetailsReports}"
						selection="#{reportCenterViewBean.selectedDetailRecords}"
						filteredValue="#{reportCenterViewBean.filteredDetailRecords}"
						rowIndexVar="detailRecordIndex" selectionMode="multiple"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(reportCenterViewBean.requestDetailsReports)}"
						rowKey="#{detailRecord.requestId}" 
						paginatorPosition="bottom"
						paginator="true" 
						rows="10"
						emptyMessage="There are no authorized reports in this request.">
	
						<p:ajax event="rowSelect"
							listener="#{reportCenterControllerBean.handleDetailsRowSelect}"
							update=":#{cc.attrs.clientId}:tbvRequestDetails:pnlReportsToolbar"
							process="@this"
							partialSubmit="true" />
	
						<p:ajax event="rowUnselect"
							listener="#{reportCenterControllerBean.handleDetailsRowUnselect}"
							update=":#{cc.attrs.clientId}:tbvRequestDetails:pnlReportsToolbar"
							process="@this"
							partialSubmit="true" />
	
						<f:facet name="header">
							<h:outputText value="Search all fields: " />
							<p:inputText id="globalFilter" onkeyup="details.filter()"
								style="width:150px; background: none; background-color:#FFF;" />
						</f:facet>
								
						<p:column filterBy="#{msg[detailRecord.status]}"
							filterMatchMode="exact"
							filterOptions="#{reportCenterViewBean.statusOptions}"
							filterStyleClass="column-header-filter"
							styleClass="column-header-align-top align-center"
							style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Status" />
							</f:facet>
							<kf:reportStatusIcon value="#{detailRecord.status}"
								tableRef="details" rowId="#{detailRecordIndex}" />
						</p:column>
	
						<p:column sortBy="#{detailRecord.reportName}"
							filterBy="#{detailRecord.reportName}" filterMatchMode="contains"
							styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Report Type" />
							</f:facet>
							<h:outputText value="#{detailRecord.reportName}" />
						</p:column>
						
						<p:column
							sortBy="#{reportCenterControllerBean.getPptGroupLabel(detailRecord)}"
							filterBy="#{reportCenterControllerBean.getPptGroupLabel(detailRecord)}"
							filterMatchMode="contains" styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Participant/Group Name" />
							</f:facet>
							<h:outputText
								value="#{reportCenterControllerBean.getPptGroupLabel(detailRecord)}" />
						</p:column>
	
						<p:column
							sortBy="#{reportCenterControllerBean.getLanguageLabel(detailRecord.reportLang)}"
							filterBy="#{reportCenterControllerBean.getLanguageLabel(detailRecord.reportLang)}"
							filterMatchMode="contains" styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Report Language" />
							</f:facet>
							<h:outputText
								value="#{reportCenterControllerBean.getLanguageLabel(detailRecord.reportLang)}" />
						</p:column>
						
						<p:column sortBy="#{detailRecord.targetLevel}"
							filterBy="#{detailRecord.targetLevel}" filterMatchMode="contains"
							styleClass="column-header-align-top" style="width: 100px">
							<f:facet name="header">
								<h:outputText value="Target Level" />
							</f:facet>
							<h:outputText value="#{detailRecord.targetLevel}" />
						</p:column>

						<p:column sortBy="#{detailRecord.statusTime}"
							styleClass="column-header-align-top align-center">
							<f:facet name="header">
								<h:outputText value="Updated" />
							</f:facet>
							<h:outputText value="#{detailRecord.statusTime}">
								<f:convertDateTime pattern="dd-MMM-yyyy hh:mm:ss a" />
							</h:outputText>
						</p:column>
	
						<p:column sortBy="#{detailRecord.requestedBy}"
							filterBy="#{detailRecord.requestedBy}" filterMatchMode="contains"
							styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Requested By" />
							</f:facet>
							<h:outputText value="#{detailRecord.requestedBy}" />
						</p:column>
	
					</p:dataTable>
				</p:outputPanel>
	
			</p:tab>
			<p:tab id="pptsTab" title="Participants">

				<p:outputPanel id="pnlParticipantsTab">

					<p:outputPanel id="pnlParticipantsToolbar">
						<p:toolbar styleClass="clear-toolbar">
							<p:toolbarGroup align="left">
								<p:spacer height="29" width="10"/>
							</p:toolbarGroup>
							<p:toolbarGroup align="right">
							</p:toolbarGroup>
						</p:toolbar>
					</p:outputPanel>
	
					<p:spacer height="10" />

					<p:dataTable 
						id="tblRequestPpts" 
						widgetVar="ppts" 
						var="ppt"
						value="#{reportCenterViewBean.requestParticipants}"
						selection="#{reportCenterViewBean.selectedDetailPpt}"
						rowIndexVar="detailRecordIndex" 
						selectionMode="single"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(reportCenterViewBean.requestParticipants)}"
						rowKey="#{ppt.usersId}" 
						paginatorPosition="bottom"
						paginator="true" 
						rows="10">

						<f:facet name="header">
							<h:outputText value="Search all fields: " />
							<p:inputText id="globalFilter" onkeyup="ppts.filter()"
								style="width:150px; background: none; background-color:#FFF;" />
						</f:facet>
						
						<p:column
							sortBy="#{reportCenterControllerBean.formatParticipantDetails(ppt)}"
							filterBy="#{reportCenterControllerBean.formatParticipantDetails(ppt)}"
							filterMatchMode="contains" styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Participant Details" />
							</f:facet>
							<h:outputText
								value="#{reportCenterControllerBean.formatParticipantDetails(ppt)}" />
						</p:column>
	
						<p:column
							sortBy="#{reportCenterControllerBean.getLanguageLabel(ppt.reportLang)}"
							filterBy="#{reportCenterControllerBean.getLanguageLabel(ppt.reportLang)}"
							filterMatchMode="contains" styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Report Language" />
							</f:facet>
							<h:outputText
								value="#{reportCenterControllerBean.getLanguageLabel(ppt.reportLang)}" />
						</p:column>
	
						<p:column sortBy="#{ppt.projectName}" filterBy="#{ppt.projectName}"
							filterMatchMode="contains" styleClass="column-header-align-top">
							<f:facet name="header">
								<h:outputText value="Project Name" />
							</f:facet>
							<h:outputText value="#{ppt.projectName}" />
						</p:column>
	
					</p:dataTable>

				</p:outputPanel>
			</p:tab>
		</p:tabView>
	</p:panel>
		
</composite:implementation>
</html>