<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
	</composite:interface>

	<composite:implementation>
	
		<p:dialog header="Upload Report" widgetVar="reportUploadDlg"
			modal="true" resizable="false" closable="false" width="680">
	
			<p:panel styleClass="borderless-panel">
				
				<p:outputPanel id="pnlReportUpload">
					<p:messages for="uploadReports" showDetail="true"/>
					<p:panelGrid>
						<p:row>
							<p:column>
								<h:outputLabel for="requestName" value="Request Name:" styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</h:outputLabel>
							</p:column>	
							<p:column>
								<p:inputText 
									id="requestName" 
									value="#{reportUploadViewBean.requestName}" 
									maxlength="100" 
									size="69"
									onfocus="putCursorAtEnd(this);"
									onblur="removeInvalidCharacters(this, 6);">
									<pe:keyFilter regEx="/^[A-Za-z0-9\u00C0-\u1FFF\u2C00-\uD7FF:`'\-\\\/_\(\)\s\?]$/" preventPaste="false"/>
								</p:inputText>	
							</p:column>
						</p:row>		
						<p:row>
							<p:column>
								<h:outputLabel for="reportLanguage" value="Report Language:" styleClass="label"/>
							</p:column>
							<p:column>	
								<p:selectOneMenu id="reportLanguage" value="#{reportUploadViewBean.reportLanguage}">
									<f:selectItems var="lang" value="#{reportUploadViewBean.reportLanguages}"
										itemValue="#{lang.code}" itemLabel="#{lang.name}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel for="reportType" value="Report Type:" styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</h:outputLabel>
							</p:column>
							<p:column>	
								<p:selectOneMenu id="reportType" value="#{reportUploadViewBean.reportCode}">
									<f:selectItem 
										itemLabel="--- Select One ---" 
										itemValue=""/>
									<f:selectItems var="item" value="#{reportUploadViewBean.reportTypes}"
										itemValue="#{item.code}" itemLabel="#{item.name}" />
									<p:ajax 
										listener="#{reportUploadControllerBean.populateTargetLevels}" 
										update="pnlReportUpload"
										process="pnlReportUpload" 
										partialSubmit="true"/>	
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row rendered="#{not empty reportUploadViewBean.targetLevels}">
							<p:column>
								<h:outputLabel for="targetLevel" value="Target Level:" styleClass="label"/>
							</p:column>
							<p:column>	
								<p:selectOneMenu id="targetLevel" value="#{reportUploadViewBean.targetLevel}">
									<f:selectItem 
										itemLabel="--- Select One ---" 
										itemValue=""/>							
									<f:selectItems var="level" value="#{reportUploadViewBean.targetLevels}"
										itemValue="#{level.code}" itemLabel="#{level.name}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>					
						<p:row>
							<p:column>
								<h:outputLabel for="fileUpload" value="Upload Report File:" styleClass="label">
									<h:outputText value="*" styleClass="asterisk-red"/>
								</h:outputLabel>
							</p:column>
							<p:column>
								<h:outputText 
									value="#{reportUploadViewBean.uploadedFilename}"
									rendered="#{reportUploadViewBean.uploadedFilePresent}"/>
							</p:column>
						</p:row>	
						<p:row>
							<p:column colspan="2">
								<p:fileUpload
									id="fileUpload"
									label="Browse"
									fileUploadListener="#{reportUploadControllerBean.handleFileUpload}"
									value="#{reportUploadViewBean.uploadedFile}"
									mode="advanced" 
									update="pnlReportUpload"
									process="pnlReportUpload"
									invalidFileMessage="Only .xls, .xlsx, .xlsm, .doc, .docx, .ppt, .pptx and .pdf file extensions are permitted" 
									invalidSizeMessage="Maximum upload file size is 10MB"
									sizeLimit="10000000"
									fileLimit="1" 
									auto="true"
									allowTypes="/(\.|\/)(xls|xlsx|xlsm|doc|docx|ppt|pptx|pdf)$/" 
									styleClass="file-upload-gray"
									rendered="#{not reportUploadViewBean.uploadedFilePresent}"/>			
							</p:column>
						</p:row>								
					</p:panelGrid>
				</p:outputPanel>
			</p:panel>
			<p:separator />
			<p:commandButton value="Cancel" styleClass="submit-dialog-button"
				oncomplete="handleCompletionRequest(xhr,status,args,reportUploadDlg)"
				actionListener="#{reportUploadControllerBean.handleCancelUploadReport}"
				process="@this" update="pnlReportUpload" partialSubmit="true" />
		
			<p:commandButton 
				value="Upload" 
				styleClass="submit-dialog-button"
				actionListener="#{reportUploadControllerBean.handleUploadReport}"
				onstart="pleaseWaitDialog.show()"
				oncomplete="(!args.notValid &amp;&amp; !args.error) ? confirmUploadReport.show() : ''; (args.error) ? confirmError.show() : ''; handleCompletionRequest(xhr,status,args,reportUploadDlg); pleaseWaitDialog.hide();"
				process="@this, pnlReportUpload"
				partialSubmit="true"
				update="pnlReportUpload"/>

		</p:dialog>	
		
		<p:confirmDialog 
			header="Confirmation Upload Report"
			id="confirmUploadReport"
			widgetVar="confirmUploadReport"
			message="You have successfully uploaded report. Would you like to go to Report Center?"
			width="550"
			severity="info"
			closable="false"
			showEffect="fade"
			hideEffect="fade">
			<p:commandButton 
				value="No" 
				styleClass="submit-dialog-button"
				onclick="confirmUploadReport.hide();" 
				type="button" />
			<p:commandButton 
				value="Yes" 
				styleClass="submit-dialog-button"
				action="#{reportUploadControllerBean.goToDownloadReports()}"
				onstart="confirmUploadReport.hide();"/>
		</p:confirmDialog>		

		<p:confirmDialog 
			header="Error"
			widgetVar="confirmError"
			message="Something went wrong and we are unable to upload this report. Please contact technical support for help."
			severity="alert"
			width="550"
			closable="false"
			showEffect="fade"
			hideEffect="fade">
			<p:commandButton 
				value="Ok" 
				styleClass="submit-dialog-button"
				onclick="confirmError.hide();" 
				type="button" />
		</p:confirmDialog>		
		
					
	</composite:implementation>
		
</html>