<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">
<composite:interface>
</composite:interface>

<composite:implementation>
	<p:messages
		id="msgs"
		showDetail="true" />
	<p:tabView
		style="width:800px;"
		widgetVar="participantInfoTabs"
		dynamic="true"
		activeIndex="#{participantInfoViewBean.activeTabIndex}"
		styleClass="tab-view">

		<p:tab
			title="Post XML"
			rendered="true">
			<h:panelGrid
				columns="2"
				style="width: 450px">

				<h:outputLabel
					for="username"
					value="Logon ID"
					styleClass="label"
					escape="false" />
				<p:outputPanel>
					<h:outputText
						id="username"
						value="#{participantInfoViewBean.username}"
						size="30"
						maxlength="50" />
					<h:outputText
						style="padding-left:5px;color:red"
						value="#{participantInfoViewBean.loginIdMsg}" />
				</p:outputPanel>

				<h:outputLabel
					for="selectPostCourse"
					value="Select Course:"
					styleClass="label" />
				<p:outputPanel>
					<h:selectOneMenu
						id="selectPostCourse"
						style="width:183px"
						value="#{participantInfoViewBean.xmlPostCourseId}">
						<f:selectItems
							var="course"
							value="#{participantInfoViewBean.courses}"
							itemValue="#{course.course}"
							itemLabel="#{course.courseLabel}" />
						<f:ajax
							listener="#{participantInfoControllerBean.selectPostCourse}"
							render="xmlPostForm" />
					</h:selectOneMenu>
				</p:outputPanel>


				<p:outputPanel id="xmlPostForm">
					<br />
					<h:outputLabel
						value="tracking token:"
						styleClass="label" />
					<br />
					<p:outputPanel>
						<h:outputText
							value="#{participantInfoViewBean.xmlPostTrackingToken}" />
					</p:outputPanel>
					<br />
					<h:outputLabel
						value="activity:"
						styleClass="label" />
					<br />
					<p:outputPanel>
						<h:outputText value="#{participantInfoViewBean.xmlPostCourseId}" />
					</p:outputPanel>
				</p:outputPanel>
			</h:panelGrid>
			<h:panelGrid
				columns="2"
				styleClass="panelGridClass">
				<p:outputPanel>

					<h:outputLabel
						value="xml:"
						styleClass="label" />
					<p:outputPanel>
						<h:inputTextarea
							value="#{participantInfoViewBean.xmlPostXmlContent}"
							rows="20"
							cols="60" />
					</p:outputPanel>
					<br />
					<!-- input type="hidden" name="testtrack" value="true"/-->
				</p:outputPanel>

				<p:outputPanel id="xmlPostOutput">
					<h:outputLabel
						value="track output:"
						styleClass="label" />
					<h:inputTextarea
						value="#{participantInfoViewBean.xmlPostOutput}"
						rows="20"
						cols="50"
						id="trackOutput"
						disabled="true"
						style="font-weight:bold" />
				</p:outputPanel>

			</h:panelGrid>
		</p:tab>

	</p:tabView>


</composite:implementation>

</html>
