<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

	<composite:interface>
	</composite:interface>
	<composite:implementation>
		<p:outputPanel id="emailTemplatesList">
			<p:dataTable 
				value="#{emailTemplatesListCompViewBean.templates}"
				var="emailTemplate"
				rows="5"
				paginator="true"
				filteredValue="#{emailTemplatesListCompViewBean.filteredTemplates}"
				selection="#{emailTemplatesListCompViewBean.selectedTemplate}"
				selectionMode="single"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowKey="#{emailTemplate.id}"
				paginatorPosition="bottom">
				
				<p:ajax event="rowSelect" 
					listener="#{emailTemplateListControllerBean.handleCurrentTemplateChange}" 
					update=":#{cc.clientId}:emailText"/>
				<p:ajax event="rowUnselect" 
					listener="#{emailTemplateListControllerBean.handleCurrentTemplateUnselect}" 
					update=":#{cc.clientId}:emailText"/>
				
				<p:column sortBy="#{emailTemplate.title}"
					filterBy="#{emailTemplate.title}">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:outputText value="#{emailTemplate.title}" />
				</p:column>
				<p:column sortBy="#{emailTemplate.constantStyleLabel}"
					filterBy="#{emailTemplate.constantStyleLabel}">
					<f:facet name="header">
						<h:outputText value="Style" />
					</f:facet>
					<h:outputText value="#{emailTemplate.constantStyleLabel}" />
				</p:column>
				<p:column sortBy="#{emailTemplate.level}"
					filterBy="#{emailTemplate.level}">
					<f:facet name="header">
						<h:outputText value="Level" />
					</f:facet>
					<h:outputText value="#{emailTemplate.level}" />
				</p:column>

				<p:column sortBy="#{emailTemplate.emailTypeProdLabel}"
					filterBy="#{emailTemplate.emailTypeProdLabel}">
					<f:facet name="header">
						<h:outputText value="Product" />
					</f:facet>
					<h:outputText value="#{(empty emailTemplate.emailTypeProdLabel) ? 'All Products' : emailTemplate.emailTypeProdLabel}" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>
		<p:spacer height="10"/>
		<p:outputPanel 
			id="emailText" 
			layout="block">
			<p:panel
				header="Preview #{emailTemplatesListCompViewBean.selectedTemplate.title} Email"
				visible="#{emailTemplatesListCompViewBean.showEmailPreview}"
				style="height: 235px">			
				<p:panelGrid columns="2" columnClasses="vertical-align-top, vertical-align-top">
					<p:outputPanel id="selectLanguage">
						<p:panelGrid columns="1"> 
							<h:outputText 
								value="Language(s)"  
								styleClass="label"/>
							<p:selectOneListbox 
								id="emailLangSelect"
								value="#{emailTemplatesListCompViewBean.currentLanguage}"
								style="height: 160px">
								<f:selectItems 
									var="listItem"
									value="#{emailTemplatesListCompViewBean.currentEmailLangs}"
									itemValue="#{listItem.id}" 
									itemLabel="#{listItem.name}" />
								<p:ajax 
									update="emailTextContent"
									listener="#{emailTemplateListControllerBean.handleLanguageChange}" />
							</p:selectOneListbox>
						</p:panelGrid>	
					</p:outputPanel>
					<p:outputPanel 
						id="emailTextContent">
						<p:panelGrid columns="1" > 
							<p:outputPanel>
								<h:outputText 
									value="Subject: " 
									styleClass="label" />
								<h:outputText 
									id="previewEmailSubject" 
									value="#{emailTemplatesListCompViewBean.emailSubject}"/>
							</p:outputPanel>
							<p:outputPanel layout="block" style="width: 670px">
								<p:separator/>
								<p:scrollPanel style="height: 150px" mode="native">
									<h:outputText 
										id="previewEmailBody" 
										value="#{emailTemplatesListCompViewBean.emailBody}"
										styleClass="email-preview"
										style="padding-right:30px"
										escape="false"/>
								</p:scrollPanel>	
							</p:outputPanel>	
						</p:panelGrid>	
					</p:outputPanel>
				</p:panelGrid>
			</p:panel>				
		</p:outputPanel>
	</composite:implementation>
</html>