<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:shiro="http://shiro.apache.org/tags">
  <composite:interface>
	<composite:attribute name="configRepresentation" required="false" type="java.lang.Object"/>

	</composite:interface>
  <composite:implementation>
  		<p:dialog header="Self Registration Config" widgetVar="selfRegDlg" modal="true"
				resizeable="false" closable="true" width="480">
			<p:outputPanel>
				<h:outputText
				value="Self Registration ID: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.selfRegConfigId}"/>
			</p:outputPanel>
			<p:outputPanel>
				<h:outputText
				value="Self Registration URL: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.selfRegistrationUrl}"/>
			</p:outputPanel>
			<p:outputPanel>
				<h:outputText
				value="Enabled?: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.enabled}"/>
			</p:outputPanel>
			<p:outputPanel>
				<h:outputText
				value="Registration Limit: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.registrationLimit}"/>
			</p:outputPanel>
			<p:outputPanel>
				<h:outputText
				value="Registration Count: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.registrationCount}"/>
			</p:outputPanel>
			<p:outputPanel>
				<h:outputText
				value="Allowed Email Domains: "
				styleClass="label min-label-width"/>
				<h:outputText value="#{cc.attrs.configRepresentation.getDomainsAsString()}"/>
			</p:outputPanel>
		
		</p:dialog>
  </composite:implementation>
		
</html>