<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">
<composite:interface>
	<composite:attribute
		name="saveButtonId"
		required="true"
		type="java.lang.String" />
</composite:interface>

<composite:implementation>
	
	<p:messages id="msgs" />
		
	<p:panel header="Time Frame">
		<h:panelGrid columns="5" cellspacing="5">
			<p:outputLabel
				for="startDate"
				value="Start Date" 
				styleClass="label" />
			<p:calendar 
				id="startDate"
				value="#{coachingPlanInfoViewBean.startDate}"
				mode="popup"
				pages="2"
				pattern="dd-MMM-yyyy" 
				showOn="button"
				styleClass="calendar"/>
			<p:spacer width="20"/>	
			
			<p:outputLabel
				for="endDate"
				value="End Date" 
				styleClass="label" />
			<p:calendar
				id="endDate"
				value="#{coachingPlanInfoViewBean.endDate}"
				mode="popup"
				pages="2" 
				pattern="dd-MMM-yyyy"
				showOn="button"
				styleClass="calendar"/>
		</h:panelGrid>
	</p:panel>
		
	<p:spacer height="10"/>
	
	<p:panel header="Details">
		<h:panelGrid columns="2" cellspacing="5">
			<p:outputLabel 
				for="typeText" 
				value="Type of Coaching Program"  
				styleClass="label"/>
			<p:inputText 
				id="typeText" 
				value="#{coachingPlanInfoViewBean.typeText}"
				maxlength="100"
				size="80"/>
			
			<p:outputLabel 
				for="targetLevelTypeId" 
				value="Leader Level"
				 styleClass="label"/>
				 
			<p:selectOneMenu 
				id="targetLevelTypeId"
				value="#{coachingPlanInfoViewBean.targetLevelTypeId}">
				<f:selectItems
					value="#{coachingPlanInfoViewBean.targetLevelTypes}"
					var="typ"
					itemLabel="#{typ.name}"
					itemValue="#{typ.targetLevelTypeId}" />
			 </p:selectOneMenu>
		</h:panelGrid>
	</p:panel>
	
	<p:spacer height="10"/>
	
	<p:panel header="Available Coaches">
		<p:dataTable
			id="tblAvailableCoaches"
			widgetVar="availableCoachesTable"
			selectionMode="single"
			var="user"
			value="#{coachingPlanInfoViewBean.coachSubjects}"
			selection="#{coachingPlanInfoViewBean.selectedCoachObj}"		
			paginator="true"
			rows="5"
			paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
			rowsPerPageTemplate="#{sessionBean.getRowsPerPageTemplate(coachingPlanInfoViewBean.coaches)}"
			rowKey="#{user.realm_id}#{user.username}"
			paginatorPosition="bottom">
	
			<p:ajax event="rowSelect" listener="#{coachingPlanInfoControllerBean.handleRowSelect}" update=":#{cc.clientId}:selectedCoachPanel #{cc.attrs.saveButtonId}"/>
			<p:ajax event="rowUnselect" listener="#{coachingPlanInfoControllerBean.handleRowUnselect}" update=":#{cc.clientId}:selectedCoachPanel #{cc.attrs.saveButtonId}"/>
			
			<p:column
				sortBy="#{user.lastname}"
				filterBy="#{user.lastname}"
				filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Last name" />
				</f:facet>
				<h:outputText value="#{user.lastname}" />
			</p:column>
			<p:column
				sortBy="#{user.firstname}"
				filterBy="#{user.firstname}"
				filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="First name" />
				</f:facet>
				<h:outputText value="#{user.firstname}" />
			</p:column>
			<p:column
				sortBy="#{user.email}"
				filterBy="#{user.email}"
				filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{user.email}" />
			</p:column>
			<p:column
				sortBy="#{user.realm_id}"
				filterBy="#{user.realm_id}"
				filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Realm ID" />
				</f:facet>
				<h:outputText value="#{user.realm_id}" />
			</p:column>
		</p:dataTable>
	</p:panel>
		
	<p:spacer height="10"/>
	
	<p:outputPanel id="selectedCoachPanel">
		<p:panel header="Selected Coach" rendered="#{coachingPlanInfoViewBean.selectedCoachObj != null}">
			<p:outputPanel 
				layout="block"
				style="margin-top:5px">
				<h:outputText
					id="selectedCoachName"
					value="#{coachingPlanInfoViewBean.selectedCoachObj.firstname} #{coachingPlanInfoViewBean.selectedCoachObj.lastname}"
					styleClass="title">
				</h:outputText>
				<p:spacer width="5"/>
				<h:outputText
					id="notAuthorizedText"
					rendered="#{coachingPlanInfoViewBean.selectedCoachAuthorized}"
					value="Not Authorized.  This coach's access permissions have been removed.  Please select a new coach."
					style="color:red"/>
			</p:outputPanel>	
		</p:panel>
	</p:outputPanel>		

</composite:implementation>

</html>
