<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface componentType="teammemberListComponent">
	<composite:attribute name="addList" type="java.util.List" required="true"/>
	<composite:attribute name="removeList" type="java.util.List" required="true"/>
	<composite:attribute name="rowsBeforeScroll" type="java.lang.Integer" default="5"/>
</composite:interface>

<composite:implementation>
	<p:outputPanel id="pnlTeammemberList">
		<p:scrollPanel  
			style="#{cc.scrollOrNotToScroll()}" 
			mode="native">
			<table 
				border="0" 
				cellpadding="2"
				class="teammember-table">
				<ui:repeat 
					var="member" 
					value="#{cc.attrs.addList}" 
					varStatus="status">
					<tr>
						<td width="5%">
							<p:graphicImage
								value="#{resource[teammemberListControllerBean.getAccessIcon(member)]}"
								title="#{teammemberListControllerBean.getAccessTooltip(member)}"
								styleClass="noBorder"/>
						</td>
						<td width="30%">
							<h:outputText 
								value="#{member.currentRole.label}:" 
								styleClass="label"/>
						</td>
						<td width="74%">
							<h:outputText value="#{member.firstLastEmail}"/>
						</td>
						<td width="1%" align="center">
							<p:commandButton 
								icon="icon-delete"
								actionListener="#{cc.remove(member)}"
								update=":#{cc.clientId}:pnlTeammemberList"
								partialSubmit="true" 
								process="@this"
								styleClass="clear-button"
								title="Revoke Access"/>
						 </td>									
					</tr>							
				</ui:repeat>
			</table>
		</p:scrollPanel>
	</p:outputPanel>
</composite:implementation>
</html>