<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:pdinh="http://java.sun.com/jsf/composite/pdinh">

<composite:interface>
	<composite:attribute name="state" required="true" />
</composite:interface>

<composite:implementation>
	<h:graphicImage
		value="#{resource['images/status/instrument_not_started.png']}"
		rendered="#{cc.attrs.state==0}"></h:graphicImage>
	<h:graphicImage
		value="#{resource['images/status/instrument_started.png']}"
		rendered="#{cc.attrs.state==1}"></h:graphicImage>
	<h:graphicImage
		value="#{resource['images/status/instrument_completed.png']}"
		rendered="#{cc.attrs.state==2}"></h:graphicImage>
</composite:implementation>
</html>